<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    
    <app-base-entry #entry [component]="this">
      <ng-template appTpl="entryContentTpl">
        <app-tax-form [masterPage]="page" [form]="form"></app-tax-form>
      </ng-template>
    </app-base-entry>
  
  </ng-template>
</app-base-page>
  