<app-base-page #page [component]="this">
    <ng-template appTpl="pageContentTpl">
  
      <app-base-entry #entry [component]="this">
        <ng-template appTpl="entryContentTpl">
          <app-warehouse-transfer-form  [masterPage]="page" [form]="form" [doc]="doc"></app-warehouse-transfer-form>
        </ng-template>
      </app-base-entry>
  
    </ng-template>
  </app-base-page>