<div #pageLoading="app-spinner" appSpinner [show]="!compReady.self || !compReady.form"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.employee.update.title' | translate}}
  </span>
</div>

<form [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <div class="row">
    <app-form-nav [navigations]="formNavigations" class="col-sm-3 col-sm-push-9"></app-form-nav>

    <div class="col-sm-9 col-sm-pull-3">
      <app-employee-form *ngIf="doc" [doc]="doc" [form]="form" (compReady)="compReady.form = true"></app-employee-form>

      <div class="text-right mt">
        <button type="button" class="btn btn-default" routerLink="/contacts/employees">
          {{'ui.button.cancel' | translate}}
        </button>
        <div dropdown>
          <button class="btn btn-success dropdown-toggle">
            <span (click)="onSubmit()">{{'ui.button.save' | translate}}</span>
            <span class="caret" dropdownToggle></span>
          </button>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a (click)="onSubmit({ saveAndView: true })">
                {{ 'ui.button.saveAndView' | translate }}
              </a>
            </li>
            <li>
              <a (click)="onSubmit({ saveAndNew: true })">
                {{ 'ui.button.saveAndNew' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
