<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('customerId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.salesInvoice.form.customerId' | translate}}
            </label>
            <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" (completeMethod)="ACCustomerHandler.search($event)"
              (onDropdownClick)="ACCustomerHandler.dropdown($event)" (onClear)="onCustomerClear()" (onSelect)="$event && onCustomerSelected($event).subscribe()"
              [dropdown]="true" [appWrapperAC]="customerAC" [disabled]="copyFromOrder || formType === 'update'">
              <ng-template let-customer pTemplate="item">
                <a *ngIf="!customer" (click)="quickCreateAC = customerAC; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="customer">
                  {{customer.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('customerId')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerEmail')" fxFlex="174px">
            <label class="control-label">
              {{'ui.salesInvoice.form.customerEmail' | translate}}
            </label>
            <input formControlName="customerEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('customerEmail')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerMobile')" fxFlex="131px">
            <label class="control-label">
              {{'ui.salesInvoice.form.customerMobile' | translate}}
            </label>
            <input formControlName="customerMobile" type="tel" class="form-control" />
            <app-field-error [control]="form.get('customerMobile')"></app-field-error>
          </div>
        </div>

        <div fxFlex></div>

        <div class="text-right">
          <label class="control-label">
            {{'ui.salesInvoice.form.balanceDue' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('total').value - form.get('totalPaid').value || 0, '') }}
          </h2>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex.gt-md="516px" style="margin-top: -8px">
          <div fxLayout="row" class="mb4" fxLayoutGap="40px" fxLayoutFill>
            <!-- <div>
          <label>
            <p-checkbox formControlName="useCustomCustomerName" binary="true" label="{{'ui.salesInvoice.form.useCustomCustomerName' | translate}}"></p-checkbox>
          </label>
          <app-field-error [control]="form.get('useCustomCustomerName')"></app-field-error>
        </div> -->
            <div>
              <label>
                <p-checkbox formControlName="isDropship" binary="true" label="{{'ui.salesInvoice.form.isDropship' | translate}}"></p-checkbox>
              </label>
              <app-field-error [control]="form.get('isDropship')"></app-field-error>
            </div>
          </div>

          <!-- <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
        <div *ngIf="form.get('useCustomCustomerName').value" class="form-group" [appFieldStates]="form.get('customCustomerName')" fxFlex="228px">
          <label class="control-label">
            {{'ui.salesInvoice.form.customCustomerName' | translate}}
          </label>
          <input formControlName="customCustomerName" type="text" class="form-control" />
          <app-field-error [control]="form.get('customCustomerName')"></app-field-error>
        </div>
      </div> -->

          <div fxLayout="row">
            <div fxLayout="row" fxLayoutGap="16px" *ngIf="form.get('isDropship').value">
              <div class="form-group" [appFieldStates]="form.get('dropshipperName')" fxFlex="174px" fxLayout="column">
                <label class="control-label">
                  {{'ui.salesInvoice.form.dropshipperName' | translate}}
                </label>
                <input formControlName="dropshipperName" type="text" class="form-control" />
                <app-field-error [control]="form.get('dropshipperName')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('dropshipperEmail')" fxFlex="174px">
                <label class="control-label">
                  {{'ui.salesInvoice.form.dropshipperEmail' | translate}}
                </label>
                <input formControlName="dropshipperEmail" type="email" class="form-control" />
                <app-field-error [control]="form.get('dropshipperEmail')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('dropshipperPhoneNumber')" fxFlex="131px">
                <label class="control-label">
                  {{'ui.salesInvoice.form.dropshipperPhoneNumber' | translate}}
                </label>
                <input formControlName="dropshipperPhoneNumber" type="tel" class="form-control" />
                <app-field-error [control]="form.get('dropshipperPhoneNumber')"></app-field-error>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
            <div class="form-group" [appFieldStates]="form.get('billingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.salesInvoice.form.billingAddress' | translate}}
              </label>
              <textarea formControlName="billingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('billingAddress')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('shippingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.salesInvoice.form.shippingAddress' | translate}}
              </label>
              <textarea formControlName="shippingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('shippingAddress')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
            <div class="form-group" [appFieldStates]="form.get('shippingMethodId')" fxFlex="160px">
              <label class="control-label">{{'ui.salesInvoice.form.shippingMethodId' | translate}}</label>
              <p-autoComplete #shippingMethodAC formControlName="shippingMethod" (onSelect)="$event && form.patchValue({ shippingMethodId: $event.id });"
                styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingMethodAC, relatedData.shippingMethods)"
                (completeMethod)="_autocomplete.onLocalACSearch(shippingMethodAC, relatedData.shippingMethods, ['name'], $event.query)"
                [appWrapperAC]="shippingMethodAC" [appWrapperACLimit]="false">
                <ng-template let-shippingMethod pTemplate="item">
                  {{shippingMethod.name}}
                </ng-template>
              </p-autoComplete>
              <app-field-error [control]="form.get('shippingMethodId')"></app-field-error>
            </div>

            <div class="form-group" [appFieldStates]="form.get('shippingDate')" fxFlex="160px">
              <label class="control-label d-block">
                {{'ui.salesInvoice.form.shippingDate' | translate}}
              </label>
              <p-calendar formControlName="shippingDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('shippingDate')"></app-field-error>
            </div>
          </div>

          <ng-container *ngIf="form.get('shippingMethod').value?.systemType === 'shipping_provider'">
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
              <div class="form-group" [appFieldStates]="form.get('shippingProviderId')" fxFlex="220px">
                <label class="control-label">{{'ui.salesInvoice.form.shippingProviderId' | translate}}</label>
                <div class="ui-inputgroup">
                  <p-autoComplete #shippingProviderAC formControlName="shippingProvider" (onSelect)="onShippingProviderSelected($event) && form.patchValue({ shippingProviderId: $event.id });"
                    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderAC, relatedData.shippingProviders)"
                    (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderAC, relatedData.shippingProviders, ['name'], $event.query)"
                    [appWrapperAC]="shippingProviderAC" [appWrapperACLimit]="false">
                    <ng-template let-shippingProvider pTemplate="item">
                      {{shippingProvider.name}}
                    </ng-template>
                  </p-autoComplete>
                  <button class="btn" type="submit" style="min-width: 64px;" (click)="shippingPriceModal.show()">
                    <img src="assets/img/shipping-price-icon.png" style="width:20px;">
                  </button>
                </div>
                <app-field-error [control]="form.get('shippingProviderId')"></app-field-error>
              </div>

              <div class="form-group" [appFieldStates]="form.get('shippingProviderProductId')" fxFlex="160px">
                <label class="control-label">{{'ui.salesInvoice.form.shippingProviderProductId' | translate}}</label>
                <p-autoComplete #shippingProviderProductAC formControlName="shippingProviderProduct" (onSelect)="$event && form.patchValue({ shippingProviderProductId: $event.id });"
                  styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderProductAC, shippingProviderProducts)"
                  (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderProductAC, shippingProviderProducts, ['name'], $event.query)"
                  [appWrapperAC]="shippingProviderProductAC" [appWrapperACLimit]="false">
                  <ng-template let-shippingProviderProduct pTemplate="item">
                    {{shippingProviderProduct.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('shippingProviderProductId')"></app-field-error>
              </div>

              <div class="mb2">
                <p-checkbox formControlName="shippingInsurance" binary="true" label="{{ 'ui.salesInvoice.form.shippingInsurance' | translate }}"></p-checkbox>
              </div>
            </div>

            <div fxLayout="row">
              <div class="form-group" [appFieldStates]="form.get('shippingTrackingNumber')" fxFlex="334px">
                <label class="control-label">
                  {{'ui.salesInvoice.form.shippingTrackingNumber' | translate}}
                </label>

                <div class="tracking-input">
                  <input type="text" class="form-control" formControlName="shippingTrackingNumber"/>
                  <button class="btn" type="submit" (click)="trackWaybillModal.show()">
                    <img src="assets/img/zoom-out.png" />
                  </button>
                </div>
                <app-field-error [control]="form.get('shippingTrackingNumber')"></app-field-error>
              </div>
            </div>
          </ng-container>

          <div class="form-group" [appFieldStates]="form.get('description')">
            <label class="control-label">
              {{'ui.salesInvoice.form.description' | translate}}
            </label>
            <input formControlName="description" class="form-control" />
            <app-field-error [control]="form.get('description')"></app-field-error>
          </div>

        </div>

        <div fxFlex></div>

        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.salesInvoice.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.salesInvoice.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('customerRefNumber')" fxLayout="column">
              <label class="control-label">
                {{'ui.salesInvoice.form.customerRefNumber' | translate}}
              </label>
              <input formControlName="customerRefNumber" class="form-control" />
              <app-field-error [control]="form.get('customerRefNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('dueDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.salesInvoice.form.dueDate' | translate}}
              </label>
              <p-calendar formControlName="dueDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('dueDate')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex="150px">
              <div class="form-group" [appFieldStates]="form.get('warehouseId')">
                <label class="control-label">
                  {{'ui.salesInvoice.form.warehouse' | translate}}
                </label>
                <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });"
                  styleClass="wd-wide" [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();"
                  (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, relatedData.warehouses)" (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, relatedData.warehouses, ['name'], $event.query)"
                  [appWrapperAC]="warehouseAC" [appWrapperACLimit]="false">
                  <ng-template let-warehouse pTemplate="item">
                    {{warehouse.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('warehouseId')"></app-field-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-binvoiceed mt mb" style="min-width: 1208px">
          <thead>
            <tr>
              <th class="text-center">
                {{'ui.salesInvoice.form.colNumber' | translate}}
              </th>
              <th>
                {{'ui.salesInvoice.form.colProduct' | translate}}
              </th>
              <th>
                {{'ui.salesInvoice.form.colDescription' | translate}}
              </th>
              <th class="text-right" width="7%">
                {{'ui.salesInvoice.form.colQty' | translate}}
              </th>
              <th class="text-right" width="9%">
                {{'ui.salesInvoice.form.colPrice' | translate}}
              </th>
              <th class="text-right" width="70px">
                {{'ui.salesInvoice.form.colDiscountPercent' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesInvoice.form.colDiscountAmount' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesInvoice.form.colAmount' | translate}}
              </th>
              <th class="text-right" width="125px">
                {{'ui.salesInvoice.form.colTax' | translate}}
              </th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top" #td>
                <p-autoComplete #productVariantAC formControlName="productVariant" field="name" styleClass="wd-wide" [suggestions]="productVariantsSuggestion"
                  (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)"
                  (onSelect)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()"
                  [dropdown]="true" (onClear)="onProductClear(i)" appendTo="body" [appWrapperAC]="productVariantAC">
                  <ng-template let-productVariant pTemplate="item">
                    [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                  </ng-template>
                </p-autoComplete>
                <span style="font-style: italic;" *ngIf="lineFormGroup.value.productVariant?.sku">SKU: {{lineFormGroup.value.productVariant.sku}}</span>
                <app-field-error [control]="lineFormGroup.get('productVariantId')"></app-field-error>
              </td>
              <td class="align-top">
                <textarea appAutosize formControlName="description" class="form-control" rows="1" (change)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup)"></textarea>
                <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="qty" class="form-control text-right" (change)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('qty')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="unitPrice" class="form-control text-right" (change)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('unitPrice')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, false)"
                />
                <app-field-error [control]="lineFormGroup.get('discountPercent')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, true)"
                />
                <app-field-error [control]="lineFormGroup.get('discountAmount')"></app-field-error>
              </td>
              <td class="text-right middle-text">
                {{ lineFormGroup.get('amount').value ? _accounting.ac.formatMoney(lineFormGroup.get('amount').value) : '' }}
              </td>
              <td class="align-top">
                <p-autoComplete #taxAC formControlName="tax" (onSelect)="$event && lineFormGroup.patchValue({ taxId: $event.id });" styleClass="wd-wide block"
                  [dropdown]="true" field="code" dataKey="id" (onClear)="lineFormGroup.get('taxId').reset(); syncTax()" (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, relatedData.taxes)"
                  (onSelect)="_salesInvoiceForm.lineConditionalValidation(lineFormGroup); $event && syncTax()" (completeMethod)="_autocomplete.onLocalACSearch(taxAC, relatedData.taxes, ['name'], $event.query)"
                  appendTo="body" [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
                  <ng-template let-tax pTemplate="item">
                    {{tax.code}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('taxId')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="8px">
            <button class="btn btn-default" (click)="addLines(1)">
              {{'ui.salesInvoice.form.button.addLine' | translate}}
            </button>
            <button class="btn btn-default" (click)="resetLines()">
              {{'ui.salesInvoice.form.button.clearAllLines' | translate}}
            </button>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" class="mt4">
            <div class="form-group" [appFieldStates]="form.get('customerNote')" fxFlex>
              <label class="control-label">
                {{'ui.salesInvoice.form.customerNote' | translate}}
              </label>
              <textarea formControlName="customerNote" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('customerNote')"></app-field-error>
            </div>

            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
              <label class="control-label">
                {{'ui.salesInvoice.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>

        <div fxFlex></div>

        <div fxLayout="column" class="mt vertical-labels" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.salesInvoice.form.subTotal' | translate}}
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('subtotal').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesInvoice.form.discount' | translate}}
            </div>

            <div fxFlex="195px" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="33%">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="syncTotalDiscount('discountAmount', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountPercent')"></app-field-error>
              </div>
              <div fxFlex>
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="syncTotalDiscount('discountPercent', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountAmount')"></app-field-error>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="inline-checkbox">
              <label>
                <p-checkbox formControlName="taxed" (onChange)="onTaxedToggle($event)" binary="true" label="{{ 'ui.salesInvoice.form.taxed' | translate }}"></p-checkbox>
              </label>
            </div>

            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('taxAmount').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesInvoice.form.shippingCharge' | translate}}
            </div>

            <div fxFlex="195px">
              <input type="number" formControlName="shippingCharge" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('shippingCharge')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesInvoice.form.adjustmentAmount' | translate}}
            </div>

            <div fxFlex="195px">
              <input type="number" formControlName="adjustmentAmount" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('adjustmentAmount')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" class="label-summary1">
            <div>
              {{'ui.salesInvoice.form.total' | translate}}
              <app-field-error [control]="form.get('total')"></app-field-error>
            </div>
            <div fxFlex="195px" class="text-right">
              {{ _accounting.ac.formatMoney(form.get('total').value || 0) }}
            </div>
          </div>
          <div *ngIf="formType==='update'" fxLayout="row" class="mt2 label-summary1" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div>
              {{'ui.salesInvoice.form.totalPaid' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <a (click)="paymentAndCreditListModal.show()">
                {{ _accounting.ac.formatMoney(form.get('totalPaid').value || 0) }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
              (click)="quickCreateModal.hide()">
              <span class="fa fa-times"></span>
            </button>
            <app-business-partner-quick-create type="customer" (afterSubmit)="onCustomerCreated($event)" (close)="quickCreateModal.hide()"></app-business-partner-quick-create>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #trackWaybillModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.salesInvoice.form.trackingDetails' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="trackWaybillModal.hide()">
                <span>x</span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <ng-container *ngIf="!form.value.shippingProviderId">
                {{'ui.shippingDetail.noShippingProvider' | translate}}
              </ng-container>
              <app-shipping-detail *ngIf="trackWaybillModal.isShown && form.value.shippingProviderId" [courier]="form.value.shippingProvider"
                [waybill]="form.value.shippingTrackingNumber"></app-shipping-detail>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #paymentAndCreditListModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.salesInvoice.form.modal.totalPaid.title' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="paymentAndCreditListModal.hide()">
                <span>x</span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <app-sales-payment-credit-list *ngIf="paymentAndCreditListModal.isShown" [transaction]="doc"></app-sales-payment-credit-list>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #shippingPriceModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.shippingPrice.title' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="shippingPriceModal.hide()">
                <span class="fa fa-times"></span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <ng-container *ngIf="!form.value.shippingProviderId">
                {{'ui.shippingPrice.noShippingProvider' | translate}}
              </ng-container>
              <app-shipping-price *ngIf="form.value.shippingProviderId && shippingPriceModal.isShown" (afterSelected)="onShippingPriceSelected($event)"
                [courier]="form.value.shippingProvider"></app-shipping-price>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</app-base-page>
