<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.product.list.title' | translate}}
  </span>
  <div class="btn-actions" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="8px">
    <div dropdown>
      <button type="button" class="btn ripple btn-success" (click)="newProductModal.show()">
        {{'ui.button.create' | translate}}
      </button>
    </div>

    <div dropdown>
      <button type="button" class="btn dropdown-toggle ripple btn-primary" dropdownToggle>
        <span fxFlex class="text-left">{{'ui.button.action' | translate}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li>
          <a routerLink="/inventory-adjustments/create">
            {{'ui.product.list.action.inventoryAdjustment' | translate}}
          </a>
          <a routerLink="/warehouse-transfers/create">
            {{'ui.product.list.action.warehouseTransfer' | translate}}
          </a>
          <a routerLink="/products/import-table">
            {{'ui.product.list.action.import' | translate}}
          </a>
          <a (click)="selectChannelAccountModal.show()" *ngIf="salesChannelAccounts.length">
            {{'ui.product.list.action.importChannel' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-product-tab-links></app-product-tab-links>

<div class="table-filter" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" style="width:223px" [(ngModel)]="qParams.keyword" (keyup.enter)="onGridChange()"
      placeholder="{{'ui.product.list.filter.combined' | translate}}" />
    <span class="fa fa-search form-control-feedback"></span>
  </div>

  <div fxFlex></div>

  <button title="{{ 'ui.button.refresh' | translate }}" class="btn p0 btn-action-icon btn-data-table-refresh" (click)="onGridChange()"></button>

  <div title="{{ 'ui.button.export' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-exporter" dropdownToggle>
      <span class=""></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <li>
        <a (click)="exportPDF()">
          {{'ui.export.pdf' | translate}}
        </a>
      </li>
      <li>
        <a (click)="exportExcel()">
          {{'ui.export.excel' | translate}}
        </a>
      </li>
    </ul>
  </div>

  <div title="{{ 'ui.button.settings' | translate }}" dropdown *ngIf="tableColumnsToggle">
    <button class="btn p0 btn-action-icon btn-data-table-toggler" dropdownToggle>
      <span class=""></span>
    </button>

    <div (click)="$event.stopPropagation()" class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <div class="pl pr dropdown-muted-label">
        {{'ui.columns' | translate}}
      </div>
      <p-listbox styleClass="listbox-columns-toggle" [checkbox]="true" [metaKeySelection]="false" [multiple]="true" [options]="tableColumnsToggle.options"
        [(ngModel)]="tableColumnsToggle.toggled"></p-listbox>
    </div>
  </div>
</div>

<ng-template #tableColumn1 let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.variantCount === 0">{{ value }}</span>
  <div *ngIf="record.variantCount > 0">
    <span *ngIf="value === 1">{{ '-' }}</span>
    <a *ngIf="value > 1" (click)="loadVariants(record)" [popover]="popVariantDetail" placement="left" container="body" [outsideClick]="true"
      tabindex="1">
      <span>{{ value }} {{ 'ui.product.list.variantTable.variants' | translate }}</span>
    </a>
    <ng-template #popVariantDetail>
      <div #parentVariantsPopover style="min-height: 120px;">
        <div appSpinner [show]="loadedVariants === undefined" [stretchToMain]="false" [parent]="parentVariantsPopover"></div>

        <table class="table white-thead">
          <thead>
            <tr>
              <th>
                {{ 'ui.product.list.variantTable.name' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.sku' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.sellingPrice' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.qty' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.avgCost' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.lastCost' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="loadedVariants">
              <tr *ngFor="let variant of loadedVariants">
                <td>
                  {{ variant.name }}
                </td>
                <td>
                  {{ variant.sku }}
                </td>
                <td>
                  {{ variant.masterPrice.unitPrice }}
                </td>
                <td>
                  {{ variant.inventory?.qty }}
                </td>
                <td>
                  {{ _accounting.ac.formatMoney(variant.inventory?.averageCost) }}
                </td>
                <td>
                  {{ _accounting.ac.formatMoney(variant.inventory?.lastCost) }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #tableColumn2 let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.inventory?.qty === 0">{{ value }}</span>
  <div *ngIf="record.inventory?.qty !== 0">
    <a (click)="findWarehouseInventoy(record.id)" [popover]="popInventoryDetail" placement="left" container="body" [outsideClick]="true"
      tabindex="1">
      {{ value }}
    </a>
    <ng-template #popInventoryDetail>
      <table class="table table-striped mb0">
        <thead>
          <tr>
            <th class="detail-label" style="width: 180px;">
              {{ 'ui.product.list.inventoryTable.warehouse' | translate }}
            </th>
            <th class="detail-label" style="width: 180px;">
              {{ 'ui.product.list.inventoryTable.variant' | translate }}
            </th>
            <th class="detail-label">
              {{ 'ui.product.list.inventoryTable.qty' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of _.keys(warehouseInventory)">
            <td>
              {{ warehouseInventory[key][0].warehouseName }}
            </td>
            <td>
              <tr *ngFor="let inventory of warehouseInventory[key]">
                <td style="border: none!important">
                  {{ inventory.variantName || '-'}}
                </td>
              </tr>
            </td>
            <td class="text-right">
              <tr *ngFor="let inventory of warehouseInventory[key]">
                <td style="border: none!important">
                  {{ inventory.qty }}
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</ng-template>

<ng-template #salesChannelCol let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.salesChannels.length">
    <ng-container *ngFor="let salesChannel of record.salesChannels">
      <img src="assets/marketplace/{{salesChannel.channelId}}.png" style="max-height: 30px; margin-right:5px">
    </ng-container>
  </span>
</ng-template>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
  [reorderableColumns]="true" [resizableColumns]="true" dataKey="id">
  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

  <p-column styleClass="col-operations">
    <ng-template let-product="rowData" pTemplate="body">
      <img *ngIf="product.mainPicture" style="max-height: 30px; max-width:30px; border-radius:3px;" [src]="product.mainPicture?.smallUrl">
    </ng-template>
  </p-column>

  <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
    [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
    <ng-template let-col let-row="rowData" pTemplate="body">
      <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
    </ng-template>
  </p-column>

  <p-column styleClass="col-operations">
    <ng-template let-product="rowData" pTemplate="body">
      <div dropdown container="body">
        <a class="dropdown-toggle">
          <span [routerLink]="['/products', product.id, 'update']">{{'ui.action.edit' | translate}}</span>
          <span class="caret" dropdownToggle></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li>
            <a (click)="showDeleteDialog(product.id)">{{'ui.action.delete' | translate}}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="tbl-pager-toolbar-label mr">
    <span>
      {{'ui.pagination.limit' | translate}}
    </span>
    <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
      <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
    </select>
  </span>

  <span class="hdivider mr"></span>

  <span class="tbl-pager-toolbar-label" fxFlex>
    {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
  </span>

  <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
    (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
</div>

<div class="modal new-product-modal fade" bsModal #newProductModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" fxLayout="row">
        <div fxFlex>
          <h5 class="modal-title">
            {{'ui.product.list.modal.new.label' | translate}}
          </h5>
          <p>
            {{'ui.product.list.modal.new.description' | translate}}
          </p>
        </div>
        <button type="button" class="close text-md" (click)="newProductModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" fxLayout="column">
        <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/products/create-inventory">
          <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
            <img src="/assets/img/product/inventory.png" class="img-responsive" />
          </div>
          <div>
            <h6 class="m0 list-title">
              {{'ui.product.list.modal.new.inventory.label' | translate}}
            </h6>
            <p>
              {{'ui.product.list.modal.new.inventory.description' | translate}}
            </p>
          </div>
        </div>
        <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/products/create-non-inventory">
          <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
            <img src="/assets/img/product/non-inventory.png" class="img-responsive" />
          </div>
          <div>
            <h6 class="m0 list-title">
              {{'ui.product.list.modal.new.nonInventory.label' | translate}}
            </h6>
            <p>
              {{'ui.product.list.modal.new.nonInventory.description' | translate}}
            </p>
          </div>
        </div>
        <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/products/create-service">
          <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
            <img src="/assets/img/product/service.png" class="img-responsive" />
          </div>
          <div>
            <h6 class="m0 list-title">
              {{'ui.product.list.modal.new.service.label' | translate}}
            </h6>
            <p>
              {{'ui.product.list.modal.new.service.description' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #selectChannelAccountModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.product.list.selectChannelAccount' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="selectChannelAccountModal.hide()">
            <div>x</div>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-product-form-channel-select *ngIf="salesChannelAccounts.length" [multiple]="false" [accounts]="salesChannelAccounts" (cancel)="selectChannelAccountModal.hide()"
            (submit)="onSelectedChannelAccount($event)"></app-product-form-channel-select>
        </div>
      </div>
    </div>
  </div>
</div>
