<alert #elAlert *ngIf="message" [dismissOnTimeout]="message.options.timer" [type]="alertType" [dismissible]="true" (onClosed)="onClosed()">
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" class="alert-content">
    <div><span class="alert-icon" [ngClass]="targetIcon"></span></div>
    <div fxLayout="column" class="alert-message">
      <p class="alert-title">{{targetTitle | translate}}</p>
      <ul *ngIf="message.messages.length > 1">
        <li *ngFor="let msg of message.messages">
          {{msg}}
        </li>
      </ul>
      <p *ngIf="message.messages.length === 1">
        {{message.messages[0]}}
      </p>
    </div>
  </div>
</alert>
