<div [formGroup]="form" [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsPurchase.form.general' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <ul class="form-flex">
        <li>
          <label>{{'ui.settingsPurchase.form.defaultPurchaseTax' | translate}}</label>
          <p-autoComplete #taxAC formControlName="defaultPurchaseTax" (onSelect)="$event && form.patchValue({ defaultPurchaseTaxId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="code" (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, taxes)"
            (onClear)="form.get('defaultPurchaseTaxId').reset()" (completeMethod)="_autocomplete.onLocalACSearch(taxAC, taxes, ['name'], $event.query)"
            [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
            <ng-template let-tax pTemplate="item">
              {{tax.name}}
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('defaultPurchaseTaxId')"></app-field-error>
        </li>       
      </ul>
      <div class="mt4" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsPurchase.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <label>{{'ui.settingsPurchase.form.defaultPurchaseTax' | translate}}</label> {{doc?.defaultPurchaseTax?.name || '-'}}
        </li>
      </ul>
      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
