<div class="form-group" [appFieldStates]="parentForm.get('website')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.website' | translate }}</label>
  <input type="url" formControlName="website" class="form-control" />
  <app-field-error [control]="parentForm.get('website')"></app-field-error>
</div>
