<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <ng-container *ngIf="relatedDataReady">
      <app-product-form-inventory #productForm *ngIf="productType === 'inventory' && displayType === 'full'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-inventory>
      <app-product-form-inventory-mini #productForm *ngIf="productType === 'inventory' && displayType === 'mini'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-inventory-mini>

      <app-product-form-non-inventory #productForm *ngIf="productType === 'non_inventory' && displayType === 'full'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-non-inventory>
      <app-product-form-non-inventory-mini #productForm *ngIf="productType === 'non_inventory' && displayType === 'mini'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-non-inventory-mini>

      <app-product-form-service #productForm *ngIf="productType === 'service' && displayType === 'full'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-service>
      <app-product-form-service-mini #productForm *ngIf="productType === 'service' && displayType === 'mini'" [formType]="formType"
        [doc]="doc" [form]="form" [salesChannelAccounts]="salesChannelAccounts" [(selectedUOMS)]="selectedUOMS" [relatedData]="relatedData"
        [relatedDataReady]="relatedDataReady" [existingPictures]="existingPictures"></app-product-form-service-mini>

      <app-product-form-fieldset-channel *ngIf="salesChannelReady && salesChannelAccounts?.length" #formChannel [formType]="formType"
        [doc]="doc" [salesChannelProducts]="salesChannelProducts" [accounts]="salesChannelAccounts" [productForm]="form" [masterPage]="masterPage">
      </app-product-form-fieldset-channel>
    </ng-container>

  </ng-template>
</app-base-page>

