<div class="form-group" [appFieldStates]="parentForm.get('company')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.company' | translate }}</label>
  <input formControlName="company" class="form-control" />
  <app-field-error [control]="parentForm.get('company')"></app-field-error>
</div>
