<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.priceLevel.form.name' | translate }}</label>
        <input formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>
    </div>

  </ng-template>
</app-base-page>