<div class="form-group" [appFieldStates]="parentForm.get('purchaseDescription')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.purchaseDescription' | translate}}</label>
  <textarea formControlName="purchaseDescription" rows="3" class="form-control"></textarea>
  <app-field-error [control]="parentForm.get('purchaseDescription')"></app-field-error>
</div>
