<div class="modal fade" bsModal #purchasesParseModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" fxLayout="row">
        <div fxFlex>
          <h5 class="modal-title">
            {{'ui.purchases.parse.label' | translate}}
          </h5>
        </div>
        <button type="button" class="close text-md" (click)="purchasesParseModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p" fxLayout="column">
        <div fxLayoutFill fxLayoutAlign="center center" *ngIf="formProcessing">
          Loading...
        </div>
        <div *ngIf="!formProcessing">
          <app-purchases-parse-step1 *ngIf="(formStep$ | async) === 1" [form]="form" [formState]="formState$ | async"></app-purchases-parse-step1>
          <app-purchases-parse-step2 *ngIf="(formStep$ | async) === 2" [form]="form" [formState]="formState$ | async"></app-purchases-parse-step2>

          <div fxLayout="row" fxLayoutAlign="start center">
            <button class="btn btn-default" *ngIf="(formStep$ | async) > 1" (click)="formPrev()">
              {{'ui.button.previous' | translate}}
            </button>
            <div fxFlex></div>
            <button class="btn btn-success" (click)="formNext()">
              <span *ngIf="(formStep$ | async) < maxStep">
                {{'ui.button.next' | translate}}
              </span>
              <span *ngIf="(formStep$ | async) === maxStep">
                {{'ui.button.ok' | translate}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
