<div [formGroup]="form" *ngIf="relatedDataReady">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-name [parentForm]="form" fxFlex></app-product-form-field-name>

        <app-product-form-field-sku [parentForm]="form" fxFlex></app-product-form-field-sku>
      </div>

      <app-product-form-field-category [parentForm]="form" [categories]="relatedData.categories"></app-product-form-field-category>

      <app-product-form-field-uoms [selectedUOMS]="selectedUOMS" [parentForm]="form" [doc]="doc" [uoms]="relatedData.uoms"></app-product-form-field-uoms>
    </div>
    <app-img-upload fxFlex="200px" [multiple]="true" [serverFiles]="existingPictures" (onUploaded)="onImageUploaded($event)"
      (onDeleted)="onImageDeleted($event)" (onPrimaryChange)="onImagePrimaryChange($event)"></app-img-upload>
  </div>

  <div class="mt4">
    <app-product-form-field-account [parentForm]="form" [accounts]="relatedData.accounts"></app-product-form-field-account>
    <app-product-form-field-inventory-opening-balance [parentForm]="form" *ngIf="formType === 'create' && form.get('hasVariants') && !form.get('hasVariants').value"></app-product-form-field-inventory-opening-balance>
  </div>

  <div class="mt4">
    <app-product-form-field-sales-sellable [parentForm]="form"></app-product-form-field-sales-sellable>

    <div *ngIf="form.get('hasVariants') && !form.get('hasVariants').value">
      <app-product-form-field-prices singleInputLabel="{{'ui.product.form.salesPrice' | translate}}" [parentForm]="form.get('variants')['controls'][0]"
        [priceLevels]="relatedData.priceLevels" [selectedUOMS]="selectedUOMS" [doc]="doc"></app-product-form-field-prices>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <app-product-form-field-sales-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-sales-tax>
      <app-product-form-field-sales-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-sales-account>
    </div>
  </div>

  <div class="mt4">
    <app-product-form-field-purchases-purchasable [parentForm]="form"></app-product-form-field-purchases-purchasable>

    <app-product-form-field-purchases-price [parentForm]="form" *ngIf="form.get('hasVariants') && !form.get('hasVariants').value"></app-product-form-field-purchases-price>

    <div fxLayout="row" fxLayoutGap="16px">
      <app-product-form-field-purchases-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-purchases-tax>

      <app-product-form-field-purchases-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-purchases-account>
    </div>
  </div>

  <div class="mt4">
      <h4>{{'ui.product.form.detailDescriptionInfo' | translate}}</h4>
      <app-product-form-field-detail-description [parentForm]="form" widget="html"></app-product-form-field-detail-description>
    </div>

  <div class="mt4">
    <h4>{{'ui.product.form.variants' | translate}}</h4>
    <div fxLayout="row" fxLayoutGap="4em">
      <p fxFlex>
        These are products that have different versions, like size or color. Turn this on to specify up to three attributes (like
        color), and unlimited values for each attribute (like green, blue, black).
      </p>
      <div fxLayoutAlign="center center">
        <label class="switch switch-primary">
          <input type="checkbox" formControlName="hasVariants" />
          <span></span>
        </label>
        <label class="control-label">{{'ui.product.form.hasVariants' | translate}}</label>
      </div>
    </div>

    <div [hidden]="!form.controls.hasVariants.value" class="mt">
      <app-product-form-field-attributes *ngIf="formType === 'create'" [parentForm]="form" [attributes]="relatedData.attributes"></app-product-form-field-attributes>
      <app-product-form-field-attributes-update *ngIf="formType === 'update'" [doc]="doc" [parentForm]="form" [attributes]="relatedData.attributes"></app-product-form-field-attributes-update>

      <app-product-form-field-variants *ngIf="formType === 'create'" [doc]="doc" [parentForm]="form" [priceLevels]="relatedData.priceLevels"
        [UOMS]="selectedUOMS"></app-product-form-field-variants>
      <app-product-form-field-variants-update *ngIf="formType === 'update'" [doc]="doc" [parentForm]="form" [priceLevels]="relatedData.priceLevels"
        [UOMS]="selectedUOMS"></app-product-form-field-variants-update>
    </div>
  </div>
</div>
