<div class="form-group" [appFieldStates]="parentForm.get('defaultSalesTaxId')" [formGroup]="parentForm">
  <label class="control-label">{{'ui.businessPartner.form.defaultSalesTaxId' | translate}}</label>
  <p-autoComplete #defaultSalesTaxAC formControlName="defaultSalesTax" (onSelect)="$event && parentForm.patchValue({ defaultSalesTaxId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(defaultSalesTaxAC, taxes)"
    (completeMethod)="_autocomplete.onLocalACSearch(defaultSalesTaxAC, taxes, ['name'], $event.query)" (onClear)="parentForm.get('defaultSalesTaxId').reset()"
    [disabled]="!parentForm.get('salesTaxable').value" [appWrapperAC]="defaultSalesTaxAC" [appWrapperACLimit]="false">
    <ng-template let-tax pTemplate="item">
      {{tax.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('defaultSalesTaxId')"></app-field-error>
</div>
