.form-flex {
  padding: 0;
  li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    label {
      font-weight: 400;
      flex: 1 0 120px;
      max-width: 242px;
      width: 242px;
    }
  }
}

.form-update {
  background-color: rgba(234, 234, 234, 0.2);
  label {
    line-height: 36px;
  }
}
