<div [formGroup]="form">
  <fieldset style="border-bottom:1px solid #d8d8d8" class="m0 p0" id="fieldset-company">
    <app-settings-sales-form-general [parentForm]="form" [doc]="doc" [taxes]="taxes" (submit)="onSubmit()"></app-settings-sales-form-general>
  </fieldset>
  <fieldset style="border-bottom:1px solid #d8d8d8" class="m0 p0" id="fieldset-contact">
    <app-settings-sales-form-shipping [parentForm]="form" [doc]="doc" (submit)="onSubmit()"></app-settings-sales-form-shipping>
  </fieldset>
</div>
