<div [formGroup]="parentForm">
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="form-group" [appFieldStates]="parentForm.get('uomId')" fxFlex="50%">
      <label class="control-label" *ngIf="label">{{'ui.product.form.uomId' | translate}}</label>
      <p-autoComplete #uomAutoComplete1 formControlName="uom" (onSelect)="$event && parentForm.patchValue({ uomId: $event.id });"
        styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('uomId').reset()"
         (onDropdownClick)="_autocomplete.onLocalACDropdown(uomAutoComplete1, uoms, true)" 
         (completeMethod)="_autocomplete.onLocalACSearch(uomAutoComplete1, uoms, ['name'], $event.query, true)" 
        (onSelect)="$event && selectedUOMS[0] = $event" [appWrapperAC]="uomAutoComplete1" [appWrapperACLimit]="false">
        <ng-template let-uom pTemplate="item">
          <a *ngIf="!uom" (click)="elTargetQuickCreate=uomAutoComplete1; quickCreateModal.show()" class="quick-create-option">
            <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
          </a>
          <span *ngIf="uom">
            {{uom.name}}
          </span>
        </ng-template>
      </p-autoComplete>
      <app-field-error [control]="parentForm.get('uomId')"></app-field-error>
    </div>

    <div *ngIf="!singleUOM" fxLayoutAlign="center center">
      <label class="switch switch-primary">
          <input type="checkbox" formControlName="multipleUOM"/><span></span>
      </label>
      <label class="control-label">
        {{'ui.product.form.multipleUOM' | translate}}
      </label>
    </div>
  </div>

  <div fxLayout="column" *ngIf="!singleUOM && parentForm.get('multipleUOM').value" style="margin-left: 40px">
    <div fxLayout="row" fxLayoutGap="20px">
      <div class="form-group" [appFieldStates]="parentForm.get('uom2Id')" fxFlex="200px">
        <label class="control-label">{{'ui.product.form.uom2Id' | translate}}</label>
        <p-autoComplete #uomAutoComplete2 formControlName="uom2" (onSelect)="$event && parentForm.patchValue({ uom2Id: $event.id });"
          styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('uom2Id').reset()"
           (onDropdownClick)="_autocomplete.onLocalACDropdown(uomAutoComplete2, uoms, true)"
           (completeMethod)="_autocomplete.onLocalACSearch(uomAutoComplete2, uoms, ['name'], $event.query, true)" (onSelect)="$event && selectedUOMS[1] = $event"
          [disabled]="getUOMGroupDisabledState(2)" [appWrapperAC]="uomAutoComplete2" [appWrapperACLimit]="false">
          <ng-template let-uom pTemplate="item">
            <a *ngIf="!uom" (click)="elTargetQuickCreate=uomAutoComplete2; quickCreateModal.show()" class="quick-create-option">
              <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
            </a>
            <span *ngIf="uom !== null">
              {{uom.name}}
            </span>
          </ng-template>
        </p-autoComplete>
        <app-field-error [control]="parentForm.get('uom2Id')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="parentForm.get('uom2Conversion')" fxLayoutAlign="space-between end" fxFlex="170px">
        <input class="form-control" style="margin-top: 10px;" #uomConversion2 formControlName="uom2Conversion" [disabled]="getUOMGroupDisabledState(2)" />
      </div>

      <div fxLayoutAlign="space-between center" *ngIf="parentForm.get('uom2').value">
        <strong>{{ parentForm.get('uom2').value.name }} / {{ parentForm.get('uom').value.name }}</strong>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <div class="form-group" [appFieldStates]="parentForm.get('uom3Id')" fxFlex="200px">
        <label class="control-label">{{'ui.product.form.uom3Id' | translate}}</label>
        <p-autoComplete #uomAutoComplete3 formControlName="uom3" (onSelect)="$event && parentForm.patchValue({ uom3Id: $event.id });"
          styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('uom3Id').reset()"
           (onDropdownClick)="_autocomplete.onLocalACDropdown(uomAutoComplete3, uoms, true)"
           (completeMethod)="_autocomplete.onLocalACSearch(uomAutoComplete3, uoms, ['name'], $event.query, true)" 
          (onSelect)="$event && selectedUOMS[2] = $event"
          [disabled]="getUOMGroupDisabledState(3)" [appWrapperAC]="uomAutoComplete3" [appWrapperACLimit]="false">
          <ng-template let-uom pTemplate="item">
            <a *ngIf="!uom" (click)="elTargetQuickCreate=uomAutoComplete3; quickCreateModal.show()" class="quick-create-option">
              <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
            </a>
            <span *ngIf="uom">
              {{uom.name}}
            </span>
          </ng-template>
        </p-autoComplete>
        <app-field-error [control]="parentForm.get('uom3Id')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="parentForm.get('uom3Conversion')" fxLayoutAlign="space-between end" fxFlex="170px">
        <input class="form-control" style="margin-top: 10px;" #uomConversion3 formControlName="uom3Conversion" [disabled]="getUOMGroupDisabledState(3)" />
      </div>

      <div fxLayoutAlign="space-between center" *ngIf="parentForm.get('uom3').value">
        <strong>{{ parentForm.get('uom3').value.name }} / {{ parentForm.get('uom').value.name }}</strong>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <div class="form-group" [appFieldStates]="parentForm.get('defaultPurchaseUom')" fxFlex="200px">
        <label class="control-label">{{'ui.product.form.uomDefault.purchase' | translate}}</label>
        <select class="form-control" formControlName="defaultPurchaseUom">
          <option *ngFor="let uom of selectedUOMS; let i=index" [value]="i + 1">{{uom.name}}</option>
        </select>
      </div>

      <div class="form-group" [appFieldStates]="parentForm.get('defaultSalesUom')" fxFlex="170px">
        <label class="control-label">{{'ui.product.form.uomDefault.sale' | translate}}</label>
        <select class="form-control" formControlName="defaultSalesUom">
          <option *ngFor="let uom of selectedUOMS; let i=index" [value]="i + 1">{{uom.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <app-uom-quick-create (afterSubmit)="assignCreatedUOM($event)" (close)="quickCreateModal.hide()"></app-uom-quick-create>
        </div>
      </div>
    </div>
  </div>
</div>
