<div class="form-group" [appFieldStates]="parentForm.get('defaultPurchaseTaxId')" [formGroup]="parentForm">
  <label class="control-label">{{'ui.businessPartner.form.defaultPurchaseTaxId' | translate}}</label>
  <p-autoComplete #defaultPurchaseTaxAC formControlName="defaultPurchaseTax" (onSelect)="$event && parentForm.patchValue({ defaultPurchaseTaxId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(defaultPurchaseTaxAC, taxes)"
    (completeMethod)="_autocomplete.onLocalACSearch(defaultPurchaseTaxAC, taxes, ['name'], $event.query)" (onClear)="parentForm.get('defaultPurchaseTaxId').reset()"
    [disabled]="!parentForm.get('purchaseTaxable').value" [appWrapperAC]="defaultPurchaseTaxAC" [appWrapperACLimit]="false">
    <ng-template let-tax pTemplate="item">
      {{tax.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('defaultPurchaseTaxId')"></app-field-error>
</div>
