fieldset {
  width: 100%;
}

.fieldset-title {
  border-bottom: solid 2px #b4b4b4;
  padding: 10px 20px;
  cursor: pointer;
}

.fieldset-title>h1,
.fieldset-title>h2,
.fieldset-title>h3,
.fieldset-title>h4,
.fieldset-title>h5,
.fieldset-title>h6 {
  color: #4a4a4a;
  margin: 0;
  font-size: 22px;
}

.fieldset-title>.btn {
  padding: 0!important;
  min-width: auto!important;
}

.fieldset-title>.btn>.fa-chevron-up {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

fieldset.collapsible.collapsed>.fieldset-title>.btn>.fa-chevron-up {
  transform: rotate(-180deg);
}
