<app-retry-dialog #retryDialog></app-retry-dialog>

<div fxLayout="row" fxLayoutGap="16px" style="border:1px solid #d8d8d8">
  <fieldset class="collapsible pb0 mb0" id="fieldset-1">
    <div class="fieldset-title style-2" appFCTitle fxLayout="row" fxLayoutAlign="center start">
      <h2>{{'ui.businessPartner.transaction.invoice.title' | translate:{total: invoiceTotal} }}</h2>
      <div fxFlex></div>
      <div class="label-summary1 pr">
        <div>{{ 'ui.businessPartner.transaction.invoice.open' | translate:{total: _accounting.ac.formatMoney(theyOwe)} }}</div>
        <div class="text-danger">{{ 'ui.businessPartner.transaction.invoice.due' | translate:{total: _accounting.ac.formatMoney(overDue)} }}</div>
      </div>
      <button type="button" class="btn btn-flat ripple">
          <span class="fa fa-chevron-up"></span>
        </button>
    </div>
    <app-fieldset-collapsible-content>
      <p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
        [reorderableColumns]="true" [resizableColumns]="true" columnResizeMode="fit" dataKey="id">

        <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
          [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
          <ng-template let-col let-row="rowData" pTemplate="body">
            <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
          </ng-template>
        </p-column>

        <p-column styleClass="col-operations">
          <ng-template let-rowTransaction="rowData" pTemplate="body">
            <div dropdown container="body">
              <a class="dropdown-toggle">
                  <span *ngIf="rowTransaction.transactionType === 'purchase_invoice'" [routerLink]="['/purchases/invoices', rowTransaction.transactionId, 'update']">{{'ui.action.edit' | translate}}</span>
                  <span *ngIf="rowTransaction.transactionType === 'sales_invoice'" [routerLink]="['/sales/invoices', rowTransaction.transactionId, 'update']">{{'ui.action.edit' | translate}}</span>
                  <span class="caret" dropdownToggle></span>
                </a>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>

      <div class="tbl-pager-toolbar ph" fxLayout="row" fxLayoutAlign="start center">
        <span class="tbl-pager-toolbar-label mr">
            <span>
              {{'ui.pagination.limit' | translate}}
            </span>
        <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
              <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
            </select>
        </span>

        <span class="hdivider mr"></span>

        <span class="tbl-pager-toolbar-label" fxFlex>
           {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
          </span>

        <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage"
          [(ngModel)]="gridDataSource.pager.pageNum" (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize"
          [rotate]="false"></pagination>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>
</div>
