<div class="form-group" [appFieldStates]="parentForm.get('name')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.name' | translate}}</label>
  <input class="form-control" formControlName="name">
  <app-field-error [control]="parentForm.get('name')"></app-field-error>
</div>