<div dropdown [dropup]="true">
  <button class="btn btn-success dropdown-toggle">
    <span (click)="component.onSubmit({ saveAndRedirect: 'list' })">{{'ui.button.save' | translate}}</span>
    <span class="caret" dropdownToggle></span>
  </button>
  <ul class="dropdown-menu" *dropdownMenu>
    <li *ngIf="component.saveAndViewEnabled">
      <a (click)="component.onSubmit({ saveAndRedirect: 'view' })">
        {{ 'ui.button.saveAndView' | translate }}
      </a>
    </li>
    <li *ngIf="component.saveAndNewEnabled">
      <a (click)="component.onSubmit({ saveAndRedirect: 'new' })">
        {{ 'ui.button.saveAndNew' | translate }}
      </a>
    </li>
  </ul>
</div>
