<div #pageLoading="app-spinner" appSpinner></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<div class="has-feedback" style="margin-bottom: 7px" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
  <div fxFlex>
    <input type="text" class="form-control" [(ngModel)]="qParams.keyword" (keyup.enter)="onGridChange()" placeholder="{{'ui.chatbot.modal.product.input.placeholder' | translate}}">
    <!-- <span class="fa fa-search form-control-feedback"></span> -->
  </div>
  <button type="button" class="btn btn-success" fxFlex="85px" (click)="onGridChange()">
    {{'ui.button.search' | translate}}
  </button>
</div>

<ng-template #tableColumn1 let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.variantCount === 0">{{ value }}</span>
  <div *ngIf="record.variantCount > 0">
    <span *ngIf="value === 1">{{ '-' }}</span>
    <a *ngIf="value > 1" (click)="loadVariants(record)" [popover]="popVariantDetail" placement="left" container="body" [outsideClick]="true"
      tabindex="1">
      <span>{{ value }} {{ 'ui.product.list.variantTable.variants' | translate }}</span>
    </a>
    <ng-template #popVariantDetail>
      <div #parentVariantsPopover style="min-height: 120px;">
        <div appSpinner [show]="loadedVariants === undefined" [stretchToMain]="false" [parent]="parentVariantsPopover"></div>

        <table class="table white-thead">
          <thead>
            <tr>
              <th>
                {{ 'ui.product.list.variantTable.name' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.sku' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.sellingPrice' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.qty' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.avgCost' | translate }}
              </th>
              <th>
                {{ 'ui.product.list.variantTable.lastCost' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="loadedVariants">
              <tr *ngFor="let variant of loadedVariants">
                <td>
                  {{ variant.name }}
                </td>
                <td>
                  {{ variant.sku }}
                </td>
                <td>
                  {{ variant.masterPrice.unitPrice }}
                </td>
                <td>
                  {{ variant.inventory?.qty }}
                </td>
                <td>
                  {{ _accounting.ac.formatMoney(variant.inventory?.averageCost) }}
                </td>
                <td>
                  {{ _accounting.ac.formatMoney(variant.inventory?.lastCost) }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #tableColumn2 let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.inventory?.qty === 0">{{ value }}</span>
  <div *ngIf="record.inventory?.qty !== 0">
    <a (click)="findWarehouseInventory(record.id)" [popover]="popInventoryDetail" placement="left" container="body" [outsideClick]="true"
      tabindex="1">
      {{ value }}
    </a>
    <ng-template #popInventoryDetail>
      <table class="table table-striped mb0">
        <thead>
          <tr>
            <th class="detail-label" style="width: 180px;">
              {{ 'ui.product.list.inventoryTable.warehouse' | translate }}
            </th>
            <th class="detail-label" style="width: 180px;">
              {{ 'ui.product.list.inventoryTable.variant' | translate }}
            </th>
            <th class="detail-label">
              {{ 'ui.product.list.inventoryTable.qty' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of _.keys(warehouseInventory)">
            <td>
              {{ warehouseInventory[key][0].warehouseName }}
            </td>
            <td>
              <tr *ngFor="let inventory of warehouseInventory[key]">
                <td style="border: none!important">
                  {{ inventory.variantName || '-'}}
                </td>
              </tr>
            </td>
            <td class="text-right">
              <tr *ngFor="let inventory of warehouseInventory[key]">
                <td style="border: none!important">
                  {{ inventory.qty }}
                </td>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</ng-template>

<ng-template #salesChannelCol let-column let-record="record" let-value="parsedValue">
  <span *ngIf="record.salesChannels.length">
    <ng-container *ngFor="let salesChannel of record.salesChannels">
      <img src="assets/marketplace/{{salesChannel.channelId}}.png" style="max-height: 30px; margin-right:5px">
    </ng-container>
  </span>
</ng-template>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
  [reorderableColumns]="true" [resizableColumns]="true" dataKey="id">
  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

  <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
    [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
    <ng-template let-col let-row="rowData" pTemplate="body">
      <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
    </ng-template>
  </p-column>
  
</p-dataTable>

<div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" class="mt3">
  <div fxFlex></div>

  <button type="button" class="btn btn-default" (click)="cancel.emit(true)">
    {{'ui.button.cancel' | translate}}
  </button>

  <button type="button" class="btn btn-success" (click)="doSubmit()">
    {{'ui.button.send' | translate}}
  </button>
</div>
