<div class="form-group" [appFieldStates]="parentForm.get('categoryId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.categoryId' | translate}}</label>
  <p-autoComplete #categoryAutoComplete formControlName="category" (onSelect)="$event && parentForm.patchValue({ categoryId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('categoryId').reset()"
     (onDropdownClick)="_autocomplete.onLocalACDropdown(categoryAutoComplete, categories, true)" 
     (completeMethod)="_autocomplete.onLocalACSearch(categoryAutoComplete, categories, ['name'], $event.query, true)" 
     [appWrapperAC]="categoryAutoComplete" [appWrapperACLimit]="false">
    <ng-template let-category pTemplate="item">
      <a *ngIf="!category" (click)="quickCreateModal.show()" class="quick-create-option">
        <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
      </a>
      <span *ngIf="category">
        {{category.name}}
      </span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('categoryId')"></app-field-error>
</div>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-product-category-quick-create (afterSubmit)="assignQuickCreatedCategory($event)" (close)="quickCreateModal.hide()"></app-product-category-quick-create>
      </div>
    </div>
  </div>
</div>
