<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.salesInvoice.list.title' | translate}}
  </span>
  <div class="btn-actions">
    <app-sales-button-add></app-sales-button-add>
  </div>
</div>

<app-sales-tab-links></app-sales-tab-links>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<div class="table-filter" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" style="margin-bottom: 10px">
  <div class="has-feedback">
    <input type="text" class="form-control" [(ngModel)]="qParamsFilters.keyword" (keyup.enter)="onGridChange()" placeholder="{{'ui.salesInvoice.list.filter.combined' | translate}}"
    />
    <span class="fa fa-search form-control-feedback"></span>
  </div>

  <div>
    <button type="button" class="btn dropdown-toggle ripple btn-default" [popover]="popMoreFilter" [outsideClick]="false" #popMoreFilter="bs-popover"
      placement="bottom">
      <span class="text-left">{{'ui.button.moreFilter' | translate}}</span>
      <span class="caret"></span>
    </button>
  </div>

  <ng-template #popMoreFilter>
    <app-sales-invoice-more-filter (success)="onMoreFilter($event)"></app-sales-invoice-more-filter>
  </ng-template>

  <div fxFlex></div>

  <button title="{{ 'ui.button.refresh' | translate }}" class="btn p0 btn-action-icon btn-data-table-refresh" (click)="onGridChange()"></button>

  <div title="{{ 'ui.button.export' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-exporter" dropdownToggle>
      <span class=""></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <li>
        <a (click)="exportPDF()">
            {{'ui.export.pdf' | translate}}
          </a>
      </li>
      <li>
        <a (click)="exportExcel()">
            {{'ui.export.excel' | translate}}
          </a>
      </li>
    </ul>
  </div>

  <div title="{{ 'ui.button.settings' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-toggler" dropdownToggle>
      <span class=""></span>
    </button>

    <div (click)="$event.stopPropagation()" class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <div class="pl pr dropdown-muted-label">
        {{'ui.columns' | translate}}
      </div>
      <p-listbox styleClass="listbox-columns-toggle" [checkbox]="true" [metaKeySelection]="false" [multiple]="true" [options]="tableColumnsToggle.options"
        [(ngModel)]="tableColumnsToggle.toggled"></p-listbox>
    </div>
  </div>
</div>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
  [reorderableColumns]="true" [resizableColumns]="true" dataKey="id">
  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

  <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortField]="tableColumn.sortField || tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
    [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">
    <ng-template let-col let-row="rowData" pTemplate="body">
      <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
    </ng-template>
  </p-column>

  <p-column styleClass="col-operations text-right">
    <ng-template let-invoice="rowData" pTemplate="body">
      <div dropdown container="body">
        <div *ngIf="invoice.isOpen" class="dropdown-toggle">
          <a (click)="showQuickPayModal(invoice)">{{'ui.salesInvoice.list.action.receivePayment' | translate}}</a>
          <a class="caret" dropdownToggle></a>
        </div>
        <div *ngIf="!invoice.isOpen" class="dropdown-toggle">
          <a>{{'ui.salesInvoice.list.action.print' | translate}}</a>
          <a class="caret" dropdownToggle></a>
        </div>
        <ul *dropdownMenu class="dropdown-menu">
          <li *ngIf="invoice.isOpen"><a (click)="printReport(invoice.id)">{{'ui.salesInvoice.list.action.print' | translate}}</a></li>
          <!-- This section will be hidden until this menu working properly -->
          <!-- <li *ngIf="invoice.isOpen"><a (click)="copyInvoicetoCreditNote(invoice)">{{'ui.salesInvoice.list.action.createReturn' | translate}}</a></li> -->
          <li *ngIf="invoice.isOpen"><a [routerLink]="[invoice.id, 'update']">{{'ui.action.edit' | translate}}</a></li>
          <li><a (click)="cloneTransaction(invoice)">{{'ui.action.clone' | translate}}</a></li>
          <li *ngIf="invoice.isOpen"><a (click)="showVoidDialog(invoice.id)">{{'ui.action.void' | translate}}</a></li>
        </ul>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="tbl-pager-toolbar-label mr">
    <span>
      {{'ui.pagination.limit' | translate}}
    </span>
  <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
      <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
    </select>
  </span>

  <span class="hdivider mr"></span>

  <span class="tbl-pager-toolbar-label" fxFlex>
    {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
  </span>

  <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
    (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
</div>

<div class="modal fade" bsModal #quickPayModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.salesInvoice.detail.quickPay.title' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="quickPayModal.hide()">
            <span>x</span>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-sales-payment-quick-create *ngIf="quickPayModal.isShown" (afterSubmit)="didSalesPaymentQuickCreate()" [sourceTransaction]="modalDoc" (close)="quickPayModal.hide()"></app-sales-payment-quick-create>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <div style="padding: 24px 40px">
          <app-report-viewer *ngIf="doc && doc['companyInfo']" [config]="{templateCode: 'SI001'}" [data]="doc" initDisplay="pdf" [applyDataOnChange]="true"></app-report-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
