.dropdown-header {
  padding: 16px;
  background-color: #eaeaea;
  height: 49px;
  line-height: 0.83;
  font-size: 18px;
  font-weight: 600;
  color: #39393a;
}

.dropdown-menu {
  border-radius: 3px;
  width: 218px;
  &:before {
    content: "";
    position: absolute;
    left: 21px;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 7px 9px;
    border-color: transparent transparent #eaeaea transparent;
    z-index: 9999;
  }
  li>a {
    padding: 8px 16px;
    color: #9b9b9b;
    &:hover {
      color: #676767;
      font-weight: 600;
    }
  }
  .divider {
    margin-bottom: 6px;
  }
}