<a dropdownToggle class="dropdown-toggle ripple"><em class="mi mi-add-circle"></em></a>
<ul *dropdownMenu class="dropdown-menu" style="padding-top:0">
  <li class="ripple ripple-block">
    <div class="dropdown-header">{{'ui.quickAdd.menu.title' | translate}}</div>
  </li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/sales/orders/create']">{{'ui.quickAdd.menu.salesOrder' | translate}}</a>
  </li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/sales/invoices/create']">{{'ui.quickAdd.menu.salesInvoice' | translate}}</a>
  </li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/sales/receipts/create']">{{'ui.quickAdd.menu.salesReceipt' | translate}}</a>
  </li>
  <li role="presentation" class="divider"></li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/purchases/orders/create']">{{'ui.quickAdd.menu.purchasesOrder' | translate}}</a>
  </li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/purchases/invoices/create']">{{'ui.quickAdd.menu.purchasesInvoice' | translate}}</a>
  </li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/purchases/receipts/create']">{{'ui.quickAdd.menu.purchasesReceipt' | translate}}</a>
  </li>
  <li role="presentation" class="divider"></li>
  <li class="ripple ripple-block">
    <a [routerLink]="['/expenses/create']">{{'ui.quickAdd.menu.expense' | translate}}</a>
  </li>
</ul>