<div fxLayoutAlign="center center">
  <div fxFlex="70%">

    <app-base-page #page [component]="this">
      <ng-template appTpl="pageContentTpl">

        <app-base-entry #entry [component]="this">
          <ng-template appTpl="entryContentTpl">
            <app-settings-sales-channel-form-bukalapak *ngIf="page.routeData?.type === 'bukalapak'" [masterPage]="page" formType="create" [form]="form"></app-settings-sales-channel-form-bukalapak>
            <app-settings-sales-channel-form-lazada *ngIf="page.routeData?.type === 'lazada'" [masterPage]="page" formType="create" [form]="form"></app-settings-sales-channel-form-lazada>
            <app-settings-sales-channel-form-shopify *ngIf="page.routeData?.type === 'shopify'" [masterPage]="page" formType="create" [form]="form"></app-settings-sales-channel-form-shopify>
            <app-settings-sales-channel-form-woocommerce *ngIf="page.routeData?.type === 'woocommerce'" [masterPage]="page" formType="create" [form]="form"></app-settings-sales-channel-form-woocommerce>
          </ng-template>
        </app-base-entry>

      </ng-template>
    </app-base-page>

  </div>
</div>