<div class="label-summary1 mb2" style="text-align: left;">
  {{ 'ui.product.import.map.description' | translate }}
</div>
<table class="table table-bordered wd-auto">
  <thead>
    <tr>
      <th>{{ 'ui.product.import.map.clodeoFields' | translate }}</th>
      <th>{{ 'ui.product.import.map.userFields' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let map of clodeoFields">
      <td>
        {{ map.label | translate }}
      </td>
      <td>
        <select class="form-control" [(ngModel)]="formState.importMap[map.field].index">
          <option value="-1">{{ 'ui.option.unmatch' | translate }}</option>
          <option *ngFor="let header of formState.header; let i=index" [value]="i">
            {{ header }}
          </option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
