<div *ngIf="reportSource">
  <iframe [height]="height" [width]="width" *ngIf="initDisplay === 'html'" [srcdoc]="reportSource" frameborder="0"></iframe>

  <embed [height]="height" [width]="width" *ngIf="initDisplay === 'pdf'" [src]="reportSource" type="application/pdf" />
</div>
