<div [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsCompany.form.companyInfo' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <div class="form-group" [formGroup]="parentForm">
        <ul class="form-flex">
          <div>
            <li>
              <label>{{'ui.settingsCompany.form.companyName' | translate}}</label>
              <span fxFlex="280px">
                <div class="form-group">
                  <input class="form-control" formControlName="companyName" placeholder="Company Name">
                  <app-field-error [control]="parentForm.get('companyName')"></app-field-error>
                </div>
                <div fxLayout="row" fxLayoutGap="16px">
                  <div class="form-group" style="width: 200px;">
                    <app-img-upload [serverFiles]="doc?.logo" (onDeleteSingle)="onImageDeleted()" (onUploaded)="onImageUploaded($event)"></app-img-upload>
                  </div>
                </div>
                </span>
            </li>
          </div>
        </ul>

        <div class="mt4" style="margin-left:242px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <button type="button" class="btn btn-default" (click)="updateForm = !updateForm">
            {{'ui.button.cancel' | translate}}
          </button>
          <button class="btn btn-success" (click)="onSubmit()">
            {{'ui.settingsCompany.upsert.button.submit' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <label>{{'ui.settingsCompany.form.companyName' | translate}}</label> {{doc?.companyName|| '-'}}
        </li>
        <li>
          <label></label>
          <div class="img-box-wrapper">
            <div class="img-box" fxLayout="row" fxLayoutAlign="center center">
              <img *ngIf="doc?.logo" class="img-responsive" [src]="doc?.logo?.thumbnailUrl" />
              <img *ngIf="!doc?.logo" class="img-responsive" src="/assets/img/img-upload-placeholder.png" />
            </div>
          </div>
        </li>
      </ul>

      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
