<app-formgen-field-autocomplete *ngIf="schema.field === 'autocomplete'" [config]="schema"></app-formgen-field-autocomplete>
<app-formgen-field-chips *ngIf="schema.field === 'chips'" [config]="schema"></app-formgen-field-chips>
<app-formgen-field-text *ngIf="schema.field === 'text'" [config]="schema"></app-formgen-field-text>
<app-formgen-field-textarea *ngIf="schema.field === 'textarea'" [config]="schema"></app-formgen-field-textarea>
<app-formgen-field-textarea-html *ngIf="schema.field === 'textarea_html'" [config]="schema"></app-formgen-field-textarea-html>
<app-formgen-field-date *ngIf="schema.field === 'date'" [config]="schema"></app-formgen-field-date>
