<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{doc.name}}
      </span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn btn-primary" [routerLink]="['/accounts', routeParams.id, 'update']">
        {{'ui.button.edit' | translate}}
      </button>
    </div>
  </div>

  <ul class="table-tabs">
    <li>
      <a [routerLink]="['/accounts', doc.id, 'ledger']" routerLinkActive="active">
        {{'ui.coa.tabLink.ledger' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]="['/accounts', doc.id, 'detail']" routerLinkActive="active">
        {{'ui.coa.tabLink.detail' | translate}}
      </a>
    </li>
  </ul>

  <div *ngIf="doc" fxLayout="row" fxLayoutGap="16px">
    <div fxFlex>
      <table class="table table-striped detail-list">
        <tbody>
          <tr>
            <td class="detail-label" width="200px">
              {{'ui.coa.detail.class' | translate}}
            </td>
            <td>
              {{doc.accountClass?.name || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.coa.detail.type' | translate}}
            </td>
            <td>
              {{doc.accountType?.name || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.coa.detail.code' | translate}}
            </td>
            <td>
              {{doc.code || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.coa.detail.name' | translate}}
            </td>
            <td>
              {{doc.name || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.coa.detail.description' | translate}}
            </td>
            <td>
              {{doc.description || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.coa.detail.balance' | translate}}
            </td>
            <td>
              {{_accounting.ac.formatMoney(doc.balance, '')}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
