<div #pageLoading="app-spinner" appSpinner [show]="!summary" [stretchToMain]="false" [parent]="topSellingProductsWidget"></div>

<div fxLayout="row" fxLayoutGap="21px">
  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <div #topSellingProductsWidget class="dash-block dash-advanced-pie">
      <div class="dash-title">{{ 'ui.dashboard.dashTopSellingProducts.title' | translate }}</div>
      <div *ngIf="summary?.length">
        <div class="dash-label1">{{ _accounting.ac.formatMoney(widgets.topProducts.total, '') }}</div>
        <div class="dash-label2">{{ 'ui.dashboard.dashTopSellingProducts.total' | translate }}</div>

        <div class="dash-chart">
          <ngx-charts-advanced-pie-chart *ngIf="widgets.topProducts.dataset" [scheme]="widgets.topProducts.colorScheme" [results]="widgets.topProducts.dataset"></ngx-charts-advanced-pie-chart>
        </div>
      </div>
      <div *ngIf="!summary?.length">
        No Data
      </div>
    </div>
  </div>
</div>