<div class="upload-box-wrapper" #uploadBoxWrapper [ngClass]="{'upload-box-wrapper-small': small}">
  <div class="upload-box" fxLayout="row" fxLayoutAlign="center center">
    <img class="img-responsive" #image [src]="imagePlaceholder" />
  </div>
</div>

<p-contextMenu [target]="uploadBoxWrapper" [model]="contextMenus" appendTo="body"></p-contextMenu>