<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div *ngIf="doc">
      <div class="mda-form-group">
        <p>
          {{'ui.field.priceLevel.name' | translate}}
        </p>
        <label>{{doc.name ? doc.name : '-'}}</label>
      </div>
    </div>

  </ng-template>
</app-base-page>