<div class="page-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <div class="registration-box">
    <div class="card auth-card b0">
      <div class="card-body p0">
        <div class="panel">
          <div class="card-logo">
            <img class="img-responsive" src="/assets/img/logo2.png" />
          </div>
          <div class="login-link text-center">
            <span class="text-muted">{{'ui.registrationAccount.loginDescription' | translate}}</span>
            <a [routerLink]="['/login']">
              {{'ui.registrationAccount.link.login' | translate}}
            </a>
          </div>

          <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

          <form [formGroup]="form">
            <div fxLayout="row" fxLayoutGap="16px">
              <div class="mda-form-group" fxFlex>
                <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                  <input type="text" class="form-control" formControlName="firstName" placeholder="{{'ui.registrationAccount.firstName' | translate}}"
                    fxFlex/>
                  <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('firstName').valid}"></em>
                </div>
                <app-field-error [control]="form.get('firstName')"></app-field-error>
              </div>

              <div class="mda-form-group" fxFlex>
                <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                  <input type="text" class="form-control" formControlName="lastName" placeholder="{{'ui.registrationAccount.lastName' | translate}}"
                    fxFlex />
                  <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('lastName').valid}"></em>
                </div>
                <app-field-error [control]="form.get('lastName')"></app-field-error>
              </div>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <input type="text" class="form-control" formControlName="userName" placeholder="{{'ui.registrationAccount.userName' | translate}}"
                  fxFlex />
                <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('userName').valid}"></em>
              </div>
              <app-field-error [control]="form.get('userName')"></app-field-error>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <input type="text" class="form-control" formControlName="email" placeholder="{{'ui.registrationAccount.email' | translate}}"
                  fxFlex />
                <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('email').valid}"></em>
              </div>
              <app-field-error [control]="form.get('email')"></app-field-error>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <input type="number" class="form-control" formControlName="nationalPhoneNumber" placeholder="{{'ui.registrationAccount.mobile' | translate}}"
                  fxFlex />
                <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('nationalPhoneNumber').valid}"></em>
              </div>
              <app-field-error [control]="form.get('nationalPhoneNumber')"></app-field-error>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <input type="password" class="form-control" formControlName="password" placeholder="{{'ui.registrationAccount.password' | translate}}"
                  fxFlex />
                <em class="fa fa-lock icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('password').valid}"></em>
              </div>
              <app-field-error [control]="form.get('password')"></app-field-error>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <input type="password" class="form-control" formControlName="_passwordConfirm" placeholder="{{'ui.registrationAccount.passwordConfirm' | translate}}"
                  fxFlex />
                <em class="fa fa-check-circle-o icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': !form.hasError('mismatchedPasswords') && form.get('_passwordConfirm').dirty && form.get('_passwordConfirm').valid}"></em>
              </div>
              <app-field-error [control]="form.get('_passwordConfirm')"></app-field-error>
            </div>

            <div class="agreement-link text-center">
              {{('ui.registrationAccount.agreementDescription' | translate)}}
            </div>

            <button type="submit" class="btn btn-success registration-btn" (click)="onSubmit()">
              {{'ui.registrationAccount.button.submit' | translate}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>