app-registration-account {
    display: block;
    color: #4a4a4a;
    height: 100%;
    a:not(.text-muted) {
      color: #4782d8;
    }
    .page-container {
      height: auto!important;
      max-height: 657px!important;;
      background-color: #e1e1e1;
    }
    .registration-box {
      max-width: 600px;
      .auth-card {
        border-radius: 12px;
        box-shadow: 0 2px 15px 2px rgba(61, 61, 61, 0.5);
        margin-bottom: 0;
        .card-body {
          .panel {
            margin-bottom: 0;
            padding: 32px 125px;
            .mda-form-group {
              padding: 0 0 0px 0;
              .mda-form-control {
                margin-top: 18px;
                padding: 0;
                border-radius: 5px;
                border: solid 0.5px #c1c1c1;
                .form-control {
                  height: 36px;
                }
                .form-control {
                  padding: 0 12px;
                }
              }
              .field-error-wrapper {
                padding-top: 3px;
              }
            }
            .agreement-link {
                margin-top: 32px;
            }
            .registration-btn {
              margin-top: 20px;
              background-color: #2ab27b;
              width: 100%;
              color: white;
              height: 40px;
              font-size: 16px;
              border-radius: 5px;
              margin-bottom: 6px;
              max-width: 160px;
              margin-left: auto;
              margin-right: auto;
              display: table;
            }
            .sm-registration {
              margin-top: 18px;
              >ul.sm-icons {
                padding-left: 0;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 17px;
                >li {
                  display: inline-block;
                  max-width: 40px;
                  margin-right: 30px;
                  &:last-child {
                    margin-right: 0;
                  }
                  img {
                    max-width: 29.8px;
                    max-height: 29.8px;
                  }
                }
              }
            }
          }
          .card-logo {
            margin-top: 8px;
            margin-bottom: 34px;
            >img {
              max-width: 200px;
              margin: auto;
            }
          }
          .card-title {
            font-size: 28px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 0;
            color: #15416f;
          }
          .login-link {
              margin-bottom: 20px;
          }
        }
      }
      .spinner {
        border-radius: 10px;
      }
    }
  }
  