<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.journalEntry.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn btn-primary" routerLink="update">
        {{'ui.button.edit' | translate}}
      </button>
      <div dropdown>
        <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="journalModal.show()">
              {{'ui.journalEntry.detail.action.transactionJournal' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <table class="no-border">
    <tbody>
      <tr>
        <td>
          <label class="control-label">{{'ui.journalEntry.detail.date' | translate}}</label>
        </td>
        <td>
          <span class="pl4 ml3">
            {{doc.transactionDate | date:'dd/MM/y' || '-'}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-responsive">
    <table class="table table-bordered mt mb" style="min-width: 1208px">
      <thead>
        <tr>
          <th class="text-center" width="66px">
            {{'ui.journalEntry.detail.colNumber' | translate}}
          </th>
          <th width="218px">
            {{'ui.journalEntry.detail.colAccount' | translate}}
          </th>
          <th width="575px">
            {{'ui.journalEntry.detail.colDescription' | translate}}
          </th>
          <th class="text-right" width="130px">
            {{'ui.journalEntry.detail.colDebits' | translate}}
          </th>
          <th class="text-right" width="130px">
            {{'ui.journalEntry.detail.colCredits' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index;">
          <td class="middle-text text-center">
            {{i + 1}}
          </td>
          <td class="middle-text">
            {{line.account?.name || '-'}}
          </td>
          <td class="middle-text">
            {{line.description || '-'}}
          </td>
          <td class="middle-text text-right">
            {{_accounting.ac.formatMoney(line.debit || 0)}}
          </td>
          <td class="middle-text text-right">
            {{_accounting.ac.formatMoney(line.credit || 0)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" class="mt pt">
    <div fxLayout="row" fxLayoutGap="30px">
      <div>
        <label class="control-label">
          {{'ui.journalEntry.detail.note' | translate}}
        </label>
        <div>
          {{'-'}}
        </div>
      </div>
    </div>

    <div fxFlex></div>

    <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
        <div class="control-label">
          {{'ui.journalEntry.detail.total' | translate}}
        </div>
        <div fxFlex="195px" class="text-right">
          {{ _accounting.ac.formatMoney(doc.total || 0) }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.journalEntry.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>