<div #pageLoading="app-spinner" appSpinner [show]="!summary" [stretchToMain]="false" [parent]="pnlsWidget"></div>

<div fxLayout="row" fxLayoutGap="21px">
  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <div #pnlsWidget class="dash-block dash-pnl">
      <div class="dash-title">{{ 'ui.dashboard.dashPNL.title' | translate }}</div>
      <div *ngIf="summary?.length">
        <div class="dash-label1">{{ _accounting.ac.formatMoney(widgets.pnl.totalProfit, '') }}</div>
        <div class="dash-label2">{{ 'ui.dashboard.dashPNL.total' | translate }}</div>

        <div class="dash-chart">
          <ngx-charts-bar-vertical-2d *ngIf="widgets.pnl.dataset" [scheme]="widgets.pnl.colorScheme" [results]="widgets.pnl.dataset"
            [xAxis]="true" [yAxis]="true" [legend]="true" legendTitle="">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
      <div *ngIf="!summary?.length">
        No Data
      </div>
    </div>
  </div>
</div>