<div class="form-group" [appFieldStates]="parentForm.get('postalCode')" [formGroup]="parentForm">
  <input formControlName="postalCode" class="form-control" placeholder="{{'ui.businessPartner.form.placeholder.postalCode' | translate }}" />
  <app-field-error [control]="parentForm.get('postalCode')"></app-field-error>
</div>
