<div [formGroup]="form">
  <div class="form-group" [appFieldStates]="form.get('name')">
    <label class="control-label">{{'ui.productCategory.quickForm.name' | translate }}</label>
    <input formControlName="name" class="form-control" />
    <app-field-error [control]="form.get('name')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('description')">
    <label class="control-label">{{'ui.productCategory.quickForm.description' | translate }}</label>
    <input formControlName="description" class="form-control" />
    <app-field-error [control]="form.get('description')"></app-field-error>
  </div>
</div>
