<div class="form-group" [appFieldStates]="parentForm.get('bankAccountNo')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.bankAccountNo' | translate }}</label>
  <input formControlName="bankAccountNo" class="form-control" />
  <app-field-error [control]="parentForm.get('bankAccountNo')"></app-field-error>
</div>
