<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.purchases.moreFilter.from' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>

    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.purchases.moreFilter.to' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="222px">
      <label class="control-label">
        {{'ui.purchases.moreFilter.transactionType' | translate}}
      </label>
      <select class="form-control" formControlName="transactionType">
        <option value="">{{'ui.option.any' | translate}}</option>
        <option value="purchase_order">{{'ui.transaction.type.purchase_order' | translate}}</option>
        <option value="purchase_invoice">{{'ui.transaction.type.purchase_invoice' | translate}}</option>
        <option value="purchase_receipt">{{'ui.transaction.type.purchase_receipt' | translate}}</option>
        <option value="purchase_return">{{'ui.transaction.type.purchase_return' | translate}}</option>
        <option value="purchase_down_payment">{{'ui.transaction.type.purchase_down_payment' | translate}}</option>
        <option value="purchase_payment">{{'ui.transaction.type.purchase_payment' | translate}}</option>
      </select>
    </div>
    <div class="form-group" fxFlex="222px">
      <label class="control-label">
        {{'ui.purchases.moreFilter.vendorId' | translate}}
      </label>
      <p-autoComplete #vendorAC formControlName="vendor" field="displayName" styleClass="wd-wide" [suggestions]="vendorsSuggestion" (onSelect)="$event && form.get('vendorId').setValue($event.id)" 
        (completeMethod)="ACVendorHandler.search($event)" (onDropdownClick)="ACVendorHandler.dropdown($event)" [dropdown]="true" field="displayName" [appWrapperAC]="vendorAC"></p-autoComplete>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end start">
    <button class="btn btn-default" type="reset">
      {{'ui.button.reset' | translate}}
    </button>

    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>
</form>
