:host /deep/ {
  display: block;
  color: #4a4a4a;
  height: 100%;
  a:not(.text-muted) {
    color: #4782d8;
  }
  .page-container {
    height: auto!important;
    .card-body {
      width: 340px;
      .card-logo {
        margin-bottom: 22px;
        >img {
          max-width: 200px;
          margin: auto;
        }
      }
      .card-title {
        text-align: center;
        margin: 50px 0;
      }
      .mda-form-group {
        padding: 0 0 0px 0;
        .mda-form-control {
          margin-top: 18px;
          padding-top: 0;
          border: 1px solid rgba(0, 0, 0, 0.14);
        }
      }
      .account-btn {
        margin-top: 20px;
      }
    }
  }
}
