<div class="page-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div class="card-body">
    <div class="card-logo">
      <img class="img-responsive" src="/assets/img/logo2.png" />
    </div>
    <div class="card-title">
      <h4>{{'ui.account.resetPassword.title' | translate}}</h4>
      <span class="text-muted">{{'ui.account.resetPassword.description' | translate}}</span>
    </div>

    <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

    <form [formGroup]="form">
      <div class="mda-form-group">
        <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
          <input type="password" class="form-control" formControlName="password" placeholder="{{'ui.account.resetPassword.form.password' | translate}}"
            fxFlex />
          <em class="fa fa-lock icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': form.get('password').valid}"></em>
        </div>
        <app-field-error [control]="form.get('password')"></app-field-error>
      </div>

      <div class="mda-form-group">
        <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
          <input type="password" class="form-control" formControlName="_passwordConfirm" placeholder="{{'ui.account.resetPassword.form.passwordConfirm' | translate}}"
            fxFlex />
          <em class="fa fa-lock icon-lg text-center text-muted" fxFlex="50px" [ngClass]="{'text-success': !form.hasError('mismatchedPasswords') && form.get('_passwordConfirm').dirty && form.get('_passwordConfirm').valid}"></em>
        </div>
        <app-field-error [control]="form.get('_passwordConfirm')"></app-field-error>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="account-btn">
        <button type="button" fxFlex class="btn btn-default" routerLink="/login">
          {{'ui.button.cancel' | translate}}
        </button>
        <button fxFlex class="btn btn-success" (click)="onSubmit()">
          {{'ui.account.resetPassword.button.submit' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
