<div class="form-group" [appFieldStates]="config.control">
  <label class="control-label" *ngIf="config.label">{{ config.label | translate }}</label>
  <p-editor [formControl]="config.control" [style]="{'height':'165px'}"></p-editor>
  <app-field-error [control]="config.control"></app-field-error>
</div>