<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ 'ui.reportsPurchasesProduct.preview.title' | translate }}
  </span>
</div>

<div class="well well-lg">
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.from' | translate }}</label>
        <p-calendar formControlName="lowDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2010:2018" [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.to' | translate }}</label>
        <p-calendar formControlName="highDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2010:2018" [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.vendor' | translate }}</label>
        <p-autoComplete #vendorAC field="displayName" formControlName="vendor" styleClass="wd-wide" (completeMethod)="ACVendorHandler.search($event)"
          (onDropdownClick)="ACVendorHandler.dropdown($event)" (onClear)="form.get('vendorId').reset(null)" (onSelect)="$event && form.patchValue({ vendorId: $event.id });"
          [dropdown]="true" [appWrapperAC]="vendorAC">
          <ng-template let-vendor pTemplate="item">
            <span *ngIf="vendor">
              {{vendor.displayName}}
            </span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.purchasesNumber' | translate }}</label>
        <input formControlName="transactionNumber" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.status' | translate }}</label>
        <p-multiSelect [options]="_transaction.statusList" formControlName="statuses" styleClass="form-control wd-wide normalizeLabel"
          [filter]="false"></p-multiSelect>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.state' | translate }}</label>
        <p-multiSelect [options]="_transaction.stateList" formControlName="states" styleClass="form-control wd-wide normalizeLabel"
          [filter]="false"></p-multiSelect>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsPurchasesProduct.preview.filter.brand' | translate }}</label>
        <p-multiSelect [options]="brandProducts" formControlName="brandIds" styleClass="form-control wd-wide normalizeLabel" [filter]="false"></p-multiSelect>
      </div>
    </div>
    <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <button class="btn btn-success" (click)="loadData()">
        {{ 'ui.button.apply' | translate }}
      </button>
    </div>
  </form>
</div>

<div class="well well-lg white">
  <app-report-toolbar [viewer]="elReportViewer" (onRefresh)="loadData()"></app-report-toolbar>

  <hr>

  <app-report-viewer #reportViewer *ngIf="compReady" [config]="{ templateCode: 'PPS001' }" [params]="reportParams" [data]="data"
    initDisplay="html" [applyDataOnChange]="true" (rendered)="reportViewerReady = true"></app-report-viewer>
</div>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady && !reportViewerReady"></div>
