.form-group {
  &.with-error-mb {
    margin-bottom: 1px;
    app-field-error {
      margin-top: 5px;
      display: block;
      min-height: 18px;

      .field-error-wrapper {
        margin-bottom: 5px;
      }
    }
  }
}
