<div class="text-danger" *ngIf="control && (control.touched || control.dirty)">
  <div *ngIf="hasError" class="field-error-wrapper">
    <span class="fa fa-exclamation-circle"></span>
    <span *ngIf="control.hasError('required')">{{'error.validation.required' | translate}}</span>
    <span *ngIf="control.hasError('digits')">{{'error.validation.digits' | translate}}</span>
    <span *ngIf="control.hasError('email')">{{'error.validation.email' | translate}}</span>
    <span *ngIf="control.hasError('pattern') && control.validatorData.patternType === 'url'">{{'error.validation.url' | translate}}</span>
    <span *ngIf="control.hasError('setting-print-name-uniq')">{{'error.validation.setting-print-name-uniq' | translate}}</span>
    <span *ngIf="control.hasError('min') && control.validatorData">{{'error.validation.min' | translate:control.validatorData}}</span>
    <span *ngIf="control.hasError('max') && control.validatorData">{{'error.validation.max' | translate:control.validatorData}}</span>
    <span *ngIf="control.hasError('gt') && control.validatorData">{{'error.validation.gt' | translate:control.validatorData }}</span>
    <span *ngIf="control.hasError('maxlength') && control.validatorData">{{'error.validation.maxlength' | translate:{maxLength: control.validatorData.maxLength} }}</span>
    <span *ngIf="control.hasError('minlength') && control.validatorData">{{'error.validation.minlength' | translate:{minLength: control.validatorData.minLength} }}</span>
    <span *ngIf="control.hasError('recordNotFound')">{{'error.validation.recordNotFound' | translate}}</span>
  </div>
</div>
