<div class="form-group" [appFieldStates]="parentForm.get('bankAccountName')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.bankAccountName' | translate }}</label>
  <input formControlName="bankAccountName" class="form-control" />
  <app-field-error [control]="parentForm.get('bankAccountName')"></app-field-error>
</div>
