<div [formGroup]="form">
  <div class="form-group" [appFieldStates]="form.get('paymentMethodId')">
    <label class="control-label">
      {{'ui.salesPayment.quickForm.paymentMethodId' | translate}}
    </label>
    <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide"
      [dropdown]="true" (completeMethod)="_autocomplete.onLocalACSearch(paymentMethodAC, paymentMethods, ['name'], $event.query, true)" (onSelect)="$event && form.get('paymentMethodId').setValue($event.id)"
      (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentMethodAC, paymentMethods, true)" [appWrapperAC]="paymentMethodAC">
      <ng-template let-paymentMethod pTemplate="item">
        <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateModal.show()" class="quick-create-option">
          <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
        </a>
        <span *ngIf="paymentMethod">
          {{paymentMethod.name}}
        </span>
      </ng-template>
    </p-autoComplete>
    <a *ngIf="form.get('paymentMethod').value?.paymentMethodType === 'credit_card'" class="block pt2" (click)="paymentDetailsModal.show()">
      {{'ui.salesPayment.quickForm.enterCCDetails' | translate}}
    </a>
    <app-field-error [control]="form.get('paymentMethodId')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('paymentAccountId')">
    <label class="control-label">
      {{'ui.salesPayment.quickForm.paymentAccountId' | translate}}
    </label>
    <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [dropdown]="true"
      (completeMethod)="_autocomplete.onLocalACDropdown(paymentAccountAC, accounts)" (onDropdownClick)="_autocomplete.onLocalACSearch(paymentAccountAC, accounts, ['name'], $event.query)"
      (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id })" (onClear)="form.get('paymentAccountId').reset()" [appWrapperAC]="paymentAccountAC" [appWrapperACLimit]="false">
      <ng-template let-account pTemplate="item">
        [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
      </ng-template>
    </p-autoComplete>
    <app-field-error [control]="form.get('paymentAccountId')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('transactionDate')">
    <label class="control-label">
      {{'ui.salesPayment.quickForm.transactionDate' | translate}}
    </label>
    <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    <app-field-error [control]="form.get('transactionDate')"></app-field-error>
  </div>

  <div class="form-group">
    <label class="control-label">
       {{'ui.salesPayment.quickForm.amountDue' | translate}}
    </label>
    <span style="display:block">
      {{  _accounting.ac.formatMoney(sourceTransaction?.balanceDue || 0, '') }}
    </span> 
  </div>

  <div class="form-group" [appFieldStates]="form.get('lines')['at'](0).get('paymentAmount')" [formGroup]="form.get('lines')['at'](0)">
    <label class="control-label">
      {{'ui.salesPayment.quickForm.amount' | translate}}
    </label>
    <input type="number" formControlName="paymentAmount" class="form-control"/>
    <app-field-error [control]="form.get('lines')['at'](0).get('paymentAmount')"></app-field-error>
  </div>

  <div class="modal fade" bsModal #paymentDetailsModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" fxLayout="row">
          <div fxFlex>
            <h5 class="modal-title">
              {{'ui.paymentMethod.creditInfoForm.label' | translate}}
            </h5>
          </div>
          <button type="button" class="close text-md" (click)="paymentDetailsModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 25px 40px;">
          <app-payment-method-credit-info-form [form]="form"></app-payment-method-credit-info-form>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
            <button type="button" class="btn btn-default" (click)="paymentDetailsModal.hide()">
              {{'ui.button.cancel' | translate}}
            </button>
            <button class="btn btn-success" (click)="paymentDetailsModal.hide()">
              {{'ui.button.ok' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-payment-method-quick-create (afterSubmit)="assignQuickCreatedEntity($event, 'paymentMethods')" (close)="quickCreateModal.hide()"></app-payment-method-quick-create>
      </div>
    </div>
  </div>
</div>
