<div class="form-group" [appFieldStates]="parentForm.get('inventoryAccountId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.inventoryAccountId' | translate}}</label>
  <p-autoComplete #inventoryAccountAC formControlName="inventoryAccount" (onSelect)="$event && parentForm.patchValue({ inventoryAccountId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('inventoryAccountId').reset()"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(inventoryAccountAC, accounts)" (completeMethod)="_autocomplete.onLocalACSearch(inventoryAccountAC, accounts, ['name'], $event.query)"
    [appWrapperAC]="inventoryAccountAC" [appWrapperACLimit]="false">
    <ng-template let-account pTemplate="item">
      [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('inventoryAccountId')"></app-field-error>
</div>
