<app-retry-dialog #retryDialog></app-retry-dialog>


<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="form-group" [appFieldStates]="form.get('isCustomer')">
      <app-business-partner-form-field-iscustomer [parentForm]="form"></app-business-partner-form-field-iscustomer>
      <app-field-error [control]="form.get('isCustomer')"></app-field-error>
    </div>
    <div class="form-group" [appFieldStates]="form.get('isVendor')">
      <app-business-partner-form-field-isvendor [parentForm]="form"></app-business-partner-form-field-isvendor>
      <app-field-error [control]="form.get('isVendor')"></app-field-error>
    </div>
  </div>
  <fieldset class="collapsible" id="fieldset-1">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.personalDetails' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-firstname [parentForm]="form" fxFlex></app-business-partner-form-field-firstname>

        <app-business-partner-form-field-lastname [parentForm]="form" fxFlex></app-business-partner-form-field-lastname>
      </div>

      <app-business-partner-form-field-company [parentForm]="form"></app-business-partner-form-field-company>

      <app-business-partner-form-field-displayname [parentForm]="form"></app-business-partner-form-field-displayname>

      <app-business-partner-form-field-dateofbirth [parentForm]="form"></app-business-partner-form-field-dateofbirth>

      <app-business-partner-form-field-email [parentForm]="form"></app-business-partner-form-field-email>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-phone [parentForm]="form" fxFlex></app-business-partner-form-field-phone>

        <app-business-partner-form-field-mobile [parentForm]="form" fxFlex></app-business-partner-form-field-mobile>

        <app-business-partner-form-field-fax [parentForm]="form" fxFlex></app-business-partner-form-field-fax>
      </div>

      <app-business-partner-form-field-website [parentForm]="form" fxFlex></app-business-partner-form-field-website>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-2">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.address' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex [formGroup]="form.get('postalAddress')">
          <label class="control-label">{{'ui.businessPartner.form.billingAddress' | translate }}</label>
          
          <app-business-partner-form-field-street1 [parentForm]="form.get('postalAddress')"></app-business-partner-form-field-street1>

          <div fxLayout="row" fxLayoutGap="16px">
            <app-business-partner-form-field-city [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-city>

            <app-business-partner-form-field-state [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-state>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <app-business-partner-form-field-postalcode [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-postalcode>

            <app-business-partner-form-field-country [countries]="countries" [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-country>
          </div>
        </div>

        <div fxFlex [formGroup]="form.get('shippingAddress')">
          <div fxLayout="row">
            <label class="control-label" fxFlex>{{'ui.businessPartner.form.shippingAddress' | translate }}</label>

            <app-business-partner-form-field-billingasshipping [parentForm]="form"></app-business-partner-form-field-billingasshipping>
          </div>

          <app-business-partner-form-field-street1 [parentForm]="form.get('shippingAddress')"></app-business-partner-form-field-street1>

          <div fxLayout="row" fxLayoutGap="16px">
            <app-business-partner-form-field-city [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-city>            

            <app-business-partner-form-field-state [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-state>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <app-business-partner-form-field-postalcode [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-postalcode>

            <app-business-partner-form-field-country [countries]="countries" [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-country>
          </div>
        </div>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-3">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.salesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-business-partner-form-field-salesdue [parentForm]="form" fxFlex></app-business-partner-form-field-salesdue>

      <app-business-partner-form-field-salestaxable [parentForm]="form"></app-business-partner-form-field-salestaxable>

      <app-business-partner-form-field-salestax [taxes]="taxes" [parentForm]="form"></app-business-partner-form-field-salestax>

      <app-business-partner-form-field-pricelevel [priceLevels]="priceLevels" [parentForm]="form"></app-business-partner-form-field-pricelevel>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-4">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.purchasesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-business-partner-form-field-purchasedue [parentForm]="form" fxFlex></app-business-partner-form-field-purchasedue>

      <app-business-partner-form-field-purchasetaxable [parentForm]="form"></app-business-partner-form-field-purchasetaxable>

      <app-business-partner-form-field-purchasetax [taxes]="taxes" [parentForm]="form"></app-business-partner-form-field-purchasetax>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-5">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.paymentInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
      <app-business-partner-form-field-bankaccno [parentForm]="form" fxFlex></app-business-partner-form-field-bankaccno>

        <app-business-partner-form-field-bankaccname [parentForm]="form" fxFlex></app-business-partner-form-field-bankaccname>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-6">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.taxInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-business-partner-form-field-taxregnum [parentForm]="form"></app-business-partner-form-field-taxregnum>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-7">
    <app-fieldset-collapsible-title title="{{'ui.businessPartner.form.note' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-business-partner-form-field-note [label]="false" [parentForm]="form"></app-business-partner-form-field-note>
    </app-fieldset-collapsible-content>
  </fieldset>
</div>
