<div class="form-group" [appFieldStates]="config.control">
  <label class="control-label" *ngIf="config.label">{{ config.label | translate }}</label>
  <input [type]="config.templateConfig?.type || 'text'" class="form-control" [formControl]="config.control" />
  <app-field-error [control]="config.control"></app-field-error>
</div>
