<form>
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-product-form-variant [doc]="doc" [form]="form" class="clearfix mb"></app-product-form-variant>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="close.emit(true)">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.product.createVariant.button.submit' | translate}}
    </button>
  </div>
</form>
