<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.settingsChatbot.form.name' | translate }}</label>
        <input type="text" formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('description')">
        <label class="control-label">{{'ui.settingsChatbot.form.description' | translate }}</label>
        <textarea formControlName="description" class="form-control"></textarea>
        <app-field-error [control]="form.get('description')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('channelUserId')">
        <label class="control-label">{{'ui.settingsChatbot.form.channelUserId' | translate }}</label>
        <input type="text" formControlName="channelUserId" class="form-control" />
        <app-field-error [control]="form.get('channelUserId')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('channelUserName')">
        <label class="control-label">{{'ui.settingsChatbot.form.channelUserName' | translate }}</label>
        <input type="text" formControlName="channelUserName" class="form-control" />
        <app-field-error [control]="form.get('channelUserName')"></app-field-error>
      </div>

      <div class="form-group">
        <label class="control-label">{{ 'ui.settingsChatbot.form.userId' | translate }}</label>
        <p-autoComplete #userAC formControlName="user" (onSelect)="$event && form.patchValue({ userId: $event.userId });" styleClass="wd-wide block"
          [dropdown]="true" field="userName" dataKey="userId" (onDropdownClick)="ACUserHandler.dropdown($event)" (onClear)="form.get('userId').reset()"
          (completeMethod)="ACUserHandler.search($event)" [appWrapperAC]="userAC" [appWrapperACLimit]="false">
          <ng-template let-user pTemplate="item">
            {{user.userName}}
          </ng-template>
        </p-autoComplete>
        <app-field-error [control]="form.get('userId')"></app-field-error>
      </div>
    </div>
  </ng-template>
</app-base-page>
