<div class="cb-starting-msg" *ngIf="!_.keys(conversations)">
  <img src="assets/chatbot/chat-bubble-icon-l.png" style="width:200px;">
  <h5>{{ 'ui.chatbot.startingMessage.noChannel.label' | translate}}</h5>
  <span>{{ 'ui.chatbot.startingMessage.noChannel.description' | translate}}</span>
</div>

<div class="cb-starting-msg" *ngIf="!activeConversationKey">
  <img src="assets/chatbot/chat-bubble-icon-l.png" style="width:200px;">
  <span>{{ 'ui.chatbot.startingMessage.newConversation' | translate}}</span>
</div>

<ng-container *ngFor="let channel of _.keys(conversations)">
  <ng-container *ngFor="let conversationKey of _.keys(conversations[channel])">
    <div class="agent" *ngIf="conversationKey === activeConversationKey && channel === activeConversationChannel">
      <img src="/assets/chatbot/male-chat-support.png">
      <span style="font-weight: 450;">
        {{ conversations[channel][conversationKey]?.SenderName }}
      </span>
      <span class="bot-switch">
        <span>BOT</span>
        <p-inputSwitch [(ngModel)]="isBotMode" (onChange)="switchMode($event)"></p-inputSwitch>
      </span>
    </div>
    <app-chatbot-conversation-detail *ngIf="conversationKey === activeConversationKey && channel === activeConversationChannel"
     [conversationKey]="conversationKey" [conversation]="conversations[channel][conversationKey]" [channel]="channel"></app-chatbot-conversation-detail>
  </ng-container>
</ng-container>
