<div class="form-group" [appFieldStates]="parentForm.get('defaultPurchaseInvoiceDueDays')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.defaultPurchaseInvoiceDueDays' | translate }}</label>
  <input formControlName="defaultPurchaseInvoiceDueDays" class="form-control" />
  <app-field-error [control]="parentForm.get('defaultPurchaseInvoiceDueDays')"></app-field-error>
</div>
