<div [formGroup]="form">
  <div class="form-group">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
      <div class="form-group" [appFieldStates]="form.get('billingAddress')" fxFlex>
        <label class="control-label">
        {{'ui.salesInvoice.quickForm.billingAddress' | translate}}
      </label>
        <textarea formControlName="billingAddress" class="form-control" rows="4"></textarea>
        <app-field-error [control]="form.get('billingAddress')"></app-field-error>
      </div>
      <div class="form-group" [appFieldStates]="form.get('shippingAddress')" fxFlex>
        <label class="control-label">
        {{'ui.salesInvoice.quickForm.shippingAddress' | translate}}
      </label>
        <textarea formControlName="shippingAddress" class="form-control" rows="4"></textarea>
        <app-field-error [control]="form.get('shippingAddress')"></app-field-error>
      </div>
    </div>

    <div class="form-group">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
        <div class="form-group" [appFieldStates]="form.get('shippingMethodId')" fxFlex>
          <label class="control-label">
            {{'ui.salesInvoice.quickForm.shippingMethod' | translate}}
          </label>
          <p-autoComplete #shippingMethodAC formControlName="shippingMethod" (onSelect)="$event && form.patchValue({ shippingMethodId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id"
            (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingMethodAC, shippingMethods)" 
            (completeMethod)="_autocomplete.onLocalACSearch(shippingMethodAC, shippingMethods, ['name'], $event.query)"
            [appWrapperAC]="shippingMethodAC" [appWrapperACLimit]="false">
            <ng-template let-shippingMethod pTemplate="item">
              {{shippingMethod.name}}
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('shippingMethodId')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('shippingTrackingNumber')" fxFlex>
          <label class="control-label">
            {{'ui.salesInvoice.quickForm.shippingTrackingNumber' | translate}}
          </label>
          <input type="number" formControlName="shippingTrackingNumber" class="form-control" />
          <app-field-error [control]="form.get('shippingTrackingNumber')"></app-field-error>
        </div>

        <div fxLayout="row">
          <button class="btn btn-default" style="margin-bottom: 24.5px;" fxFlex="100px" [disabled]="!form.value.shippingMethodId || !form.value.shippingTrackingNumber"
            (click)="trackWaybillModal.show()">
            {{'ui.salesInvoice.form.button.trackShipping' | translate}}
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="form.get('shippingMethod').value?.systemType === 'shipping_provider'">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
          <div class="form-group" fxFlex="160px">
            <label class="control-label">{{'ui.salesInvoice.form.shippingProviderId' | translate}}</label>
            <p-autoComplete #shippingProviderAC formControlName="shippingProvider" (onSelect)="onShippingProviderSelected($event) && form.patchValue({ shippingProviderId: $event.id });"
              styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderAC, shippingProviders)"
              (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderAC, shippingProviders, ['name'], $event.query)" [appWrapperAC]="shippingProviderAC"
              [appWrapperACLimit]="false">
              <ng-template let-shippingProvider pTemplate="item">
                {{shippingProvider.name}}
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('shippingProviderId')"></app-field-error>
          </div>
    
          <div class="form-group" fxFlex="160px">
            <label class="control-label">{{'ui.salesInvoice.form.shippingProviderProductId' | translate}}</label>
            <p-autoComplete #shippingProviderProductAC formControlName="shippingProviderProduct" (onSelect)="$event && form.patchValue({ shippingProviderProductId: $event.id });"
              styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderProductAC, shippingProviderProducts)"
              (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderProductAC, shippingProviderProducts, ['name'], $event.query)"
              [appWrapperAC]="shippingProviderProductAC" [appWrapperACLimit]="false">
              <ng-template let-shippingProviderProduct pTemplate="item">
                {{shippingProviderProduct.name}}
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('shippingProviderProductId')"></app-field-error>
          </div>
          <div class="form-group" fxFlex>          
            <div class="mb2">
              <p-checkbox formControlName="shippingInsurance" binary="true" label="{{ 'ui.salesInvoice.form.shippingInsurance' | translate }}"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
      <div class="form-group" [appFieldStates]="form.get('shippingCharge')" fxFlex>
        <label class="control-label">
          {{'ui.salesInvoice.quickForm.shippingCharge' | translate}}
        </label>
        <input type="number" formControlName="shippingCharge" class="form-control" />
        <app-field-error [control]="form.get('shippingCharge')"></app-field-error>
      </div>
      <div class="form-group" [appFieldStates]="form.get('warehouseId')" fxFlex>
        <label class="control-label">
          {{'ui.salesInvoice.quickForm.warehouse' | translate}}
        </label>
        <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });" styleClass="wd-wide"
          [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();"
           (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, warehouses)" 
           (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, warehouses, ['name'], $event.query)" [appWrapperAC]="warehouseAC" [appWrapperACLimit]="false">
          <ng-template let-warehouse pTemplate="item">
            {{warehouse.name}}
          </ng-template>
        </p-autoComplete>
        <app-field-error [control]="form.get('warehouseId')"></app-field-error>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #trackWaybillModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.salesInvoice.form.trackingDetails' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="trackWaybillModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-shipping-detail *ngIf="trackWaybillModal.isShown && form.value.shippingProviderId && form.value.shippingTrackingNumber"
              [courier]="form.value.shippingProvider" [waybill]="form.value.shippingTrackingNumber"></app-shipping-detail>
          </div>
        </div>
      </div>
    </div>
  </div>