<app-retry-dialog #retryDialog></app-retry-dialog>

<div [formGroup]="form">
  <fieldset class="collapsible" id="fieldset-1">
    <app-fieldset-collapsible-title title="{{'ui.employee.form.personalDetails' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="40px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('firstName')" fxFlex>
              <label class="control-label">{{'ui.employee.form.firstName' | translate }}</label>
              <input formControlName="firstName" class="form-control" />
              <app-field-error [control]="form.get('firstName')"></app-field-error>
            </div>

            <div class="form-group" [appFieldStates]="form.get('lastName')" fxFlex>
              <label class="control-label">{{'ui.employee.form.lastName' | translate }}</label>
              <input formControlName="lastName" class="form-control" />
              <app-field-error [control]="form.get('lastName')"></app-field-error>
            </div>
          </div>

          <div class="form-group" [appFieldStates]="form.get('displayName')">
            <label class="control-label">{{'ui.employee.form.displayName' | translate }}</label>
            <p-autoComplete #displayNameAC formControlName="displayName" styleClass="wd-wide block"
              [dropdown]="true" (completeMethod)="onDisplayNameTyped(displayNameAC, displayNamesAvailable, $event)" (onDropdownClick)="_autocomplete.onLocalACDropdown(displayNameAC, displayNamesAvailable)" [appWrapperAC]="displayNameAC"></p-autoComplete>
            <app-field-error [control]="form.get('displayName')"></app-field-error>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('gender')" fxFlex>
              <label class="control-label">{{'ui.employee.form.gender.label' | translate}}</label>
              <select formControlName="gender" class="form-control">
                <option value="m">{{'ui.employee.form.gender.m' | translate}}</option>
                <option value="f">{{'ui.employee.form.gender.f' | translate}}</option>
              </select>
              <app-field-error [control]="form.get('gender')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('dateOfBirth')" fxFlex>
              <label class="control-label">{{'ui.employee.form.dateOfBirth' | translate}}</label>
              <p-calendar formControlName="dateOfBirth" styleClass="fw" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
                [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('dateOfBirth')"></app-field-error>
            </div>
          </div>
        </div>
        <div fxFlex="200px">
          <app-img-upload [serverFiles]="doc?.picture" (onDeleteSingle)="onImageDeleted()" (onUploaded)="onImageUploaded($event)"></app-img-upload>
        </div>
      </div>

      <div class="form-group" [appFieldStates]="form.get('email')">
        <label class="control-label">{{'ui.employee.form.email' | translate }}</label>
        <input type="email" formControlName="email" class="form-control" />
        <app-field-error [control]="form.get('email')"></app-field-error>
      </div>

      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('phone')" fxFlex>
          <label class="control-label">{{'ui.employee.form.phone' | translate }}</label>
          <input type="tel" formControlName="phone" class="form-control" />
          <app-field-error [control]="form.get('phone')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('mobile')" fxFlex>
          <label class="control-label">{{'ui.employee.form.mobile' | translate }}</label>
          <input type="tel" formControlName="mobile" class="form-control" />
          <app-field-error [control]="form.get('mobile')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('fax')" fxFlex>
          <label class="control-label">{{'ui.employee.form.fax' | translate }}</label>
          <input type="number" formControlName="fax" class="form-control" />
          <app-field-error [control]="form.get('fax')"></app-field-error>
        </div>
      </div>

      <div class="form-group" [appFieldStates]="form.get('idCardNo')">
        <label class="control-label">{{'ui.employee.form.idCardNo' | translate }}</label>
        <input type="url" formControlName="idCardNo" class="form-control" />
        <app-field-error [control]="form.get('idCardNo')"></app-field-error>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-2">
    <app-fieldset-collapsible-title title="{{'ui.employee.form.address' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content formGroupName="address">
      <div class="form-group" [appFieldStates]="form.get('address').get('street1')">
        <textarea rows="4" formControlName="street1" class="form-control" placeholder="{{'ui.employee.form.placeholder.street1' | translate }}"></textarea>
        <app-field-error [control]="form.get('address').get('street1')"></app-field-error>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('address').get('city')" fxFlex>
          <input formControlName="city" class="form-control" placeholder="{{'ui.employee.form.placeholder.city' | translate }}" />
          <app-field-error [control]="form.get('address').get('city')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('address').get('stateProvince')" fxFlex>
          <input formControlName="stateProvince" class="form-control" placeholder="{{'ui.employee.form.placeholder.stateProvince' | translate }}"
          />
          <app-field-error [control]="form.get('address').get('stateProvince')"></app-field-error>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('address').get('postalCode')" fxFlex>
          <input formControlName="postalCode" class="form-control" placeholder="{{'ui.employee.form.placeholder.postalCode' | translate }}"
          />
          <app-field-error [control]="form.get('address').get('postalCode')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('address').get('countryId')" fxFlex>
          <p-autoComplete #countryAC formControlName="country" placeholder="{{'ui.employee.form.placeholder.country' | translate }}" (onSelect)="$event && form.get('address').patchValue({ countryId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="code" (onDropdownClick)="_autocomplete.onLocalACDropdown(countryAC, countries)"
            (onClear)="form.get('address').get('countryId').reset()" (completeMethod)="_autocomplete.onLocalACSearch(countryAC, countries, ['name'], $event.query)"
            [appWrapperAC]="countryAC" [appWrapperACLimit]="false">
            <ng-template let-country pTemplate="item">
              {{country.name}}
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('address').get('countryId')"></app-field-error>
        </div>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-3">
    <app-fieldset-collapsible-title title="{{'ui.employee.form.employeeInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('hireDate')" fxFlex>
          <label class="control-label">{{'ui.employee.form.hireDate' | translate}}</label>
          <p-calendar formControlName="hireDate" styleClass="fw" [showIcon]="true"></p-calendar>
          <app-field-error [control]="form.get('hireDate')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('releasedDate')" fxFlex>
          <label class="control-label">{{'ui.employee.form.releasedDate' | translate}}</label>
          <p-calendar formControlName="releasedDate" styleClass="fw" [showIcon]="true"></p-calendar>
          <app-field-error [control]="form.get('releasedDate')"></app-field-error>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('bankAccountNo')" fxFlex>
          <label class="control-label">{{'ui.employee.form.bankAccountNo' | translate }}</label>
          <input formControlName="bankAccountNo" class="form-control" />
          <app-field-error [control]="form.get('bankAccountNo')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('bankAccountName')" fxFlex>
          <label class="control-label">{{'ui.employee.form.bankAccountName' | translate }}</label>
          <input formControlName="bankAccountName" class="form-control" />
          <app-field-error [control]="form.get('bankAccountName')"></app-field-error>
        </div>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-4">
    <app-fieldset-collapsible-title title="{{'ui.employee.form.note' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div class="form-group" [appFieldStates]="form.get('note')">
        <textarea rows="5" formControlName="note" class="form-control"></textarea>
        <app-field-error [control]="form.get('note')"></app-field-error>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>
</div>
