<div #pageLoading="app-spinner" appSpinner [show]="!(compReady$ | async)"></div>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.product.import.title' | translate}}
  </span>
</div>

<app-product-import-table-browse *ngIf="(formStep$ | async) === 1" #productImportTableBrowse [(formState)]="formState"></app-product-import-table-browse>
<app-product-import-table-map-fields *ngIf="(formStep$ | async) === 2" #productImportTableMapFields [(formState)]="formState"></app-product-import-table-map-fields>
<app-product-import-map-related *ngIf="(formStep$ | async) === 3" #productImportMapRelated [(formState)]="formState" (onSkip)="formNext(true)" [(relatedData)]="relatedData"></app-product-import-map-related>
<app-product-import-table-editor *ngIf="(formStep$ | async) === 4" #productImportTableEditor [(formState)]="formState" [(relatedData)]="relatedData"></app-product-import-table-editor>

<div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
  <button type="button" class="btn btn-default" (click)="formPrev()" *ngIf="(formStep$ | async) > 1">
    {{ 'ui.button.back' | translate }}
  </button>
  <button class="btn btn-success" (click)="formNext()">
    <span *ngIf="(formStep$ | async) < maxStep">{{ 'ui.button.next' | translate }}</span>
    <span *ngIf="(formStep$ | async) === maxStep">{{ 'ui.button.import' | translate }}</span>
  </button>
</div>
