<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('customerId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.salesCreditNote.form.customerId' | translate}}
            </label>
            <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" (completeMethod)="ACCustomerHandler.search($event)"
              (onDropdownClick)="ACCustomerHandler.dropdown($event)" (onClear)="onCustomerClear()" (onSelect)="$event && onCustomerSelected($event).subscribe()"
              [dropdown]="true" [appWrapperAC]="customerAC" [disabled]="formType === 'update'">
              <ng-template let-customer pTemplate="item">
                <a *ngIf="!customer" (click)="quickCreateAC = customerAC; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="customer">
                  {{customer.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('customerId')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerEmail')" fxFlex="174px">
            <label class="control-label">
              {{'ui.salesCreditNote.form.customerEmail' | translate}}
            </label>
            <input formControlName="customerEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('customerEmail')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerMobile')" fxFlex="131px">
            <label class="control-label">
              {{'ui.salesCreditNote.form.customerMobile' | translate}}
            </label>
            <input formControlName="customerMobile" type="tel" class="form-control" />
            <app-field-error [control]="form.get('customerMobile')"></app-field-error>
          </div>
        </div>

        <div fxFlex></div>

        <div class="text-right">
          <label class="control-label">
            {{'ui.salesCreditNote.form.total' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('total').value, '') }}
          </h2>
        </div>
      </div>

      <!-- <div fxLayout="row" class="mb4" fxLayoutGap="16px" fxLayoutFill style="margin-top: -8px">
    <div>
      <label>
        <p-checkbox formControlName="useCustomCustomerName" binary="true" label="{{'ui.salesReceipt.form.useCustomCustomerName' | translate}}"></p-checkbox>
      </label>
      <app-field-error [control]="form.get('useCustomCustomerName')"></app-field-error>
    </div>
  </div> -->

      <div fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex.gt-md="516px" fxLayoutAlign="end">
          <!-- <div fxLayout="row" fxFlex="165px" fxLayoutGap="16px">
        <div *ngIf="form.get('useCustomCustomerName').value" class="form-group" [appFieldStates]="form.get('customCustomerName')" fxFlex="228px">
          <label class="control-label">
            {{'ui.salesCreditNote.form.customCustomerName' | translate}}
          </label>
          <input formControlName="customCustomerName" type="text" class="form-control" />
          <app-field-error [control]="form.get('customCustomerName')"></app-field-error>
        </div>
      </div> -->

          <div fxLayout="row" fxLayoutFill>
            <div fxFlex fxLayout="column" fxFlex.gt-md="516px">
              <div class="form-group" [appFieldStates]="form.get('description')">
                <label class="control-label">
                  {{'ui.salesCreditNote.form.description' | translate}}
                </label>
                <input formControlName="description" class="form-control" />
                <app-field-error [control]="form.get('description')"></app-field-error>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex></div>

        <div fxLayoutAlign="start end">
          <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutGap="16px">
              <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
                <label class="control-label">
                  {{'ui.salesCreditNote.form.transactionNumber' | translate}}
                </label>
                <input formControlName="transactionNumber" class="form-control" />
                <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
                <label class="control-label d-block">
                  {{'ui.salesCreditNote.form.transactionDate' | translate}}
                </label>
                <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
                <app-field-error [control]="form.get('transactionDate')"></app-field-error>
              </div>
            </div>

            <div fxLayout="row">
              <div class="form-group" [appFieldStates]="form.get('customerRefNumber')">
                <label class="control-label">
                  {{'ui.salesCreditNote.form.customerRefNumber' | translate}}
                </label>
                <input formControlName="customerRefNumber" class="form-control" />
                <app-field-error [control]="form.get('customerRefNumber')"></app-field-error>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayout="column" fxFlex="150px">
                <div class="form-group" [appFieldStates]="form.get('warehouseId')">
                  <label class="control-label">
                    {{'ui.salesCreditNote.form.warehouse' | translate}}
                  </label>
                  <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });"
                    styleClass="wd-wide" [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();"
                    (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, relatedData.warehouses)" (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, relatedData.warehouses, ['name'], $event.query)"
                    [appWrapperAC]="warehouseAC" [appWrapperACLimit]="false">
                    <ng-template let-warehouse pTemplate="item">
                      {{warehouse.name}}
                    </ng-template>
                  </p-autoComplete>
                  <app-field-error [control]="form.get('warehouseId')"></app-field-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered mt mb" style="min-width: 1208px">
          <thead>
            <tr>
              <th class="text-center">
                {{'ui.salesCreditNote.form.colNumber' | translate}}
              </th>
              <th>
                {{'ui.salesCreditNote.form.colProduct' | translate}}
              </th>
              <th>
                {{'ui.salesCreditNote.form.colDescription' | translate}}
              </th>
              <th class="text-right" width="7%">
                {{'ui.salesCreditNote.form.colQty' | translate}}
              </th>
              <th class="text-right" width="9%">
                {{'ui.salesCreditNote.form.colPrice' | translate}}
              </th>
              <th class="text-right" width="70px">
                {{'ui.salesCreditNote.form.colDiscountPercent' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesCreditNote.form.colDiscountAmount' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesCreditNote.form.colAmount' | translate}}
              </th>
              <th class="text-right" width="125px">
                {{'ui.salesCreditNote.form.colTax' | translate}}
              </th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top" #td>
                <p-autoComplete #productVariantAC formControlName="productVariant" field="name" styleClass="wd-wide" [suggestions]="productVariantsSuggestion"
                  (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)"
                  (onSelect)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()"
                  [dropdown]="true" (onClear)="onProductClear(i)" appendTo="body" [appWrapperAC]="productVariantAC">
                  <ng-template let-productVariant pTemplate="item">
                    [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                  </ng-template>
                </p-autoComplete>
                <span style="font-style: italic;" *ngIf="lineFormGroup.value.productVariant?.sku">SKU: {{lineFormGroup.value.productVariant.sku}}</span>
                <app-field-error [control]="lineFormGroup.get('productVariantId')"></app-field-error>
              </td>
              <td class="align-top">
                <textarea appAutosize formControlName="description" class="form-control" rows="1" (change)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup);"></textarea>
                <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="qty" class="form-control text-right" (change)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('qty')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="unitPrice" class="form-control text-right" (change)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('unitPrice')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, false)"
                />
                <app-field-error [control]="lineFormGroup.get('discountPercent')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, true)"
                />
                <app-field-error [control]="lineFormGroup.get('discountAmount')"></app-field-error>
              </td>
              <td class="text-right middle-text">
                {{ _accounting.ac.formatMoney(lineFormGroup.get('amount').value) }}
              </td>
              <td class="align-top">
                <p-autoComplete #taxAC formControlName="tax" (onSelect)="$event && lineFormGroup.patchValue({ taxId: $event.id });" styleClass="wd-wide block"
                  [dropdown]="true" field="code" dataKey="id" (onClear)="lineFormGroup.get('taxId').reset(); syncTax()" (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, relatedData.taxes)"
                  (completeMethod)="_autocomplete.onLocalACSearch(taxAC, relatedData.taxes, ['name'], $event.query)" (onSelect)="_salesCreditNoteForm.lineConditionalValidation(lineFormGroup); $event && syncTax()"
                  appendTo="body" [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
                  <ng-template let-tax pTemplate="item">
                    {{tax.code}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('taxId')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="8px">
            <button class="btn btn-default" (click)="addLines(1)">
              {{'ui.salesCreditNote.form.button.addLine' | translate}}
            </button>
            <button class="btn btn-default" (click)="resetLines()">
              {{'ui.salesCreditNote.form.button.clearAllLines' | translate}}
            </button>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" class="mt4">
            <div class="form-group" [appFieldStates]="form.get('customerNote')" fxFlex>
              <label class="control-label">
                {{'ui.salesCreditNote.form.customerNote' | translate}}
              </label>
              <textarea formControlName="customerNote" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('customerNote')"></app-field-error>
            </div>

            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
              <label class="control-label">
                {{'ui.salesCreditNote.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>

        <div fxFlex></div>

        <div fxLayout="column" class="mt vertical-labels" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.salesCreditNote.form.subTotal' | translate}}
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('subtotal').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesCreditNote.form.discount' | translate}}
            </div>

            <div fxFlex="195px" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="33%">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="syncTotalDiscount('discountAmount', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountPercent')"></app-field-error>
              </div>
              <div fxFlex>
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="syncTotalDiscount('discountPercent', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountAmount')"></app-field-error>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="inline-checkbox">
              <label>
                <p-checkbox formControlName="taxed" (onChange)="onTaxedToggle($event)" binary="true" label="{{ 'ui.salesCreditNote.form.taxed' | translate }}"></p-checkbox>
              </label>
            </div>

            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('taxAmount').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesCreditNote.form.adjustmentAmount' | translate}}
            </div>

            <div fxFlex="195px">
              <input type="number" formControlName="adjustmentAmount" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('adjustmentAmount')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" class="label-summary1">
            <div>
              {{'ui.salesCreditNote.form.total' | translate}}
              <app-field-error [control]="form.get('total')"></app-field-error>
            </div>
            <div fxFlex="195px" class="text-right">
              {{ _accounting.ac.formatMoney(form.get('total').value || 0) }}
            </div>
          </div>

          <div *ngIf="formType==='update'" fxLayout="row" class="mt2 label-summary1" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div>
              {{'ui.salesCreditNote.form.totalPaid' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <a (click)="paymentAndCreditListModal.show()">
                {{ _accounting.ac.formatMoney(form.get('totalPaid').value || 0) }}
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
              (click)="quickCreateModal.hide()">
              <span class="fa fa-times"></span>
            </button>
            <app-business-partner-quick-create type="customer" (afterSubmit)="onCustomerCreated($event)" (close)="quickCreateModal.hide()"></app-business-partner-quick-create>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #paymentAndCreditListModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.salesCreditNote.form.modal.totalPaid.title' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="paymentAndCreditListModal.hide()">
                <span>x</span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <app-sales-payment-credit-list *ngIf="paymentAndCreditListModal.isShown" [transaction]="doc"></app-sales-payment-credit-list>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</app-base-page>
