<div dropdown [dropup]="true" *ngIf="component.autoprintButtons.length">
  <button dropdownToggle class="btn dropdown-toggle ripple btn-default">
    <span class="mi mi-print icon-lg"></span>
    <span>
      {{ 'ui.button.print' | translate }}
    </span>
    <span class="caret"></span>
  </button>

  <ul *dropdownMenu class="dropdown-menu dropdown-menu-left">
    <li class="autoprint autoprint-label">
      {{'ui.autoPrint' | translate}}
    </li>

    <li class="autoprint" *ngFor="let autoprintButton of component.autoprintButtons">
      <label>
        <p-checkbox [(ngModel)]="autoprintButton.checkboxConfigModel.value" (ngModelChange)="_userVariable.update()" binary="true"
          label="{{autoprintButton.checkboxLabel | translate}}"></p-checkbox>
      </label>
    </li>

    <li class="divider divider-autoprint"></li>

    <li *ngFor="let autoprintButton of component.autoprintButtons">
      <a (click)="autoprintButton.onPreview(autoprintButton)">
        {{autoprintButton.previewLabel | translate}}
      </a>
    </li>
  </ul>
</div>
