<div appSpinner [show]="loading" [stretchToMain]="false" [parent]="paymentAndCreditList"></div>
<div #paymentAndCreditList>
  <div class="label-summary2 mb3">
    {{'ui.transaction.type.' + transaction.transactionType | translate}} #{{transaction.transactionNumber}}
  </div>

  <div class="table-responsive">
    <table class="table table-s2">
      <thead>
        <tr>
          <th>{{'ui.purchases.paymentAndCreditList.no' | translate}}</th>
          <th>{{'ui.purchases.paymentAndCreditList.transactionNumber' | translate}}</th>
          <th>{{'ui.purchases.paymentAndCreditList.paymentDate' | translate}}</th>
          <th class="text-right">{{'ui.purchases.paymentAndCreditList.paymentAmount' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pc of paymentAndCredits; let idx=index">
          <td class="middle-text">{{idx + 1}}</td>
          <td class="middle-text">{{pc.offsetTransactionNumber || '-'}}</td>
          <td class="middle-text">{{(pc.offsetTransactionDate | date:'dd/MM/y') || '-'}}</td>
          <td class="middle-text text-right">{{_accounting.ac.formatMoney(pc.amount || 0)}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="label-summary1">
          <td colspan="2"></td>
          <td>{{'ui.purchases.paymentAndCreditList.total' | translate}}</td>
          <td class="text-right">{{_accounting.ac.formatMoney(total || 0)}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
