<div *ngIf="contentTemplate" class="mb4">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</div>

<ng-container *ngIf="footerTemplate">
  <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</ng-container>

<ng-container *ngIf="!footerTemplate">
  <app-base-entry-footer [component]="component"></app-base-entry-footer>
</ng-container>