<ng-container *ngFor="let channel of _.keys(conversations)">
  <ul>
    <li *ngFor="let conversationKey of _.keys(conversations[channel])">
      <app-chatbot-conversation-teaser [conversationKey]="conversationKey" [conversation]="conversations[channel][conversationKey]" [channel]="channel"></app-chatbot-conversation-teaser>
    </li>
  </ul>
</ng-container>
