<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.purchasesPayment.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
      <span [ngClass]="(doc.status=='open')?'text-success':'text-danger'">{{( doc.status || '').toUpperCase() }}</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn ripple btn-default" (click)="reportModal.show()">
        <span class="mi mi-print icon-lg"></span>
        <span>
          {{ 'ui.button.print' | translate }}
        </span>
      </button>

      <button class="btn btn-primary" routerLink="update" [disabled]="doc.state === 'voided'">
        {{'ui.button.edit' | translate}}
      </button>

      <div dropdown>
        <button dropdownToggle type="button" class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="journalModal.show()">
              {{'ui.purchasesPayment.detail.action.transactionJournal' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutGap="95px">
      <div fxLayout="column">
        <table class="no-border">
          <tbody>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesPayment.detail.vendorName' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.vendor?.displayName || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesPayment.detail.email' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.vendorEmail || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesPayment.detail.paymentMethod' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.paymentMethod?.name || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesPayment.detail.payFrom' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.paymentAccount?.name || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesPayment.detail.date' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{(doc?.transactionDate | date:'dd/MM/y') || '-'}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start end">
      <label class="control-label">
        {{'ui.purchasesPayment.detail.amount' | translate}}
      </label>
      <h2 class="m0 fs40">
        {{ _accounting.ac.formatMoney(doc.paymentAmount, '') }}
      </h2>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered mt mb" style="min-width: 1208px">
      <thead>
        <tr>
          <th class="text-center">
            {{'ui.purchasesPayment.form.colNumber' | translate}}
          </th>
          <th>
            {{'ui.purchasesPayment.form.colDescription' | translate}}
          </th>
          <th class="text-center">
            {{'ui.purchasesPayment.form.colDueDate' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesPayment.form.colOriginalAmount' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesPayment.form.colBalanceDue' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesPayment.form.colAmount' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index;">
          <td class="text-center middle-text">
            {{i + 1}}
          </td>
          <td class="middle-text">
            {{'ui.purchases.types.' + line.transactionType | translate}} #{{line.transaction?.transactionNumber}}
          </td>
          <td class="text-center middle-text">
            -
          </td>
          <td class="middle-text text-right">
            {{ _accounting.ac.formatMoney(line.transaction?.total || 0) }}
          </td>
          <td class="middle-text text-right">
            {{ _accounting.ac.formatMoney(0) }}
          </td>
          <td class="middle-text text-right">
            {{ _accounting.ac.formatMoney(line.paymentAmount || 0) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" class="mt pt">
    <div fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="250px">
        <label class="control-label">
          {{'ui.purchasesPayment.detail.vendorNote' | translate}}
        </label>
        <div class="text-justify">
          {{doc?.vendorNote || '-'}}
        </div>
      </div>

      <div fxFlex="250px">
        <label class="control-label">
          {{'ui.purchasesPayment.detail.note' | translate}}
        </label>
        <div class="text-justify">
          {{doc?.note || '-'}}
        </div>
      </div>
    </div>

    <div fxFlex></div>

    <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
        <div class="control-label">
          {{'ui.purchasesPayment.detail.total' | translate}}
        </div>
        <div fxFlex="195px" class="text-right">
          {{ _accounting.ac.formatMoney(doc.paymentAmount) }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <div style="padding: 24px 40px">
            <app-report-viewer [config]="{templateCode: 'PP001'}" [data]="doc" initDisplay="pdf"></app-report-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.purchasesPayment.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>