:host {
  ul {
    padding-left: 0;
    list-style-type: none;
    >li {
      cursor: pointer;
      margin-bottom: 22px;
      color: #9b9b9b;
      font-size: 16px;
      font-weight: 300;
      .nav-number {
        line-height: 35px;
        margin-right: 15px;
        border: 2px solid #9b9b9b;
        width: 38px;
        height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
      }
      .nav-name {
        display: inline-block;
      }
      &.active {
        color: #676767;
        font-weight: 500;
        .nav-number {
          line-height: 35px;
          color: #fff;
          font-weight: 500;
          background-color: #5796e0;
          border: 2px solid #5796e0;
        }
      }
      &:hover {
        color: #6f8094;
        font-weight: 400;
        .nav-number {
          color: #6f8094;
          font-weight: 200;
          background-color: #fff;
          border: 2px solid #9b9b9b;
        }
      }
    }
  }
}
