<ul>
  <li (click)="goto(nav.target)" *ngFor="let nav of navigations; let i = index;" id="nav-{{i}}">
    <span class="nav-number">
      {{i + 1}}
    </span>
    <span class="nav-name">
      {{nav.name}}
    </span>
  </li>
</ul>
