<div class="form-group" [appFieldStates]="parentForm.get('variants')['controls'][0]['get']('unitCost')" *ngIf="parentForm && parentForm.get('variants')['length']" [formGroup]="parentForm.get('variants')['controls'][0]">
  <label class="control-label" *ngIf="label">{{'ui.product.form.purchaseUnitCost' | translate}}</label>
  <input formControlName="unitCost" type="number" class="form-control"/>
  <app-field-error [control]="parentForm.get('variants')['controls'][0]['get']('unitCost')"></app-field-error>
</div>
