<div [formGroup]="parentForm" [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsSales.form.shipping' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px" [formGroup]="parentForm">
      <ul class="form-flex">
        <li>
          <p-checkbox formControlName="shipping" binary="true" label="{{('ui.settingsSales.form.shipping' | translate)}}"></p-checkbox>
          <app-field-error [control]="parentForm.get('shipping')"></app-field-error>
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderName' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group" [appFieldStates]="parentForm.get('shippingSenderName')">
              <input formControlName="shippingSenderName" class="form-control" />
              <app-field-error [control]="parentForm.get('shippingSenderName')"></app-field-error>
            </div>
          </div>
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderPhoneNumber' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group" [appFieldStates]="parentForm.get('shippingSenderPhoneNumber')">
              <input formControlName="shippingSenderPhoneNumber" class="form-control" />
              <app-field-error [control]="parentForm.get('shippingSenderPhoneNumber')"></app-field-error>
            </div>
          </div>
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderEmail' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group" [appFieldStates]="parentForm.get('shippingSenderEmail')">
              <input formControlName="shippingSenderEmail" class="form-control" />
              <app-field-error [control]="parentForm.get('shippingSenderEmail')"></app-field-error>
            </div>
          </div>
        </li>
      </ul>

      <div class="mt4" style="margin-left:242px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm; parentForm.patchValue(doc)">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsSales.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <p-checkbox formControlName="shipping" binary="true" [disabled]="true" label="{{('ui.settingsSales.form.shipping' | translate)}}"></p-checkbox>            
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderName' | translate}}</label>
          {{doc?.shippingSenderName || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderPhoneNumber' | translate}}</label>
          {{doc?.shippingSenderPhoneNumber || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsSales.form.shippingSenderEmail' | translate}}</label>
          {{doc?.shippingSenderEmail ||'-'}}
        </li>
      </ul>

      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
</div>
