<div [formGroup]="form">
  <div class="form-group" [appFieldStates]="form.get('displayName')">
    <label class="control-label">
      {{'ui.businessPartner.quickForm.displayName' | translate}}
    </label>
    <input formControlName="displayName" class="form-control" />
    <app-field-error [control]="form.get('displayName')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('email')">
    <label class="control-label">
      {{'ui.businessPartner.quickForm.email' | translate}}
    </label>
    <input type="email" formControlName="email" class="form-control" />
    <app-field-error [control]="form.get('email')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('phone')">
    <label class="control-label">
      {{'ui.businessPartner.quickForm.phone' | translate}}
    </label>
    <input type="tel" formControlName="phone" class="form-control" />
    <app-field-error [control]="form.get('phone')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('mobile')">
    <label class="control-label">
      {{'ui.businessPartner.quickForm.mobile' | translate}}
    </label>
    <input type="tel" formControlName="mobile" class="form-control" />
    <app-field-error [control]="form.get('mobile')"></app-field-error>
  </div>
</div>