<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.settingsIntegration.title' | translate}}
  </span>
</div>

<app-settings-tabs></app-settings-tabs>

<div *ngFor="let settingItem of settingItems" class="group-container">
  <div class="item-container" *ngFor="let item of settingItem">
    <div class="item-list" [routerLink]="item.link">
        <img [src]="item.icon">
        <strong>{{ item.i18nTitle | translate }}</strong>
    </div>
  </div>
</div>