.group-container {
  height:180px;
  .item-container {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    width: 23%;
    :first-child {
      margin-left: 0;
    }
    .item-list {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    text-align: center;
      img{
        width: 100px;
        margin-bottom: 10px;
      }
      strong{
        display: block;
      }
    }
  }
}