<div appSpinner [show]="!credits" [stretchToMain]="false" [parent]="creditList"></div>
<div #creditList>
  <div class="label-summary2 mb3">
    {{'ui.transaction.type.' + transaction.transactionType | translate}} #{{transaction.transactionNumber}}
  </div>

  <div class="table-responsive" *ngIf="credits">
    <table class="table table-s2">
      <thead>
        <tr>
          <th>{{'ui.sales.creditList.no' | translate}}</th>
          <th>{{'ui.sales.creditList.description' | translate}}</th>
          <th>{{'ui.sales.creditList.transactionDate' | translate}}</th>
          <th class="text-right">{{'ui.sales.creditList.amount' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let credit of credits; let idx=index">
          <td class="middle-text">{{idx + 1}}</td>
          <td class="middle-text">{{credit.transactionNumber || '-'}}</td>
          <td class="middle-text">{{(credit.transactionDate | date:'dd/MM/y') || '-'}}</td>
          <td class="middle-text text-right">{{_accounting.ac.formatMoney(credit.total || 0)}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="label-summary1">
          <td colspan="2"></td>
          <td>{{'ui.sales.creditList.total' | translate}}</td>
          <td class="text-right">{{_accounting.ac.formatMoney(total || 0)}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>