<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.salesOrder.moreFilter.from' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>

    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.salesOrder.moreFilter.to' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="220px">
      <label class="control-label">
        {{'ui.salesOrder.moreFilter.customerId' | translate}}
      </label>
      <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" (onSelect)="$event && form.get('customerId').setValue($event.id)"
        (completeMethod)="ACCustomerHandler.search($event)" [dropdown]="true" (onDropdownClick)="ACCustomerHandler.dropdown($event)" field="displayName"
        [appWrapperAC]="customerAC"></p-autoComplete>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end start">
    <button class="btn btn-default" type="reset">
      {{'ui.button.reset' | translate}}
    </button>

    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>
</form>
