<div appSpinner [show]="!downPayments.length" [stretchToMain]="false" [parent]="purchasesDownPaymentQuickList"></div>
<div #purchasesDownPaymentQuickList>
  <div class="label-summary2 mb3">
    {{'ui.transaction.type.' + transaction.transactionType | translate}} #{{transaction.transactionNumber}}
  </div>

  <div class="table-responsive">
    <table class="table table-s2">
      <thead>
        <tr>
          <th>{{'ui.purchasesDownPayment.quickList.no' | translate}}</th>
          <th>{{'ui.purchasesDownPayment.quickList.description' | translate}}</th>
          <th>{{'ui.purchasesDownPayment.quickList.transactionDate' | translate}}</th>
          <th class="text-right">{{'ui.purchasesDownPayment.quickList.amount' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let downPayment of downPayments; let idx=index">
          <td class="middle-text">{{idx + 1}}</td>
          <td class="middle-text">{{downPayment.transactionNumber || '-'}}</td>
          <td class="middle-text">{{(downPayment.transactionDate | date:'dd/MM/y') || '-'}}</td>
          <td class="middle-text text-right">{{_accounting.ac.formatMoney(downPayment.total || 0)}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="label-summary1">
          <td colspan="2"></td>
          <td>{{'ui.purchasesDownPayment.quickList.total' | translate}}</td>
          <td class="text-right">{{_accounting.ac.formatMoney(total || 0)}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>