<app-retry-dialog #retryDialog></app-retry-dialog>

<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" [appFieldStates]="form.get('description')" fxFlex="517px">
      <label class="control-label">
        {{'ui.journalEntry.form.description' | translate}}
      </label>
      <input formControlName="description" class="form-control"/>
      <app-field-error [control]="form.get('description')"></app-field-error>
    </div>

    <div fxFlex></div>

    <div fxLayoutAlign="start end" fxLayoutGap="16px">
      <div class="form-group" [appFieldStates]="form.get('transactionNumber')" fxFlex="150px">
        <label class="control-label">
          {{'ui.journalEntry.form.journalNumber' | translate}}
        </label>
        <input formControlName="transactionNumber" class="form-control" />
        <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxFlex="150px">
        <label class="control-label">
          {{'ui.journalEntry.form.journalDate' | translate}}
        </label>
        <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
        <app-field-error [control]="form.get('transactionDate')"></app-field-error>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered mt mb">
      <thead>
        <tr>
          <th class="text-center" width="66px">
            {{'ui.journalEntry.form.colNumber' | translate}}
          </th>
          <th width="218px">
            {{'ui.journalEntry.form.colAccount' | translate}}
          </th>
          <th width="575px">
            {{'ui.journalEntry.form.colDescription' | translate}}
          </th>
          <th class="text-right" width="130px">
            {{'ui.journalEntry.form.colDebits' | translate}}
          </th>
          <th class="text-right" width="130px">
            {{'ui.journalEntry.form.colCredits' | translate}}
          </th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
          <td class="text-center middle-text">
            {{i + 1}}
          </td>
          <td class="align-top">
            <p-autoComplete #accountAC formControlName="account" (onSelect)="$event && lineFormGroup.patchValue({ accountId: $event.id });" styleClass="wd-wide block"
              [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(accountAC, accounts)"
              (onSelect)="_journalEntry.lineConditionalValidation(lineFormGroup);" (completeMethod)="_autocomplete.onLocalACSearch(accountAC, accounts, ['name'], $event.query)"
              appendTo="body" [appWrapperAC]="accountAC" [appWrapperACLimit]="false">
              <ng-template let-account pTemplate="item">
                [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
              </ng-template>  
            </p-autoComplete>
            <app-field-error [control]="lineFormGroup.get('accountId')"></app-field-error>
          </td>
          <td class="align-top">
            <input formControlName="description" class="form-control" (change)="_journalEntry.lineConditionalValidation(lineFormGroup)"
            />
            <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
          </td>
          <td class="align-top">
            <input type="number" formControlName="debit" class="form-control text-right" (change)="_journalEntry.lineConditionalValidation(lineFormGroup); syncTotalDebit()"
            />
            <app-field-error [control]="lineFormGroup.get('debit')"></app-field-error>
          </td>
          <td class="align-top">
            <input type="number" formControlName="credit" class="form-control text-right" (change)="_journalEntry.lineConditionalValidation(lineFormGroup); syncTotalCredit()"
            />
            <app-field-error [control]="lineFormGroup.get('credit')"></app-field-error>
          </td>
          <td class="text-center middle-text">
            <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt" fxLayout="row">
    <div fxFlex fxLayout="column">
      <div fxFlex="150px">
        <div fxLayout="row" fxLayoutGap="8px">
          <button class="btn btn-default" (click)="addLines(1)">
            {{'ui.salesCreditNote.form.button.addLine' | translate}}
          </button>
          <button class="btn btn-default" (click)="resetLines()">
            {{'ui.salesCreditNote.form.button.clearAllLines' | translate}}
          </button>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="mt">
        <div class="form-group" [appFieldStates]="form.get('note')" fxFlex="250px">
          <label class="control-label">
            {{'ui.journalEntry.form.note' | translate}}
          </label>
          <textarea formControlName="note" class="form-control" rows="6"></textarea>
          <app-field-error [control]="form.get('note')"></app-field-error>
        </div>
      </div>
    </div>

    <div fxFlex></div>

    <div fxLayout="column" class="mt" fxLayoutAlign="start end" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="46px">
        <div class="control-label">
          {{'ui.journalEntry.form.totalDebit' | translate}}
        </div>
        <div fxFlex="195px" class="text-right control-label">
          {{ _accounting.ac.formatMoney(form.get('totalDebit').value) }}
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="46px">
        <div class="control-label">
          {{'ui.journalEntry.form.totalCredit' | translate}}
        </div>
        <div fxFlex="195px" class="text-right control-label">
          {{ _accounting.ac.formatMoney(form.get('totalCredit').value) }}
        </div>
      </div>
    </div>
  </div>
</div>
