<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="80%">
      <div class="form-group">
        <label class="control-label">
          {{'ui.paymentMethod.creditInfoForm.cardNumber' | translate}}
        </label>
        <input class="form-control" type="number" />
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" fxFlex>
          <label class="control-label">
            {{'ui.paymentMethod.creditInfoForm.expiryMonth' | translate}}
          </label>
          <input class="form-control" type="number" min="1" max="30" />
        </div>
        <div class="form-group" fxFlex>
          <label class="control-label">
            {{'ui.paymentMethod.creditInfoForm.expiryYear' | translate}}
          </label>
          <input class="form-control" type="number" />
        </div>
      </div>
    </div>

    <div class="form-group" fxFlex>
      <label class="control-label">
        {{'ui.paymentMethod.creditInfoForm.cvcCode' | translate}}
      </label>
      <input class="form-control" type="number" />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">
      {{'ui.paymentMethod.creditInfoForm.name' | translate}}
    </label>
    <input type="text" class="form-control" />
  </div>
</div>
