<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <app-product-import-channel-fetch *ngIf="(formStep$ | async) === 1" #productImportChannelFetch [(formState)]="formState" [salesChannelAccount]="salesChannelAccount" [masterPage]="page"></app-product-import-channel-fetch>
    <app-product-import-map-related *ngIf="(formStep$ | async) === 2" #productImportMapRelated [(formState)]="formState" (onSkip)="formNext(true)" [(relatedData)]="relatedData"></app-product-import-map-related>
    <app-product-import-channel-editor *ngIf="(formStep$ | async) === 3" #productImportChannelEditor [(formState)]="formState" [(relatedData)]="relatedData" [salesChannelAccount]="salesChannelAccount" [masterPage]="page"></app-product-import-channel-editor>

    <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
      <button type="button" class="btn btn-default" (click)="formPrev()" *ngIf="(formStep$ | async) > 1">
        {{ 'ui.button.back' | translate }}
      </button>
      <button class="btn btn-success" (click)="formNext()">
        <span *ngIf="(formStep$ | async) < maxStep">{{ 'ui.button.next' | translate }}</span>
        <span *ngIf="(formStep$ | async) === maxStep">{{ 'ui.button.import' | translate }}</span>
      </button>
    </div>
  </ng-template>
</app-base-page>
