<form [formGroup]="form">
  <div class="form-group">
    <input type="text" class="form-control" formControlName="transactionNumber" placeholder="{{'ui.sales.findInvoiceByNumber.transactionNumber' | translate}}"/>
    <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
    <button type="button" class="btn btn-default" fxFlex (click)="cancel.emit(true)">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" fxFlex (click)="onSubmit()">
      {{'ui.sales.findInvoiceByNumber.button.submit' | translate}}
    </button>
  </div>
</form>