<div [formGroup]="form" *ngIf="relatedDataReady">
  <fieldset class="collapsible" id="fieldset-1">
    <app-fieldset-collapsible-title title="{{'ui.product.form.productDetails' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="16px">
            <app-product-form-field-name [parentForm]="form" fxFlex></app-product-form-field-name>

            <app-product-form-field-sku [parentForm]="form" fxFlex></app-product-form-field-sku>
          </div>

          <app-product-form-field-category [parentForm]="form" [categories]="relatedData.categories"></app-product-form-field-category>

          <div fxLayout="row" fxLayoutGap="16px">
            <app-product-form-field-brand [parentForm]="form" [brands]="relatedData.productBrands" fxFlex></app-product-form-field-brand>

            <app-product-form-field-model [parentForm]="form" fxFlex></app-product-form-field-model>
          </div>

          <app-product-form-field-uoms [singleUOM]="true" [selectedUOMS]="selectedUOMS" [parentForm]="form" [doc]="doc" [uoms]="relatedData.uoms"></app-product-form-field-uoms>

          <app-product-form-field-tags [parentForm]="form"></app-product-form-field-tags>
        </div>
        <app-img-upload fxFlex="200px" [multiple]="true" [serverFiles]="doc?.pictures" (onUploaded)="onImageUploaded($event)" (onDeleted)="onImageDeleted($event)"
          (onPrimaryChange)="onImagePrimaryChange($event)"></app-img-upload>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-sales-info">
    <app-fieldset-collapsible-title title="{{'ui.product.form.salesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-sales-sellable [parentForm]="form"></app-product-form-field-sales-sellable>

      <app-product-form-field-prices singleInputLabel="{{'ui.product.form.salesPrice' | translate}}" [parentForm]="form.get('variants')['controls'][0]"
        [priceLevels]="relatedData.priceLevels" [selectedUOMS]="selectedUOMS" [doc]="doc"></app-product-form-field-prices>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-sales-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-sales-tax>

        <app-product-form-field-sales-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-sales-account>
      </div>

      <app-product-form-field-sales-description [parentForm]="form" widget="html"></app-product-form-field-sales-description>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-purchases-info">
    <app-fieldset-collapsible-title title="{{'ui.product.form.purchasesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-purchases-purchasable [parentForm]="form"></app-product-form-field-purchases-purchasable>
      
      <app-product-form-field-purchases-price [parentForm]="form"></app-product-form-field-purchases-price>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-purchases-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-purchases-tax>

        <app-product-form-field-purchases-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-purchases-account>
      </div>

      <app-product-form-field-purchases-description [parentForm]="form"></app-product-form-field-purchases-description>
    </app-fieldset-collapsible-content>
  </fieldset>
</div>
