<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.paymentMethod.list.title' | translate}}
  </span>
  <div class="btn-actions">
    <div dropdown>
      <button type="button" class="btn dropdown-toggle ripple btn-success">
        <span fxFlex class="text-left" [routerLink]="['create']">{{'ui.button.create' | translate}}</span>
        <span class="caret" dropdownToggle></span>
      </button>
    </div>
  </div>
</div>

<div class="table-filter">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" [(ngModel)]="combinedFilterValues" (keyup.enter)="onGridChange()" placeholder="{{'ui.paymentMethod.list.filter.combined' | translate}}"
    />
    <span class="fa fa-search form-control-feedback"></span>
  </div>
</div>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
  [reorderableColumns]="true" [resizableColumns]="true" dataKey="id">
  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
  <p-column field="name" header="{{'ui.paymentMethod.list.column.name' | translate}}" sortable="true"></p-column>
  <p-column field="paymentMethodType" header="{{'ui.paymentMethod.list.column.paymentMethodType' | translate}}" sortable="true">
    <ng-template let-paymentMethod="rowData" let-col pTemplate="body">
      {{'ui.paymentMethod.list.column.paymentMethodTypeOption.' + paymentMethod[col.field] | translate}}
    </ng-template>
  </p-column>
  <p-column styleClass="col-operations">
    <ng-template let-paymentMethod="rowData" pTemplate="body">
      <div dropdown container="body">
        <a class="dropdown-toggle">
          <span [routerLink]="[paymentMethod.id, 'update']">{{'ui.action.edit' | translate}}</span>
          <span class="caret" dropdownToggle></span>
        </a>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="tbl-pager-toolbar-label mr">
    <span>
      {{'ui.pagination.limit' | translate}}
    </span>
  <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
      <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
    </select>
  </span>

  <span class="hdivider mr"></span>

  <span class="tbl-pager-toolbar-label" fxFlex>
    {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
  </span>

  <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
    (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
</div>
