<div [ngClass]="tableColumn.classes ? tableColumn.classes(value, record) : ''">
  <div #dynamicTemplate *ngIf="tableColumn.template"></div>

  <div *ngIf="!tableColumn.template">
    <div *ngIf="!tableColumn.link">
      {{ value }}
    </div>
    <a *ngIf="tableColumn.link" [routerLink]="tableColumn.link(record)">
      {{ value }}
    </a>
  </div>
</div>
