<div fxLayout="row" style="margin-top:20px">
  <div fxFlex="90">
    <h4 style="margin:0px">Sales Channels</h4>
  </div>
  <div fxFlex="10" style="text-align:right">
    <a (click)="addChannelModal.show()" style="text-decoration:none; font-size:16px">
      <b>+ Add Channel</b>
    </a>
  </div>
</div>
<hr />
<div>
  <div class="mt2" *ngIf="!selectedAccounts || !selectedAccounts.length">
    You have not added any sales channels.
    <a (click)="addChannelModal.show()">Add now</a>
  </div>

  <p-tabView *ngIf="selectedAccounts && selectedAccounts.length" (onClose)="onCloseTab($event)">
    <ng-container *ngFor="let selectedAccount of selectedAccounts; let selectedAccountIdx = index">
      <p-tabPanel headerStyleClass="tab-{{selectedAccount.account?.channelId}}" header="{{selectedAccount.account?.name || selectedAccount.account?.channelName}}"
        [closable]="true">
        <ng-container *ngIf="selectedAccount.formType === 'create' || (selectedAccount.formType === 'update' && selectedAccount.product)">
          <app-product-form-channel-webstore #formSalesChannel [formType]="selectedAccount.formType" [account]="selectedAccount.account"
            [productForm]="productForm" [productChannel]="selectedAccount.product" [masterPage]="masterPage" *ngIf="selectedAccount.account.channelAccountType === 'webstore'"></app-product-form-channel-webstore>
          <app-product-form-channel-marketplace #formSalesChannel [formType]="selectedAccount.formType" [account]="selectedAccount.account"
            [productForm]="productForm" [productChannel]="selectedAccount.product" [masterPage]="masterPage" *ngIf="selectedAccount.account.channelAccountType === 'marketplace'"></app-product-form-channel-marketplace>
        </ng-container>
      </p-tabPanel>
    </ng-container>
  </p-tabView>
</div>

<div class="modal fade" bsModal #addChannelModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.product.form.fieldsetChannel.selectTitle' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="addChannelModal.hide()">
            <div>x</div>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-product-form-channel-select [accounts]="accounts" [preSelectedAccounts]="selectedAccounts" (cancel)="addChannelModal.hide()"
            (submit)="onSelectedAccounts($event)"></app-product-form-channel-select>
        </div>
      </div>
    </div>
  </div>
</div>
