<div class="form-group" [appFieldStates]="parentForm.get('countryId')" [formGroup]="parentForm">
  <p-autoComplete #countryAC placeholder="{{'ui.businessPartner.form.placeholder.country' | translate }}" formControlName="country" (onSelect)="$event && parentForm.patchValue({ countryId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="code"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(countryAC, countries)" (onClear)="parentForm.get('countryId').reset()"
    (completeMethod)="_autocomplete.onLocalACSearch(countryAC, countries, ['name'], $event.query)" [appWrapperAC]="countryAC" [appWrapperACLimit]="false">
    <ng-template let-country pTemplate="item">
      {{country.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('countryId')"></app-field-error>
</div>
