<div class="block mb" [formGroup]="form">
  <div class="mb">{{'ui.sales.parse.similar.description' | translate}}</div>

  <div class="mb pb">
    <h6 class="mt0 mb1"><strong>{{'ui.sales.parse.similar.customer' | translate}}</strong></h6>
    <div class="mb">
      <span *ngIf="formState[1].parsedData.customerName" class="mr">{{formState[1].parsedData.customerName}}</span>
      <span *ngIf="formState[1].parsedData.customerEmail" class="mr">{{formState[1].parsedData.customerEmail}}</span>
      <span *ngIf="formState[1].parsedData.customerMobile" class="mr">{{formState[1].parsedData.customerMobile}}</span>
    </div>

    <ul class="list-unstyled">
      <li *ngFor="let customer of formState[1].customers" class="mb">
        <label fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start top" style="font-weight: normal;">
          <input type="radio" formControlName="customer" [value]="customer" fxFlex="20px" />
          <div fxLayout="column">
            <strong fxFlex>
              {{customer.displayName}}
            </strong>
            <span *ngIf="customer.email" class="text-muted">
              {{customer.email}}
            </span>
            <span *ngIf="customer.mobile" class="text-muted">
              {{customer.mobile}}
            </span>
          </div>
        </label>
      </li>
      <li>
        <label fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start top" style="font-weight: normal;">
          <input type="radio" formControlName="customer" value="" fxFlex="20px"/>
          <strong fxFlex>
            {{'ui.sales.parse.similar.asNewCustomer' | translate}}
          </strong>
        </label>
      </li>
    </ul>
  </div>

  <div>
    <h6 class="mt0"><strong>{{'ui.sales.parse.similar.products' | translate}}</strong></h6>

    <ul class="list-unstyled">
      <li *ngFor="let product of formState[1].lines; let i=index" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center"
        class="mb" [formGroup]="form.get('lines').at(i)">
        <div fxFlex>
          {{product.parseText}}
        </div>
        <div fxFlex class="text-center">
          <span class="mi mi-arrow-forward icon-lg"></span>
        </div>
        <div fxFlex>
          <p-autoComplete #productVariantAC formControlName="productVariant" field="name" [suggestions]="productVariantsSuggestion" [dropdown]="true"
            (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)" [appWrapperAC]="productVariantAC"></p-autoComplete>
        </div>
        <div>
          <p-checkbox formControlName="ignore" binary="true" label="{{'ui.sales.parse.similar.ignoreProduct' | translate}}"></p-checkbox>
        </div>
      </li>
    </ul>
  </div>
</div>
