<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.productTag.list.title' | translate}}
  </span>
  <div class="btn-actions">
    <div dropdown>
      <button type="button" class="btn dropdown-toggle ripple btn-success">
        <span fxFlex class="text-left" [routerLink]="['create']">{{'ui.button.create' | translate}}</span>
        <span class="caret" dropdownToggle></span>
      </button>
    </div>
  </div>
</div>

<div class="table-filter" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <div class="form-group has-feedback">
    <input type="text" class="form-control" [(ngModel)]="combinedFilterValues" (keyup.enter)="onGridChange()" placeholder="{{'ui.productTag.list.filter.combined' | translate}}"
    />
    <span class="fa fa-search form-control-feedback"></span>
  </div>

  <div fxFlex></div>

  <button title="{{ 'ui.button.refresh' | translate }}" class="btn p0 btn-action-icon btn-data-table-refresh" (click)="onGridChange()"></button>

  <div title="{{ 'ui.button.export' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-exporter" dropdownToggle>
      <span class=""></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <li>
        <a (click)="exportPDF()">
            {{'ui.export.pdf' | translate}}
          </a>
      </li>
      <li>
        <a (click)="exportExcel()">
            {{'ui.export.excel' | translate}}
          </a>
      </li>
    </ul>
  </div>

  <div title="{{ 'ui.button.settings' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-toggler" dropdownToggle>
      <span class=""></span>
    </button>

    <div (click)="$event.stopPropagation()" class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <div class="pl pr dropdown-muted-label">
        {{'ui.columns' | translate}}
      </div>
      <p-listbox styleClass="listbox-columns-toggle" [checkbox]="true" [metaKeySelection]="false" [multiple]="true" [options]="tableColumnsToggle.options"
        [(ngModel)]="tableColumnsToggle.toggled"></p-listbox>
    </div>
  </div>

</div>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
  [reorderableColumns]="true" [resizableColumns]="true" dataKey="id">

  <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

  <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
    [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
    <ng-template let-col let-row="rowData" pTemplate="body">
      <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
    </ng-template>
  </p-column>

  <p-column styleClass="col-operations">
    <ng-template let-productTag="rowData" pTemplate="body">
      <div dropdown container="body">
        <a class="dropdown-toggle">
          <span [routerLink]="[productTag.id, 'update']">
            {{'ui.action.edit' | translate}}
          </span>
          <span class="caret" dropdownToggle></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a (click)="showDeleteDialog(productTag.id)">{{'ui.action.delete' | translate}}</a></li>
        </ul>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="tbl-pager-toolbar-label mr">
    <span>
      {{'ui.pagination.limit' | translate}}
    </span>
  <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
      <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
    </select>
  </span>

  <span class="hdivider mr"></span>

  <span class="tbl-pager-toolbar-label" fxFlex>
    {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
  </span>

  <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
    (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
</div>
