app-shipping-detail {
  .cmp-title1,
  .cmp-title2,
  .cmp-subtitle {
    text-align: center;
  }
  .cmp-title1 {
    font-size: 30px;
    letter-spacing: 0.8px;
    margin-bottom: 7px;
  }
  .cmp-title-courier {
    font-size: 24px;
    letter-spacing: 0.8px;
    font-weight: 500;    
    margin-bottom: 7px;
    text-align: center;
  }
  .cmp-subtitle {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
  }
  .cmp-title2 {
    font-size: 24px;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
  }
  .cmp-table-summary {
    max-width: 85%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    th,
    td {
      text-align: center;
    }
    th {
      border-top: none!important;
      border-bottom: 1px solid #ddd;
    }
  }
}
