<div #pageLoading="app-spinner" appSpinner [show]="!compReady" [stretchToMain]="false" [parent]="shippingDetailContainer"></div>

<div #shippingDetailContainer style="min-height:20vh">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>
  
  <div *ngIf="doc">
    <div class="cmp-title-courier">
      {{ doc.summary?.courierName }}
    </div>
    <div class="cmp-title1">
      {{'ui.shippingDetail.title' | translate}}
    </div>
    <div class="cmp-subtitle">
      #{{doc.summary?.trackingNumber}}
    </div>

    <table class="table cmp-table cmp-table-summary">
      <tbody>
        <tr>
          <th>
            {{'ui.shippingDetail.shipDate' | translate}}
          </th>
          <th>
            {{'ui.shippingDetail.deliveryDate' | translate}}
          </th>
        </tr>
        <tr>
          <td>
            {{doc.summary?.shipDate | date:'dd/MM/y' || '-'}}
          </td>
          <td>
            {{doc.summary?.deliveryDate | date:'dd/MM/y' || '-'}}
          </td>
        </tr>

        <tr>
          <th>
            {{'ui.shippingDetail.origin' | translate}}
          </th>
          <th>
            {{'ui.shippingDetail.destination' | translate}}
          </th>
        </tr>
        <tr>
          <td>
            {{doc.summary?.origin || '-'}}
          </td>
          <td>
            {{doc.summary?.destination || '-'}}
          </td>
        </tr>

        <tr>
          <th>
            {{'ui.shippingDetail.shipper' | translate}}
          </th>
          <th>
            {{'ui.shippingDetail.receiver' | translate}}
          </th>
        </tr>
        <tr>
          <td>
            {{doc.summary?.shipperName || '-'}}
          </td>
          <td>
            {{doc.summary?.receiverName || '-'}}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="doc?.outbounds?.length">
      <div class="cmp-title2">
        {{'ui.shippingDetail.statusTitle' | translate}}
      </div>

      <table class="table cmp-table cmp-table-manifest">
        <tbody>
          <tr style="border-bottom: solid 1px #e0e0e0;">
            <td colspan="3">
              <strong>{{'ui.shippingDetail.outbond' | translate}}</strong>
            </td>
          </tr>
          <tr *ngFor="let outbond of doc.outbounds">
            <td>
              {{outbond.outboundDate + ' ' + outbond.outboundTime | date:'dd/MM/y HH:mm'}}
            </td>
            <td class="text-center">
              {{outbond.cityName}}
            </td>
            <td class="text-center">
              {{outbond.outboundDescription}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="doc?.deliveryStatus">
      <table class="table cmp-table cmp-table-manifest">
        <tbody>
          <tr style="border-bottom: solid 1px #e0e0e0;">
            <td colspan="3">
              <strong>{{'ui.shippingDetail.deliveryTime' | translate}}</strong>
            </td>
          </tr>
          <tr>
            <td>
              <ng-container *ngIf="doc.deliveryStatus?.podDate && doc.deliveryStatus?.podTime">
                {{doc.deliveryStatus.podDate + ' ' + doc.deliveryStatus.podTime | date:'dd/MM/y HH:mm'}}
              </ng-container>
            </td>
            <td class="text-center">
              {{doc.deliveryStatus?.podReceiver || ''}}
            </td>
            <td class="text-center">
              {{doc.deliveryStatus?.status || ''}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>