<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc" class="topbar" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center start">
  <div *ngIf="doc && doc.picture">
    <img [src]="doc.picture.thumbnailUrl" />
  </div>
  <div fxLayout="column" fxFlex>
    <span class="page-title">
      {{doc.displayName}}
    </span>
    <div fxLayout="row" fxLayoutGap="6px">
      <span class="mi mi-email"></span>
      <a *ngIf="doc.email" href="mailto:{{doc.email}}">{{ doc.email }}</a>
      <span *ngIf="!doc.email">-</span>
    </div>
    <div fxLayout="row" fxLayoutGap="6px">
      <span class="mi mi-phone"></span>
      <a *ngIf="doc.mobile" href="tel:{{doc.mobile}}">{{ doc.mobile }}</a>
      <span *ngIf="!doc.mobile">-</span>
    </div>
  </div>
  <div class="btn-actions">
    <button type="button" class="btn ripple btn-success" [routerLink]="['update']">
      {{'ui.button.edit' | translate}}
    </button>
  </div>
</div>

<div *ngIf="doc" fxLayout="row" fxLayoutGap="16px">
  <div fxFlex>
    <table class="table table-striped detail-list">
      <tbody>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.displayName' | translate}}
          </td>
          <td>
            {{doc.displayName ? doc.displayName : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.idCardNo' | translate}}
          </td>
          <td>
            {{doc.idCardNo ? doc.idCardNo : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.dateOfBirth' | translate}}
          </td>
          <td>
            {{doc.dateOfBirth ? (doc.dateOfBirth | date:'dd/MM/y') : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.gender' | translate}}
          </td>
          <td>
            {{doc.gender ? ('ui.employee.detail.gender.' + doc.gender | translate) : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.email' | translate}}
          </td>
          <td>
            {{doc.email ? doc.email : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.phone' | translate}}
          </td>
          <td>
            {{doc.phone ? doc.phone : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.mobile' | translate}}
          </td>
          <td>
            {{doc.mobile ? doc.mobile : '-'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxFlex>
    <table class="table table-striped detail-list">
      <tbody>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.hireDate' | translate}}
          </td>
          <td>
            {{doc.hiredDate ? (doc.hireDate | date:'dd/MM/y') : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.releasedDate' | translate}}
          </td>
          <td>
            {{doc.releasedDate ? (doc.releasedDate | date:'dd/MM/y') : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.bankAccountNo' | translate}}
          </td>
          <td>
            {{doc.bankAccountNo ? doc.bankAccountNo : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.bankAccountName' | translate}}
          </td>
          <td>
            {{doc.bankAccountName ? doc.bankAccountName : '-'}}
          </td>
        </tr>
        <tr>
          <td class="detail-label">
            {{'ui.employee.detail.note' | translate}}
          </td>
          <td>
            {{doc.note ? doc.note: '-'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
