<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <ul class="table-tabs">
      <li>
        <a (click)="filterRecords('all')" [ngClass]="{active: activeFilter === 'all'}">
          {{ 'ui.product.import.editor.filterAll' | translate }}
        </a>
      </li>
      <li>
        <a (click)="filterRecords('success')" [ngClass]="{active: activeFilter === 'success'}">
          {{ 'ui.product.import.editor.filterSuccess' | translate }}
        </a>
      </li>
      <li>
        <a (click)="filterRecords('failed')" [ngClass]="{active: activeFilter === 'failed'}">
          {{ 'ui.product.import.editor.filterFailed' | translate }}
        </a>
      </li>
    </ul>

    <p-dataTable #dt [value]="filteredRecords" [paginator]="true" [rows]="50" [scrollable]="true" scrollWidth="100%">
      <p-column field="" [header]="'ui.product.import.colNo' | translate" styleClass="text-center">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          {{ record.seqNumber + 1 }}
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col1' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-sku [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-sku>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col2' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-type *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-type>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col3' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-name *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-name>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col4' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-category *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [categories]="relatedData.categories"
            [label]="false"></app-product-form-field-category>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col5' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-brand *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [brands]="relatedData.productBrands"
            [label]="false"></app-product-form-field-brand>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col6' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-uoms *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [selectedUOMS]="selectedUOMS[i]"
            [doc]="record" [singleUOM]="true" [uoms]="relatedData.uoms" [label]="false"></app-product-form-field-uoms>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col7' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-sales-sellable *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-sales-sellable>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col8' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-prices [parentForm]="form.get('products')['at'](i).get('variants').controls[0]" [selectedUOMS]="selectedUOMS[i]"
            [doc]="record" [priceLevels]="relatedData.priceLevels"></app-product-form-field-prices>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col9' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-sales-description *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-sales-description>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col10' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-sales-account *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"
            [accounts]="relatedData.accounts"></app-product-form-field-sales-account>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col11' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-sales-tax *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"
            [taxes]="relatedData.taxes"></app-product-form-field-sales-tax>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col12' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-purchases-purchasable *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-purchases-purchasable>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col13' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-purchases-price [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-purchases-price>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col14' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-purchases-account *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"
            [accounts]="relatedData.accounts"></app-product-form-field-purchases-account>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col15' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-purchases-tax *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"
            [taxes]="relatedData.taxes"></app-product-form-field-purchases-tax>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col16' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-purchases-description *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false"></app-product-form-field-purchases-description>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col17' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-account *ngIf="!record.isVariant" [parentForm]="form.get('products')['at'](i)" [label]="false" [accounts]="relatedData.accounts"></app-product-form-field-account>
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col18' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-attribute *ngIf="!record.isVariant" [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](i)"
            [label]="false" [index]="1"></app-product-form-field-attribute>
          <input *ngIf="record.isVariant" [(ngModel)]="record.attribute1Search" class="form-control" />
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col19' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-attribute *ngIf="!record.isVariant" [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](i)"
            [label]="false" [index]="2"></app-product-form-field-attribute>
          <input *ngIf="record.isVariant" [(ngModel)]="record.attribute2Search" class="form-control" />
        </ng-template>
      </p-column>
      <p-column field="" [header]="'ui.product.import.col20' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <app-product-form-field-attribute *ngIf="!record.isVariant" [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](i)"
            [label]="false" [index]="3"></app-product-form-field-attribute>
          <input *ngIf="record.isVariant" [(ngModel)]="record.attribute3Search" class="form-control" />
        </ng-template>
      </p-column>
      <p-column field="status" [header]="'ui.product.import.col21' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          {{ record[col.field] ? ('ui.label.' + record[col.field] | translate) : '' }}
        </ng-template>
      </p-column>
      <p-column field="errors" [header]="'ui.product.import.col22' | translate" [style]="{'min-width': '200px'}">
        <ng-template let-col let-record="rowData" let-i="rowIndex" pTemplate="body">
          <ul class="list-unstyled">
            <li *ngFor="let error of (record[col.field] || [])" class="text-danger">
              {{ error }}
            </li>
          </ul>
        </ng-template>
      </p-column>
    </p-dataTable>

  </ng-template>
</app-base-page>
