<ng-container *ngIf="controlsReady$ | async">
  <ng-container *ngIf="schema.customLayout">
    <ng-container *ngFor="let field of schema.fields">
      <ng-template *ngIf="!field.ignore" [appFgenTpl]="field.name">
        <app-formgen-field-render [schema]="field"></app-formgen-field-render>
      </ng-template>
    </ng-container>

    <ng-content *ngIf="vTemplatesMapped"></ng-content>
  </ng-container>
</ng-container>
