<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div fxLayout="column" [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('warehouseId')" fxFlex="200px">
          <label class="control-label">
            {{'ui.stockOpname.form.warehouseId' | translate}}
          </label>
          <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });"
            styleClass="wd-wide" [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();" (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, relatedData.warehouses)"
            (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, relatedData.warehouses, ['name'], $event.query)" [appWrapperAC]="warehouseAC"
            [appWrapperACLimit]="false">
            <ng-template let-warehouse pTemplate="item">
              {{warehouse.name}}
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('warehouseId')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('adjustmentAccountId')" fxFlex="300px">
          <label class="control-label">
            {{'ui.stockOpname.form.adjustmentAccountId' | translate}}
          </label>
          <p-autoComplete #adjAC formControlName="adjustmentAccount" field="name" styleClass="wd-wide" (onSelect)="$event && form.patchValue({ adjustmentAccountId: $event.id })"
            dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(adjAC, relatedData.accounts)" (completeMethod)="_autocomplete.onLocalACSearch(adjAC, relatedData.accounts, ['name'], $event.query)"
            [dropdown]="true" (onClear)="form.get('adjustmentAccountId').reset()" [appWrapperAC]="adjAC">
            <ng-template let-account pTemplate="item">
              [{{account.code}}] {{account.name}}
              <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('adjustmentAccountId')"></app-field-error>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="585px">
          <div class="form-group" [appFieldStates]="form.get('description')">
            <label class="control-label">
              {{'ui.stockOpname.form.description' | translate}}
            </label>
            <input type="text" formControlName="description" class="form-control" />
            <app-field-error [control]="form.get('description')"></app-field-error>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('transactionNumber')" style="max-width: 228px;">
            <label class="control-label">
              {{'ui.stockOpname.form.transactionNumber' | translate}}
            </label>
            <input type="number" formControlName="transactionNumber" class="form-control" />
            <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
          </div>

          <div class="form-group" [appFieldStates]="form.get('transactionDate')" style="max-width: 166.5px;">
            <label class="control-label">
              {{'ui.stockOpname.form.transactionDate' | translate}}
            </label>
            <p-calendar formControlName="transactionDate" styleClass="fw" [monthNavigator]="true" [showIcon]="true"></p-calendar>
            <app-field-error [control]="form.get('transactionDate')"></app-field-error>
          </div>
        </div>
      </div>

      <table class="table table-bordered mt mb">
        <thead>
          <tr>
            <th class="text-center">
              {{'ui.stockOpname.form.colNumber' | translate}}
            </th>
            <th>
              {{'ui.stockOpname.form.colProduct' | translate}}
            </th>
            <th class="text-right">
              {{'ui.stockOpname.form.colSKU' | translate}}
            </th>
            <th class="text-right">
              {{'ui.stockOpname.form.colQtyOnHand' | translate}}
            </th>
            <th class="text-right">
              {{'ui.stockOpname.form.colQtyNew' | translate}}
            </th>
            <th class="text-right">
              {{'ui.stockOpname.form.colQtyChange' | translate}}
            </th>
            <th class="text-right">
              {{'ui.stockOpname.form.unitCost' | translate}}
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
            <td class="text-center">
              {{i + 1}}
            </td>
            <td #td>
              <p-autoComplete #productVariantAC formControlName="productVariant" field="name" [suggestions]="productVariantsSuggestion"
                styleClass="wd-wide" (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onSelect)="_stockOpname.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()"
                [dropdown]="true" (onClear)="onProductClear(i)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)"
                [appWrapperAC]="productVariantAC" appendTo="body">
                <ng-template let-productVariant pTemplate="item">
                  [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                </ng-template>
              </p-autoComplete>
              <app-field-error [control]="lineFormGroup.get('productVariantId')"></app-field-error>
            </td>
            <td class="text-right">
              {{ lineFormGroup.get('sku').value }}
            </td>
            <td class="text-right">
              {{ lineFormGroup.get('originalQty').value }}
            </td>
            <td class="text-right">
              <input style="max-width: 100px; margin-left: auto;" class="form-control text-right" formControlName="_newQty" (change)="_stockOpname.lineConditionalValidation(lineFormGroup); syncNewQty(i, $event.target.value)"
              />
              <app-field-error [control]="lineFormGroup.get('_newQty')"></app-field-error>
            </td>
            <td class="text-right">
              <input style="max-width: 100px; margin-left: auto;" class="form-control text-right" formControlName="changeQty" (change)="_stockOpname.lineConditionalValidation(lineFormGroup); syncChangeQty(i, $event.target.value)"
              />
              <app-field-error [control]="lineFormGroup.get('changeQty')"></app-field-error>
            </td>
            <td class="text-right">
              <input class="form-control text-right" formControlName="unitCost" (change)="_stockOpname.lineConditionalValidation(lineFormGroup)"
              />

              <app-field-error [control]="lineFormGroup.get('unitCost')"></app-field-error>
            </td>
            <td style="vertical-align: middle" class="text-center">
              <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mb">
        <button class="btn btn-default" (click)="addLines(1)">
          {{'ui.stockOpname.form.button.addLine' | translate}}
        </button>
        <button class="btn btn-default" (click)="resetLines()">
          {{'ui.stockOpname.form.button.clearAllLines' | translate}}
        </button>
      </div>

      <div class="mt">
        <div class="form-group" [appFieldStates]="form.get('note')" style="max-width: 351px">
          <label class="control-label">
            {{'ui.stockOpname.form.note' | translate}}
          </label>
          <textarea class="form-control" formControlName="note" rows="4"></textarea>
        </div>
      </div>
    </div>

  </ng-template>
</app-base-page>
