<div class="form-group" [appFieldStates]="parentForm.get('fax')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.fax' | translate }}</label>
  <input type="number" formControlName="fax" class="form-control" />
  <app-field-error [control]="parentForm.get('fax')"></app-field-error>
</div>
