<ng-container *ngIf="headerTemplate">
  <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
</ng-container>

<ng-container *ngIf="!hasMasterPage && !headerTemplate">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex *ngIf="component?.headerTitle">
      <span class="page-title" fxFlex>
        {{component.headerTitle | translate}}
      </span>
    </div>

    <div *ngIf="headerActionsTemplate">
      <ng-container *ngTemplateOutlet="headerActionsTemplate"></ng-container>
    </div>

    <ng-container *ngIf="!headerActionsTemplate">
      <div class="btn-actions" fxLayout="row" fxLayoutGap="8px" *ngIf="component?.headerButtons?.length">
        <ng-container *ngFor="let actionButton of component?.headerButtons">
          <button class="btn btn-primary" routerLink="update" *ngIf="actionButton.type === 'edit'">
            {{'ui.button.edit' | translate}}
          </button>

          <ng-container *ngIf="actionButton.type === 'custom'">
            <button type="button" *ngIf="!actionButton.children?.length" class="btn btn-{{actionButton.color}}" (click)="actionButton.onClick ? actionButton.onClick() : null"
              [routerLink]="actionButton.routerLink">
              {{ actionButton.label | translate }}
            </button>

            <div dropdown *ngIf="actionButton.children?.length">
              <button type="button" class="btn dropdown-toggle btn-{{actionButton.color}}">
                <span fxFlex class="text-left" (click)="actionButton.onClick ? actionButton.onClick() : null" [routerLink]="actionButton.routerLink">
                  {{ actionButton.label | translate }}
                </span>
                <span class="caret" dropdownToggle></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <li *ngFor="let child of actionButton.children">
                  <a [routerLink]="child.routerLink">
                    {{ child.label | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<ng-container *ngIf="contentTemplate">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</ng-container>

<ng-container *ngIf="footerTemplate">
  <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
</ng-container>

<div *ngIf="!hasMasterPage" #pageLoading="app-spinner" appSpinner [show]="compLoadingShown" [title]="compLoadingTitle"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>
