<div class="checkbox-inline" [formGroup]="parentForm">
  <label>
    <input formControlName="purchasable" type="checkbox">
    <span *ngIf="label">{{'ui.product.form.purchasable' | translate }}</span>
  </label>
  <app-field-error [control]="parentForm.get('purchasable')"></app-field-error>
</div>
