<div class="form-group" [appFieldStates]="parentForm.get('variantAttribute' + index + 'Id')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.attributeName' | translate}}</label>
  <p-autoComplete #attributeAutoComplete [formControlName]="'variantAttribute' + index" (onSelect)="$event && onAttributeChosen($event)"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="onAttributeClear()"
     (onDropdownClick)="_autocomplete.onLocalACDropdown(attributeAutoComplete, attributes, true)"
     (completeMethod)="_autocomplete.onLocalACSearch(attributeAutoComplete, attributes, ['name'], $event.query, true)"
     [appWrapperAC]="attributeAutoComplete" [appWrapperACLimit]="false">
    <ng-template let-attribute pTemplate="item">
      <a *ngIf="!attribute" (click)="quickCreateModal.show()" class="quick-create-option">
        <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
      </a>
      <span *ngIf="attribute">
        {{attribute.name}}
      </span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('variantAttribute' + index + 'Id')"></app-field-error>
</div>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-product-attribute-quick-create (afterSubmit)="assignQuickCreatedAttribute($event)" (close)="quickCreateModal.hide()"></app-product-attribute-quick-create>
      </div>
    </div>
  </div>
</div>
