<ul class="table-tabs">
  <li>
    <a routerLink="/sales/all" routerLinkActive="active">
      {{'ui.sales.all.tabLink.all' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/sales/orders" routerLinkActive="active">
      {{'ui.sales.all.tabLink.order.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/sales/invoices" routerLinkActive="active">
      {{'ui.sales.all.tabLink.invoice.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/sales/receipts" routerLinkActive="active">
      {{'ui.sales.all.tabLink.receipt.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/sales/credit-notes" routerLinkActive="active">
      {{'ui.sales.all.tabLink.creditNote.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/sales/payments" routerLinkActive="active">
      {{'ui.sales.all.tabLink.payment.list' | translate}}
    </a>
  </li>
</ul>