<div class="form-group" [appFieldStates]="parentForm.get('isCustomer')" [formGroup]="parentForm">
  <p-checkbox formControlName="isCustomer" binary="true" label="{{ label ? ('ui.businessPartner.form.isCustomer' | translate) : null }}" [ngStyle]="{ 'font-size': '18px' }"></p-checkbox>
  <app-field-error [control]="parentForm.get('isCustomer')"></app-field-error>
</div>
