.contact-detail-box {
  display: block;
  padding: 20px;
  min-width: 270px;
  min-height: 350px;
  border-radius: 3px;
  background-color: #fbfbfa;
  border: solid 1px #e0e0e0;
  .detail-title {
    font-size: 18px;
    font-weight: 600;
    color: #4a4a4a;
  }
  .detail-label {
    padding-bottom: 4px;
    margin-top: 25px;
    font-size: 14px;
    color: #9b9b9b;
    img {
      padding-right: 5px;
      margin-top: -4px;
    }
  }
}