<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="col-sm-9 pl0">

  <app-business-partner-transaction-invoice [doc]="doc" [templateDescription]="tableDescription"></app-business-partner-transaction-invoice>

  <div class="table-filter mt-xl" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" [(ngModel)]="combinedFilterValues" (keyup.enter)="onGridChange()" placeholder="{{'ui.businessPartner.transaction.filter.combined' | translate}}"
      />
      <span class="fa fa-search form-control-feedback"></span>
    </div>

    <div fxFlex></div>

    <button title="{{ 'ui.button.refresh' | translate }}" class="btn p0 btn-action-icon btn-data-table-refresh" (click)="onGridChange()"></button>

    <div title="{{ 'ui.button.settings' | translate }}" dropdown *ngIf="tableColumnsToggle">
      <button class="btn p0 btn-action-icon btn-data-table-toggler" dropdownToggle>
        <span class=""></span>
      </button>

      <div (click)="$event.stopPropagation()" class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <div class="pl pr dropdown-muted-label">
          {{'ui.columns' | translate}}
        </div>
        <p-listbox styleClass="listbox-columns-toggle" [checkbox]="true" [metaKeySelection]="false" [multiple]="true" [options]="tableColumnsToggle.options"
          [(ngModel)]="tableColumnsToggle.toggled"></p-listbox>
      </div>
    </div>
  </div>

  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="16px">
      <div style="width: 100%;">
        <p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [(selection)]="selectedRecords"
          [reorderableColumns]="true" [resizableColumns]="true" columnResizeMode="fit" dataKey="transactionId">
          <p-column selectionMode="multiple"></p-column>

          <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
            [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
            </ng-template>
          </p-column>

          <p-column styleClass="col-operations">
            <ng-template let-rowTransaction="rowData" pTemplate="body">
              <div dropdown container="body">
                <a class="dropdown-toggle">
                <span [routerLink]="getUpdateLink(rowTransaction)">{{'ui.action.edit' | translate}}</span>
                <span class="caret" dropdownToggle></span>
              </a>
              </div>
            </ng-template>
          </p-column>
        </p-dataTable>

        <div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
          <span class="tbl-pager-toolbar-label mr">
          <span>
            {{'ui.pagination.limit' | translate}}
          </span>
          <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
            <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
          </select>
          </span>

          <span class="hdivider mr"></span>

          <span class="tbl-pager-toolbar-label" fxFlex>
          {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
        </span>

          <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
            (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-3 p0">
  <div fxFlex="270px">
    <div class="contact-detail-box">
      <div class="detail-title">{{'ui.businessPartner.transaction.contact.title' | translate}}</div>
      <div class="detail-label"><img src="/assets/img/contact/company.png">{{'ui.businessPartner.transaction.contact.company' | translate}}</div>
      {{doc.company ? doc.company : '-'}}
      <div class="detail-label"><img src="/assets/img/contact/mobile.png">{{'ui.businessPartner.transaction.contact.mobile' | translate}}</div>
      {{doc.mobile ? doc.mobile : '-'}}
      <div class="detail-label"><img src="/assets/img/contact/phone.png">{{'ui.businessPartner.transaction.contact.phone' | translate}}</div>
      {{doc.phone ? doc.phone : '-'}}
      <div class="detail-label"><img src="/assets/img/contact/email.png">{{'ui.businessPartner.transaction.contact.email' | translate}}</div>
      {{doc.email ? doc.email : '-'}}
      <div class="detail-label"><img src="/assets/img/contact/address.png">{{'ui.businessPartner.transaction.contact.billingAddress' | translate}}</div>
      {{doc.billingAddress ? doc.billingAddress : '-'}}

      <hr>

      <div class="detail-title">{{'ui.businessPartner.transaction.financial.title' | translate}}</div>
      <div fxLayoutAlign="space-between">
        <span class="detail-label">{{doc.isCustomer ? ('ui.businessPartner.transaction.financial.receivable'| translate) : ('ui.businessPartner.transaction.financial.payable'| translate) }} </span>
        <span class="h3" style="margin-top:28px">{{doc.isCustomer ? _accounting.ac.formatMoney(doc.arBalance, '') : _accounting.ac.formatMoney(doc.apBalance, '') }} </span>
      </div>
    </div>
  </div>
</div>

<ng-template #tableDescription let-column let-record="record" let-value="parsedValue">
  <div style="font-size: 14px; font-weight: 600">{{ _.startCase(record.transactionType) }} -
    <a>
      <span *ngIf="record.transactionType === 'purchase_order'" [routerLink]="['/purchases/orders', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'purchase_invoice'" [routerLink]="['/purchases/invoices', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'purchase_receipt'" [routerLink]="['/purchases/receipts', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'purchase_debit_note'" [routerLink]="['/purchases/debit-notes', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'purchase_payment'" [routerLink]="['/purchases/payments', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'purchase_down_payment'" [routerLink]="['/purchases/down-payments', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_order'" [routerLink]="['/sales/orders', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_invoice'" [routerLink]="['/sales/invoices', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_receipt'" [routerLink]="['/sales/receipts', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_credit_note'" [routerLink]="['/sales/credit-notes', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_payment'" [routerLink]="['/sales/payments', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'sales_down_payment'" [routerLink]="['/sales/down-payments', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'receive_money'" [routerLink]="['/receive-moneys', record.transactionId]">{{record.transactionNumber}}</span>
      <span *ngIf="record.transactionType === 'spend_money'" [routerLink]="['/spend-moneys', record.transactionId]">{{record.transactionNumber}}</span>
    </a>
  </div>
  <div>{{ record.description || '-' }}</div>
  <div>{{ record.transactionDate }}</div>
</ng-template>
