<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.expense.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
      <span>{{( doc.status || '').toUpperCase() }}</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn btn-primary" routerLink="update" [disabled]="doc.state === 'voided'">
        {{'ui.button.edit' | translate}}
      </button>
      <div dropdown>
        <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="_expenseClone.copy(doc)">
              {{'ui.action.clone' | translate}}
            </a>
          </li>
          <li>
            <a (click)="journalModal.show()">
              {{'ui.expense.detail.action.transactionJournal' | translate}}
            </a>
          </li>
          <li>
            <a (click)="reportModal.show()">
              {{'ui.expense.detail.action.report' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutGap="95px">
      <div fxLayout="column">
        <table class="no-border">
          <tbody>
            <tr>
              <td>
                <label class="control-label">{{'ui.expense.detail.payFrom' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.paymentAccount?.name || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.expense.detail.payee' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.payee?.displayName || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.expense.detail.date' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{(doc?.transactionDate | date:'dd/MM/y') || '-'}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="mt pt">
          <label class="control-label mr">
            {{'ui.expense.detail.description' | translate}}
          </label>
          <span>{{doc.description || '-'}}</span>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start end">
      <label class="control-label">
        {{'ui.expense.detail.amount' | translate}}
      </label>
      <h2 class="m0 fs40">
        {{ _accounting.ac.formatMoney(doc.total, '') }}
      </h2>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered mt mb">
      <thead>
        <tr>
          <th class="text-center">
            {{'ui.expense.detail.colNumber' | translate}}
          </th>
          <th>
            {{'ui.expense.detail.colAccount' | translate}}
          </th>
          <th>
            {{'ui.expense.detail.colDescription' | translate}}
          </th>
          <th class="text-right">
            {{'ui.expense.detail.colAmount' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index">
          <td class="text-center middle-text">
            {{i + 1}}
          </td>
          <td class="middle-text">
            {{line.account?.name || '-'}}
          </td>
          <td class="middle-text">
            {{line.description || '-'}}
          </td>
          <td class="text-right middle-text">
            {{ _accounting.ac.formatMoney(line.amount || 0) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" class="mt pt">
    <div fxFlex fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="250px">
        <label class="control-label">
          {{'ui.expense.detail.note' | translate}}
        </label>
        <div class="text-justify">
          {{doc?.note || '-'}}
        </div>
      </div>
    </div>

    <div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div class="control-label">
            {{'ui.expense.detail.total' | translate}}
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.total) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <div style="padding: 24px 40px">
            <app-report-viewer [config]="{templateCode: 'E001'}" [data]="doc" initDisplay="pdf"></app-report-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.expense.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
