<div class="form-group" [appFieldStates]="parentForm.get('stateProvince')" [formGroup]="parentForm">
  <input formControlName="stateProvince" class="form-control" placeholder="{{'ui.businessPartner.form.placeholder.stateProvince' | translate }}" />
  <app-field-error [control]="parentForm.get('stateProvince')"></app-field-error>
</div>
