<div class="form-group" [appFieldStates]="parentForm.get('incomeAccountId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.incomeAccountId' | translate}}</label>
  <p-autoComplete #salesAccountAC formControlName="incomeAccount" (onSelect)="$event && parentForm.patchValue({ incomeAccountId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('incomeAccountId').reset()"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(salesAccountAC, accounts)" 
    (completeMethod)="_autocomplete.onLocalACSearch(salesAccountAC, accounts, ['name'], $event.query)"
    [appWrapperAC]="salesAccountAC" [appWrapperACLimit]="false">
    <ng-template let-account pTemplate="item">
      [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('incomeAccountId')"></app-field-error>
</div>
