<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.salesDownPayment.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
      <span [ngClass]="(doc.status=='open')?'text-success':'text-danger'">{{( doc.status || '').toUpperCase() }}</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn ripple btn-default" (click)="reportModal.show()">
        <span class="mi mi-print icon-lg"></span>
        <span>
          {{ 'ui.button.print' | translate }}
        </span>
      </button>

      <button class="btn btn-primary" routerLink="update" [disabled]="doc.state === 'voided'">
        {{'ui.button.edit' | translate}}
      </button>
      
      <div dropdown>
        <button dropdownToggle type="button" class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="journalModal.show()">
              {{'ui.salesDownPayment.detail.action.transactionJournal' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.customerName' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.customer?.displayName || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.mobile' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.customerMobile || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.email' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.customerEmail || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.customerRefNo' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.customerRefNumber || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.paymentMethod' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.paymentMethod?.name || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.depositTo' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{doc?.paymentAccount?.name || '-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.orderNumber' | translate}}</label>
            </td>
            <td>
              <a *ngIf="doc.orderId" [routerLink]="['/sales/orders', doc?.orderId]" class="pl4 ml3">
                {{doc?.order?.transactionNumber}}
              </a>
              <span *ngIf="!doc.orderId" class="pl4 ml3">
                {{'-'}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label">{{'ui.salesDownPayment.detail.date' | translate}}</label>
            </td>
            <td>
              <span class="pl4 ml3">
                {{(doc?.transactionDate | date:'dd/MM/y') || '-'}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mt pt">
        <label class="control-label mr">
          {{'ui.salesDownPayment.detail.description' | translate}}
        </label>
        <span>{{doc.description || '-'}}</span>
      </div>
    </div>

    <div fxFlex></div>

    <div fxLayout="column" fxLayoutAlign="start end">
      <label class="control-label">
        {{'ui.salesDownPayment.detail.amount' | translate}}
      </label>
      <h2 class="m0 fs40">
        {{ _accounting.ac.formatMoney(doc.total, '') }}
      </h2>
    </div>
  </div>

  <div fxLayout="row" class="mt pt" fxLayoutGap="84px">
    <div fxLfex="250px">
      <label class="control-label">
        {{'ui.salesDownPayment.detail.customerMemo' | translate}}
      </label>
      <div class="text-justify">
        {{doc?.customerNote || '-'}}
      </div>
    </div>

    <div fxLfex="250px">
      <label class="control-label">
        {{'ui.salesDownPayment.detail.note' | translate}}
      </label>
      <div class="text-justify">
        {{doc?.note || '-'}}
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <div style="padding: 24px 40px">
            <app-report-viewer *ngIf="mainReportParams && reportModal.isShown" [config]="{templateCode: 'SDP001'}" [data]="doc" [params]="mainReportParams" initDisplay="pdf"></app-report-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.salesDownPayment.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
