<app-retry-dialog #retryDialog></app-retry-dialog>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ account?.name }}
  </span>
  <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
    <button class="btn btn-primary" [routerLink]="['/accounts', routeParams.id, 'update']">
      {{'ui.button.edit' | translate}}
    </button>
  </div>
</div>

<ul class="table-tabs">
  <li>
    <a [routerLink]="['/accounts', routeParams.id, 'ledger']" routerLinkActive="active">
      {{'ui.coa.tabLink.ledger' | translate}}
    </a>
  </li>
  <li>
    <a [routerLink]="['/accounts', routeParams.id, 'detail']" routerLinkActive="active">
      {{'ui.coa.tabLink.detail' | translate}}
    </a>
  </li>
</ul>

<div class="mb" fxLayout="row" fxLayoutAlign="center start">
  <div class="form-group">
    <label class="control-label">{{'ui.coa.ledger.account' | translate}}</label>
    <p-autoComplete #coaAC [(ngModel)]="filters.account" field="name" styleClass="wd-wide" [suggestions]="COASSuggestion" [dropdown]="true"
    (completeMethod)="ACCOAHandler.search($event)" (onDropdownClick)="ACCOAHandler.dropdown($event)" (onClear)="loadData()" (onSelect)="changeRoute()" [appWrapperAC]="coaAC"></p-autoComplete>
  </div>

  <div fxFlex></div>

  <div *ngIf="filters.account" fxLayout="column" fxLayoutAlign="start end">
    <label class="control-label">{{'ui.coa.ledger.endingBalance' | translate}}</label>
    <h2 class="m0 fs40">
      {{ _accounting.ac.formatMoney(filters.account.balance, '') }}
    </h2>
  </div>
</div>

<div class="table-filter" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <div class="form-group">
    <label class="control-label">{{'ui.coa.ledger.filter.lowDate' | translate}}</label>
    <p-calendar [(ngModel)]="filters.lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true" (ngModelChange)="loadData()"></p-calendar>
  </div>

  <div class="form-group">
    <label class="control-label">{{'ui.coa.ledger.filter.highDate' | translate}}</label>
    <p-calendar [(ngModel)]="filters.highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true" (ngModelChange)="loadData()"></p-calendar>
  </div>

  <div fxFlex></div>

  <button title="{{ 'ui.button.refresh' | translate }}" class="btn p0 btn-action-icon btn-data-table-refresh" (click)="onGridChange()"></button>

  <div title="{{ 'ui.button.export' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-exporter" dropdownToggle>
      <span class=""></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <li>
        <a (click)="exportPDF()">
            {{'ui.export.pdf' | translate}}
          </a>
      </li>
      <li>
        <a (click)="exportExcel()">
            {{'ui.export.excel' | translate}}
          </a>
      </li>
    </ul>
  </div>

  <div title="{{ 'ui.button.settings' | translate }}" dropdown>
    <button class="btn p0 btn-action-icon btn-data-table-toggler">
      <span class=""></span>
    </button>

    <div (click)="$event.stopPropagation()" class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <div class="pl pr dropdown-muted-label">
        {{'ui.columns' | translate}}
      </div>
      <p-listbox styleClass="listbox-columns-toggle" [checkbox]="true" [metaKeySelection]="false" [multiple]="true" [options]="tableColumnsToggle.options"
        [(ngModel)]="tableColumnsToggle.toggled"></p-listbox>
    </div>
  </div>
</div>

<p-dataTable #gridTable [value]="gridDataSource.data" [lazy]="true" (onLazyLoad)="onGridChange()" [reorderableColumns]="true"
  [resizableColumns]="true" dataKey="id">
  <p-column *ngFor="let tableColumn of tableColumns" [field]="tableColumn.field" [sortable]="tableColumn.sort" header="{{ tableColumn.i18nLabel | translate }}"
    [hidden]="!tableColumnsToggle.isActive(tableColumn)" [styleClass]="tableColumn.columnClasses ? tableColumn.columnClasses : ''">>
    <ng-template let-col let-row="rowData" pTemplate="body">
      <app-grid-table-column [tableColumn]="tableColumn" [field]="col.field" [record]="row"></app-grid-table-column>
    </ng-template>
  </p-column>

  <p-column styleClass="col-operations">
    <ng-template let-transaction="rowData" pTemplate="body">
      <div dropdown container="body">
        <a class="dropdown-toggle">
          <span [routerLink]="_transactionRoutingService.resolve(transaction,'update')">{{'ui.action.edit' | translate}}</span>
          <span class="caret" dropdownToggle></span>
        </a>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="tbl-pager-toolbar" fxLayout="row" fxLayoutAlign="start center">
  <span class="tbl-pager-toolbar-label mr">
    <span>
      {{'ui.pagination.limit' | translate}}
    </span>
  <select [(ngModel)]="gridDataSource.pager.itemsPerPage" (ngModelChange)="onGridChange()">
      <option *ngFor="let count of gridDataSource.pager.standardTotalCounts" [value]="count">{{count}}</option>
    </select>
  </span>

  <span class="hdivider mr"></span>

  <span class="tbl-pager-toolbar-label" fxFlex>
    {{ 'ui.pagination.total' | translate:{total: gridDataSource.pager.totalItems} }}
  </span>

  <pagination [totalItems]="gridDataSource.pager.totalItems" [itemsPerPage]="gridDataSource.pager.itemsPerPage" [(ngModel)]="gridDataSource.pager.pageNum"
    (pageChanged)="onGridPageChange()" [maxSize]="gridDataSource.pager.maxPageSize" [rotate]="false"></pagination>
</div>
