<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center start">
    <div fxLayout="row" fxFlex>
      <div fxFlex>
        <span class="page-title">
          {{doc.name || '-'}}
        </span>
      </div>
      <div class="btn-actions" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <div class="mouse-pointer" (click)="showShareDialog = true">
          <span class="mi mi-share icon-lg"></span>
        </div>

        <button type="button" class="btn ripple btn-primary" [routerLink]="['update']">
          {{'ui.button.edit' | translate}}
        </button>

        <div dropdown>
          <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-default">
            <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
            <span class="caret"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div fxLayout="column" fxFlex>

      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex>
          <table class="table table-striped detail-list">
            <tbody>
              <tr>
                <td class="detail-label" width="150px">
                  {{'ui.product.detail.sku' | translate}}
                </td>
                <td width="250px">
                  {{doc.sku || '-'}}
                </td>
                <td class="detail-label" width="150px">
                  {{'ui.product.detail.brandId' | translate}}
                </td>
                <td>
                  {{doc.brand?.name || '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.product.detail.name' | translate}}
                </td>
                <td>
                  {{doc.name || '-'}}
                </td>
                <td class="detail-label">
                  {{'ui.product.detail.model' | translate}}
                </td>
                <td>
                  {{doc.model || '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.product.detail.category' | translate}}
                </td>
                <td>
                  {{doc.category?.name || '-'}}
                </td>
                <td class="detail-label">
                  {{'ui.product.detail.tags' | translate}}
                </td>
                <td>
                  <span *ngIf="!doc.tags.length">
                    -
                  </span>

                  <ng-container *ngIf="doc.tags.length">
                    <span *ngFor="let tag of doc.tags; let isLast=last">
                      {{tag.name || '-'}}{{isLast ? '' : ', '}}
                    </span>
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.product.detail.unit' | translate}}
                </td>
                <td colspan="3">
                  <span *ngIf="!doc.uom2">{{doc.uom.name}}</span>
                  <div *ngIf="doc.uom2">
                    <a [popover]="popUOM" placement="bottom" container="body" triggers="focus" tabindex="1">
                      {{doc.uom.name}}
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #popUOM>
          <table class="table m0">
            <tbody>
              <tr *ngIf="doc.uom2">
                <td class="text-bold" style="width: 80px;">
                  {{'ui.product.detail.unit2' | translate}}
                </td>
                <td class="text-center" style="width: 80px;">
                  {{doc.uom2.name}}
                </td>
                <td class="text-right" style="width: 80px;">
                  {{doc.uom2Conversion}} Unit
                </td>
              </tr>
              <tr style="border-top:solid 0.5px #c1c1c1" *ngIf="doc.uom3">
                <td class="text-bold">
                  {{'ui.product.detail.unit3' | translate}}
                </td>
                <td class="text-center">
                  {{doc.uom3.name}}
                </td>
                <td class="text-right">
                  {{doc.uom3Conversion}} Unit
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>

        <app-img-upload-gallery [pictures]="doc?.pictures" fxFlex="200px"></app-img-upload-gallery>
      </div>

      <div *ngIf="doc.productType === 'inventory'" class="well mb0 mt3" fxLayout="column" style="margin-bottom: 40px;">
        <div fxLayout="row" style="width: 100%; margin-bottom: 45px;">
          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.qtyOnHand' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{doc.inventory?.qty || 0}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.qtyReserved' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{doc.inventory?.reservedQty || 0}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.qtyAvailable' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{doc.inventory?.availableQty || 0}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.inSalesOrder' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{doc.inventory?.salesOrderQty || 0}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.inPurchaseOrder' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{doc.inventory?.purchaseOrderQty || 0}}
            </h4>
          </div>
        </div>

        <div fxLayout="row" style="width: 100%">
          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.averageCost' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{_accounting.ac.formatMoney(doc.inventory?.averageCost || 0)}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.lastPurchaseCost' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{_accounting.ac.formatMoney(doc.inventory?.lastCost || 0)}}
            </h4>
          </div>

          <div fxFlex fxLayoutAlign="center center" fxLayout="column">
            <span>
              {{'ui.product.detail.inventoryInfo.totalValue' | translate}}
            </span>
            <h4 class="m0 pt2">
              {{_accounting.ac.formatMoney(doc.inventory?.totalCost || 0)}}
            </h4>
          </div>
        </div>
      </div>

      <div *ngIf="doc.productType === 'inventory'" fxLayout="row">
        <div fxFlex>
          <fieldset class="collapsible" style="margin-top: 40px">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.form.inventoryinfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.inventoryAccount' | translate}}
                    </td>
                    <td>
                      {{doc.inventoryAccount?.name || '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>

      <div style="padding-top: 20px" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex>
          <fieldset class="collapsible">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.form.salesInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label" style="width: 200px;">
                      {{'ui.product.detail.salesinfo.sellingprice' | translate}}
                    </td>
                    <td>
                      {{_accounting.ac.formatMoney(doc.masterVariant?.masterPrice?.unitPrice || 0)}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.salesinfo.salestax' | translate}}
                    </td>
                    <td>
                      {{doc.salesTax?.name || '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.salesinfo.incomeAccount' | translate}}
                    </td>
                    <td>
                      {{doc.incomeAccount?.name || '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.salesinfo.autoReserveInventoryOnSalesOrder' | translate}}
                    </td>
                    <td>
                      {{(doc.autoReserveInventoryOnSalesOrder) ? 'Y' : 'N'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.salesinfo.descriptioninsales' | translate}}
                    </td>
                    <td [innerHTML]="doc.salesDescription"></td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
        <div fxFlex>
          <fieldset class="collapsible">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.form.purchasesInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label" style="width: 200px;">
                      {{'ui.product.detail.purchaseinfo.unitcost' | translate}}
                    </td>
                    <td>
                      {{_accounting.ac.formatMoney(doc.masterVariant?.unitCost || 0)}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.purchaseinfo.purchasetax' | translate}}
                    </td>
                    <td>
                      {{doc.purchaseTax?.name || '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.purchaseinfo.expenseAccount' | translate}}
                    </td>
                    <td>
                      {{doc.expenseAccount?.name || '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.product.detail.purchaseinfo.description' | translate}}
                    </td>
                    <td [innerHTML]="doc.purchaseDescription"></td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>

      <div *ngIf="doc.variantCount > 1" fxLayout="row">
        <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>
        <div fxFlex>
          <fieldset class="collapsible">
            <div fxLayout="row">
              <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.detail.variants.label' | translate}}" fxFlex></app-fieldset-collapsible-title>

              <button class="btn btn-default btn-icon btn-icon-left" (click)="showVariantModal(variant, 'create')">
                {{ 'ui.product.detail.variants.button.create' | translate }}
              </button>
            </div>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <thead>
                  <tr>
                    <td *ngIf="doc.variantAttribute1" class="detail-label">
                      {{doc.variantAttribute1.name}}
                    </td>
                    <td *ngIf="doc.variantAttribute2" class="detail-label">
                      {{doc.variantAttribute2.name}}
                    </td>
                    <td *ngIf="doc.variantAttribute3" class="detail-label">
                      {{doc.variantAttribute3.name}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.variants.sku' | translate}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.qty' | translate}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.variants.price' | translate}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.variants.unitcost' | translate}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.variants.avgcost' | translate}}
                    </td>
                    <td class="detail-label">
                      {{'ui.product.detail.variants.lastcost' | translate}}
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let variant of doc.variants">
                    <td *ngIf="doc.variantAttribute1" class="detail-label text-normal">
                      {{variant.attribute1Value || '-'}}
                    </td>
                    <td *ngIf="doc.variantAttribute2" class="detail-label text-normal">
                      {{variant.attribute2Value || '-'}}
                    </td>
                    <td *ngIf="doc.variantAttribute3" class="detail-label text-normal">
                      {{variant.attribute2Value || '-'}}
                    </td>
                    <td class="detail-label text-normal">
                      {{variant.sku || '-'}}
                    </td>
                    <td class="detail-label text-normal">
                      {{variant.inventory?.qty || 0}}
                    </td>
                    <td class="detail-label text-normal">
                      {{_accounting.ac.formatMoney(variant.masterPrice?.unitPrice || 0)}}
                    </td>
                    <td class="detail-label text-normal">
                      {{_accounting.ac.formatMoney(variant.unitCost || 0)}}
                    </td>
                    <td class="detail-label text-normal">
                      {{_accounting.ac.formatMoney(variant.inventory?.averageCost || 0)}}
                    </td>
                    <td class="detail-label text-normal">
                      {{_accounting.ac.formatMoney(variant.inventory?.lastCost || 0)}}
                    </td>
                    <td class="detail-label text-normal">
                      <a (click)="showVariantModal(variant, 'edit')">{{'ui.action.edit' | translate}}</a>
                      <span *ngIf="!variant.isMaster">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                      <a *ngIf="!variant.isMaster" (click)="showDeleteDialog(variant.id)">{{'ui.action.delete' | translate}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>

      <app-product-detail-warehouse [doc]="doc"></app-product-detail-warehouse>

      <div fxLayout="row">
        <div fxFlex>
          <fieldset class="collapsible">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.detail.transactionHistory' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <app-product-transaction [doc]="doc"></app-product-transaction>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <app-product-share [product]="doc" [show]="showShareDialog" (close)="showShareDialog = false"></app-product-share>
</div>

<div class="modal fade" bsModal #productVariantModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 *ngIf="productVariantState === 'create'" class="modal-title">
            {{'ui.product.createVariant.title' | translate}}
          </h4>
          <h4 *ngIf="productVariantState === 'edit'" class="modal-title">
            {{'ui.product.updateVariant.title' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="productVariantModal.hide()">
            <span>x</span>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-product-update-variant *ngIf="productVariantState === 'edit' && productVariantModal.isShown" [doc]="modalDoc" [productVariant]="productVariant"
            (afterSubmit)="productVariantModal.hide(); loadData()" (close)="closeVariantModal()"></app-product-update-variant>
          <app-product-create-variant *ngIf="productVariantState === 'create' && productVariantModal.isShown" [doc]="modalDoc" (afterSubmit)="productVariantModal.hide(); loadData()"
            (close)="closeVariantModal()"></app-product-create-variant>
        </div>
      </div>
    </div>
  </div>
</div>
