<app-base-page #page [component]="this">

  <ng-template appTpl="pageHeaderActionsTpl">
    <p-inputSwitch onLabel="{{ 'ui.form.mini' | translate }}" offLabel="{{ 'ui.form.full' | translate }}" [(ngModel)]="fullView"
      (ngModelChange)="onFullViewStateChange()"></p-inputSwitch>
  </ng-template>

  <ng-template appTpl="pageContentTpl">

    <app-base-entry #entry [component]="this">

      <ng-template appTpl="entryContentTpl">

        <form [formGroup]="form">
          <div [ngClass]="fullView ? 'row' : ''" *ngIf="doc">
            <app-form-nav *ngIf="fullView" [navigations]="formNavigations" class="col-sm-3 col-sm-push-9"></app-form-nav>

            <div [ngClass]="fullView ? 'col-sm-9 col-sm-pull-3' : ''">
              <app-product-form-base [masterPage]="page" formType="update" [doc]="doc" #productFormBase [productType]="doc.productType" [displayType]="fullView ? 'full' : 'mini'"
                [form]="form"></app-product-form-base>

              <div class="mt4">
                <app-base-entry-footer [component]="this"></app-base-entry-footer>
              </div>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template appTpl="entryFooterTpl"></ng-template>

    </app-base-entry>

  </ng-template>

</app-base-page>

<div class="modal fade" bsModal #submitProductChannelsModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.product.update.submitProductChannels' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="onSalesChannelProgressClose()">
            <div>&times;</div>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-product-form-channel-progress *ngIf="submitProductChannelsModal.isShown" [observableSubmit]="observableSubmitChannelProducts"
            [accounts]="salesChannelSelectedAccounts" [productId]="doc?.id" (success)="onProductChannelsSubmitted()"></app-product-form-channel-progress>
        </div>
      </div>
    </div>
  </div>
</div>
