<div class="form-group" [appFieldStates]="parentForm.get('phone')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.phone' | translate }}</label>
  <input type="tel" formControlName="phone" class="form-control" />
  <app-field-error [control]="parentForm.get('phone')"></app-field-error>
</div>
