<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div fxLayout="column" [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" class="mb4" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('vendorId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.purchasesOrder.form.vendorId' | translate}}
            </label>
            <p-autoComplete #vendorAC formControlName="vendor" field="displayName" styleClass="wd-wide"
              (completeMethod)="ACVendorHandler.search($event)" (onDropdownClick)="ACVendorHandler.dropdown($event)" (onSelect)="$event && onVendorSelected($event)"
              [dropdown]="true" (onClear)="onVendorClear()" [appWrapperAC]="vendorAC" [disabled]="formType === 'update'">
              <ng-template let-vendor pTemplate="item">
                <a *ngIf="!vendor" (click)="quickCreateAC = vendorAC; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="vendor">
                  {{vendor.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('vendorId')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('vendorEmail')" fxFlex="174px">
            <label class="control-label">
              {{'ui.purchasesOrder.form.vendorEmail' | translate}}
            </label>
            <input formControlName="vendorEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('vendorEmail')"></app-field-error>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div class="text-right">
          <label class="control-label">
            {{'ui.purchasesOrder.form.amount' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('total').value || 0, '') }}
          </h2>
        </div>
      </div>
    
      <div fxFlex="245px" fxLayout="row">
        <div fxFlex fxLayout="column" fxLayoutAlign="end" fxFlex.gt-md="516px">
    
          <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
            <div class="form-group" [appFieldStates]="form.get('billingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesOrder.form.billingAddress' | translate}}
              </label>
              <textarea formControlName="billingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('billingAddress')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('shippingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesOrder.form.shippingAddress' | translate}}
              </label>
              <textarea formControlName="shippingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('shippingAddress')"></app-field-error>
            </div>
          </div>
    
          <div class="form-group" [appFieldStates]="form.get('description')">
            <label class="control-label">
              {{'ui.purchasesOrder.form.description' | translate}}
            </label>
            <input formControlName="description" class="form-control" />
            <app-field-error [control]="form.get('description')"></app-field-error>
          </div>
    
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.purchasesOrder.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.purchasesOrder.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('vendorRefNumber')">
              <label class="control-label">
                {{'ui.purchasesOrder.form.vendorRefNumber' | translate}}
              </label>
              <input formControlName="vendorRefNumber" class="form-control" />
              <app-field-error [control]="form.get('vendorRefNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('deliveryDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.purchasesOrder.form.deliveryDate' | translate}}
              </label>
              <p-calendar formControlName="deliveryDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('deliveryDate')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="150px">
              <div class="form-group" [appFieldStates]="form.get('warehouseId')">
                <label class="control-label">
                  {{'ui.purchasesOrder.form.warehouse' | translate}}
                </label>
                <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });" styleClass="wd-wide"
                  [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();"
                   (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, relatedData.warehouses)" 
                   (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, relatedData.warehouses, ['name'], $event.query)" 
                  [appWrapperAC]="warehouseAC" [appWrapperACLimit]="false">
                  <ng-template let-warehouse pTemplate="item">
                    {{warehouse.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('warehouseId')"></app-field-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="table-responsive">
        <table class="table table-bordered mt mb" style="min-width: 1208px">
          <thead>
            <tr>
              <th class="text-center">
                {{'ui.purchasesOrder.form.colNumber' | translate}}
              </th>
              <th>
                {{'ui.purchasesOrder.form.colProduct' | translate}}
              </th>
              <th>
                {{'ui.purchasesOrder.form.colDescription' | translate}}
              </th>
              <th class="text-right" width="7%">
                {{'ui.purchasesOrder.form.colQty' | translate}}
              </th>
              <th class="text-right" width="9%">
                {{'ui.purchasesOrder.form.colPrice' | translate}}
              </th>
              <th class="text-right" width="70px">
                {{'ui.purchasesOrder.form.colDiscountPercent' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.purchasesOrder.form.colDiscountAmount' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.purchasesOrder.form.colAmount' | translate}}
              </th>
              <th class="text-right" width="125px">
                {{'ui.purchasesOrder.form.colTax' | translate}}
              </th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top" #td>
                <p-autoComplete #productVariantAC formControlName="productVariant" field="name" styleClass="wd-wide" [suggestions]="productVariantsSuggestion"
                  (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)"
                  (onSelect)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()" [dropdown]="true"
                  (onClear)="onProductClear(i)" appendTo="body" [appWrapperAC]="productVariantAC">
                  <ng-template let-productVariant pTemplate="item">
                    [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                  </ng-template>
                </p-autoComplete>
                <span style="font-style: italic;" *ngIf="lineFormGroup.value.productVariant?.sku">SKU: {{lineFormGroup.value.productVariant.sku}}</span>
                <app-field-error [control]="lineFormGroup.get('productVariantId')"></app-field-error>
              </td>
              <td class="align-top">
                <textarea appAutosize formControlName="description" class="form-control" rows="1" (change)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup);"></textarea>
                <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="qty" class="form-control text-right" (change)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('qty')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="unitPrice" class="form-control text-right" (change)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('unitPrice')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, false)"
                />
                <app-field-error [control]="lineFormGroup.get('discountPercent')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, true)"
                />
                <app-field-error [control]="lineFormGroup.get('discountAmount')"></app-field-error>
              </td>
              <td class="text-right middle-text">
                {{ lineFormGroup.get('amount').value ? _accounting.ac.formatMoney(lineFormGroup.get('amount').value) : '' }}
              </td>
              <td class="align-top">
                <p-autoComplete #taxAC formControlName="tax" (onSelect)="$event && lineFormGroup.patchValue({ taxId: $event.id });" styleClass="wd-wide block"
                  [dropdown]="true"  field="code" dataKey="id" (onClear)="lineFormGroup.get('taxId').reset(); syncTax()"
                   (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, relatedData.taxes)" 
                   (completeMethod)="_autocomplete.onLocalACSearch(taxAC, relatedData.taxes, ['name'], $event.query)" 
                  (onSelect)="_purchasesOrderForm.lineConditionalValidation(lineFormGroup); $event && syncTax()"
                  appendTo="body" [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
                  <ng-template let-tax pTemplate="item">
                    {{tax.code}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('taxId')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="8px">
            <button class="btn btn-default" (click)="addLines(1)">
            {{'ui.purchasesOrder.form.button.addLine' | translate}}
          </button>
            <button class="btn btn-default" (click)="resetLines()">
            {{'ui.purchasesOrder.form.button.clearAllLines' | translate}}
          </button>
          </div>
    
          <div fxLayout="row" fxLayoutGap="16px" class="mt4">
            <div class="form-group" [appFieldStates]="form.get('vendorNote')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesOrder.form.vendorNote' | translate}}
              </label>
              <textarea formControlName="vendorNote" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('vendorNote')"></app-field-error>
            </div>
    
            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesOrder.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" class="mt vertical-labels" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.purchasesOrder.form.subTotal' | translate}}
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('subtotal').value || 0) }}
            </div>
          </div>
    
          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.purchasesOrder.form.discount' | translate}}
            </div>
    
            <div fxFlex="195px" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="33%">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="syncTotalDiscount('discountAmount', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountPercent')"></app-field-error>
              </div>
              <div fxFlex>
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="syncTotalDiscount('discountPercent', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountAmount')"></app-field-error>
              </div>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="inline-checkbox">
              <label>
                <p-checkbox formControlName="taxed" (onChange)="onTaxedToggle($event)" binary="true" label="{{ 'ui.purchasesOrder.form.taxed' | translate }}"></p-checkbox>
              </label>
            </div>
    
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('taxAmount').value || 0) }}
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.purchasesOrder.form.shippingCharge' | translate}}
            </div>
    
            <div fxFlex="195px">
              <input type="number" formControlName="shippingCharge" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('shippingCharge')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.purchasesOrder.form.adjustmentAmount' | translate}}
            </div>
    
            <div fxFlex="195px">
              <input type="number" formControlName="adjustmentAmount" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('adjustmentAmount')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="46px" class="label-summary1">
            <div>
              {{'ui.purchasesOrder.form.total' | translate}}
              <app-field-error [control]="form.get('total')"></app-field-error>      
            </div>
            <div fxFlex="195px" class="text-right">
              {{ _accounting.ac.formatMoney(form.get('total').value || 0) }}
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" class="mt label-summary1">
            <div>
              {{'ui.purchasesOrder.form.deposit' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <ng-container *ngIf="!doc && !(!!quickDPForm)">
                <a (click)="createQuickDP()">{{'ui.purchasesOrder.form.createQuickDP' | translate}}</a>
              </ng-container>
              <ng-container *ngIf="!doc && (!!quickDPForm)" [formGroup]="quickDPForm">
                <input type="number" formControlName="downPaymentAmount" class="form-control text-right" />
              </ng-container>
              <ng-container *ngIf="doc">
                <div *ngIf="doc.downPaymentAmount === 0">
                  {{ _accounting.ac.formatMoney(doc.downPaymentAmount) }}
                </div>
                <div *ngIf="doc.downPaymentAmount > 0">
                  <a (click)="downpaymentModal.show()">
                    {{ _accounting.ac.formatMoney(doc.downPaymentAmount) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
    
          <div *ngIf="quickDPForm" fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" [formGroup]="quickDPForm">
            <div>
              {{'ui.purchasesOrder.form.depositPaymentMethod' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide" [suggestions]="_purchasesOrderFormDP.paymentMethodsSuggestion"
                [dropdown]="true" (completeMethod)="_purchasesOrderFormDP.searchACItems($event, 'paymentMethods', 'paymentMethodsSuggestion')"
                (onSelect)="$event && quickDPForm.get('paymentMethodId').setValue($event.id)" (onClear)="quickDPForm.get('paymentMethodId').reset()"
                (onDropdownClick)="_purchasesOrderFormDP.onACDropdown($event, 'paymentMethods', 'paymentMethodsSuggestion')" [appWrapperAC]="paymentMethodAC"
                [appWrapperACLimit]="false">
                <ng-template let-paymentMethod pTemplate="item">
                  <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateModal.show()" class="quick-create-option">
                    <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                  </a>
                  <span *ngIf="paymentMethod">
                    {{paymentMethod.name}}
                  </span>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
    
          <div *ngIf="quickDPForm" fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" [formGroup]="quickDPForm">
            <div>
              {{'ui.purchasesOrder.form.depositPaymentAccount' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [suggestions]="_purchasesOrderFormDP.accountsSuggestion"
                [dropdown]="true" (completeMethod)="_purchasesOrderFormDP.searchACItems($event, 'accounts', 'accountsSuggestion')"
                (onSelect)="$event && quickDPForm.get('paymentAccountId').setValue($event.id)" (onClear)="quickDPForm.get('paymentAccountId').reset()"
                (onDropdownClick)="_purchasesOrderFormDP.onACDropdown($event, 'accounts', 'accountsSuggestion')" [appWrapperAC]="paymentAccountAC"
                [appWrapperACLimit]="false">
                <ng-template let-account pTemplate="item">
                  [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
            (click)="quickCreateModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <app-business-partner-quick-create type="vendor" (afterSubmit)="onVendorCreated($event)" (close)="quickCreateModal.hide()"></app-business-partner-quick-create>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" bsModal #downpaymentModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" *ngIf="doc">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.purchasesOrder.form.downPayment' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="downpaymentModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-purchases-down-payment-quick-list *ngIf="downpaymentModal.isShown" [transaction]="doc"></app-purchases-down-payment-quick-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</app-base-page>
