<div [formGroup]="form" [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsAccounting.form.general' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <ul class="form-flex">
        <li>
          <label>{{'ui.settingsAccounting.form.fiscalYearMonthStart' | translate}}</label>
          <select formControlName="fiscalYearMonthStart" class="form-control" style="width:174px">
            <option value=1>Jan</option>
            <option value=2>Feb</option>
            <option value=3>Mar</option>
            <option value=4>Apr</option>
            <option value=5>May</option>
            <option value=6>Jun</option>
            <option value=7>Jul</option>
            <option value=8>Aug</option>
            <option value=9>Sep</option>
            <option value=10>Oct</option>
            <option value=11>Nov</option>
            <option value=12>Dec</option>
          </select>
          <app-field-error [control]="form.get('fiscalYearMonthStart')"></app-field-error>
        </li>
        <li>
          <label>{{'ui.settingsAccounting.form.lockDate' | translate}}</label>
          <p-calendar formControlName="lockDate" styleClass="fw" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
          [showIcon]="true"></p-calendar>
          <app-field-error [control]="form.get('lockDate')"></app-field-error>
        </li>      
      </ul>
      <div class="mt4" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsAccounting.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <label>{{'ui.settingsAccounting.form.fiscalYearMonthStart' | translate}}</label> {{doc?.fiscalYearMonthStart || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsAccounting.form.accountingStartDate' | translate}}</label> {{(doc?.accountingStartDate | date:'dd/MM/y') || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsAccounting.form.lockDate' | translate}}</label> {{(doc?.lockDate | date:'dd/MM/y') || '-'}}
        </li>    
      </ul>
      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
