<div class="form-group" [appFieldStates]="config.control">
  <label class="control-label" *ngIf="config.label">{{ config.label | translate }}</label>
  <p-calendar [formControl]="config.control" [dateFormat]="config?.templateConfig?.dateFormat" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
  <app-field-error [control]="config.control"></app-field-error>
</div>
