<div *ngIf="doc.productType === 'inventory'" fxLayout="row">
    <div fxFlex>
        <fieldset class="collapsible">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.product.detail.warehouse' | translate}}" fxFlex></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="detail-label">
                                {{ 'ui.product.detail.warehouse' | translate }}
                            </th>
                            <th class="detail-label">
                                {{ 'ui.product.detail.variants.label' | translate }}
                            </th>
                            <th class="detail-label">
                                {{ 'ui.product.detail.qty' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let key of _.keys(warehouseInventory)">
                            <td>
                                {{ warehouseInventory[key][0].warehouseName }}
                            </td>
                            <td>
                                <tr *ngFor="let inventory of warehouseInventory[key]">
                                    <td style="border: none!important">
                                        {{ inventory.variantName || '-'}}
                                    </td>
                                </tr>
                            </td>
                            <td class="text-right">
                                <tr *ngFor="let inventory of warehouseInventory[key]">
                                    <td style="border: none!important">
                                        {{ inventory.qty }}
                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </app-fieldset-collapsible-content>
        </fieldset>
    </div>
</div>