<div #pageLoading="app-spinner" appSpinner [show]="confirmationResult === null"></div>

<div class="page-container" *ngIf="confirmationResult === true">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="text-success text-lg fa fa-check-circle-o"></span>
    <h4>{{'ui.account.activation.successTitle' | translate}}</h4>
    <span class="text-muted">{{'ui.account.activation.successDescription' | translate}}</span>

    <button class="btn btn-success" style="margin-top:20px" (click)="onLogin()">
      {{'ui.account.activation.button.login' | translate}}
    </button>
  </div>
</div>
