<div fxLayout="row" fxLayoutGap="30px">
  <app-report-print-form (formSubmit)="templateConfig = $event"></app-report-print-form>

  <app-report-viewer [config]="viewer.config" [data]="viewer.data" [params]="viewer.params" [templateConfig]="templateConfig"
    [applyTemplateConfigOnChange]="true" initDisplay="pdf" fxFlex></app-report-viewer>
</div>
