<div class="form-group" [appFieldStates]="parentForm.get('city')" [formGroup]="parentForm">
  <input formControlName="city" class="form-control" placeholder="{{'ui.businessPartner.form.placeholder.city' | translate }}" />
  <app-field-error [control]="parentForm.get('city')"></app-field-error>
</div>
