<div #pageLoading="app-spinner" appSpinner [show]="!summary" [stretchToMain]="false" [parent]="apWidget"></div>

<div fxLayout="row" fxLayoutGap="21px">
  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <div #apWidget class="dash-block dash-ap">
      <div class="dash-title">{{ 'ui.dashboard.dashAP.title' | translate }}</div>
      <div *ngIf="summary?.transactions.length">
        <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 22px;">
          <div class="dash-card" fxFlex>
            <div class="dash-card-label1">
              {{ _accounting.ac.formatMoney(summary.totalAmount, '') }}
            </div>
            <div class="dash-card-label2">
              {{ 'ui.dashboard.dashAP.total' | translate:{ count: summary.totalCount } }}
            </div>
          </div>

          <div class="dash-card" fxFlex>
            <table class="no-border">
              <tbody>
                <tr style="color: #db5454">
                  <td class="text-right" width="110px">
                    {{ 'ui.dashboard.dashAP.due' | translate:{ count: summary.overdueCount } }}
                  </td>
                  <td>
                    {{ _accounting.ac.formatMoney(summary.overdueAmount, '') }}
                  </td>
                </tr>
                <tr>
                  <td class="text-right" width="110px">
                    {{ 'ui.dashboard.dashAP.credit' | translate:{ count: summary.creditCount } }}
                  </td>
                  <td>
                    {{ _accounting.ac.formatMoney(summary.creditAmount, '') }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <table class="table" *ngIf="summary?.transactions.length">
          <tbody>
            <tr>
              <th>
                {{ 'ui.dashboard.dashAP.colNo' | translate }}
              </th>
              <th>
                {{ 'ui.dashboard.dashAP.colContact' | translate }}
              </th>
              <th class="text-right">
                {{ 'ui.dashboard.dashAP.colAmount' | translate }}
              </th>
              <th>
                {{ 'ui.dashboard.dashAP.colDueDate' | translate }}
              </th>
            </tr>
            <tr *ngFor="let transaction of summary.transactions">
              <td>
                <a [routerLink]="getUpdateLink(transaction)">{{ transaction.transactionNumber }}</a>
              </td>
              <td>
                {{ transaction.contactName }}
              </td>
              <td class="text-right">
                {{ _accounting.ac.formatMoney(transaction.amount, '') }}
              </td>
              <td>
                {{ transaction.transactionDueDate }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!summary?.transactions.length">
        No Data
      </div>
    </div>
  </div>
</div>