<ul class="table-other-tabs">
  <li>
    <a routerLink="/settings/company" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.company' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/sales" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.sales' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/purchase" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.purchases' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/product" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.product' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/accounting" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.accounting' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/integration" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.integration' | translate }}
    </a>
  </li>
  <li>
    <a routerLink="/settings/users" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.user' | translate }}
    </a>
  </li>
  <!-- <li>
    <a routerLink="/error/404" routerLinkActive="active">
      {{ 'ui.settings.tabs.tabLink.billings' | translate }}
    </a>
  </li> -->
</ul>