<div class="cbt-bubble" [ngClass]="isPartner ? 'cbt-bubble-left' : 'cbt-bubble-right'">
  <span class="cbt-user">{{ userName }}</span>
  <span class="cbt-msg" *ngIf="conversationMessage.MessageType === 'text'">{{ conversationMessage.Text }}</span>
  <span class="cbt-msg" *ngIf="conversationMessage.MessageType === 'image'">
    <img [src]="_.unescape(conversationMessage.PreviewImageURL)">
  </span>
  <span class="cbt-time"><img [src]="isPartner ? '/assets/chatbot/male-chat-support.png' : '/assets/chatbot/male-user.png'" class="bubble-chat-time-icon">{{ messageTime }}</span>
</div>
