<div class="upload-box-wrapper mb2">
  <div class="upload-box" fxLayout="row" fxLayoutAlign="center center">
    <img #image [src]="imageSrc || imagePlaceholder" class="img-responsive" />
  </div>
</div>