:host /deep/ {
  display: block;
  .upload-box-wrapper {
    display: block;
    .upload-box {
      width: 100%;
      min-height: 200px;
      max-width: 200px;
      max-height: 200px;
      border-radius: 5px;
      border: solid 1px #979797;
    }
    &.upload-box-wrapper-small {
      display: inline-block;
      .upload-box {
        width: 45px;
        height: 45px;
        min-width: auto;
        min-height: auto;
      }
    }
  }
  .upload-actions {
    margin-top: 7px;
    text-align: center;
    >span {
      cursor: pointer;
      color: #9b9b9b;
      border-right: 1px solid #9b9b9b;
      margin-right: 3px;
      padding-right: 7px;
      &:last-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}
