<input type="file" class="hidden" #inputFile [attr.multiple]="multiple" (change)="addFile(inputFile)" />

<div appSpinner [show]="isUploading" [stretchToMain]="false" [parent]="_elementRef.nativeElement"></div>

<div>
  <app-img-upload-display #imageDisplay='app-img-upload-display' [imageSrc]="imagePlaceholder" (click)="mainFileId === undefined || !multiple ? inputFile.click() : null"></app-img-upload-display>

  <div class="upload-actions" *ngIf="!multiple">
    <span class="mi mi-edit icon-lg" (click)="inputFile.click()"></span>
    <span class="mi mi-delete icon-lg" (click)="doDeleteSingle()"></span>
  </div>  
</div>

<div fxLayout="row" fxLayoutGap="6px" fxLayoutWrap *ngIf="multiple">
  <app-img-upload-item *ngFor="let file of getUploads(); trackBy: trackByFile; let idx=index" class="mb1" (click)="setMainImage(file.id)" [(uploader)]="uploader"
    [file]="getFile(file.id)" [small]="true" (onDeleted)="doDeleted(file)" (onPrimarySelected)="doPrimaryChange(file)"></app-img-upload-item>

  <div class="upload-box-wrapper upload-box-wrapper-small" (click)="inputFile.click()">
    <div class="upload-box" fxLayout="row" fxLayoutAlign="center center">
      <span class="fa fa-plus"></span>
    </div>
  </div>
</div>
