<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.purchasesDebitNote.moreFilter.from' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>

    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.purchasesDebitNote.moreFilter.to' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="222px">
      <label class="control-label">
        {{'ui.purchasesDebitNote.moreFilter.vendorId' | translate}}
      </label>
      <p-autoComplete #vendorAC formControlName="vendor" field="displayName" styleClass="wd-wide" [suggestions]="vendorsSuggestion" (onSelect)="$event && form.get('vendorId').setValue($event.id)" 
        (completeMethod)="ACVendorHandler.search($event)" (onDropdownClick)="ACVendorHandler.dropdown($event)" [dropdown]="true" field="displayName" [appWrapperAC]="vendorAC"></p-autoComplete>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end start">
    <button class="btn btn-default" type="reset">
      {{'ui.button.reset' | translate}}
    </button>

    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>
</form>
