<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <ul class="table-tabs mb4">
      <li>
        <a routerLink="/settings/chatbot/externals" routerLinkActive="active">
          {{ 'ui.settingsChatbot.list.externalTab' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/settings/chatbot/internals" routerLinkActive="active">
          {{ 'ui.settingsChatbot.list.internalTab' | translate }}
        </a>
      </li>
    </ul>

    <p *ngIf="!data[page.routeData.type]?.length">
      {{'ui.settingsChatbot.list.noData.message' | translate}}
      <a [routerLink]="['/settings/chatbot', page.routeData.type+'s', 'create']">{{'ui.settingsChatbot.list.noData.addNew' | translate}}</a>
    </p>

    <ul class="list-unstyled integration-setting-item">
      <li *ngFor="let account of data[page.routeData.type]; let last=last" fxLayout="row" [style.border-bottom]="last ? '0px' : '1px solid #d8d8d8'">
        <div fxFlex="95" style="display:inline-block; padding-right:5px; cursor:pointer" [routerLink]="[account.id, 'update']">
          <img src="assets/chatbot/line.png" style="width:30px">
          <span style="display:inline-block; padding-left:5px">
            <h5 style="margin-top:16px;margin-bottom:22px;font-weight:400">{{ account.name }}</h5>
          </span>
        </div>
        <div fxFlex="5" style="text-align:right;margin-top:16px" *ngIf="page.routeData.type === 'internal'">
          <a (click)="showDeleteDialog(account.id, account.name)">
            <img src="assets/marketplace/delete-icon.png" style="width:17px">
          </a>
        </div>
      </li>
    </ul>

  </ng-template>
</app-base-page>
