<div class="mb0" [formGroup]="parentForm">
  <label>
    <p-checkbox formControlName="purchaseTaxable" binary="true" label="{{ label ? ('ui.businessPartner.form.purchaseTaxable' | translate) : null }}"></p-checkbox>
  </label>
  <app-field-error [control]="parentForm.get('purchaseTaxable')"></app-field-error>
</div>
