<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.reports.title' | translate}}
  </span>
</div>


<ul class="table-other-tabs">
  <li *ngFor="let map of maps">
    <a (click)="selectMap(map)" [ngClass]="{active: isActive(map)}">
      {{map.i18nTab | translate}}
    </a>
  </li>
</ul>

<div class="list-group">
  <div *ngFor="let lists of selectedMap.lists" class="list-row" fxLayout="row" fxLayoutGap="50px">
    <div *ngFor="let list of lists" class="list-item" fxFlex>
      <a class="list-item-title" [routerLink]="list.link">
        {{list.i18nLabel | translate}}
      </a>
      <div class="list-item-description">
        {{list.i18nDescription | translate}}
      </div>
    </div>
  </div>
</div>