<div class="form-group" [appFieldStates]="parentForm.get('defaultSalesPriceLevelId')" [formGroup]="parentForm">
  <label class="control-label">{{'ui.businessPartner.form.defaultSalesPriceLevelId' | translate}}</label>
  <p-autoComplete #defaultSalesPriceLevelAC formControlName="defaultSalesPriceLevel" (onSelect)="$event && parentForm.patchValue({ defaultSalesPriceLevelId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(defaultSalesPriceLevelAC, priceLevels)"
    (completeMethod)="_autocomplete.onLocalACSearch(defaultSalesPriceLevelAC, priceLevels, ['name'], $event.query)" (onClear)="parentForm.get('defaultSalesPriceLevelId').reset()" [appWrapperAC]="defaultSalesPriceLevelAC" [appWrapperACLimit]="false">
    <ng-template let-priceLevel pTemplate="item">
      {{priceLevel.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('defaultSalesPriceLevelId')"></app-field-error>
</div>
