<input type="file" class="hidden" #inputFile (change)="sendImageMessage(inputFile)" />

<form #form="ngForm" (ngSubmit)="sendTextMessage(form.value); form.reset();" fxLayout="row">
  <div dropdown [dropup]="true" fxFlex="50px">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" dropdownToggle style="width:100%; padding: 7px!important;">
      <img src="/assets/img/more-icon.png" style="height:18px">
    </button>
    <ul class="dropdown-menu" *dropdownMenu>
        <li>
            <a (click)="openSelectProductModal(template)">
              Product List
            </a>
          </li>
      <li>
        <a (click)="inputFile.click()">
          Upload Photo
        </a>
      </li>
    </ul>
  </div>

  <input type="text" name="messageText" class="form-control" ngModel fxFlex />

  <button type="button" class="btn btn-default" (click)="sendTextMessage(form.value); form.reset();" fxFlex="50px">
    <img src="/assets/img/send-icon.png" style="height:18px">
  </button>
</form>

  <ng-template #template>
    <div class="modal-body">
      <div class="modal-header" fxLayout="row">
        <h4 class="modal-title" fxFlex>
          {{'ui.chatbot.modal.product.selectTitle' | translate}}
        </h4>
        <button type="button" class="close text-md" (click)="modalRef.hide()">
          <div>&times;</div>
        </button>
      </div>
      <div style="padding: 24px 40px">
        <app-product-select-modal (submit)="onSelectProducts($event)" (cancel)="modalRef.hide()"></app-product-select-modal>
      </div>
    </div>
  </ng-template>
