<div #pageLoading="app-spinner" appSpinner [show]="!compReady.self || !compReady.form"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.journalEntry.update.title' | translate}}
  </span>
</div>

<form [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-journal-entry-form [doc]="doc" [form]="form" class="clearfix mb" (compReady)="compReady.form = true"></app-journal-entry-form>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" routerLink="/journal-entries">
      {{'ui.button.cancel' | translate}}
    </button>
    <div dropdown>
      <button class="btn btn-success dropdown-toggle">
        <span (click)="onSubmit()">{{'ui.button.save' | translate}}</span>
        <span class="caret" dropdownToggle></span>
      </button>
      <ul class="dropdown-menu" *dropdownMenu>
        <li>
          <a (click)="onSubmit({ saveAndView: true })">
            {{ 'ui.button.saveAndView' | translate }}
          </a>
        </li>
        <li>
          <a (click)="onSubmit({ saveAndNew: true })">
            {{ 'ui.button.saveAndNew' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</form>
