<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.coa.create.title' | translate}}
  </span>
</div>

<form [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-coa-form [form]="form" [accountTypeId]="accountTypeId" class="clearfix mb" (compReady)="compReady = true"></app-coa-form>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" routerLink="/accounts">
      {{'ui.button.cancel' | translate}}
    </button>
    <div dropdown>
      <button class="btn btn-success dropdown-toggle">
        <span (click)="onSubmit()">{{'ui.button.save' | translate}}</span>
        <span class="caret" dropdownToggle></span>
      </button>
      <ul class="dropdown-menu" *dropdownMenu>
        <li>
          <a (click)="onSubmit({ saveAndView: true })">
            {{ 'ui.button.saveAndView' | translate }}
          </a>
        </li>
        <li>
          <a (click)="onSubmit({ saveAndNew: true })">
            {{ 'ui.button.saveAndNew' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</form>
