<table *ngIf="parentForm.get('variants') && parentForm.get('variants')['controls']['length']" class="table table-striped mt">
  <thead>
    <tr>
      <th *ngFor="let formGroupAttribute of parentForm.get('attributes')['controls']; let formGroupAttributeIdx=index">
        {{ parentForm.get('variantAttribute' + (formGroupAttributeIdx + 1)).value?.name}}
      </th>
      <th>
        {{'ui.product.form.sku' | translate}}
      </th>
      <th>
        {{'ui.product.form.sellingPrice' | translate}}
      </th>
      <th>
        {{'ui.product.form.unitCost' | translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formProductVariant of parentForm.controls.variants.controls; let i=index;" [formGroup]="formProductVariant">
      <td *ngFor="let formGroupAttribute of parentForm.get('attributes')['controls']; let formGroupAttributeIdx=index">
        <input type="text" class="form-control" [formControlName]="'attribute' + (formGroupAttributeIdx + 1) + 'Value'" />
        <app-field-error [control]="formProductVariant.get('attribute' + (formGroupAttributeIdx + 1) + 'Value')"></app-field-error>
      </td>
      <td>
        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="start center">
          <div fxFlex>
            <input type="text" formControlName="sku" class="form-control" />
          </div>
        </div>
      </td>
      <td>
        <app-product-form-field-prices [parentForm]="formProductVariant" [formGroupClass]="false" [priceLevels]="priceLevels" [selectedUOMS]="UOMS"></app-product-form-field-prices>
      </td>
      <td>
        <input type="number" class="form-control" formControlName="unitCost" />
        <app-field-error [control]="formProductVariant.controls.unitCost"></app-field-error>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" *ngIf="parentForm.get('attributes')['controls'].length" class="btn btn-primary" (click)="addVariant()">
  {{'ui.product.form.button.variantAdd' | translate}}
</button>