<form [formGroup]="form">
  <div class="form-group">
    <label class="control-label">{{ 'ui.reportPrint.form.margin.label' | translate }}</label>
    <select formControlName="marginsType" class="form-control">
      <option value="0">{{ 'ui.reportPrint.form.margin.0' | translate }}</option>
      <option value="1">{{ 'ui.reportPrint.form.margin.1' | translate }}</option>
    </select>
    <app-field-error [control]="form.get('marginsType')"></app-field-error>
  </div>
  <div class="form-group">
    <label class="control-label">{{ 'ui.reportPrint.form.orientation.label' | translate }}</label>
    <select formControlName="landscape" class="form-control">
      <option value="false">{{ 'ui.reportPrint.form.orientation.portrait' | translate }}</option>
      <option value="true">{{ 'ui.reportPrint.form.orientation.landscape' | translate }}</option>
    </select>
    <app-field-error [control]="form.get('landscape')"></app-field-error>
  </div>
  <div class="form-group">
    <label class="control-label">{{ 'ui.reportPrint.form.format.label' | translate }}</label>
    <select formControlName="format" class="form-control">
      <option value="A4">{{ 'ui.reportPrint.form.format.a4' | translate }}</option>
      <option value="A3">{{ 'ui.reportPrint.form.format.a3' | translate }}</option>
      <option value="Legal">{{ 'ui.reportPrint.form.format.legal' | translate }}</option>
      <option value="Letter">{{ 'ui.reportPrint.form.format.letter' | translate }}</option>
      <option value="Tabloid">{{ 'ui.reportPrint.form.format.tabloid' | translate }}</option>
    </select>
    <app-field-error [control]="form.get('format')"></app-field-error>
  </div>

  <button type="submit" (click)="formSubmit.emit(form.value)" class="btn btn-success">
    {{ 'ui.reportPrint.form.button.submit' | translate }}
  </button>
</form>
