<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.purchasesReceipt.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
      <span [ngClass]="(doc.status=='open')?'text-success':'text-danger'">{{( doc.status || '').toUpperCase() }}</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn ripple btn-default" (click)="reportModal.show()">
        <span class="mi mi-print icon-lg"></span>
        <span>
          {{ 'ui.button.print' | translate }}
        </span>
      </button>

      <button class="btn btn-primary" routerLink="update" [disabled]="doc.state === 'voided'">
        {{'ui.button.edit' | translate}}
      </button>

      <div dropdown>
        <button dropdownToggle type="button" class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="_purchasesReceiptClone.copy(doc)">
              {{'ui.action.clone' | translate}}
            </a>
          </li>  
          <li>
            <a (click)="journalModal.show()">
              {{'ui.purchasesReceipt.detail.action.transactionJournal' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutGap="95px">
      <div fxLayout="column">
        <table class="no-border">
          <tbody>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesReceipt.detail.vendorName' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.vendor?.displayName || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td>
                <span class="pl4 ml3">
                  <span class="mi mi-email"></span> {{doc?.vendorEmail || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesReceipt.detail.vendorRefNo' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.vendorRefNumber || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesReceipt.detail.paymentMethod' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.paymentMethod?.name || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesReceipt.detail.payFrom' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{doc?.paymentAccount?.name || '-'}}
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="control-label">{{'ui.purchasesReceipt.detail.date' | translate}}</label>
              </td>
              <td>
                <span class="pl4 ml3">
                  {{(doc?.transactionDate | date:'dd/MM/y') || '-'}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="mt pt">
          <label class="control-label mr">
            {{'ui.purchasesReceipt.detail.description' | translate}}
          </label>
          <span>{{doc.description || '-'}}</span>
        </div>
      </div>

      <!-- <div fxFlex="45%">
        <div class="form-group">
          <label class="control-label">
            {{'ui.purchasesReceipt.detail.billingAddress' | translate}}
          </label>
          <div>
            {{doc?.billingAddress || '-'}}
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">
            {{'ui.purchasesReceipt.detail.shippingAddress' | translate}}
          </label>
          <div>
            {{doc?.shippingAddress || '-'}}
          </div>
        </div>
      </div> -->
    </div>

    <div fxLayout="column" fxLayoutAlign="start end">
      <label class="control-label">
        {{'ui.purchasesReceipt.detail.amount' | translate}}
      </label>
      <h2 class="m0 fs40">
        {{ _accounting.ac.formatMoney(doc.total, '') }}
      </h2>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered mt mb" style="min-width: 1208px">
      <thead>
        <tr>
          <th class="text-center">
            {{'ui.purchasesReceipt.detail.colNumber' | translate}}
          </th>
          <th>
            {{'ui.purchasesReceipt.detail.colProduct' | translate}}
          </th>
          <th>
            {{'ui.purchasesReceipt.detail.colDescription' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesReceipt.detail.colQty' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesReceipt.detail.colPrice' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesReceipt.detail.colDiscountPercent' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesReceipt.detail.colDiscountAmount' | translate}}
          </th>
          <th class="text-right">
            {{'ui.purchasesReceipt.detail.colAmount' | translate}}
          </th>
          <th class="text-center">
            {{'ui.purchasesReceipt.detail.colTax' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index">
          <td class="text-center middle-text">
            {{i + 1}}
          </td>
          <td class="middle-text">
            <span *ngIf="line.productVariant && line.product">
              {{line.productVariant?.name}}
              <div style="font-style:italic">
                SKU: {{line.productVariant?.sku}}
              </div>
            </span>
          </td>
          <td class="middle-text">
            {{line.description || '-'}}
          </td>
          <td class="text-right middle-text">
            {{line.qty || 0}}
          </td>
          <td class="text-right middle-text">
            {{ _accounting.ac.formatMoney(line.unitPrice || 0) }}
          </td>
          <td class="text-right middle-text">
            {{line.discountPercent || 0}}
          </td>
          <td class="text-right middle-text">
            {{ _accounting.ac.formatMoney(line.discountAmount || 0) }}
          </td>
          <td class="text-right middle-text">
            {{ _accounting.ac.formatMoney(line.total || 0) }}
          </td>
          <td class="text-center middle-text">
            {{line.tax?.name || '-'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" class="mt pt">
    <div fxFlex fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="250px">
        <label class="control-label">
          {{'ui.purchasesReceipt.detail.vendorMemo' | translate}}
        </label>
        <div class="text-justify">
          {{doc?.vendorNote || '-'}}
        </div>
      </div>

      <div fxFlex="250px">
        <label class="control-label">
          {{'ui.purchasesReceipt.detail.note' | translate}}
        </label>
        <div class="text-justify">
          {{doc?.note || '-'}}
        </div>
      </div>
    </div>

    <div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div class="control-label">
            {{'ui.purchasesReceipt.detail.subTotal' | translate}}
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.subtotal) }}
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div>
            <span class="control-label">{{'ui.purchasesReceipt.detail.discount' | translate}}</span> ({{ doc.discountPercent || 0 }}%)
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.discountAmount) }}
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div>
            <span class="control-label">{{'ui.purchasesReceipt.detail.tax' | translate}}</span>
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.taxAmount) }}
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div class="control-label">
            {{'ui.purchasesReceipt.detail.shippingCharge' | translate}}
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.shippingCharge) }}
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div class="control-label">
            {{'ui.purchasesReceipt.detail.adjustment' | translate}}
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.adjustmentAmount) }}
          </div>
        </div>

        <div fxLayout="row" class="mt2 label-summary1" fxLayoutGap="46px" fxLayoutAlign="start center">
          <div>
            {{'ui.purchasesReceipt.detail.total' | translate}}
          </div>
          <div fxFlex="195px" class="text-right">
            {{ _accounting.ac.formatMoney(doc.total) }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <div style="padding: 24px 40px">
            <app-report-viewer [config]="{templateCode: 'PR001'}" [data]="doc" initDisplay="pdf"></app-report-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.purchasesReceipt.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
