<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('customerId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.salesDownPayment.form.customerId' | translate}}
            </label>
            <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" (completeMethod)="ACCustomerHandler.search($event)"
              (onDropdownClick)="ACCustomerHandler.dropdown($event)" (onSelect)="onCustomerSelected($event).subscribe()" [dropdown]="true"
              (onClear)="onCustomerClear()" [disabled]="formType === 'update'">
              <ng-template let-customer pTemplate="item">
                <a *ngIf="!customer" (click)="quickCreateAC = customerAC; quickCreateTarget = 'businessPartner'; quickCreateModal.show()"
                  class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="customer">
                  {{customer.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('customerId')" [appWrapperAC]="customerAC"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerEmail')" fxFlex="174px">
            <label class="control-label">
              {{'ui.salesDownPayment.form.customerEmail' | translate}}
            </label>
            <input formControlName="customerEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('customerEmail')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerMobile')" fxFlex="131px">
            <label class="control-label">
              {{'ui.salesDownPayment.form.customerMobile' | translate}}
            </label>
            <input formControlName="customerMobile" type="tel" class="form-control" />
            <app-field-error [control]="form.get('customerMobile')"></app-field-error>
          </div>
        </div>

        <div fxFlex></div>

        <div class="text-right">
          <label class="control-label">
            {{'ui.salesDownPayment.form.amount' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('downPaymentAmount').value || 0, '') }}
          </h2>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" style="margin-bottom: 60px;">
        <div fxLayout="column">

          <!-- <div fxLayout="row" class="mb4" fxLayoutGap="40px" fxLayoutFill style="margin-top: -8px">
        <div>
          <label>
            <p-checkbox formControlName="useCustomCustomerName" binary="true" label="{{'ui.salesOrder.form.useCustomCustomerName' | translate}}"></p-checkbox>
          </label>
          <app-field-error [control]="form.get('useCustomCustomerName')"></app-field-error>
        </div>
      </div> -->

          <!-- <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
        <div *ngIf="form.get('useCustomCustomerName').value" class="form-group" [appFieldStates]="form.get('customCustomerName')" fxFlex="228px">
          <label class="control-label">
            {{'ui.salesDownPayment.form.customCustomerName' | translate}}
          </label>
          <input formControlName="customCustomerName" type="text" class="form-control" />
          <app-field-error [control]="form.get('customCustomerName')"></app-field-error>
        </div>
      </div> -->

          <div fxLayout="row">
            <div class="form-group" [appFieldStates]="form.get('description')" style="width: 517px;">
              <label class="control-label">
                {{'ui.salesDownPayment.form.description' | translate}}
              </label>
              <input formControlName="description" class="form-control" />
              <app-field-error [control]="form.get('description')"></app-field-error>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('paymentMethodId')" fxFlex="180px">
              <label class="control-label">
                {{'ui.salesDownPayment.form.paymentMethodId' | translate}}
              </label>
              <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide" [dropdown]="true" (completeMethod)="_autocomplete.onLocalACSearch(paymentMethodAC, relatedData.paymentMethods, ['name'], $event.query, true)"
                (onSelect)="$event && form.get('paymentMethodId').setValue($event.id)" (onClear)="form.get('paymentMethodId').reset()"
                (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentMethodAC, relatedData.paymentMethods, true)" [appWrapperAC]="paymentMethodAC"
                [appWrapperACLimit]="false">
                <ng-template let-paymentMethod pTemplate="item">
                  <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateTarget='paymentMethod'; quickCreateModal.show()"
                    class="quick-create-option">
                    <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                  </a>
                  <span *ngIf="paymentMethod">
                    {{paymentMethod.name}}
                  </span>
                </ng-template>
              </p-autoComplete>
              <a *ngIf="form.get('paymentMethod').value?.paymentMethodType === 'credit_card'" class="block pt2" (click)="paymentDetailsModal.show()">
                {{'ui.salesDownPayment.form.enterCCDetails' | translate}}
              </a>
            </div>
            <div class="form-group" [appFieldStates]="form.get('paymentAccountId')" fxFlex="230px">
              <label class="control-label">
                {{'ui.salesDownPayment.form.depositTo' | translate}}
              </label>
              <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [dropdown]="true" (completeMethod)="_autocomplete.onLocalACSearch(paymentAccountAC, relatedData.paymentAccounts, ['name'], $event.query)"
                (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentAccountAC, relatedData.paymentAccounts)" (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id })"
                (onClear)="form.get('paymentAccountId').reset()" appendTo="body" [appWrapperAC]="paymentAccountAC" [appWrapperACLimit]="false">
                <ng-template let-account pTemplate="item">
                  [{{account.code}}] {{account.name}}
                  <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                </ng-template>
              </p-autoComplete>
              <app-field-error [control]="form.get('paymentAccountId')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('orderId')" fxFlex="180px">
              <label class="control-label">
                {{'ui.salesDownPayment.form.orderId' | translate}}
              </label>
              <p-autoComplete #orderAC formControlName="order" field="transactionNumber" styleClass="wd-wide" [dropdown]="true" (completeMethod)="ACOrderHandler.search($event)"
                (onDropdownClick)="ACOrderHandler.dropdown($event)" (onSelect)="onOrderSelected($event)" [appWrapperAC]="orderAC"></p-autoComplete>
              <div *ngIf="form.get('order').value" class="mt1">
                <strong>{{ _accounting.ac.formatMoney(form.get('order').value.total || 0) }}</strong>
              </div>
              <app-field-error [control]="form.get('orderId')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('downPaymentAmount')">
              <label class="control-label">
                {{'ui.salesDownPayment.form.downPaymentAmount' | translate}}
              </label>
              <div fxLayout="row" fxLayoutGap="16px">
                <input type="number" formControlName="downPaymentAmountPercent" (change)="syncAmountPercent()" class="form-control" fxFlex="50px"
                />

                <div class="form-group" [appFieldStates]="form.get('downPaymentAmount')" fxLayout="column" fxFlex="227px">
                  <input type="number" formControlName="downPaymentAmount" (change)="form.get('downPaymentAmountPercent').setValue('')" class="form-control"
                  />
                  <app-field-error [control]="form.get('downPaymentAmount')"></app-field-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex></div>

        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.salesDownPayment.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label">
                {{'ui.salesDownPayment.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row">
            <div class="form-group" [appFieldStates]="form.get('customerRefNumber')" fxLayout="column" fxFlex="150px">
              <label class="control-label">
                {{'ui.salesDownPayment.form.customerRefNumber' | translate}}
              </label>
              <input formControlName="customerRefNumber" class="form-control" />
              <app-field-error [control]="form.get('customerRefNumber')"></app-field-error>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="row" style="margin-bottom: 20px;">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex="517px">
          <div class="form-group" [appFieldStates]="form.get('customerNote')" fxFlex>
            <label class="control-label">
              {{'ui.salesDownPayment.form.customerNote' | translate}}
            </label>
            <textarea formControlName="customerNote" class="form-control" rows="6"></textarea>
            <app-field-error [control]="form.get('customerNote')"></app-field-error>
          </div>

          <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
            <label class="control-label">
              {{'ui.salesDownPayment.form.note' | translate}}
            </label>
            <textarea formControlName="note" class="form-control" rows="6"></textarea>
            <app-field-error [control]="form.get('note')"></app-field-error>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-base-page>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
          (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-payment-method-quick-create (afterSubmit)="assignQuickCreatedEntity($event, 'paymentMethods')" (close)="quickCreateModal.hide()"
          *ngIf="quickCreateTarget === 'paymentMethod'"></app-payment-method-quick-create>
        <app-business-partner-quick-create type="customer" (close)="quickCreateModal.hide()" (afterSubmit)="onCustomerCreated($event)"
          *ngIf="quickCreateTarget === 'businessPartner'"></app-business-partner-quick-create>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #paymentDetailsModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" fxLayout="row">
        <div fxFlex>
          <h5 class="modal-title">
            {{'ui.paymentMethod.creditInfoForm.label' | translate}}
          </h5>
        </div>
        <button type="button" class="close text-md" (click)="paymentDetailsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 25px 40px;">
        <app-payment-method-credit-info-form [form]="form"></app-payment-method-credit-info-form>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
          <button type="button" class="btn btn-default" (click)="paymentDetailsModal.hide()">
            {{'ui.button.cancel' | translate}}
          </button>
          <button class="btn btn-success" (click)="paymentDetailsModal.hide()">
            {{'ui.button.ok' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
