<div class="form-group" [appFieldStates]="config.control">
  <label class="control-label" *ngIf="config.label">{{ config.label | translate }}</label>
  <textarea class="form-control" [formControl]="config.control"></textarea>
  <app-field-error [control]="config.control"></app-field-error>
</div>
