<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    
    <div [formGroup]="form">
      <div fxLayout="row" style="margin-bottom: 60px;">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('vendorId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.purchasesDownPayment.form.vendorId' | translate}}
            </label>
            <p-autoComplete #vendorAC formControlName="vendor" field="displayName" styleClass="wd-wide"
              (completeMethod)="ACVendorHandler.search($event)" (onDropdownClick)="ACVendorHandler.dropdown($event)"
              (onSelect)="onVendorSelected($event)" [dropdown]="true" (onClear)="onVendorClear()" [appWrapperAC]="vendorAC" [disabled]="formType === 'update'">
              <ng-template let-vendor pTemplate="item">
                <a *ngIf="!vendor" (click)="quickCreateAC = vendorAC; quickCreateTarget = 'businessPartner'; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="vendor">
                  {{vendor.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('vendorId')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('vendorEmail')" fxFlex="174px">
            <label class="control-label">
            {{'ui.purchasesDownPayment.form.vendorEmail' | translate}}
          </label>
            <input formControlName="vendorEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('vendorEmail')"></app-field-error>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div class="text-right">
          <label class="control-label">
            {{'ui.purchasesDownPayment.form.amount' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('downPaymentAmount').value || 0, '') }}
          </h2>
        </div>
      </div>
    
      <div class="form-group" [appFieldStates]="form.get('description')" style="width: 517px;">
        <label class="control-label">
          {{'ui.purchasesDownPayment.form.description' | translate}}
        </label>
        <input formControlName="description" class="form-control" />
        <app-field-error [control]="form.get('description')"></app-field-error>
      </div>
    
      <div fxLayout="row" fxLayoutGap="16px" style="margin-bottom: 60px;">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('paymentMethodId')" fxFlex="180px">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.paymentMethodId' | translate}}
              </label>
              <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide"
                [dropdown]="true" 
                (completeMethod)="_autocomplete.onLocalACSearch(paymentMethodAC, relatedData.paymentMethods, ['name'], $event.query, true)" 
                (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentMethodAC, relatedData.paymentMethods, true)" 
                (onSelect)="$event && form.get('paymentMethodId').setValue($event.id)"
                [appWrapperAC]="paymentMethodAC" [appWrapperACLimit]="false">
                <ng-template let-paymentMethod pTemplate="item">
                  <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateTarget = 'paymentMethod'; quickCreateModal.show()" class="quick-create-option">
                    <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                  </a>
                  <span *ngIf="paymentMethod">
                    {{paymentMethod.name}}
                  </span>
                </ng-template>
              </p-autoComplete>
              <a *ngIf="form.get('paymentMethod').value?.paymentMethodType === 'credit_card'" class="block pt2" (click)="paymentDetailsModal.show()">
                {{'ui.purchasesDownPayment.form.enterCCDetails' | translate}}
              </a>
            </div>
            <div class="form-group" [appFieldStates]="form.get('paymentAccountId')" fxFlex="230px">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.payFrom' | translate}}
              </label>
              <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [dropdown]="true"
                (completeMethod)="_autocomplete.onLocalACSearch(paymentAccountAC, relatedData.paymentAccounts, ['name'], $event.query)" 
                (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentAccountAC, relatedData.paymentAccounts)"
                (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id })" (onClear)="form.get('paymentAccountId').reset()" 
                appendTo="body" [appWrapperAC]="paymentAccountAC" [appWrapperACLimit]="false">
                <ng-template let-account pTemplate="item">
                  [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                </ng-template>  
              </p-autoComplete>
              <app-field-error [control]="form.get('paymentAccountId')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('orderId')" fxFlex="180px">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.orderId' | translate}}
              </label>
              <p-autoComplete #orderAC formControlName="order" field="transactionNumber" styleClass="wd-wide" [dropdown]="true"
              (completeMethod)="ACOrderHandler.search($event)" (onDropdownClick)="ACOrderHandler.dropdown($event)" (onSelect)="onOrderSelected($event)" [appWrapperAC]="orderAC"></p-autoComplete>
              <div *ngIf="form.get('order').value" class="mt1">
                <strong>{{ _accounting.ac.formatMoney(form.get('order').value.total || 0) }}</strong>
              </div>
              <app-field-error [control]="form.get('orderId')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('downPaymentAmount')">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.downPaymentAmount' | translate}}
              </label>
              <div fxLayout="row" fxLayoutGap="16px">
                <input type="number" formControlName="downPaymentAmountPercent" (change)="syncAmountPercent()" class="form-control" fxFlex="50px"
                />
    
                <div class="form-group" [appFieldStates]="form.get('downPaymentAmount')" fxLayout="column" fxFlex="227px">
                  <input type="number" formControlName="downPaymentAmount" (change)="form.get('downPaymentAmountPercent').setValue('')" class="form-control"
                  />
                  <app-field-error [control]="form.get('downPaymentAmount')"></app-field-error>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>
    
          <div fxLayout="row">
            <div class="form-group" [appFieldStates]="form.get('vendorRefNumber')" fxLayout="column" fxFlex="150px">
              <label class="control-label">
                {{'ui.purchasesDownPayment.form.vendorRefNumber' | translate}}
              </label>
              <input formControlName="vendorRefNumber" class="form-control" />
              <app-field-error [control]="form.get('vendorRefNumber')"></app-field-error>
            </div>
          </div>
        </div>
      </div>
    
      <div fxLayout="row" style="margin-bottom: 20px;">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex="517px">
          <div class="form-group" [appFieldStates]="form.get('vendorNote')" fxFlex>
            <label class="control-label">
              {{'ui.purchasesDownPayment.form.vendorNote' | translate}}
            </label>
            <textarea formControlName="vendorNote" class="form-control" rows="6"></textarea>
            <app-field-error [control]="form.get('vendorNote')"></app-field-error>
          </div>
    
          <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
            <label class="control-label">
              {{'ui.purchasesDownPayment.form.note' | translate}}
            </label>
            <textarea formControlName="note" class="form-control" rows="6"></textarea>
            <app-field-error [control]="form.get('note')"></app-field-error>
          </div>
        </div>
      </div>
    </div>
    
  </ng-template>
  
  <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
            (click)="quickCreateModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <app-payment-method-quick-create (afterSubmit)="assignQuickCreatedEntity($event, 'paymentMethods')" (close)="quickCreateModal.hide()"
            *ngIf="quickCreateTarget === 'paymentMethod'"></app-payment-method-quick-create>
          <app-business-partner-quick-create type="vendor" (afterSubmit)="onVendorCreated($event)" (close)="quickCreateModal.hide()"
            *ngIf="quickCreateTarget === 'businessPartner'"></app-business-partner-quick-create>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" bsModal #paymentDetailsModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" fxLayout="row">
          <div fxFlex>
            <h5 class="modal-title">
              {{'ui.paymentMethod.creditInfoForm.label' | translate}}
            </h5>
          </div>
          <button type="button" class="close text-md" (click)="paymentDetailsModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 25px 40px;">
          <app-payment-method-credit-info-form [form]="form"></app-payment-method-credit-info-form>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
            <button type="button" class="btn btn-default" (click)="paymentDetailsModal.hide()">
              {{'ui.button.cancel' | translate}}
            </button>
            <button class="btn btn-success" (click)="paymentDetailsModal.hide()">
              {{'ui.button.ok' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-base-page>