<div class="checkbox-inline" [formGroup]="parentForm">
  <label>
    <input formControlName="autoReserveInventoryOnSalesOrder" type="checkbox">
    <span *ngIf="label">{{'ui.product.form.autoReserveInventoryOnSalesOrder' | translate }}</span>
  </label>
  <app-field-error [control]="parentForm.get('autoReserveInventoryOnSalesOrder')"></app-field-error>
</div>
