<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.settingsChatbot.form.name' | translate }}</label>
        <input type="text" formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('description')">
        <label class="control-label">{{'ui.settingsChatbot.form.description' | translate }}</label>
        <textarea formControlName="description" class="form-control"></textarea>
        <app-field-error [control]="form.get('description')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('clientSecret')">
        <label class="control-label">{{'ui.settingsChatbot.form.clientSecret' | translate }}</label>
        <input type="text" formControlName="clientSecret" class="form-control" />
        <app-field-error [control]="form.get('clientSecret')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('clientToken')">
        <label class="control-label">{{'ui.settingsChatbot.form.clientToken' | translate }}</label>
        <input type="text" formControlName="clientToken" class="form-control" />
        <app-field-error [control]="form.get('clientToken')"></app-field-error>
      </div>

      <div class="form-group" *ngIf="formType === 'update'" [appFieldStates]="form.get('callbackCode')">
        <label class="control-label">{{'ui.settingsChatbot.form.callbackCode' | translate }}</label>
        <input type="text" formControlName="callbackCode" class="form-control" readonly />
        <app-field-error [control]="form.get('callbackCode')"></app-field-error>
      </div>
    </div>
  </ng-template>
</app-base-page>
