<div class="form-group" [appFieldStates]="parentForm.get('model')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.model' | translate}}</label>
  <input class="form-control" formControlName="model" />
  <app-field-error [control]="parentForm.get('model')"></app-field-error>
</div>
