<div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" *ngIf="component">
  <app-base-button-autoprint [component]="component"></app-base-button-autoprint>

  <div fxFlex></div>

  <button type="button" class="btn btn-default" [routerLink]="component.bGetCancelURL()" *ngIf="component.cancelEnabled">
    {{'ui.button.cancel' | translate}}
  </button>
  
  <app-base-button-save [component]="component"></app-base-button-save>
</div>