<div #pageLoading="app-spinner" appSpinner [show]="showLoader" [stretchToMain]="false" [parent]="blocking"></div>

<form #blocking [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-sales-refund-quick-form [form]="form" class="clearfix mb"></app-sales-refund-quick-form>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="close.emit(true); form.reset()">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.salesRefund.quickCreate.button.submit' | translate}}
    </button>
  </div>
</form>
