<div class="header-container header-container-apps">
  <nav>
    <ul>
      <li>
        <a class="navbar-header-logo" (click)="_authentication.redirectBasedOnRole()">
          <img src="/assets/img/logo-icon.png" />
          <img class="navbar-header-logo-text" src="/assets/img/logo-text.png" />
        </a>
      </li>
    </ul>
    <h2 [innerHTML]="_pageTitle.getTitle()" class="header-title"></h2>
    <ul class="pull-right">
      <li dropdown>
        <a dropdownToggle class="dropdown-toggle ripple">
          <em class="mi mi-apps"></em>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a target="_blank" routerLink="/apps/bot" class="text-center block" style="line-height: 2.428571; color: #6C7177; padding: 15px;">
            <img src="/assets/apps/chatbot.png" />
            <span class="block">{{ 'ui.apps.chatbot' | translate }}</span>
          </a>
        </div>
      </li>
      <li>
        <a href="https://clodeo.zendesk.com/hc" target="_blank" class="ripple">
          <em class="mi mi-help"></em>
        </a>
      </li>
      <li dropdown class="dropdown">
        <a dropdownToggle class="dropdown-toggle has-badge ripple">
          <em class="mi mi-account-circle">
            <app-connection-state></app-connection-state>
          </em> {{ _authentication.user?.user_name }}
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="ripple ripple-block">
            <a routerLink="/profile/update">
              <em class="fa fa-home icon-fw"></em>Profile</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li class="ripple ripple-block">
            <a [routerLink]="['/logout']">
              <em class="fa fa-sign-out icon-fw"></em>Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
