<div *ngIf="selectedUOMS.length && priceLevels.length && parentForm && parentForm.get('prices')['length']">
  <div [formGroup]="parentForm">
    <div formArrayName="prices">
      <div [formGroup]="getMasterPriceLevelFormControl()">
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
          <div [ngClass]="formGroupClass ? 'form-group' : ''">
            <label *ngIf="singleInputLabel" class="control-label">
              {{singleInputLabel}}
            </label>
            <div class="input-group">
              <input type="number" class="form-control" [ngModel]="getMasterPriceLevelFormControl().controls.unitPrice.value"
                (ngModelChange)="getMasterPriceLevelFormControl().controls.unitPrice.setValue($event)" [ngModelOptions]="{standalone: true}" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-detail-price" (click)="detailPriceModal.show()">
                  <span class="mi mi-list"></span>
              </button>
              </span>
            </div>
            <app-field-error [control]="getMasterPriceLevelFormControl().controls.unitPrice"></app-field-error>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #detailPriceModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body" style="padding: 15px 40px;">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p0 mb" style="z-index: 1; position: relative; min-width: auto;" (click)="detailPriceModal.hide()">
            <span class="fa fa-times"></span>
          </button>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{'ui.product.form.prices.level' | translate}}</th>
                <th *ngFor="let uom of selectedUOMS">
                  {{uom.name}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let formGroup of parentForm.get('prices')['controls']; let i=index" [formGroup]="formGroup">
                <td>
                  {{priceLevels[i].name}}
                </td>
                <td *ngIf="selectedUOMS[0]">
                  <div class="form-group" [appFieldStates]="parentForm.get('unitPrice')" fxLayoutAlign="space-between center">
                    <input type="number" class="form-control" [ngModel]="formGroup.get('unitPrice').value" (ngModelChange)="formGroup.get('unitPrice').setValue($event)"
                      [ngModelOptions]="{standalone: true}" />
                    <app-field-error [control]="formGroup.get('unitPrice')"></app-field-error>
                  </div>
                </td>

                <td *ngIf="selectedUOMS[1]">
                  <div class="form-group" [appFieldStates]="parentForm.get('unitPrice2')" fxLayoutAlign="space-between center">
                    <input type="number" class="form-control" [ngModel]="formGroup.get('unitPrice2').value" (ngModelChange)="formGroup.get('unitPrice2').setValue($event)"
                      [ngModelOptions]="{standalone: true}" />
                    <app-field-error [control]="formGroup.get('unitPrice2')"></app-field-error>
                  </div>
                </td>

                <td *ngIf="selectedUOMS[2]">
                  <div class="form-group" [appFieldStates]="parentForm.get('unitPrice3')" fxLayoutAlign="space-between center">
                    <input type="number" class="form-control" [ngModel]="formGroup.get('unitPrice3').value" (ngModelChange)="formGroup.get('unitPrice3').setValue($event)"
                      [ngModelOptions]="{standalone: true}" />
                    <app-field-error [control]="formGroup.get('unitPrice3')"></app-field-error>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
