<div>
  <div *ngFor="let formAttributeGroup of parentForm.get('attributes')['controls']; let i=index;">
    <div [formGroup]="formAttributeGroup" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <div class="form-group" [appFieldStates]="parentForm.get('id')" fxFlex>
        <label class="control-label">{{'ui.product.form.attribute.name' | translate}}</label>
        <p-autoComplete #variantAC [formControl]="parentForm.get('variantAttribute' + (i + 1))" (onSelect)="$event && attributeChosen(i, $event) && formAttributeGroup.patchValue({ id: $event.id })"
          styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="formAttributeGroup.get('id').reset()"
           (onDropdownClick)="_autocomplete.onLocalACDropdown(variantAC, attributes, true)"
           (completeMethod)="_autocomplete.onLocalACSearch(variantAC, attributes, ['name'], $event.query, true)"
           [appWrapperAC]="variantAC" [appWrapperACLimit]="false">
          <ng-template let-attribute pTemplate="item">
            <a *ngIf="!attribute" (click)="ACIndex = i; quickCreateModal.show()" class="quick-create-option">
              <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
            </a>
            <span *ngIf="attribute">
              {{attribute.name}}
            </span>
          </ng-template>
        </p-autoComplete>
        <app-field-error [control]="formAttributeGroup.get('id')"></app-field-error>
      </div>

      <div class="pr pt pb" (click)="doRemoveAttribute(i)">
        <span class="mi mi-delete icon-lg"></span>
      </div>
    </div>
  </div>

  <button type="button" *ngIf="parentForm.get('attributes')['controls'].length < 3" class="btn btn-primary" (click)="_productForm.addFormChildAttribute(parentForm)"
    [disabled]="getAttributeAddButtonDisabledState()">
    {{'ui.product.form.attribute.button.attributeAdd' | translate}}
  </button>
</div>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-product-attribute-quick-create (afterSubmit)="assignCreatedAttribute($event)" (close)="quickCreateModal.hide()"></app-product-attribute-quick-create>
      </div>
    </div>
  </div>
</div>
