fieldset.collapsible {
  margin-bottom: 0;
  border: none;
  padding-bottom: 20px;
}

app-fieldset-collapsible-title > .fieldset-title {
  border-bottom: solid 2px #b4b4b4;
  padding-bottom: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

app-fieldset-collapsible-title > .fieldset-title > h1,
app-fieldset-collapsible-title > .fieldset-title > h2,
app-fieldset-collapsible-title > .fieldset-title > h3,
app-fieldset-collapsible-title > .fieldset-title > h4,
app-fieldset-collapsible-title > .fieldset-title > h5,
app-fieldset-collapsible-title > .fieldset-title > h6 {
  color: #4a4a4a;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

app-fieldset-collapsible-title > .fieldset-title > .btn {
  padding: 0!important;
  min-width: auto!important;
}

app-fieldset-collapsible-title > .fieldset-title > .btn > .fa-chevron-up {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

fieldset.collapsible.collapsed > app-fieldset-collapsible-title > .fieldset-title > .btn > .fa-chevron-up {
  transform: rotate(-180deg);
}

app-fieldset-collapsible-title.style-2 > .fieldset-title {
  border: none;
  margin: inherit;
}

app-fieldset-collapsible-title.style-2 > .fieldset-title > button{
  display: none
}
