<div class="fieldset-title" appFCTitle fxLayout="row" fxLayoutAlign="center start">
  <h4 fxFlex>{{i18nTitle ? (i18nTitle | translate) : title}}</h4>
  <button type="button" class="btn btn-flat ripple">
    <span class="fa fa-chevron-up"></span>
  </button>
</div>
