<div class="form-group" [appFieldStates]="parentForm.get('expenseAccountId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.expenseAccountId' | translate}}</label>
  <p-autoComplete #purchaseAccountAC formControlName="expenseAccount" (onSelect)="$event && parentForm.patchValue({ expenseAccountId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('expenseAccountId').reset()"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(purchaseAccountAC, accounts)" 
    (completeMethod)="_autocomplete.onLocalACSearch(purchaseAccountAC, accounts, ['name'], $event.query)" 
    [appWrapperAC]="purchaseAccountAC" [appWrapperACLimit]="false">
    <ng-template let-account pTemplate="item">
      [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('expenseAccountId')"></app-field-error>
</div>
