<div class="block mb" [formGroup]="form">
  <div class="mb">{{'ui.purchases.parse.similar.description' | translate}}</div>

  <div class="mb pb">
    <h6 class="mt0 mb1"><strong>{{'ui.purchases.parse.similar.vendor' | translate}}</strong></h6>
    <div class="mb">
      <span *ngIf="formState[1].parsedData.vendorName" class="mr">{{formState[1].parsedData.vendorName}}</span>
      <span *ngIf="formState[1].parsedData.vendorEmail" class="mr">{{formState[1].parsedData.vendorEmail}}</span>
    </div>

    <ul class="list-unstyled">
      <li *ngFor="let vendor of formState[1].vendors" class="mb">
        <label fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start top" style="font-weight: normal;">
          <input type="radio" formControlName="vendor" [value]="vendor" fxFlex="20px" />
          <div fxLayout="column">
            <strong fxFlex>
              {{vendor.displayName}}
            </strong>
            <span *ngIf="vendor.email" class="text-muted">
              {{vendor.email}}
            </span>
          </div>
        </label>
      </li>
      <li>
        <label fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start top" style="font-weight: normal;">
          <input type="radio" formControlName="vendor" value="" fxFlex="20px"/>
          <strong fxFlex>
            {{'ui.purchases.parse.similar.asNewVendor' | translate}}
          </strong>
        </label>
      </li>
    </ul>
  </div>

  <div>
    <h6 class="mt0"><strong>{{'ui.purchases.parse.similar.products' | translate}}</strong></h6>

    <ul class="list-unstyled">
      <li *ngFor="let product of formState[1].lines; let i=index" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center"
        class="mb">
        <div fxFlex>
          {{product.parseText}}
        </div>
        <div fxFlex class="text-center">
          <span class="mi mi-arrow-forward icon-lg"></span>
        </div>
        <div fxFlex>
          <p-autoComplete #productVariantAC [formControl]="form.get('lines').at(i)" field="name" [suggestions]="productVariantsSuggestion" [dropdown]="true"
            (completeMethod)="searchProductVariant($event)" (onDropdownClick)="onProductVariantDropdown($event)" [appWrapperAC]="productVariantAC"></p-autoComplete>
        </div>
      </li>
    </ul>
  </div>
</div>
