@mixin table-thead {
  > tr {
    > th {
      font-weight: 500;
      height: 42px;
      font-size: 16px;
      color: #676767;
      background-color: #e0e0e0;
      padding: 8px 10px !important;
    }
  }
}

@mixin table-tbody {
  > tr {
    > td {
      border-color: rgb(228, 228, 228);
      border-top: none;
      padding: 8px 10px;
      height: auto !important;
    }
  }
}

$primaryColor: #4B8EDF;
$successColor: #2ab27b;
$dangerColor: #dc5353;
body {
  .btn-primary,
  .bg-primary {
    background-color: $primaryColor;
  }
  .text-success {
    color: $successColor;
    font-weight: 500;
  }
  .btn-success,
  .bg-success {
    background-color: $successColor;
  }
  .btn-success-border {
    border: $successColor 2px solid !important;
    margin-top: 6px;
  }
  .text-danger {
    color: $dangerColor;
    font-weight: 500;
  }
  .btn-danger,
  .bg-danger {
    background-color: $dangerColor;
  }
  .mi {
    top: 2px;
  }
  .well {
    padding: 13px 16px;
    box-shadow: none;
    border-radius: 3px;
    background-color: #fbfbfa;
    border: solid 0.5px #d6d6d6;
    &.white {
      background-color: white;
    }
  }
  .alert {
    border-radius: 5px;
    background-color: #ffffff;
    color: #4a4a4a;
    padding: 12px 18px;
    &.alert-dismissible {
      .close {
        font-weight: normal;
        line-height: 1.2;
        opacity: 1;
        top: 0;
        right: 0;
        font-size: 25px;
      }
    }
    .alert-icon {
      font-size: 30px;
    }
    .alert-title {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 5px;
    }
    .alert-message {
      >p:last-child {
        margin-bottom: 0;
      }
    }
  }
  .alert-success {
    border: 1px solid #45b388;
    &.alert-dismissible {
      .close {
        color: #45b388;
      }
    }
    .alert-title,
    .alert-icon {
      color: #45b388;
    }
  }
  .alert-danger {
    border: 1px solid #ea5552;
    &.alert-dismissible {
      .close {
        color: #ea5552;
      }
    }
    .alert-title,
    .alert-icon {
      color: #ea5552;
    }
  }
  .alert-warning {
    border: 1px solid #ffbe00;
    &.alert-dismissible {
      .close {
        color: #ffbe00;
      }
    }
    .alert-title,
    .alert-icon {
      color: #ffbe00;
    }
  }
  .alert-info {
    border: 1px solid #008cc2;
    &.alert-dismissible {
      .close {
        color: #008cc2;
      }
    }
    .alert-title,
    .alert-icon {
      color: #008cc2;
    }
  }
  .header-container {
    color: white;
    background-color: $primaryColor;
    nav>ul>li>a>em {
      font-size: 27px;
      vertical-align: -27%;
    }
  }
  .setting-field-section {
    &:hover {
      cursor: pointer;
    }
  }
  .sidebar-container {
    background-color: #F9F9F9;
    color: #676767;
    .sidebar-header {
      color: white;
      background-color: $primaryColor;
      display: block;
      text-align: center;
      .sidebar-header-logo {
        img {
          width: auto;
          height: auto;
          vertical-align: -12%;
          &+.sidebar-header-logo-text {
            margin-left: 2px;
          }
        }
      }
    }
    .sidebar-nav {
      padding-top: 18px;
      font-weight: 400;
      ul:first-child>li {
        >a {
          color: #6f6f6f;
          font-weight: 300;
          border-left: 5px solid transparent;
          letter-spacing: 0.03em;
          font-size: 1.6rem;
          padding: 0 8px;
          >.nav-icon {
            margin-top: -3px;
            >em {
              color: #6f6f6f;
            }
          }
          >.nav-caret>em {
            top: 6px;
          }
        }
        &.active {
          >a {
            font-weight: 400;
            border-left-color: #15416f;
            color: #4c4c4c;
            background-color: #efefef;
          }
        }
        &:hover {
          >a {
            font-weight: 400;
            border-left-color: #15416f;
            color: #4c4c4c;
            background-color: #efefef;
          }
          >.sidebar-subnav {
            background-color: #efefef;
          }
        }
        &.with-separator {
          &::after {
            content: '';
            display: block;
            margin-left: 10px;
            border-bottom: 1px solid #d8d8d8;
            width: auto;
            margin-right: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
          }
        }
        ul>li>a {
          padding-left: 64px;
        }
      }
    }
  }
  .ui-datatable {
    table {
      width: auto;
    }
    .ui-datatable-data {
      font-size: 14px;
    }
    .ui-datatable-thead>tr>th,
    .ui-datatable-tfoot>tr>td,
    .ui-datatable-data>tr>td {
      padding: 0.8em 1.25em;
      border: none;
      p-dtcheckbox {
        .ui-chkbox-box {
          border-radius: 2px;
          border: 1px solid #b4b4b4;
        }
      }
    }
    tr.ui-widget-content,
    tbody.ui-widget-content {
      border: none;
    }
    .ui-datatable-thead>tr>th {
      background-color: #e0e0e0;
      text-align: left;
      font-weight: 500;
      color: #676767;
      &.ui-state-active {
        color: #4a4a4a;
      }
      p-dtcheckbox {
        .ui-chkbox-box {
          border-radius: 2px;
          border: 2px solid #4a4a4a;
          background-color: #d8d8d8;
        }
      }
    }
    tr {
      &.ui-datatable-even {
        background-color: white !important;
      }
      &.ui-datatable-odd {
        background-color: #F9F9F9 !important;
      }
    }
    .ui-cell-data {
      color: #737372;
      font-weight: 400;
      >strong {
        font-weight: normal;
        color: #4a4a4a;
      }
    }
  }
  .ui-chips {
    ul.ui-inputtext {
      padding: 0.3em .25em !important;
    }
  }
  .ui-inputtext:not(.ui-listbox) {
    border-color: #d8d8d8;
    height: 34px;
  }

  app-product-select-modal {
    .ui-inputtext:not(.ui-listbox) {
      height: auto;
      min-width: 200px;
    } 
  }
  
  .ui-autocomplete {
    &.ui-autocomplete-multiple {
      .ui-autocomplete-multiple-container {
        padding: 0em;
        width: 100%;
        height: 34px;
        .ui-autocomplete-token {
          padding: 0.5em 2em 0.5em 1em;
        }
        .ui-autocomplete-token-icon {
          margin-top: -.4em;
        }
        .ui-autocomplete-input-token {
          padding: .4em .25em .25em 0;
        }
      }
      &.ui-autocomplete-dd {
        .ui-autocomplete-multiple-container {
          width: calc(100% - 30px);
        }
      }
    }
    &.ui-autocomplete-dd {
      input.ui-inputtext {
        width: calc(100% - 30px);
        border-right: none;
      }
    }
    input.ui-inputtext {
      height: 34px;
    }
    button.ui-autocomplete-dropdown {
      height: 34px;
      background-color: transparent;
      border: 1px solid #d8d8d8;
      border-left-color: transparent;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
      >.ui-button-icon-left {
        color: black;
      }
    }
  }
  .ui-listbox {
    .ui-listbox-item {
      &.ui-state-highlight {
        color: #373a3c;
        background-color: #ffffff;
      }
    }
  }
  .ui-state-highlight {
    .quick-create-option {
      color: white !important;
    }
  }
  .ui-chkbox {
    border: none !important;
    .ui-chkbox-box {
      &.ui-state-active {
        border: 1px solid #bcbbbb;
        background-color: #fff;
        color: #2ab27b;
      }
    }
  }
  p-checkbox {
    .ui-chkbox-label {
      margin-bottom: 0;
      font-weight: 500;
      color: #464646;
    }
  }
  .ui-calendar-w-btn {
    input {
      width: calc(100% - 40px);
      border-right: none;
    }
    button.ui-datepicker-trigger {
      border-radius: 0 5px 5px 0;
      color: #727272 !important;
      background-color: transparent !important;
      border-color: #d8d8d8;
      border-left: none;
      padding: 0.2em 1.3em;
      height: 34px;
    }
  }
  .ui-dropdown {
    &.form-control {
      padding: 0;
      .ui-dropdown-label {
        padding: 0.67em 0.75em;
        height: 38px;
      }
    }
  }
  .btn {
    font-weight: 500;
    &:not(.btn-xs):not(.btn-sm):not(.btn-lg) {
      border-radius: 3px;
      padding: 6px 14px 6px 14px;
      min-width: 100px;
      height: 34px;
    }
    &.btn-large {
      font-size: 16px;
    }
    &.btn-default {
      background-color: #fbfbfa;
      border: 1px solid #e1e1e1;
    }
  }
  .table, p-table > .table > .ui-table-wrapper > table {
    > thead {
      @include table-thead;
      &.ui-table-thead {
        border: 1px solid #e4e4e4;
      }
    }
    > tbody {
      @include table-tbody;
    }
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
    border-top: solid 0.5px rgba(151, 151, 151, 0.2);
    border-bottom: solid 0.5px rgba(151, 151, 151, 0.2);
  }
  p-table {
    .ui-table-scrollable-header {
      thead {
        @include table-thead;
      }
    }
    .ui-table-scrollable-body {
      tbody {
        @include table-tbody;
        tr {
          td {
            border: 1px solid #c0c0c8;
            border-collapse: collapse;
          }
        }
      }
    }
  }
  table.detail-list {
    tbody {
      tr:first-child {
        td:first-child {
          width: 210px;
        }
        td {
          border-top: 0.5px solid #989898;
        }
      }
      tr:last-child {
        td {
          border-bottom: 0.5px solid #d0d0d0;
        }
      }
    }
    .detail-label {
      font-weight: bold;
      padding: 12px 20px;
    }
    .product-inventory {
      width: 30%;
    }
  }
  [dropdown] {
    position: relative;
  }
  .dropdown-menu {
    padding: 11px 0 9px 0;
    li {
      &.divider {
        margin: 0;
        &.divider-autoprint {
          margin: 6px 0px;
        }
      }
      &.autoprint {
        padding-left: 16px;
        &.autoprint-label {
          font-size: 0.9em;
          margin-bottom: 6px;
        }
      }
      a {
        padding: 6px 16px;
      }
    }
    .ui-listbox {
      .ui-listbox-item {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  .popover {
    max-width: 100%;
  }
  .table-no-ops {
    width: 100% !important;
  }
  .sm-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    &.lazada {
      background-image: url('../assets/img/ecommerce/sm-lazada-circle.png');
    }
    &.woocommerce {
      background-image: url('../assets/img/ecommerce/sm-woocommerce-circle.png');
    }
  }
  .list-group {
    .list-title {
      margin-bottom: 30px;
      font-size: 22px;
    }
    .list-row {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 70px;
      }
      .list-item-title {
        font-size: 16px;
      }
    }
  }
  input.loading {
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 20px 20px;
    background-position: right 5px center;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .dropdown-toggle .caret {
    position: relative;
    &:before {
      content: '';
      width: 18px;
      display: block;
      height: 19px;
      position: absolute;
      top: -12px;
      left: -9px;
    }
  }
  .tracking-input {
    position: relative;
    input {
      padding-right: 4em;
    }
    button {
      position: absolute;
      background-color: transparent;
      top: 0;
      right: 0;
      padding: 6px 14px 6px 14px !important;
      min-width: 3em !important;
      height: 100%;
      border: none;
      border-left: 1px solid #c0c0c8;
    }
  }
  .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    margin-top: 0;
  }
  .ui-contextmenu {
    width: 8.5em;
    p-contextmenusub {
      .garbage-icon {
        background-image: url('/assets/garbage.png');
        background-size: 20px;
        width: 20px;
        height: 20px;
        background-position: 0 0;
        background-repeat: no-repeat;
        margin-right: 5px;
      }
      .ui-menuitem-text {
        vertical-align: 3px
      }
      a.ui-menuitem-link {
        text-decoration: none;
        color: #4a4a4a;
      }
    }
  }
  app-field-error {
    font-size: 14px;
  } //Currently used for p-multiSelect since the label is already bold by default
  .normalizeLabel {
    label {
      font-weight: normal;
    }
  }
  accordion {
    .panel {
      box-shadow: none;
      &.card {
        border-radius: 5px;
        border: solid 1px #d8d8d8;
      }
      .panel-heading {
        line-height: 30px !important;
        font-family: Titillium;
        font-size: 14px;
        line-height: 0.86;
        color: #4a4a4a;
        background-color: #f9f9f9;
      }
      .panel-body {
        border-top: none !important;
        background-color: #f9f9f9;
      }
    }
  }
  .ui-tabview {
    .ui-tabview-panel {
      background-color: #f9f9f9;
      border: solid 1px #d8d8d8;
      padding: 16px;
    }
  }
  .ui-editor-content {
    background-color: white;
  }
  .listbox-single {
    .ui-listbox-item.ui-state-highlight {
      background-color: #0275d8!important;
      color: #ffffff!important;
    }
  }
}

app-product-form-fieldset-channel {
  .ui-tabview-title {
    padding-left: 20px;
  }
  .ui-tabview-close {
    padding-top: 1.3px;
  }
  .ui-state-default {
    background-size: 24px;
    background-repeat: no-repeat !important;
    background-position: 6px 6px;
    &.tab-bukalapak {
      padding: 2px 5px 5px;
      background-image: url('../assets/marketplace/bukalapak.png') !important;
    }
    &.tab-lazada {
      padding: 2px 5px 5px;
      background-image: url('../assets/marketplace/lazada.png') !important;
    }
    &.tab-shopify {
      padding: 2px 5px 5px;
      background-image: url('../assets/marketplace/shopify.png') !important;
    }
    &.tab-woocommerce {
      padding: 2px 5px 5px;
      background-image: url('../assets/marketplace/woocommerce.png') !important;
    }
  }
  .ui-chkbox-label {
    background-repeat: no-repeat !important;
    background-size: 24px;
    padding-left: 28px;
    height: 25px;
    &.cb-bukalapak {
      background-image: url('../assets/marketplace/bukalapak.png') !important;
    }
    &.cb-lazada {
      background-image: url('../assets/marketplace/lazada.png') !important;
    }
    &.cb-shopify {
      background-image: url('../assets/marketplace/shopify.png') !important;
    }
    &.cb-woocommerce {
      background-image: url('../assets/marketplace/woocommerce.png') !important;
    }
  }
  app-product-form-channel-marketplace {
    p-accordion {
      .displayNone {
        display: none;
      }
      .ui-widget-content {
        background-color: #f9f9f9;
        border: 0px;
      }
      .ui-accordion {
        .ui-accordion-header {
          background-color: #f9f9f9;
          border: 0px;
          a {
            padding: 0px;
          }
          &.ui-state-active {
            background-color: #f9f9f9;
            a {
              color: #448AFF;
            }
          }
        }
        .ui-accordion-header:hover {
          background-color: #f9f9f9;
        }
        .ui-accordion-content {
          padding: 0px;
        }
      }
    }
  }
}

.fs40 {
  font-size: 40px;
}

.spin-img {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}