<div class="page-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div class="card-logo">
    <img class="img-responsive" src="/assets/img/logo2.png" />
  </div>
  <h4>{{'ui.account.confirmation.title' | translate}}</h4>
  <span class="text-muted">{{'ui.account.confirmation.description' | translate}}</span>
  <strong>{{ routeParams.email }}</strong>
</div>
