:host /deep/ {
  background-color: white;
  display: block;
  color: #4a4a4a;
  height: 100%;
  a:not(.text-muted) {
    color: #4782d8;
  }
  .page-container {
    height: auto!important;
    .card-logo {
      margin-bottom: 22px;
      >img {
        max-width: 200px;
        margin: auto;
      }
    }
  }
}
