<div class="form-group" [appFieldStates]="parentForm.get('defaultSalesInvoiceDueDays')" [formGroup]="parentForm">
  <label class="control-label">{{'ui.businessPartner.form.defaultSalesInvoiceDueDays' | translate }}</label>
  <input formControlName="defaultSalesInvoiceDueDays" class="form-control" />
  <app-field-error [control]="parentForm.get('defaultSalesInvoiceDueDays')"></app-field-error>
</div>
