<div class="form-group" [appFieldStates]="parentForm.get('brandId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.brandId' | translate}}</label>
  <p-autoComplete #brandAutoComplete formControlName="brand" (onSelect)="$event && parentForm.patchValue({ brandId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('brandId').reset()"
     (onDropdownClick)="_autocomplete.onLocalACDropdown(brandAutoComplete, brands, true)" 
     (completeMethod)="_autocomplete.onLocalACSearch(brandAutoComplete, brands, ['name'], $event.query, true)" 
    [appWrapperAC]="brandAutoComplete" [appWrapperACLimit]="false">
    <ng-template let-brand pTemplate="item">
      <a *ngIf="!brand" (click)="quickCreateModal.show()" class="quick-create-option">
        <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
      </a>
      <span *ngIf="brand">
        {{brand.name}}
      </span>
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('brandId')"></app-field-error>
</div>

<div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <app-product-brand-quick-create (afterSubmit)="assignQuickCreatedBrand($event)" (close)="quickCreateModal.hide()"></app-product-brand-quick-create>
      </div>
    </div>
  </div>
</div>