<div class="form-group" [appFieldStates]="parentForm.get('variants')['controls'][0]['controls']['sku']" *ngIf="parentForm.get('variants')['controls']['length']">
  <label class="control-label" *ngIf="label">{{'ui.product.form.sku' | translate}}</label>
  <input class="form-control" [ngModel]="parentForm.get('variants')['controls'][0]['controls']['sku'].value" (ngModelChange)="parentForm.get('variants')['controls'][0]['controls']['sku'].setValue($event)"
    [ngModelOptions]="{standalone: true}" [readonly]="parentForm.get('hasVariants').value" />
  <app-field-error [control]="parentForm.get('variants')['controls'][0]['controls']['sku']"></app-field-error>
</div>
