<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<form [formGroup]="form">
  <div class="form-group">
    <label class="control-label">
      {{ 'ui.profile.changePassword.oldPassword' | translate }}
    </label>
    <input type="password" class="form-control" formControlName="oldPassword" />
    <app-field-error [control]="form.get('oldPassword')"></app-field-error>
  </div>

  <div class="form-group">
    <label class="control-label">
      {{ 'ui.profile.changePassword.newPassword' | translate }}
    </label>
    <input type="password" class="form-control" formControlName="newPassword" />
    <app-field-error [control]="form.get('newPassword')"></app-field-error>
  </div>

  <div class="form-group">
    <label class="control-label">
      {{ 'ui.profile.changePassword.confirmPassword' | translate }}
    </label>
    <input type="password" class="form-control" formControlName="_confirmPassword" />
    <app-field-error [control]="form.get('_confirmPassword')"></app-field-error>
  </div>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="cancel.emit(true)">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.profile.changePassword.button.submit' | translate}}
    </button>
  </div>
</form>
