<div class="layout-container" fxLayout="column" fxLayoutAlign="center center">
  <h1>404</h1>
  <button (click)="error.back()" class="btn btn-primary btn-flat">
    <span class="fa fa-arrow-left"></span> {{'ui.button.back' | translate}}
  </button>
</div>
