<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex [formGroup]="form">
    <div class="form-group" [appFieldStates]="form.get('firstName')">
      <label class="control-label">
        {{ 'ui.profile.form.firstName' | translate }}
      </label>
      <input class="form-control" formControlName="firstName" />
      <app-field-error [control]="form.get('firstName')"></app-field-error>
    </div>

    <div class="form-group" [appFieldStates]="form.get('lastName')">
      <label class="control-label">
        {{ 'ui.profile.form.lastName' | translate }}
      </label>
      <input class="form-control" formControlName="lastName" />
      <app-field-error [control]="form.get('lastName')"></app-field-error>
    </div>

    <div class="form-group" [appFieldStates]="form.get('nationalPhoneNumber')">
      <label class="control-label">
        {{ 'ui.profile.form.nationalPhoneNumber' | translate }}
      </label>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div>
          +62
        </div>
        <input type="tel" class="form-control" formControlName="nationalPhoneNumber" fxFlex />
      </div>
      <app-field-error [control]="form.get('nationalPhoneNumber')"></app-field-error>
    </div>

    <div class="form-group" [appFieldStates]="form.get('_password')">
      <label class="control-label">
        {{ 'ui.profile.form.password' | translate }}
      </label>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <input type="password" class="form-control" formControlName="_password" readonly fxFlex />
        <a (click)="changePasswordModal.show()">
          {{ 'ui.profile.form.changePassword.label' | translate }}
        </a>
      </div>
      <app-field-error [control]="form.get('_password')"></app-field-error>
    </div>
  </div>
  <div fxFlex="200px" *ngIf="doc">
    <app-img-upload [serverFiles]="doc?.picture" (onDeleteSingle)="onImageDeleted()" (onUploaded)="onImageUploaded($event)"></app-img-upload>
  </div>
</div>

<div class="modal fade" bsModal #changePasswordModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.profile.form.changePassword.title' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="changePasswordModal.hide()">
            <span>x</span>
          </button>
        </div>
        <app-profile-change-password class="block" style="padding: 24px 40px" (cancel)="changePasswordModal.hide()" (success)="changePasswordModal.hide()">
        </app-profile-change-password>
      </div>
    </div>
  </div>
</div>
