<div class="form-group" [appFieldStates]="parentForm.get('salesTaxId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.salesTaxId' | translate}}</label>
  <p-autoComplete #salesTaxAC formControlName="salesTax" (onSelect)="$event && parentForm.patchValue({ salesTaxId: $event.id });" styleClass="wd-wide block"
    [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('salesTaxId').reset()"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(salesTaxAC, taxes)" 
    (completeMethod)="_autocomplete.onLocalACSearch(salesTaxAC, taxes, ['name'], $event.query)" 
    [appWrapperAC]="salesTaxAC" [appWrapperACLimit]="false">
    <ng-template let-tax pTemplate="item">
      {{tax.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('salesTaxId')"></app-field-error>
</div>
