<div [formGroup]="form" *ngIf="relatedDataReady">
  <fieldset class="collapsible" id="fieldset-1">
    <app-fieldset-collapsible-title title="{{'ui.product.form.productDetails' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex>
          <div fxLayout="row" fxLayoutGap="16px">
            <app-product-form-field-name [parentForm]="form" fxFlex></app-product-form-field-name>

            <app-product-form-field-sku [parentForm]="form" fxFlex></app-product-form-field-sku>
          </div>

          <app-product-form-field-category [parentForm]="form" [categories]="relatedData.categories"></app-product-form-field-category>

          <div fxLayout="row" fxLayoutGap="16px">
            <app-product-form-field-brand [parentForm]="form" [brands]="relatedData.productBrands" fxFlex></app-product-form-field-brand>

            <app-product-form-field-model [parentForm]="form" fxFlex></app-product-form-field-model>
          </div>

          <app-product-form-field-uoms [selectedUOMS]="selectedUOMS" [parentForm]="form" [doc]="doc" [uoms]="relatedData.uoms"></app-product-form-field-uoms>
        </div>
        <app-img-upload fxFlex="200px" [multiple]="true" [serverFiles]="existingPictures" (onUploaded)="onImageUploaded($event)"
          (onDeleted)="onImageDeleted($event)" (onPrimaryChange)="onImagePrimaryChange($event)"></app-img-upload>
      </div>

      <app-product-form-field-tags [parentForm]="form"></app-product-form-field-tags>

    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-inventory">
    <app-fieldset-collapsible-title title="{{'ui.product.form.inventory' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-account [parentForm]="form" [accounts]="relatedData.accounts"></app-product-form-field-account>
      <app-product-form-field-inventory-opening-balance [parentForm]="form" *ngIf="formType === 'create' && form.get('hasVariants') && !form.get('hasVariants').value"></app-product-form-field-inventory-opening-balance>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-sales-info">
    <app-fieldset-collapsible-title title="{{'ui.product.form.salesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-sales-sellable [parentForm]="form"></app-product-form-field-sales-sellable>

      <div *ngIf="form.get('hasVariants') && !form.get('hasVariants').value">
        <app-product-form-field-prices singleInputLabel="{{'ui.product.form.salesPrice' | translate}}" [parentForm]="form.get('variants')['controls'][0]"
          [priceLevels]="relatedData.priceLevels" [selectedUOMS]="selectedUOMS" [doc]="doc"></app-product-form-field-prices>
      </div>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-sales-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-sales-tax>

        <app-product-form-field-sales-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-sales-account>
      </div>

      <app-product-form-field-sales-auto-reserve [parentForm]="form"></app-product-form-field-sales-auto-reserve>
      <app-product-form-field-sales-description [parentForm]="form"></app-product-form-field-sales-description>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-purchases-info">
    <app-fieldset-collapsible-title title="{{'ui.product.form.purchasesInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-purchases-purchasable [parentForm]="form"></app-product-form-field-purchases-purchasable>

      <app-product-form-field-purchases-price [parentForm]="form" *ngIf="form.get('hasVariants') && !form.get('hasVariants').value"></app-product-form-field-purchases-price>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-purchases-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-purchases-tax>

        <app-product-form-field-purchases-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-purchases-account>
      </div>

      <app-product-form-field-purchases-description [parentForm]="form"></app-product-form-field-purchases-description>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-detail-description-info">
    <app-fieldset-collapsible-title title="{{'ui.product.form.detailDescriptionInfo' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <app-product-form-field-detail-description [parentForm]="form" widget="html"></app-product-form-field-detail-description>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-variants">
    <app-fieldset-collapsible-title title="{{'ui.product.form.variants' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div>
        <div fxLayout="row" fxLayoutGap="4em">
          <p fxFlex>
            These are products that have different versions, like size or color. Turn this on to specify up to three attributes (like
            color), and unlimited values for each attribute (like green, blue, black).
          </p>
          <div fxLayoutAlign="center center">
            <label class="switch switch-primary">
              <input type="checkbox" formControlName="hasVariants" />
              <span></span>
            </label>
            <label class="control-label">{{'ui.product.form.hasVariants' | translate}}</label>
          </div>
        </div>

        <div [hidden]="!form.controls.hasVariants.value" class="mt">
          <app-product-form-field-attributes *ngIf="formType === 'create'" [parentForm]="form" [attributes]="relatedData.attributes"></app-product-form-field-attributes>
          <app-product-form-field-attributes-update *ngIf="formType === 'update'" [doc]="doc" [parentForm]="form" [attributes]="relatedData.attributes"></app-product-form-field-attributes-update>

          <app-product-form-field-variants *ngIf="formType === 'create'" [doc]="doc" [parentForm]="form" [priceLevels]="relatedData.priceLevels"
            [UOMS]="selectedUOMS"></app-product-form-field-variants>
          <app-product-form-field-variants-update *ngIf="formType === 'update'" [doc]="doc" [parentForm]="form" [priceLevels]="relatedData.priceLevels"
            [UOMS]="selectedUOMS"></app-product-form-field-variants-update>
        </div>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>

  <fieldset class="collapsible" id="fieldset-other-details">
    <app-fieldset-collapsible-title title="{{'ui.product.form.otherDetails' | translate}}"></app-fieldset-collapsible-title>
    <app-fieldset-collapsible-content>
      <div fxLayout="row" fxLayoutGap="16px" formGroupName="dimension">
        <div class="form-group" [appFieldStates]="form.get('dimension.controls.weight')" fxFlex>
          <label class="control-label">
            {{'ui.product.form.weight' | translate}}
          </label>
          <input type="number" class="form-control" formControlName="weight" />
          <app-field-error [control]="form.get('dimension.controls.weight')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('dimension.controls.height')" fxFlex>
          <label class="control-label">
            {{'ui.product.form.height' | translate}}
          </label>
          <input type="number" class="form-control" formControlName="height" />
          <app-field-error [control]="form.get('dimension.controls.height')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('dimension.controls.width')" fxFlex>
          <label class="control-label">
            {{'ui.product.form.width' | translate}}
          </label>
          <input type="number" class="form-control" formControlName="width" />
          <app-field-error [control]="form.get('dimension.controls.width')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('dimension.controls.length')" fxFlex>
          <label class="control-label">
            {{'ui.product.form.length' | translate}}
          </label>
          <input type="number" class="form-control" formControlName="length" />
          <app-field-error [control]="form.get('dimension.controls.length')"></app-field-error>
        </div>
      </div>
    </app-fieldset-collapsible-content>
  </fieldset>
</div>
