<ul class="table-tabs">
  <li>
    <a routerLink="/contacts/all" routerLinkActive="active">
      {{'ui.contact.all.tabLink.all' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/contacts/customers" routerLinkActive="active">
      {{'ui.contact.all.tabLink.customer.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/contacts/vendors" routerLinkActive="active">
      {{'ui.contact.all.tabLink.vendor.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/contacts/employees" routerLinkActive="active">
      {{'ui.contact.all.tabLink.employee.list' | translate}}
    </a>
  </li>
</ul>