<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <app-base-entry #entry [component]="this">
      <ng-template appTpl="entryContentTpl">
        <app-stock-opname-form formType="create" [masterPage]="page" [form]="form"></app-stock-opname-form>
      </ng-template>
    </app-base-entry>

  </ng-template>
</app-base-page>
