<!-- <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display> -->

<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <ul class="table-tabs">
      <li>
        <a (click)="filterRecords('all')" [ngClass]="{active: activeFilter === 'all'}">
          {{ 'ui.product.importChannel.editor.filterAll' | translate }}
        </a>
      </li>
      <li>
        <a (click)="filterRecords('success')" [ngClass]="{active: activeFilter === 'success'}">
          {{ 'ui.product.importChannel.editor.filterSuccess' | translate }}
        </a>
      </li>
      <li>
        <a (click)="filterRecords('failed')" [ngClass]="{active: activeFilter === 'failed'}">
          {{ 'ui.product.importChannel.editor.filterFailed' | translate }}
        </a>
      </li>
      <li>
        <a (click)="filterRecords('validation_failed')" [ngClass]="{active: activeFilter === 'validation_failed'}">
          {{ 'ui.product.importChannel.editor.filterValidationFailed' | translate }}
        </a>
      </li>
    </ul>

    <p-table sortField="seqNumber" [value]="filteredRecords" [paginator]="true" [rows]="50" [scrollable]="true" [scrollable]="true" [style]="{width:'100%'}"
      dataKey="seqNumber">
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width:2.25em">
          <col style="width:50px">
          <col style="width:250px" *ngFor="let col of tableColumnIndex.slice(1)">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th *ngFor="let colIdx of tableColumnIndex;">{{'ui.product.importChannel.col' + colIdx | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record let-i="rowIndex" let-expanded="expanded">
        <tr>
          <td>
            <a href="#" [pRowToggler]="record" *ngIf="record.variantCount > 0">
              <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
            </a>
          </td>
          <td class="text-center">{{ record.seqNumber + 1 }}</td>
          <td>
            <app-product-form-field-sku [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"></app-product-form-field-sku>
          </td>
          <td>
            <app-product-form-field-name [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"></app-product-form-field-name>
          </td>
          <td>
            <app-product-form-field-category [parentForm]="form.get('products')['at'](record.seqNumber)" [categories]="relatedData.categories" [label]="false"></app-product-form-field-category>
          </td>
          <td>
            <app-product-form-field-sales-description [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"></app-product-form-field-sales-description>
          </td>
          <td>
            <app-product-form-field-prices [parentForm]="form.get('products')['at'](record.seqNumber).get('variants').controls[0]" [selectedUOMS]="selectedUOMS[i]"
              [doc]="record" [priceLevels]="relatedData.priceLevels" [autoRebuildPrices]="false"></app-product-form-field-prices>
          </td>
          <td>
            <app-product-form-field-attribute [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"
              [index]="1"></app-product-form-field-attribute>
          </td>
          <td>
            <app-product-form-field-attribute [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"
              [index]="2"></app-product-form-field-attribute>
          </td>
          <td>
            <app-product-form-field-attribute [attributes]="relatedData.attributes" [parentForm]="form.get('products')['at'](record.seqNumber)" [label]="false"
              [index]="3"></app-product-form-field-attribute>
          </td>
          <td>
            {{ record['status'] ? ('ui.product.importChannel.editor.status.' + record['status'] | translate) : '' }}
          </td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let error of (record['errors'] || [])" class="text-danger">
                {{ error }}
              </li>
            </ul>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-record let-i="rowIndex">
        <tr>
          <td [attr.colspan]="tableColumnLength + 2">

            <p-table [value]="record.variants" [style]="{width:'1000px'}" styleClass="table mt3 ml2 mr2">
              <ng-template pTemplate="colgroup">
                <colgroup>
                  <col style="width:15px">
                  <col style="width:50px">
                  <col style="width:50px">
                  <col style="width:50px">
                  <col style="width:50px">
                  <col style="width:50px">
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th>{{'ui.product.importChannel.variantCol1' | translate}}</th>
                  <th>{{'ui.product.importChannel.variantCol2' | translate}}</th>
                  <th>{{'ui.product.importChannel.variantCol3' | translate}}</th>
                  <th>{{'ui.product.importChannel.variantCol4' | translate}}</th>
                  <th>{{'ui.product.importChannel.variantCol5' | translate}}</th>
                  <th>{{'ui.product.importChannel.variantCol6' | translate}}</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-recordVariant let-iVariant="rowIndex">
                <tr [formGroup]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]">
                  <td class="text-center">
                    {{ iVariant + 1 }}
                  </td>
                  <td>
                    <input class="form-control" formControlName="sku" />
                    <app-field-error [control]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]['controls']['sku']"></app-field-error>
                  </td>
                  <td>
                    <app-product-form-field-prices [parentForm]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]" [selectedUOMS]="selectedUOMS[i]"
                      [doc]="record" [priceLevels]="relatedData.priceLevels"></app-product-form-field-prices>
                  </td>
                  <td>
                    <input class="form-control" formControlName="attribute1Value" />
                    <app-field-error [control]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]['controls']['attribute1Value']"></app-field-error>
                  </td>
                  <td>
                    <input class="form-control" formControlName="attribute2Value" />
                    <app-field-error [control]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]['controls']['attribute2Value']"></app-field-error>
                  </td>
                  <td>
                    <input class="form-control" formControlName="attribute3Value" />
                    <app-field-error [control]="form.get('products')['at'](record.seqNumber).get('variants').controls[iVariant]['controls']['attribute3Value']"></app-field-error>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>
</app-base-page>
