<div #pageLoading="app-spinner" appSpinner [show]="compLoading" [stretchToMain]="false" [parent]="allocateCreditModalContent"></div>
<div class="control-label mb1">
  {{'ui.transaction.allocateCredit.sourceTransaction.' + sourceTransaction.transactionType | translate}} #{{sourceTransaction.transactionNumber}}
</div>
<form #allocateCreditModalContent>
  <div class="table" *ngIf="credits.length">
    <thead>
      <tr>
        <th>{{'ui.transaction.allocateCredit.description' | translate}}</th>
        <th>{{'ui.transaction.allocateCredit.transactionDate' | translate}}</th>
        <th>{{'ui.transaction.allocateCredit.total' | translate}}</th>
        <th>{{'ui.transaction.allocateCredit.amountToAllocate' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lineFormGroup of form.get('lines').controls; let i=index" [formGroup]="lineFormGroup">
        <td>
          {{credits[i]?.transactionNumber}}
          <small *ngIf="credits[i]?.orderNumber" class="italic block">
            SO#{{credits[i]?.orderNumber}}
          </small>
        </td>
        <td>
          {{credits[i]?.transactionDate | date:'dd/MM/y'}}
        </td>
        <td>
          {{_accounting.ac.formatMoney(credits[i]?.remaining || credits[i]?.balanceDue || 0)}}
        </td>
        <td>
          <input type="number" class="form-control text-right" formControlName="allocateAmount" />
        </td>
      </tr>
    </tbody>
  </div>

  <table style="width: auto; margin-left: auto; margin-right: 10px;" class="mb">
    <tbody>
      <tr>
        <td class="text-right">
          {{'ui.transaction.allocateCredit.due.' + sourceTransaction.transactionType | translate}}
        </td>
        <td class="text-right">
          <div style="min-width: 160px;" class="ml">
            {{_accounting.ac.formatMoney(sourceTransaction?.balanceDue || 0)}}
          </div>
        </td>
      </tr>
      <tr class="label-summary1">
        <td class="text-right">
          {{'ui.transaction.allocateCredit.allocated' | translate}}
        </td>
        <td class="text-right">
          {{_accounting.ac.formatMoney(totalAmountToAllocate)}}
        </td>
      </tr>
    </tbody>
  </table>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="cancel.emit(true)">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.transaction.allocateCredit.button.submit' | translate}}
    </button>
  </div>
</form>