<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button class="btn btn-default btn-icon btn-icon-left" (click)="onRefresh.emit(true)">
    <span class="mi mi-refresh icon-lg"></span>
    <span>
      {{ 'ui.button.refresh' | translate }}
    </span>
  </button>
  <button class="btn btn-default btn-icon btn-icon-left" (click)="print()">
    <span class="mi mi-print icon-lg"></span>
    <span>
      {{ 'ui.button.print' | translate }}
    </span>
  </button>
</div>

<div *ngIf="viewer" class="modal fade" bsModal #printModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="printModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <div style="padding: 24px 40px">
          <app-report-print *ngIf="printModal.isShown" [viewer]="viewer"></app-report-print>
        </div>
      </div>
    </div>
  </div>
</div>
