<app-retry-dialog #retryDialog></app-retry-dialog>

<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="20px">
    <div class="form-group">
      <app-business-partner-form-field-iscustomer [parentForm]="form"></app-business-partner-form-field-iscustomer>
    </div>
    <div class="form-group">
      <app-business-partner-form-field-isvendor [parentForm]="form"></app-business-partner-form-field-isvendor>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <app-business-partner-form-field-firstname [parentForm]="form" fxFlex></app-business-partner-form-field-firstname>

    <app-business-partner-form-field-lastname [parentForm]="form" fxFlex></app-business-partner-form-field-lastname>
  </div>

  <app-business-partner-form-field-company [parentForm]="form"></app-business-partner-form-field-company>
  
  <app-business-partner-form-field-displayname [parentForm]="form"></app-business-partner-form-field-displayname>

  <app-business-partner-form-field-email [parentForm]="form"></app-business-partner-form-field-email>

  <div fxLayout="row" fxLayoutGap="16px">
    <app-business-partner-form-field-phone [parentForm]="form" fxFlex></app-business-partner-form-field-phone>

    <app-business-partner-form-field-mobile [parentForm]="form" fxFlex></app-business-partner-form-field-mobile>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex [formGroup]="form.get('postalAddress')">
      <label class="control-label">{{'ui.businessPartner.form.billingAddress' | translate }}</label>

      <app-business-partner-form-field-street1 [parentForm]="form.get('postalAddress')"></app-business-partner-form-field-street1>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-city [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-city>

        <app-business-partner-form-field-state [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-state>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-postalcode [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-postalcode>

        <app-business-partner-form-field-country [countries]="countries" [parentForm]="form.get('postalAddress')" fxFlex></app-business-partner-form-field-country>
      </div>
    </div>

    <div fxFlex [formGroup]="form.get('shippingAddress')">
      <div fxLayout="row">
        <label class="control-label" fxFlex>{{'ui.businessPartner.form.shippingAddress' | translate }}</label>

        <app-business-partner-form-field-billingasshipping [parentForm]="form"></app-business-partner-form-field-billingasshipping>
      </div>

      <app-business-partner-form-field-street1 [parentForm]="form.get('shippingAddress')"></app-business-partner-form-field-street1>

      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-city [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-city>

        <app-business-partner-form-field-state [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-state>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-business-partner-form-field-postalcode [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-postalcode>

        <app-business-partner-form-field-country [countries]="countries" [parentForm]="form.get('shippingAddress')" fxFlex></app-business-partner-form-field-country>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex>
      <app-business-partner-form-field-salestaxable [parentForm]="form"></app-business-partner-form-field-salestaxable>

      <app-business-partner-form-field-salestax [taxes]="taxes" [parentForm]="form"></app-business-partner-form-field-salestax>
    </div>
    
    <div fxFlex>
      <app-business-partner-form-field-purchasetaxable [parentForm]="form"></app-business-partner-form-field-purchasetaxable>

      <app-business-partner-form-field-purchasetax [taxes]="taxes" [parentForm]="form"></app-business-partner-form-field-purchasetax>
    </div>
  </div>
</div>