<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    
    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.paymentMethod.form.name' | translate }}</label>
        <input formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>
    
      <div class="form-group" [appFieldStates]="form.get('paymentMethodType')">
        <label class="control-label">{{'ui.paymentMethod.form.paymentMethodType' | translate }}</label>
        <select formControlName="paymentMethodType" class="form-control">
          <option value="cash">{{'ui.paymentMethod.form.paymentMethodTypeOption.cash' | translate }}</option>
          <option value="cheque">{{'ui.paymentMethod.form.paymentMethodTypeOption.cheque' | translate }}</option>
          <option value="debit_card">{{'ui.paymentMethod.form.paymentMethodTypeOption.debit_card' | translate }}</option>
          <option value="credit_card">{{'ui.paymentMethod.form.paymentMethodTypeOption.credit_card' | translate }}</option>
        </select>
        <app-field-error [control]="form.get('paymentMethodType')"></app-field-error>
      </div>
    
      <div class="form-group" [appFieldStates]="form.get('defaultAccountId')">
        <label class="control-label">{{'ui.paymentMethod.form.defaultAccountId' | translate }}</label>
        <p-autoComplete #accountAC formControlName="defaultAccount" field="name" styleClass="wd-wide" (onSelect)="$event && form.patchValue({ defaultAccountId: $event.id })"
          dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(accountAC, relatedData.accounts)" (completeMethod)="_autocomplete.onLocalACSearch(accountAC, relatedData.accounts, ['name'], $event.query)"
          [dropdown]="true" (onClear)="form.get('defaultAccountId').reset()" [appWrapperAC]="accountAC"></p-autoComplete>
        <app-field-error [control]="form.get('defaultAccountId')"></app-field-error>
      </div>
    </div>
  
  </ng-template>
</app-base-page>
