<div dropdown>
  <button type="button" class="btn dropdown-toggle ripple btn-success" dropdownToggle>
    <span fxFlex class="text-left">{{'ui.button.create' | translate}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <li>
      <a routerLink="/sales/orders/create">
        {{'ui.sales.button.create.order' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/invoices/create">
        {{'ui.sales.button.create.invoice' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/receipts/create">
        {{'ui.sales.button.create.receipt' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/credit-notes/create">
        {{'ui.sales.button.create.creditNote' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/down-payments/create">
        {{'ui.sales.button.create.downPayment' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/payments/create">
        {{'ui.sales.button.create.payment' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/sales/refunds/create">
        {{'ui.sales.button.create.refund' | translate}}
      </a>
    </li>
  </ul>
</div>