<div dropdown>
  <button type="button" class="btn dropdown-toggle ripple btn-success" dropdownToggle>
    <span fxFlex class="text-left">{{'ui.button.create' | translate}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <li>
      <a routerLink="/contacts/customers/create">
        {{'ui.contact.button.create.customer' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/contacts/vendors/create">
        {{'ui.contact.button.create.vendor' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/contacts/employees/create">
        {{'ui.contact.button.create.employee' | translate}}
      </a>
    </li>
  </ul>
</div>