<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <app-base-entry #entry [component]="this">
      <ng-template appTpl="entryContentTpl">
        <app-sales-credit-note-form formType="create" [masterPage]="page" [form]="form"></app-sales-credit-note-form>
      </ng-template>
    </app-base-entry>

  </ng-template>
</app-base-page>

<div class="modal fade" bsModal #reportModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="reportModal.hide()">
          <span class="fa fa-times"></span>
        </button>
        <div style="padding: 24px 40px">
          <app-report-viewer *ngIf="doc && doc['companyInfo']" [config]="{templateCode: 'SCN001'}" [data]="doc" initDisplay="pdf" [applyDataOnChange]="true"></app-report-viewer>
        </div>
      </div>
    </div>
  </div>
</div>
