<div *ngFor="let type of _.keys(groupedMessages.Block)">
    <app-system-message-display-block [service]="service" [message]="msg" [scope]="scope" *ngFor="let msg of groupedMessages.Block[type]"></app-system-message-display-block>
</div>

<div class="growl-messages">
  <div *ngFor="let type of _.keys(groupedMessages.Growl)">
      <app-system-message-display-block [service]="service" [message]="msg" [scope]="scope" *ngFor="let msg of groupedMessages.Growl[type]"></app-system-message-display-block>
  </div>
</div>  