<div [formGroup]="form">
  <fieldset style="border-bottom:1px solid #d8d8d8" class="m0 p0" id="fieldset-company">
    <app-settings-company-form-company [parentForm]="form" [doc]="doc" (submit)="onSubmit()"></app-settings-company-form-company>
  </fieldset>
  <fieldset style="border-bottom:1px solid #d8d8d8" class="m0 p0" id="fieldset-contact">
    <app-settings-company-form-contact [parentForm]="form" [doc]="doc" (submit)="onSubmit()"></app-settings-company-form-contact>
  </fieldset>
  <fieldset id="fieldset-address" class="m0 p0">
    <app-settings-company-form-address [parentForm]="form" [doc]="doc" [countries]="countries" (submit)="onSubmit()"></app-settings-company-form-address>
  </fieldset>
</div>
