<div class="form-group" [appFieldStates]="parentForm.get('detailDescription')" [formGroup]="parentForm">
  <p-editor *ngIf="widget === 'html'" formControlName="detailDescription" [style]="{'height':'200px'}"></p-editor>
  <textarea *ngIf="widget === 'raw'" formControlName="detailDescription" rows="2" class="form-control"></textarea>
  <app-field-error [control]="parentForm.get('detailDescription')"></app-field-error>
</div>
