<div [formGroup]="form" *ngIf="relatedDataReady">
  <div fxLayout="row" fxLayoutGap="42px">
    <div fxFlex>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-product-form-field-name [parentForm]="form" fxFlex></app-product-form-field-name>

        <app-product-form-field-sku [parentForm]="form" fxFlex></app-product-form-field-sku>
      </div>

      <app-product-form-field-category [parentForm]="form" [categories]="relatedData.categories"></app-product-form-field-category>

      <app-product-form-field-uoms [singleUOM]="true" [selectedUOMS]="selectedUOMS" [parentForm]="form" [doc]="doc" [uoms]="relatedData.uoms"></app-product-form-field-uoms>

      <app-product-form-field-tags [parentForm]="form"></app-product-form-field-tags>
    </div>
    <app-img-upload fxFlex="200px" [multiple]="true" [serverFiles]="doc?.pictures" (onUploaded)="onImageUploaded($event)" (onDeleted)="onImageDeleted($event)"
      (onPrimaryChange)="onImagePrimaryChange($event)"></app-img-upload>
  </div>

  <div class="mt4">
    <app-product-form-field-sales-sellable [parentForm]="form"></app-product-form-field-sales-sellable>

    <app-product-form-field-prices singleInputLabel="{{'ui.product.form.salesPrice' | translate}}" [parentForm]="form.get('variants')['controls'][0]"
      [priceLevels]="relatedData.priceLevels" [selectedUOMS]="selectedUOMS" [doc]="doc"></app-product-form-field-prices>

    <div fxLayout="row" fxLayoutGap="16px">
      <app-product-form-field-sales-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-sales-tax>

      <app-product-form-field-sales-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-sales-account>
    </div>
  </div>

  <div class="mt4">
    <app-product-form-field-purchases-purchasable [parentForm]="form"></app-product-form-field-purchases-purchasable>
    
    <app-product-form-field-purchases-price [parentForm]="form"></app-product-form-field-purchases-price>

    <div fxLayout="row" fxLayoutGap="16px">
      <app-product-form-field-purchases-tax [parentForm]="form" [taxes]="relatedData.taxes" fxFlex></app-product-form-field-purchases-tax>

      <app-product-form-field-purchases-account [parentForm]="form" [accounts]="relatedData.accounts" fxFlex></app-product-form-field-purchases-account>
    </div>
  </div>
</div>