<div class="form-group" [appFieldStates]="parentForm.get('email')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.email' | translate }}</label>
  <input type="email" formControlName="email" class="form-control" />
  <app-field-error [control]="parentForm.get('email')"></app-field-error>
</div>
