<app-retry-dialog #retryDialog></app-retry-dialog>

<div [formGroup]="form">
  <table *ngIf="doc.variantAttribute1" class="table">
    <thead>
      <tr>
        <th style="background-color:#fff; border-bottom-width:0px" width="120px">{{ 'ui.product.formVariant.attribute' | translate }}</th>
        <th style="background-color:#fff; border-bottom-width:0px">
          {{ 'ui.product.formVariant.value' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="doc.variantAttribute1">
        <td>
          {{doc.variantAttribute1.name}}
        </td>
        <td>
          <div class="form-group" [appFieldStates]="form.get('attribute1Value')" fxLayoutAlign="space-between center">
            <input class="form-control" formControlName="attribute1Value">
            <app-field-error [control]="form.get('attribute1Value')"></app-field-error>
          </div>
        </td>
      </tr>
      <tr *ngIf="doc.variantAttribute2">
        <td>
          {{doc.variantAttribute2.name}}
        </td>
        <td>
          <div class="form-group" [appFieldStates]="form.get('attribute2Value')" fxLayoutAlign="space-between center">
            <input class="form-control" formControlName="attribute2Value">
            <app-field-error [control]="form.get('attribute2Value')"></app-field-error>
          </div>
        </td>
      </tr>
      <tr *ngIf="doc.variantAttribute3">
        <td>
          {{doc.variantAttribute3.name}}
        </td>
        <td>
          <div class="form-group" [appFieldStates]="form.get('attribute3Value')" fxLayoutAlign="space-between center">
            <input class="form-control" formControlName="attribute3Value">
            <app-field-error [control]="form.get('attribute3Value')"></app-field-error>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group" [appFieldStates]="form.get('sku')" [formGroup]="form">
    <label class="control-label">{{'ui.product.formVariant.sku' | translate}}</label>
    <input class="form-control" formControlName="sku">
    <app-field-error [control]="form.get('sku')"></app-field-error>
  </div>

  <app-product-form-field-prices singleInputLabel="{{'ui.product.form.salesPrice' | translate}}" [parentForm]="form" [priceLevels]="priceLevels"
    [selectedUOMS]="uoms" [doc]="doc"></app-product-form-field-prices>

  <div class="form-group" [appFieldStates]="form.get('unitCost')" [formGroup]="form">
    <label class="control-label">{{'ui.product.formVariant.unitCost' | translate}}</label>
    <input class="form-control" formControlName="unitCost">
    <app-field-error [control]="form.get('unitCost')"></app-field-error>
  </div>
</div>
