<div *ngFor="let account of accounts">
  <div fxLayout="row">
    <span fxFlex="65%" style="font-weight: 600">
      <img src="assets/marketplace/{{account.channelId}}.png" alt="logo" width="30px" style="margin-right:5px">
      {{ account.name || account.channelName }}
    </span>

    <div [ngSwitch]="getSuccessResultByChannelId(account.channelAccountId)" fxFlex="35%" style="padding-top:5px">
      <span *ngSwitchCase="true" style="color:#45b388">
          <img src="assets/marketplace/progress/success.png" alt="success" width="21px" style="margin-right:5px">
          Success
      </span>

      <ng-container *ngSwitchCase="false">
        <ng-template #popTemplate>
          <ul class="text-danger pl3 pr1 mb0 text-normal">
            <li *ngFor="let error of getResultByChannelId(account.channelAccountId).response.errors">
              {{ error.error_message }}
            </li>
          </ul>
        </ng-template>

        <div fxLayout="row">
          <span style="color:#db5454">
            <img src="assets/marketplace/progress/failed.png" alt="failed" width="21px" style="margin-right:5px">          
            Failed
          </span>
          <span class="pl pr">|</span>
          <span>
            <a (click)="doRetry(account.channelAccountId)"><i>Retry</i></a>
          </span>

          <span fxFlex></span>

          <div [popover]="popTemplate" container="body" placement="bottom">
            <img src="assets/marketplace/progress/info.png" alt="info" width="21px">
          </div>
        </div>
      </ng-container>

      <span *ngSwitchCase="null">
        <img class="spin-img" src="assets/marketplace/progress/spinner.png" alt="spinner" width="21px" style="margin-right:5px">        
        Loading..
      </span>
    </div>
  </div>

  <hr style="margin: 15px 0 15px 0"/>
</div>

<button *ngIf="hasErrors" type="button" class="btn btn-default" (click)="goEdit()">
  Edit
</button>
