<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="160px">
      <label class="control-label">
        {{'ui.transaction.moreFilter.status' | translate}}
      </label>
      <select class="form-control" formControlName="status">
        <option value="">{{'ui.option.any' | translate}}</option>
        <option value="open">{{'ui.transation.status.open' | translate}}</option>
      </select>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.transaction.moreFilter.from' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>

    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.transaction.moreFilter.to' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="220px">
      <label class="control-label">
        {{'ui.transaction.moreFilter.contactId' | translate}}
      </label>
      <p-autoComplete #customerAC formControlName="contact" field="displayName" styleClass="wd-wide" [suggestions]="contactsSuggestion" (onSelect)="$event && form.get('contactId').setValue($event.id)"
        (completeMethod)="searchContact($event)" [dropdown]="true" (onDropdownClick)="onContactDropdown($event)" field="displayName"
        [appWrapperAC]="customerAC"></p-autoComplete>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end start">
    <button class="btn btn-default" type="reset">
      {{'ui.button.reset' | translate}}
    </button>

    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>
</form>
