<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc" class="topbar" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center start">
  <div fxLayout="row" fxFlex>
    <div fxFlex fxLayoutGap="22px" fxLayoutAlign="start">
      <div>
        <span class="page-title">
          {{doc.displayName}}
        </span> <br/>
        <span>
          {{ (doc.isCustomer && ('ui.businessPartner.detail.isCustomer'| translate)) || '' }}
          {{ (doc.isCustomer && doc.isVendor && '&') || '' }}
          {{ (doc.isVendor && ('ui.businessPartner.detail.isVendor'| translate)) || '' }}
        </span>
      </div>
    </div>

    <div class="btn-actions" fxLayoutGap="8px">
      <button type="button" class="btn ripple btn-primary" [routerLink]="['update']">
        {{'ui.button.edit' | translate}}
      </button>
      <button type="button" class="btn ripple btn-success" [routerLink]="['update']">
        {{'ui.button.newtransaction' | translate}} <span class="fa fa-chevron-down"></span>
      </button>
    </div>
  </div>
</div>

<ul class="table-tabs">
  <li>
    <a (click)="shown = 'transaction'" [class]="shown === 'transaction' ? 'active' : ''">
      {{'ui.businessPartner.tabLink.transaction' | translate}}
    </a>
  </li>
  <li>
    <a (click)="shown = 'detail'" [class]="shown === 'detail' ? 'active' : ''">
      {{'ui.businessPartner.tabLink.detail' | translate}}
    </a>
  </li>
</ul>

<div *ngIf="doc">
  <div *ngIf="shown === 'detail'">
    <div fxLayout="column">
      <div style="padding-bottom:40px" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex>
          <table class="table table-striped detail-list">
            <tbody>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.name' | translate}}
                </td>
                <td>
                  {{doc.fullName ? doc.fullName : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.displayName' | translate}}
                </td>
                <td>
                  {{doc.displayName ? doc.displayName : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.company' | translate}}
                </td>
                <td>
                  {{doc.company ? doc.company : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.dateOfBirth' | translate}}
                </td>
                <td>
                  {{doc.dateOfBirth ? (doc.dateOfBirth | date:'dd/MM/y') : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.mobile' | translate}}
                </td>
                <td>
                  {{doc.mobile ? doc.mobile : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.phone' | translate}}
                </td>
                <td>
                  {{doc.phone ? doc.phone : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.email' | translate}}
                </td>
                <td>
                  {{doc.email ? doc.email : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.website' | translate}}
                </td>
                <td>
                  {{doc.website ? doc.website : '-'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div fxFlex>
          <table class="table table-striped detail-list">
            <tbody>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.fax' | translate}}
                </td>
                <td>
                  {{doc.fax ? doc.fax : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.billingAddress' | translate}}
                </td>
                <td>
                  {{doc.billingAddress ? doc.billingAddress : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.shippingAddress' | translate}}
                </td>
                <td>
                  {{doc.shippingAddress ? doc.shippingAddress : '-'}}
                </td>
              </tr>
              <tr>
                <td class="detail-label">
                  {{'ui.businessPartner.detail.notes' | translate}}
                </td>
                <td>
                  {{doc.note ? doc.note : '-'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="more-info">
        <div fxFlex>
          <fieldset class="collapsible" id="fieldset-1">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.businessPartner.form.salesInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.invoiceduedays' | translate}}
                    </td>
                    <td>
                      {{doc.defaultSalesInvoiceDueDays ? doc.defaultSalesInvoiceDueDays : '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.salesTax' | translate}}
                    </td>
                    <td>
                      {{doc.salesTax ? doc.salesTax : '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>

        <div fxFlex>
          <fieldset class="collapsible" id="fieldset-1">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.businessPartner.form.purchaseInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.billDueDays' | translate}}
                    </td>
                    <td>
                      {{doc.defaultPurchaseInvoiceDueDays ? doc.defaultPurchaseInvoiceDueDays : '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.purchaseTax' | translate}}
                    </td>
                    <td>
                      {{doc.purchaseTax ? doc.purchaseTax : '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" class="more-info">
        <div fxFlex>
          <fieldset class="collapsible pb0" id="fieldset-1">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.businessPartner.form.paymentInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.bankAccountNo' | translate}}
                    </td>
                    <td>
                      {{doc.bankAccountNo ? doc.bankAccountNo : '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.bankAccountName' | translate}}
                    </td>
                    <td>
                      {{doc.bankAccountName ? doc.bankAccountName : '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>

        <div fxFlex>
          <fieldset class="collapsible pb0" id="fieldset-1">
            <app-fieldset-collapsible-title class="style-2" title="{{'ui.businessPartner.form.taxInfo' | translate}}"></app-fieldset-collapsible-title>
            <app-fieldset-collapsible-content>
              <table class="table table-striped detail-list">
                <tbody>
                  <tr>
                    <td class="detail-label">
                      {{'ui.businessPartner.detail.taxRegNo' | translate}}
                    </td>
                    <td>
                      {{doc.taxRegistrationNumber ? doc.taxRegistrationNumber : '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </app-fieldset-collapsible-content>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="shown === 'transaction'">
    <div fxLayout="row">
      <div fxFlex>
        <fieldset class="collapsible">
          <app-business-partner-transaction [doc]="doc"></app-business-partner-transaction>
        </fieldset>
      </div>
    </div>
  </div>
</div>
