<div [formGroup]="form">
  <div class="form-group" [appFieldStates]="form.get('name')">
    <label class="control-label">{{'ui.paymentMethod.form.name' | translate }}</label>
    <input formControlName="name" class="form-control" />
    <app-field-error [control]="form.get('name')"></app-field-error>
  </div>

  <div class="form-group" [appFieldStates]="form.get('paymentMethodType')">
    <label class="control-label">{{'ui.paymentMethod.form.paymentMethodType' | translate }}</label>
    <select formControlName="paymentMethodType" class="form-control">
      <option value="cash">{{'ui.paymentMethod.form.paymentMethodTypeOption.cash' | translate }}</option>
      <option value="cheque">{{'ui.paymentMethod.form.paymentMethodTypeOption.cheque' | translate }}</option>
      <option value="debit_card">{{'ui.paymentMethod.form.paymentMethodTypeOption.debit_card' | translate }}</option>
      <option value="credit_card">{{'ui.paymentMethod.form.paymentMethodTypeOption.credit_card' | translate }}</option>
    </select>
    <app-field-error [control]="form.get('paymentMethodType')"></app-field-error>
  </div>
</div>
