<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.otherLists.title' | translate}}
  </span>
</div>

<div *ngFor="let map of maps" class="list-group">
  <div class="list-title">
    <img class="inline-block align-top mr" src="{{map.icon}}"/>{{map.i18nLabel | translate}}
  </div>
  <div *ngFor="let lists of map.lists" class="list-row" fxLayout="row" fxLayoutGap="50px">
    <div *ngFor="let list of lists" class="list-item" fxFlex>
      <a class="list-item-title" [routerLink]="list.link">
        {{list.i18nLabel | translate}}
      </a>
      <div class="list-item-description">
        {{list.i18nDescription | translate}}
      </div>
    </div>
  </div>
</div>