<div [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsCompany.form.contactInfo' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <div class="form-group">
        <ul class="form-flex">
          <li>
            <label>{{'ui.settingsCompany.form.phone' | translate}}</label>
            <span fxFlex="280px">
              <div class="form-group" [appFieldStates]="parentForm.get('phone')" [formGroup]="parentForm">
                <input class="form-control" formControlName="phone" placeholder="{{'ui.settingsCompany.form.phone' | translate }}">
                <app-field-error [control]="parentForm.get('phone')"></app-field-error>
              </div>
            </span>
          </li>
          <li>
            <label>{{'ui.settingsCompany.form.fax' | translate}}</label>
            <span fxFlex="280px">
              <div class="form-group" [appFieldStates]="parentForm.get('fax')" [formGroup]="parentForm">
                <input class="form-control" formControlName="fax" placeholder="{{'ui.settingsCompany.form.fax' | translate }}">
                <app-field-error [control]="parentForm.get('fax')"></app-field-error>
              </div>
            </span>
          </li>
          <li>
            <label>{{'ui.settingsCompany.form.email' | translate}}</label>
            <span fxFlex="280px">
              <div class="form-group" [appFieldStates]="parentForm.get('email')" [formGroup]="parentForm">
                <input class="form-control" formControlName="email" placeholder="{{'ui.settingsCompany.form.email' | translate }}">
                <app-field-error [control]="parentForm.get('email')"></app-field-error>
              </div>
            </span>
          </li>
          <li>
            <label>{{'ui.settingsCompany.form.website' | translate}}</label>
            <span fxFlex="280px">
              <div class="form-group" [appFieldStates]="parentForm.get('website')" [formGroup]="parentForm">
                <input class="form-control" formControlName="website" placeholder="{{'ui.settingsCompany.form.website' | translate }}">
                <app-field-error [control]="parentForm.get('website')"></app-field-error>
              </div>
            </span>
          </li>
        </ul>

        <div class="mt4" style="margin-left:242px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <button type="button" class="btn btn-default" (click)="updateForm = !updateForm">
            {{'ui.button.cancel' | translate}}
          </button>
          <button class="btn btn-success" (click)="onSubmit()">
            {{'ui.settingsCompany.upsert.button.submit' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <label>{{'ui.settingsCompany.form.phone' | translate}}</label> {{doc?.phone || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.fax' | translate}}</label> {{doc?.fax || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.email' | translate}}</label> {{doc?.email || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.website' | translate}}</label> {{doc?.website || '-'}}
        </li>
      </ul>

      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
