<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">  

    <div *ngIf="doc" fxLayout="row" fxLayoutGap="16px">
      <table class="table table-striped detail-list">
        <tbody>
          <tr>
            <td class="detail-label">
              {{'ui.tax.detail.code' | translate}}
            </td>
            <td>
              {{doc.code || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.tax.detail.name' | translate}}
            </td>
            <td>
              {{doc.name || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.tax.detail.rate' | translate}}
            </td>
            <td>
              {{doc.rate || 0}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.tax.detail.salesTaxAccountId' | translate}}
            </td>
            <td>
              {{doc.salesTaxAccount?.name || '-'}}
            </td>
          </tr>
          <tr>
            <td class="detail-label">
              {{'ui.tax.detail.purchaseTaxAccountId' | translate}}
            </td>
            <td>
              {{doc.purchaseTaxAccount?.name || '-'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-template>
</app-base-page>