<div class="layout-container" [ngClass]="layout()">
    <!-- top navbar-->
    <app-admin-layout-header></app-admin-layout-header>

    <!-- sidebar-->
    <app-admin-layout-sidebar class="aside"></app-admin-layout-sidebar>

    <div (click)="closeSidebar()" class="sidebar-layout-obfuscator"></div>

    <!-- Main section-->
    <main class="main-container">
        <!-- Page content-->
        <section class="container container-lg">
            <app-system-message-display scope="global"></app-system-message-display>
            <router-outlet></router-outlet>
        </section>
    </main>
</div>
