/**
 * Layout Variants
 */

@import '../../modules/ng2centric/shared/styles/common/variables';
@import '../../modules/ng2centric/shared/styles/common/mixins';

.sidebar-offcanvas {
    .sidebar-container {
        width: 50px;
        z-index: 99;
        // @include translate3d(-2%, 0, 0);
        .sidebar-header {
            @include box-shadow(0 0 0 #000);
            .sidebar-header-logo-text{
                visibility: hidden;
            }
        }
        .sidebar-subnav,
        .nav-caret {
            display: none;
        }
    }
    .header-container {
        z-index: 30;
    }
    .main-container,
    .header-container{
        margin-left: 50px;
    }

    .main-container > .container {
        min-width: calc(600px + 24px + 9px);
    }

    &.offcanvas-visible {
        .sidebar-container {
            width: 215px;
            @include translate3d(0, 0, 0);
            .sidebar-header {
                .sidebar-header-logo-text{
                    visibility: visible;
                }
            }
            .sidebar-subnav,
            .nav-caret{
                display: block;
            }
        }
        .main-container,
        .header-container {
            margin-left: 215px;
        }
    }
}

// old browsers
.no-csstransforms3d .sidebar-offcanvas {
    .sidebar-offcanvas {
        .sidebar-container {
            margin-left: -$sidebar-wd;
        }
        &.offcanvas-visible {
            .sidebar-container {
                margin-left: 0;
            }
        }
    }
}
