:host /deep/ {
  display: block;
  background-color: #e1e1e1; // background-image: url('../../../assets/img/login_bg.png');
  // background-size: cover;
  height: 100%;
  color: #4a4a4a;
  a:not(.text-muted) {
    color: #4782d8;
  }
  .page-container {
    height: auto !important;
  }
  .login-box {
    max-width: 753px;
    .auth-card {
      border-radius: 12px;
      box-shadow: 0 2px 15px 2px rgba(61, 61, 61, 0.5);
      margin-bottom: 0;
      .card-body {
        .left-panel {
          position: relative;
          background-color: #f9f9f9;
          border-radius: 10px 0 0 10px;
          padding: 20px 50px;
          .description {
            width: 280px;
          }
          .stick-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 65px;
            line-height: 65px;
          }
        }
        .right-panel {
          padding: 32px;
          .ui-chkbox-label {
            font-size: 14px;
            line-height: 0.71;
            color: #9b9b9b;
            font-weight: 400;
          }
          .mda-form-group {
            padding: 0 0 0px 0;
            .mda-form-control {
              margin-top: 18px;
              padding: 0;
              border-radius: 5px;
              border: solid 0.5px #c1c1c1;
              .form-control {
                border-left: 1px solid #c1c1c1;
                height: 22px;
                margin-top: 6px;
                margin-bottom: 6px;
              }
              .form-control {
                padding: 0 12px;
              }
            }
          }
          .login-btn {
            margin-top: 20px;
            background-color: #2ab27b;
            width: 100%;
            color: white;
            height: 40px;
            font-size: 16px;
            border-radius: 5px;
            margin-bottom: 11px;
          }
          .or-line {
            margin-top: 29px;
            >img {
              margin: auto;
            }
          }
          .sm-login {
            margin-top: 18px;
            >ul.sm-icons {
              padding-left: 0;
              text-align: center;
              margin-bottom: 20px;
              margin-top: 17px;
              >li {
                display: inline-block;
                max-width: 40px;
                margin-right: 30px;
                &:last-child {
                  margin-right: 0;
                }
                img {
                  max-width: 29.8px;
                  max-height: 29.8px;
                }
              }
            }
          }
        }
        .card-logo {
          margin: 52px 0;
          >img {
            max-width: 200px;
            margin: auto;
          }
        }
        .card-title {
          font-size: 28px;
          text-align: center;
          margin-bottom: 40px;
          margin-top: 0;
          color: #15416f;
        }
      }
    }
    .spinner {
      border-radius: 10px;
    }
  }
}
