<div class="page-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <div class="login-box">
    <div class="card auth-card b0">
      <div class="card-body p0" fxLayout="row">
        <div fxFlex class="left-panel text-center">
          <div class="card-logo">
            <img class="img-responsive" src="/assets/img/logo2.png" />
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div class="description">
              <p class="text-center">
                An easy to use accounting software that helps you grow your business easy, fast and secure through online collaboration anytime,
                anywhere, and any devices.
              </p>
            </div>
          </div>
          <div style="margin: 40px 0">
            <img class="inline img-responsive" src="/assets/img/stats.png" />
          </div>
        </div>
        <div class="right-panel" fxFlex="314px">
          <h3 class="card-title">
            {{'ui.login.title' | translate}}
          </h3>
          <form [formGroup]="loginForm" (submit)="submit($event)" novalidate class="form-validate" no-margin>
            <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <em class="fa fa-envelope icon-md text-center" fxFlex="50px"></em>
                <input type="email" class="form-control" formControlName="username" placeholder="{{'ui.login.email' | translate}}" fxFlex
                />
              </div>
              <app-field-error [control]="loginForm.controls['username']"></app-field-error>
            </div>

            <div class="mda-form-group">
              <div class="mda-form-control" fxLayout="row" fxLayoutAlign="center center">
                <em class="mi mi-lock icon-lg text-center" fxFlex="50px"></em>
                <input type="password" class="form-control" formControlName="password" placeholder="{{'ui.login.password' | translate}}"
                  fxFlex />
              </div>
              <app-field-error [control]="loginForm.controls['password']"></app-field-error>
            </div>

            <div class="mt2">
              <p-checkbox [(ngModel)]="rememberMeChecked" [ngModelOptions]="{standalone: true}" [binary]="true" [label]="'ui.login.rememberMe' | translate"></p-checkbox>
            </div>

            <button type="submit" class="btn btn-success login-btn">
              {{'ui.login.button.submit' | translate}}
            </button>
          </form>

          <div class="text-center mt4">
            <a class="text-muted" routerLink="/account/forgot-password">
              {{'ui.login.link.forgotPassword' | translate}}
            </a>
          </div>

          <div class="register-link text-center">
            <span class="text-muted">{{'ui.login.registerDescription' | translate}}</span>
            <a [routerLink]="['/registration']">
              {{'ui.login.link.register' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
