<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" class="mb4" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" fxLayout="row" fxFlex="228px">
            <div fxLayoutAlign="start end" fxLayoutGap="16px">
              <div class="form-group" [appFieldStates]="form.get('payeeId')" fxFlex="259px">
                <label class="control-label">
                  {{'ui.expense.form.payee' | translate}}
                </label>
                <p-autoComplete #payeeAC formControlName="payee" (onSelect)="$event && form.patchValue({ payeeId: $event.id });" styleClass="wd-wide block"
                  [dropdown]="true" [suggestions]="payeesSuggestion" field="displayName" (completeMethod)="ACPayeeHandler.search($event)"
                  (onDropdownClick)="ACPayeeHandler.dropdown($event)" appendTo="body" [appWrapperAC]="payeeAC">
                  <ng-template let-payee pTemplate="item">
                    <a *ngIf="!payee" (click)="quickCreateAC = payeeAC; quickCreateModal.show()" class="quick-create-option">
                      <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                    </a>
                    <span *ngIf="payee">
                      {{payee.displayName}}
                    </span>
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('payeeId')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('paymentAccountId')" fxFlex="259px">
                <label class="control-label">
                  {{'ui.expense.form.payFrom' | translate}}
                </label>
                <p-autoComplete #paymentAccountAC formControlName="paymentAccount" (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id });"
                  styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentAccountAC, relatedData.accounts)"
                  (completeMethod)="_autocomplete.onLocalACSearch(paymentAccountAC, relatedData.accounts, ['name'], $event.query)"
                  appendTo="body" [appWrapperAC]="paymentAccountAC" [appWrapperACLimit]="false">
                  <ng-template let-account pTemplate="item">
                    [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('paymentAccountId')"></app-field-error>
              </div>
            </div>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div class="text-right">
          <label class="control-label">
            {{'ui.expense.form.total' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('total').value || 0, '') }}
          </h2>
        </div>
      </div>
    
      <div fxLayout="row">
        <div fxLayoutAlign="start end" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('description')" fxFlex="534px">
            <label class="control-label">
              {{'ui.expense.form.description' | translate}}
            </label>
            <input formControlName="description" class="form-control" />
            <app-field-error [control]="form.get('description')"></app-field-error>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.expense.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label">
                {{'ui.expense.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>
        </div>
      </div>
    
      <div class="table-responsive">
        <table class="table table-bordered mt mb">
          <thead>
            <tr>
              <th class="text-center" width="66px">
                {{'ui.expense.form.colNumber' | translate}}
              </th>
              <th width="220px">
                {{'ui.expense.form.colAccount' | translate}}
              </th>
              <th>
                {{'ui.expense.form.colDescription' | translate}}
              </th>
              <th class="text-right" width="161px">
                {{'ui.expense.form.colAmount' | translate}}
              </th>
              <th width="66px">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top">
                <p-autoComplete #accountAC formControlName="account" (onSelect)="$event && lineFormGroup.patchValue({ accountId: $event.id });"
                  styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(accountAC, relatedData.accounts)"
                  (onSelect)="_expenseForm.lineConditionalValidation(lineFormGroup);" (completeMethod)="_autocomplete.onLocalACSearch(accountAC, relatedData.accounts, ['name'], $event.query)"
                  appendTo="body" [appWrapperAC]="accountAC">
                  <ng-template let-account pTemplate="item">
                    [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('accountId')"></app-field-error>
              </td>
              <td class="align-top">
                <input formControlName="description" class="form-control" (change)="_expenseForm.lineConditionalValidation(lineFormGroup)"
                />
                <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="amount" class="form-control text-right" (change)="_expenseForm.lineConditionalValidation(lineFormGroup); syncTotal()"
                />
                <app-field-error [control]="lineFormGroup.get('amount')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxFlex="150px">
            <div fxLayout="row" fxLayoutGap="8px">
              <button type="button" class="btn btn-default" (click)="addLines(1)">
                {{'ui.expense.form.button.addLine' | translate}}
              </button>
              <button type="button" class="btn btn-default" (click)="resetLines()">
                {{'ui.expense.form.button.clearAllLines' | translate}}
              </button>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutGap="16px" class="mt">
            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex="250px">
              <label class="control-label">
                {{'ui.expense.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" class="label-summary1" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.expense.form.total' | translate}}
              <app-field-error [control]="form.get('total')"></app-field-error>
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('total').value || 0, '') }}
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </ng-template>
  
  <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
            <span class="fa fa-times"></span>
          </button>
          <app-business-partner-quick-create type="customer" (afterSubmit)="form.patchValue({ payee: $event, payeeId: $event.id }); quickCreateModal.hide()"
            (close)="quickCreateModal.hide()"></app-business-partner-quick-create>
        </div>
      </div>
    </div>
  </div>

</app-base-page>
