<div class="idle-guard" *ngIf="_idleGuard.idle$ | async">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <h4>Are you there?</h4>
        <div class="form-group">
          <label class="control-label">
          Password
        </label>
          <input type="password" formControlName="password" class="form-control" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="submit($event)">
            <span class="fa fa-sign-in"></span>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
