<div class="form-group" [appFieldStates]="parentForm.get('isVendor')" [formGroup]="parentForm">
  <p-checkbox formControlName="isVendor" binary="true" label="{{ label ? ('ui.businessPartner.form.isVendor' | translate) : null }}" [ngStyle]="{ 'font-size': '18px' }"></p-checkbox>
  <app-field-error [control]="parentForm.get('isVendor')"></app-field-error>
</div>
