app-chatbot-panel {
  .cbt {
    height : calc(100% - 60px);
    .cbt-col1 {
      padding: 20px 0;
      background-color: #efefef;
      .cbt-chnl-lbl {
        display: inline-block;
        padding: 13px 20px 12px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 0.79;
        text-align: left;
        color: #4a4a4a;
      }
      ul.cbt-chnl-list {
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
        li {
          padding: 14px 20px 12px 20px;
          font-size: 14px;
          line-height: 0.71;
          text-align: left;
          color: #4a4a4a;
          &.active {
            background-color: rgba(217, 217, 217, 0.5);
          }
          img {
            width: 20px;
            margin-right:4px;
          }
        }
      }
    }
    app-chatbot-conversation-list {
      display: block;
      background-color: #f9f8f8;
      ul {
        margin-bottom: 0;
        list-style-type: none;
        padding-left: 0;
        li {
          border-bottom: 1px solid #e0e0e0;
          app-chatbot-conversation-teaser {
            display: block;
            padding: 12px 22px 13px 16px;
            .cbt-tsr-avatar {
              display: inline-block;
              margin-right: 12px;
              max-width: 36px;
              max-height: 36px;
            }
            .cbt-tsr-desc {
              display: inline-block;
              .cbt-tsr-time,
              .cbt-tsr-sender,
              .cbt-tsr-msg {
                display: block;
              }
              .cbt-tsr-time {
                font-size: 12px;
                line-height: 0.7;
                text-align: left;
                color: #9b9b9b;
              }
              .cbt-tsr-sender {
                font-size: 14px;
                font-weight: 600;
                line-height: 0.71;
                text-align: left;
                color: #000000;
                margin-bottom: 8px;
              }
              .cbt-tsr-msg {
                font-size: 13px;
                word-wrap: break-word;
                max-width: 192px;
                line-height: 1.17;
                text-align: left;
                color: #7f7f7f;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    app-chatbot-conversation-panel {
      padding: 10px 10px 0;
      .cb-starting-msg {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9b9b9b;
        h5{
          margin-bottom:0;
        }
        span {
          margin-top:10px;
        }
      }
      app-chatbot-conversation-detail {
        .conversation-detail {
          display: block;
          max-height: calc(100vh - 70px);
          width: 100%;
          overflow-x: hidden;
          padding: 40px 0;
          ul.cbt-conversations {
            list-style-type: none;
            padding-top: 15px;
            padding-left: 0;
            li {
              app-chatbot-conversation-item {
                display: block;
                .cbt-bubble {
                  margin-left: 10px;
                  max-width: calc(100% - 10px);
                  display: inline-block;
                  border-radius: 10px;
                  padding: 13px 12px;
                  // background-color: #f9f9f9;
                  position: relative;
                  margin-bottom: 12px;
                  .cbt-user {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 0.71;
                    text-align: left;
                    color: #4a4a4a;
                    margin-bottom: 12px;
                    display: block;
                  }
                  .cbt-msg {
                    font-size: 14px;
                    line-height: 1.24;
                    white-space: pre-line;
                    text-align: left;
                    color: #4a4a4a;
                    margin-bottom: 12px;
                    display: block;
                  max-width: 40vw;
                  word-wrap: break-word;
                  img {
                    max-width: 40vw;
                  }
                }
                .cbt-time {
                  display: block;
                  font-size: 12px;
                  line-height: 1.0;
                  text-align: right;
                  color: #9b9b9b;
                  .bubble-chat-time-icon {
                    vertical-align: baseline;
                    margin-right: 5px;
                    width: 14px;
                  }
                }
                &:after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  width: 0;
                  height: 0;
                  border: 10px solid transparent;
                  margin-top: -10px;
                }
                &.cbt-bubble-left {
                  background-color: #f6ffed;
                  &:after {
                    margin-left: -10px;
                    left: 0;
                    border-right-color: #f6ffed;
                    border-left: 0;
                  }
                }
                &.cbt-bubble-right {
                  background-color: #f4f4f4;
                  display: table;
                  margin-right: 10px;
                  margin-left: auto;
                  &:after {
                    right: -10px;
                    border-left-color: #f4f4f4;
                    border-right: 0;
                  }
                }
              }
            }
            &:last-child {
              app-chatbot-conversation-item {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
      div.agent {
        background: #fff;
        border-bottom: 0.5px solid #e0e0e0;
        padding: 12px;
        margin-top: 60px;
        position: absolute;
        top: 0;
        width: calc(100% - 520px);
        z-index: 999;
        img {
          width: 14px;
          margin-right: 5px;
        }
        .bot-switch{
          float: right !important;
          span{
            padding-right: 5px;
            font-weight: 700;
            vertical-align: top;
          }
        }
      }
    }
    app-chatbot-conversation-control {
      display: block;
      position: fixed;
      width: calc(100% - 520px);
      bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      background: white;
    }
  }
}
