<app-admin-layout-header-apps></app-admin-layout-header-apps>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>
<div class="cbt" fxLayout="row">
  <div class="cbt-col1" fxFlex="220px">
    <span class="cbt-chnl-lbl">
      {{ 'ui.chatbot.panel.channelLabel' | translate:{length: channels.length} }}
    </span>

    <ul class="cbt-chnl-list">
      <li class="active" *ngFor="let channel of channels">
        <img [src]="'/assets/chatbot/' + channel + '.png'">
        {{ _.startCase(channel) }}
      </li>
    </ul>
  </div>

  <app-chatbot-conversation-list [conversations]="conversations" fxFlex="280px"></app-chatbot-conversation-list>

  <app-chatbot-conversation-panel [conversations]="conversations" fxFlex></app-chatbot-conversation-panel>
</div>
