<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex class="form-group" [appFieldStates]="form.get('firstName')">
      <label class="control-label">
      {{ 'ui.settingsUser.form.firstName' | translate }}
    </label>
      <input formControlName="firstName" class="form-control" />
      <app-field-error [control]="form.get('firstName')"></app-field-error>
    </div>

    <div fxFlex class="form-group" [appFieldStates]="form.get('lastName')">
      <label class="control-label">
      {{ 'ui.settingsUser.form.lastName' | translate }}
    </label>
      <input formControlName="lastName" class="form-control" />
      <app-field-error [control]="form.get('lastName')"></app-field-error>
    </div>
  </div>

  <div class="form-group" [appFieldStates]="form.get('email')">
    <label class="control-label">
      {{ 'ui.settingsUser.form.email' | translate }}
    </label>
    <input formControlName="email" class="form-control" />
    <app-field-error [control]="form.get('email')"></app-field-error>
  </div>
</div>
