<ul class="table-tabs">
  <li>
    <a routerLink="/products/all" routerLinkActive="active">
      {{'ui.product.list.tabLink.all' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/products/inventory" routerLinkActive="active">
      {{'ui.product.list.tabLink.inventory' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/products/non-inventory" routerLinkActive="active">
      {{'ui.product.list.tabLink.nonInventory' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/products/service" routerLinkActive="active">
      {{'ui.product.list.tabLink.service' | translate}}
    </a>
  </li>
</ul>