<div [formGroup]="form">
  <div class="form-group">
    <textarea formControlName="raw" class="form-control" placeholder="{{'ui.purchases.parse.form.raw' | translate}}" rows="10"></textarea>
    <app-field-error [control]="form.get('raw')"></app-field-error>
  </div>
</div>
