<div class="form-group" [appFieldStates]="parentForm.get('purchaseTaxId')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.purchaseTaxId' | translate}}</label>
  <p-autoComplete #purchaseTaxAC formControlName="purchaseTax" (onSelect)="$event && parentForm.patchValue({ purchaseTaxId: $event.id });"
    styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onClear)="parentForm.get('purchaseTaxId').reset()"
    (onDropdownClick)="_autocomplete.onLocalACDropdown(purchaseTaxAC, taxes)" 
    (completeMethod)="_autocomplete.onLocalACSearch(purchaseTaxAC, taxes, ['name'], $event.query)" 
    [appWrapperAC]="purchaseTaxAC" [appWrapperACLimit]="false">
    <ng-template let-tax pTemplate="item">
      {{tax.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('purchaseTaxId')"></app-field-error>
</div>
