<div class="form-group" [appFieldStates]="parentForm.get('dateOfBirth')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.dateOfBirth' | translate}}</label>
  <p-calendar formControlName="dateOfBirth" styleClass="fw" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
    [showIcon]="true"></p-calendar>
  <app-field-error [control]="parentForm.get('dateOfBirth')"></app-field-error>
</div>
