<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div fxLayout="row">
        <div fxLayout="row" fxLayoutGap="16px" fxFlex.gt-md="549px">
          <div class="form-group" [appFieldStates]="form.get('customerId')" fxLayout="column" fxFlex="228px">
            <label class="control-label">
              {{'ui.salesOrder.form.customerId' | translate}}
            </label>
            <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" (completeMethod)="ACCustomerHandler.search($event)"
              (onDropdownClick)="ACCustomerHandler.dropdown($event)" (onClear)="onCustomerClear()" (onSelect)="$event && onCustomerSelected($event).subscribe()"
              [dropdown]="true" [appWrapperAC]="customerAC" [disabled]="formType === 'update'">
              <ng-template let-customer pTemplate="item">
                <a *ngIf="!customer" (click)="quickCreateAC = customerAC; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="customer">
                  {{customer.displayName}}
                </span>
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('customerId')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerEmail')" fxFlex="174px">
            <label class="control-label">
              {{'ui.salesOrder.form.customerEmail' | translate}}
            </label>
            <input formControlName="customerEmail" type="email" class="form-control" />
            <app-field-error [control]="form.get('customerEmail')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('customerMobile')" fxFlex="131px">
            <label class="control-label">
              {{'ui.salesOrder.form.customerMobile' | translate}}
            </label>
            <input formControlName="customerMobile" type="tel" class="form-control" />
            <app-field-error [control]="form.get('customerMobile')"></app-field-error>
          </div>
        </div>

        <div fxFlex></div>

        <div class="text-right">
          <label class="control-label">
            {{'ui.salesOrder.form.amount' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('total').value || 0, '') }}
          </h2>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex.gt-md="516px" style="margin-top: -8px">
          <div fxLayout="row" class="mb4" fxLayoutGap="40px" fxLayoutFill>
            <!-- <div>
          <label>
            <p-checkbox formControlName="useCustomCustomerName" binary="true" label="{{'ui.salesOrder.form.useCustomCustomerName' | translate}}"></p-checkbox>
          </label>
          <app-field-error [control]="form.get('useCustomCustomerName')"></app-field-error>
        </div> -->
            <div>
              <label>
                <p-checkbox formControlName="isDropship" binary="true" label="{{'ui.salesOrder.form.isDropship' | translate}}"></p-checkbox>
              </label>
              <app-field-error [control]="form.get('isDropship')"></app-field-error>
            </div>
          </div>

          <!-- <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
        <div *ngIf="form.get('useCustomCustomerName').value" class="form-group" [appFieldStates]="form.get('customCustomerName')" fxFlex="228px">
          <label class="control-label">
            {{'ui.salesOrder.form.customCustomerName' | translate}}
          </label>
          <input formControlName="customCustomerName" type="text" class="form-control" />
          <app-field-error [control]="form.get('customCustomerName')"></app-field-error>
        </div>
      </div> -->

          <div fxLayout="row">
            <div fxLayout="row" fxLayoutGap="16px" *ngIf="form.get('isDropship').value">
              <div class="form-group" [appFieldStates]="form.get('dropshipperName')" fxFlex="174px" fxLayout="column">
                <label class="control-label">
                  {{'ui.salesOrder.form.dropshipperName' | translate}}
                </label>
                <input formControlName="dropshipperName" type="text" class="form-control" />
                <app-field-error [control]="form.get('dropshipperName')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('dropshipperEmail')" fxFlex="174px">
                <label class="control-label">
                  {{'ui.salesOrder.form.dropshipperEmail' | translate}}
                </label>
                <input formControlName="dropshipperEmail" type="email" class="form-control" />
                <app-field-error [control]="form.get('dropshipperEmail')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('dropshipperPhoneNumber')" fxFlex="131px">
                <label class="control-label">
                  {{'ui.salesOrder.form.dropshipperPhoneNumber' | translate}}
                </label>
                <input formControlName="dropshipperPhoneNumber" type="tel" class="form-control" />
                <app-field-error [control]="form.get('dropshipperPhoneNumber')"></app-field-error>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutFill>
            <div class="form-group" [appFieldStates]="form.get('billingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.salesOrder.form.billingAddress' | translate}}
              </label>
              <textarea formControlName="billingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('billingAddress')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('shippingAddress')" fxFlex>
              <label class="control-label">
                {{'ui.salesOrder.form.shippingAddress' | translate}}
              </label>
              <textarea formControlName="shippingAddress" class="form-control" rows="4"></textarea>
              <app-field-error [control]="form.get('shippingAddress')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
            <div class="form-group" [appFieldStates]="form.get('shippingMethodId')" fxFlex="160px">
              <label class="control-label">{{'ui.salesOrder.form.shippingMethodId' | translate}}</label>
              <p-autoComplete #shippingMethodAC formControlName="shippingMethod" (onSelect)="$event && form.patchValue({ shippingMethodId: $event.id });"
                styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingMethodAC, relatedData.shippingMethods)"
                (completeMethod)="_autocomplete.onLocalACSearch(shippingMethodAC, relatedData.shippingMethods, ['name'], $event.query)"
                [appWrapperAC]="shippingMethodAC" [appWrapperACLimit]="false">
                <ng-template let-shippingMethod pTemplate="item">
                  {{shippingMethod.name}}
                </ng-template>
              </p-autoComplete>
              <app-field-error [control]="form.get('shippingMethodId')"></app-field-error>
            </div>
          </div>

          <ng-container *ngIf="form.get('shippingMethod').value?.systemType === 'shipping_provider'">
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
              <div class="form-group" [appFieldStates]="form.get('shippingProviderId')" fxFlex="220px">
                <label class="control-label">{{'ui.salesOrder.form.shippingProviderId' | translate}}</label>
                <div class="ui-inputgroup">
                <p-autoComplete #shippingProviderAC formControlName="shippingProvider" (onSelect)="onShippingProviderSelected($event) && form.patchValue({ shippingProviderId: $event.id });"
                  styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderAC, relatedData.shippingProviders)"
                  (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderAC, relatedData.shippingProviders, ['name'], $event.query)"
                  [appWrapperAC]="shippingProviderAC" [appWrapperACLimit]="false">
                  <ng-template let-shippingProvider pTemplate="item">
                    {{shippingProvider.name}}
                  </ng-template>
                </p-autoComplete>
                  <button class="btn" type="submit" style="min-width: 64px;" (click)="shippingPriceModal.show()">
                    <img src="assets/img/shipping-price-icon.png" style="width:20px;">
                  </button>
                </div>                
                <app-field-error [control]="form.get('shippingProviderId')"></app-field-error>
              </div>
              <div class="form-group" [appFieldStates]="form.get('shippingProviderProductId')" fxFlex="160px">
                <label class="control-label">{{'ui.salesOrder.form.shippingProviderProductId' | translate}}</label>
                <p-autoComplete #shippingProviderProductAC formControlName="shippingProviderProduct" (onSelect)="$event && form.patchValue({ shippingProviderProductId: $event.id });"
                  styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(shippingProviderProductAC, shippingProviderProducts)"
                  (completeMethod)="_autocomplete.onLocalACSearch(shippingProviderProductAC, shippingProviderProducts, ['name'], $event.query)"
                  [appWrapperAC]="shippingProviderProductAC" [appWrapperACLimit]="false">
                  <ng-template let-shippingProviderProduct pTemplate="item">
                    {{shippingProviderProduct.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('shippingProviderProductId')"></app-field-error>
              </div>
              <div class="mb2">
                <p-checkbox formControlName="shippingInsurance" binary="true" label="{{ 'ui.salesOrder.form.shippingInsurance' | translate }}"></p-checkbox>
              </div>
            </div>

            <div fxLayout="row">
              <div class="form-group" [appFieldStates]="form.get('shippingTrackingNumber')" fxFlex="334px">
                <label class="control-label">
                  {{'ui.salesOrder.form.shippingTrackingNumber' | translate}}
                </label>
            
                <div class="tracking-input">
                  <input type="text" class="form-control" formControlName="shippingTrackingNumber"/>
                  <button class="btn" type="submit" (click)="trackWaybillModal.show()">
                    <img src="assets/img/zoom-out.png" />
                  </button>
                </div>
                <app-field-error [control]="form.get('shippingTrackingNumber')"></app-field-error>
              </div>
            </div>
          </ng-container>

          <div class="form-group" [appFieldStates]="form.get('description')">
            <label class="control-label">
              {{'ui.salesOrder.form.description' | translate}}
            </label>
            <input formControlName="description" class="form-control" />
            <app-field-error [control]="form.get('description')"></app-field-error>
          </div>

        </div>

        <div fxFlex></div>

        <div fxLayout="column" fxFlex.gt-md="322px" fxLayoutAlign="end">
          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('transactionNumber')">
              <label class="control-label">
                {{'ui.salesOrder.form.transactionNumber' | translate}}
              </label>
              <input formControlName="transactionNumber" class="form-control" />
              <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.salesOrder.form.transactionDate' | translate}}
              </label>
              <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('transactionDate')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px">
            <div class="form-group" [appFieldStates]="form.get('customerRefNumber')">
              <label class="control-label">
                {{'ui.salesOrder.form.customerRefNumber' | translate}}
              </label>
              <input formControlName="customerRefNumber" class="form-control" />
              <app-field-error [control]="form.get('customerRefNumber')"></app-field-error>
            </div>
            <div class="form-group" [appFieldStates]="form.get('deliveryDate')" fxLayout="column">
              <label class="control-label d-block">
                {{'ui.salesOrder.form.deliveryDate' | translate}}
              </label>
              <p-calendar formControlName="deliveryDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
              <app-field-error [control]="form.get('deliveryDate')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex="150px">
              <div class="form-group" [appFieldStates]="form.get('warehouseId')">
                <label class="control-label">
                  {{'ui.salesOrder.form.warehouse' | translate}}
                </label>
                <p-autoComplete #warehouseAC formControlName="warehouse" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });"
                  styleClass="wd-wide" [dropdown]="true" field="name" dataKey="id" (onClear)="form.get('warehouseId').reset();"
                  (onDropdownClick)="_autocomplete.onLocalACDropdown(warehouseAC, relatedData.warehouses)" (completeMethod)="_autocomplete.onLocalACSearch(warehouseAC, relatedData.warehouses, ['name'], $event.query)"
                  [appWrapperAC]="warehouseAC" [appWrapperACLimit]="false">
                  <ng-template let-warehouse pTemplate="item">
                    {{warehouse.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="form.get('warehouseId')"></app-field-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered mt mb" style="min-width: 1208px">
          <thead>
            <tr>
              <th class="text-center">
                {{'ui.salesOrder.form.colNumber' | translate}}
              </th>
              <th>
                {{'ui.salesOrder.form.colProduct' | translate}}
              </th>
              <th>
                {{'ui.salesOrder.form.colDescription' | translate}}
              </th>
              <th class="text-right" width="7%">
                {{'ui.salesOrder.form.colQty' | translate}}
              </th>
              <th class="text-right" width="9%">
                {{'ui.salesOrder.form.colPrice' | translate}}
              </th>
              <th class="text-right" width="70px">
                {{'ui.salesOrder.form.colDiscountPercent' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesOrder.form.colDiscountAmount' | translate}}
              </th>
              <th class="text-right" width="12%">
                {{'ui.salesOrder.form.colAmount' | translate}}
              </th>
              <th class="text-right" width="125px">
                {{'ui.salesOrder.form.colTax' | translate}}
              </th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top" #td>
                <p-autoComplete #productVariantAC formControlName="productVariant" field="name" styleClass="wd-wide" [suggestions]="productVariantsSuggestion"
                  (completeMethod)="ACProductVariantHandler.search(productVariantAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productVariantAC, $event)"
                  (onSelect)="_salesOrderForm.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()"
                  [dropdown]="true" (onClear)="onProductClear(i)" appendTo="body" [appWrapperAC]="productVariantAC">
                  <ng-template let-productVariant pTemplate="item">
                    [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                  </ng-template>
                </p-autoComplete>
                <span style="font-style: italic;" *ngIf="lineFormGroup.value.productVariant?.sku">SKU: {{lineFormGroup.value.productVariant.sku}}</span>
                <app-field-error [control]="lineFormGroup.get('productVariantId')"></app-field-error>
              </td>
              <td class="align-top">
                <textarea appAutosize formControlName="description" class="form-control" rows="1" (change)="_salesOrderForm.lineConditionalValidation(lineFormGroup)"></textarea>
                <app-field-error [control]="lineFormGroup.get('description')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="qty" class="form-control text-right" (change)="_salesOrderForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('qty')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="unitPrice" class="form-control text-right" (change)="_salesOrderForm.lineConditionalValidation(lineFormGroup); syncLineAmount(i)"
                />
                <app-field-error [control]="lineFormGroup.get('unitPrice')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="_salesOrderForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, false)"
                />
                <app-field-error [control]="lineFormGroup.get('discountPercent')"></app-field-error>
              </td>
              <td class="align-top">
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="_salesOrderForm.lineConditionalValidation(lineFormGroup); syncLineDiscount(i, true)"
                />
                <app-field-error [control]="lineFormGroup.get('discountAmount')"></app-field-error>
              </td>
              <td class="text-right middle-text">
                {{ lineFormGroup.get('amount').value ? _accounting.ac.formatMoney(lineFormGroup.get('amount').value) : '' }}
              </td>
              <td class="align-top">
                <p-autoComplete #taxAC formControlName="tax" (onSelect)="$event && lineFormGroup.patchValue({ taxId: $event.id });" styleClass="wd-wide block"
                  [dropdown]="true" field="code" dataKey="id" (onClear)="lineFormGroup.get('taxId').reset(); syncTax()" (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, relatedData.taxes)"
                  (onSelect)="_salesOrderForm.lineConditionalValidation(lineFormGroup); $event && syncTax()" (completeMethod)="_autocomplete.onLocalACSearch(taxAC, relatedData.taxes, ['name'], $event.query)"
                  appendTo="body" [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
                  <ng-template let-tax pTemplate="item">
                    {{tax.code}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('taxId')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="8px">
            <button class="btn btn-default" (click)="addLines(1)">
              {{'ui.salesOrder.form.button.addLine' | translate}}
            </button>
            <button class="btn btn-default" (click)="resetLines()">
              {{'ui.salesOrder.form.button.clearAllLines' | translate}}
            </button>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" class="mt4">
            <div class="form-group" [appFieldStates]="form.get('customerNote')" fxFlex>
              <label class="control-label">
                {{'ui.salesOrder.form.customerNote' | translate}}
              </label>
              <textarea formControlName="customerNote" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('customerNote')"></app-field-error>
            </div>

            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
              <label class="control-label">
                {{'ui.salesOrder.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>

        <div fxFlex></div>

        <div fxLayout="column" class="mt vertical-labels" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.salesOrder.form.subTotal' | translate}}
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('subtotal').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesOrder.form.discount' | translate}}
            </div>

            <div fxFlex="195px" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="33%">
                <input type="number" formControlName="discountPercent" class="form-control text-right" (change)="syncTotalDiscount('discountAmount', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountPercent')"></app-field-error>
              </div>
              <div fxFlex>
                <input type="number" formControlName="discountAmount" class="form-control text-right" (change)="syncTotalDiscount('discountPercent', $event.target.value)"
                />
                <app-field-error [control]="form.get('discountAmount')"></app-field-error>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="inline-checkbox">
              <label>
                <p-checkbox formControlName="taxed" (onChange)="onTaxedToggle($event)" binary="true" label="{{ 'ui.salesOrder.form.taxed' | translate }}"></p-checkbox>
              </label>
            </div>

            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('taxAmount').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesOrder.form.shippingCharge' | translate}}
            </div>

            <div fxFlex="195px">
              <input type="number" formControlName="shippingCharge" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('shippingCharge')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" class="form-group mb" fxLayoutGap="46px" fxLayoutAlign="start center">
            <div class="control-label">
              {{'ui.salesOrder.form.adjustmentAmount' | translate}}
            </div>

            <div fxFlex="195px">
              <input type="number" formControlName="adjustmentAmount" class="form-control text-right" (change)="syncTotal()" />
              <app-field-error [control]="form.get('adjustmentAmount')"></app-field-error>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" class="label-summary1">
            <div>
              {{'ui.salesOrder.form.total' | translate}}
              <app-field-error [control]="form.get('total')"></app-field-error>
            </div>
            <div fxFlex="195px" class="text-right">
              {{ _accounting.ac.formatMoney(form.get('total').value || 0) }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" class="mt label-summary1">
            <div>
              {{'ui.salesOrder.form.deposit' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <ng-container *ngIf="!doc && !(!!quickDPForm)">
                <a (click)="createQuickDP()">{{'ui.salesOrder.form.createQuickDP' | translate}}</a>
              </ng-container>
              <ng-container *ngIf="!doc && (!!quickDPForm)" [formGroup]="quickDPForm">
                <input type="number" formControlName="downPaymentAmount" class="form-control text-right" />
              </ng-container>
              <ng-container *ngIf="doc">
                <div *ngIf="doc.downPaymentAmount === 0">
                  {{ _accounting.ac.formatMoney(doc.downPaymentAmount) }}
                </div>
                <div *ngIf="doc.downPaymentAmount > 0">
                  <a (click)="downpaymentModal.show()">
                    {{ _accounting.ac.formatMoney(doc.downPaymentAmount) }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>

          <div *ngIf="quickDPForm" fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" [formGroup]="quickDPForm">
            <div>
              {{'ui.salesOrder.form.depositPaymentMethod' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide" [suggestions]="_salesOrderFormDP.paymentMethodsSuggestion"
                [dropdown]="true" (completeMethod)="_salesOrderFormDP.searchACItems($event, 'paymentMethods', 'paymentMethodsSuggestion')"
                (onSelect)="$event && quickDPForm.get('paymentMethodId').setValue($event.id)" (onClear)="quickDPForm.get('paymentMethodId').reset()"
                (onDropdownClick)="_salesOrderFormDP.onACDropdown($event, 'paymentMethods', 'paymentMethodsSuggestion')" [appWrapperAC]="paymentMethodAC"
                [appWrapperACLimit]="false">
                <ng-template let-paymentMethod pTemplate="item">
                  <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateModal.show()" class="quick-create-option">
                    <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                  </a>
                  <span *ngIf="paymentMethod">
                    {{paymentMethod.name}}
                  </span>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>

          <div *ngIf="quickDPForm" fxLayout="row" fxLayoutGap="46px" fxLayoutAlign="start center" [formGroup]="quickDPForm">
            <div>
              {{'ui.salesOrder.form.depositPaymentAccount' | translate}}
            </div>
            <div fxFlex="195px" class="text-right">
              <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [suggestions]="_salesOrderFormDP.accountsSuggestion"
                [dropdown]="true" (completeMethod)="_salesOrderFormDP.searchACItems($event, 'accounts', 'accountsSuggestion')"
                (onSelect)="$event && quickDPForm.get('paymentAccountId').setValue($event.id)" (onClear)="quickDPForm.get('paymentAccountId').reset()"
                (onDropdownClick)="_salesOrderFormDP.onACDropdown($event, 'accounts', 'accountsSuggestion')" [appWrapperAC]="paymentAccountAC"
                [appWrapperACLimit]="false">
                <ng-template let-account pTemplate="item">
                  [{{account.code}}] {{account.name}}
                  <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;"
              (click)="quickCreateModal.hide()">
              <span class="fa fa-times"></span>
            </button>
            <app-business-partner-quick-create type="customer" (afterSubmit)="onCustomerCreated($event)" (close)="quickCreateModal.hide()"></app-business-partner-quick-create>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #trackWaybillModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.salesOrder.form.trackingDetails' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="trackWaybillModal.hide()">
                <span>x</span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <ng-container *ngIf="!form.value.shippingProviderId">
                {{'ui.shippingDetail.noShippingProvider' | translate}}
              </ng-container>
              <app-shipping-detail *ngIf="trackWaybillModal.isShown && form.value.shippingProviderId" [courier]="form.value.shippingProvider"
                [waybill]="form.value.shippingTrackingNumber"></app-shipping-detail>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #downpaymentModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-lg" *ngIf="doc">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.salesOrder.form.downPayment' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="downpaymentModal.hide()">
                <span>x</span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <app-sales-down-payment-quick-list *ngIf="downpaymentModal.isShown" [transaction]="doc"></app-sales-down-payment-quick-list>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" bsModal #shippingPriceModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-header" fxLayout="row">
              <h4 class="modal-title" fxFlex>
                {{'ui.shippingPrice.title' | translate}}
              </h4>
              <button type="button" class="close text-md" (click)="shippingPriceModal.hide()">
              <span class="fa fa-times"></span>
              </button>
            </div>
            <div style="padding: 24px 40px">
              <ng-container *ngIf="!form.value.shippingProviderId">
                 {{'ui.shippingPrice.noShippingProvider' | translate}}
              </ng-container>
              <app-shipping-price *ngIf="form.value.shippingProviderId && shippingPriceModal.isShown" (afterSelected)="onShippingPriceSelected($event)" [courier]="form.value.shippingProvider"></app-shipping-price>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</app-base-page>
