<app-retry-dialog #retryDialog></app-retry-dialog>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ 'ui.settingsUser.list.title' | translate }}
  </span>
</div>

<app-settings-tabs></app-settings-tabs>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<div class="mb2">
  <button class="btn btn-default" (click)="inviteModal.show()">
    {{'ui.settingsUser.list.button.invite' | translate}}
  </button>
</div>

<p-dataTable #gridTableUser [value]="companyUser">
  <p-column field="fullName" header="{{'ui.settingsUser.list.column.name' | translate}}"></p-column>
  <p-column field="email" header="{{'ui.settingsUser.list.column.email' | translate}}"></p-column>
  <p-column field="joinDateUtc" header="{{'ui.settingsUser.list.column.joinDate' | translate}}">
    <ng-template let-col let-joinDate="rowData" pTemplate="body">
      {{joinDate[col.field] | date:'dd MMM yyyy' }}
    </ng-template>
  </p-column>
  <p-column field="" header="{{'ui.settingsUser.list.column.lastLogin' | translate}}">
    <ng-template let-col let-lastLogin="rowData" pTemplate="body">
      {{lastLogin[col.field] | date:'dd MMM yyyy h:mm a' }}
    </ng-template>
  </p-column>
  <p-column field="status" header="{{'ui.settingsUser.list.column.status' | translate}}"></p-column>
  <p-column styleClass="col-operations">
    <ng-template let-company="rowData" pTemplate="body">
      <div container="body">
        <a>
          <span (click)="showDeleteDialog(company.id)">{{'ui.settingsUser.list.action.remove' | translate}}</span>
        </a>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="mt-xl">
  <h6 class="mb list-tiltle"> {{'ui.settingsUser.list.pending.title' | translate}} </h6>
</div>

<p-dataTable #gridTableInivite [value]="companyInvite">
  <p-column field="firstName" header="{{'ui.settingsUser.list.column.name' | translate}}"></p-column>
  <p-column field="email" header="{{'ui.settingsUser.list.column.email' | translate}}"></p-column>
  <p-column styleClass="col-operations">
    <ng-template let-company="rowData" pTemplate="body">
      <div container="body">
        <a>
          <span>{{'ui.settingsUser.list.action.resend' | translate}}</span>
        </a>
        <a>
          <span (click)="showDeleteDialog(company.id)">{{'ui.settingsUser.list.action.remove' | translate}}</span>
        </a>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<div class="modal fade" bsModal #inviteModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header" fxLayout="row">
          <h4 class="modal-title" fxFlex>
            {{'ui.settingsUser.create.title' | translate}}
          </h4>
          <button type="button" class="close text-md" (click)="inviteModal.hide()">
            <span>x</span>
          </button>
        </div>
        <div style="padding: 24px 40px">
          <app-settings-user-invite (afterSubmit)="inviteModal.hide(); loadData()" (close)="inviteModal.hide()"></app-settings-user-invite>
        </div>
      </div>
    </div>
  </div>
</div>
