<div class="form-group" [appFieldStates]="parentForm.get('note')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.note' | translate }}</label>
  <textarea rows="4" formControlName="note" class="form-control"></textarea>
  <app-field-error [control]="parentForm.get('note')"></app-field-error>
</div>
