<div class="form-group" [appFieldStates]="parentForm.get('productType')" [formGroup]="parentForm">
    <label class="control-label" *ngIf="label">{{'ui.product.form.type' | translate}}</label>
    <select formControlName="productType" class="form-control">
      <option *ngFor="let type of productTypes" [value]="type">{{'ui.product.type.' + type | translate}}</option>
    </select>
    <app-field-error [control]="parentForm.get('productType')"></app-field-error>
  </div>