<div [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsCompany.form.address' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #formAddress let-form="parentForm">
      <ng-container [formGroup]="form">
        <div class="form-group" [appFieldStates]="form.get('street1')">
          <input class="form-control" formControlName="street1" placeholder="{{'ui.settingsCompany.form.postalAddress.street1' | translate }}">
          <app-field-error [control]="form.get('street1')"></app-field-error>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('city')">
            <input class="form-control" formControlName="city" placeholder="{{'ui.settingsCompany.form.postalAddress.city' | translate }}">
            <app-field-error [control]="form.get('city')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('postalCode')">
            <input class="form-control" formControlName="postalCode" placeholder="{{'ui.settingsCompany.form.postalAddress.postalCode' | translate }}">
            <app-field-error [control]="form.get('postalCode')"></app-field-error>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('stateProvince')" fxFlex>
            <input class="form-control" formControlName="stateProvince" placeholder="{{'ui.settingsCompany.form.postalAddress.stateProvince' | translate }}">
            <app-field-error [control]="form.get('stateProvince')"></app-field-error>
          </div>
          <div class="form-group" [appFieldStates]="form.get('countryId')" fxFlex>
            <p-autoComplete #countryAC formControlName="country" (onSelect)="$event && form.patchValue({ countryId: $event.id });"
              styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="code"
              (onDropdownClick)="_autocomplete.onLocalACDropdown(countryAC, countries)" (onClear)="form.get('countryId').reset()"
              (completeMethod)="_autocomplete.onLocalACSearch(countryAC, countries, ['name'], $event.query)" [appWrapperAC]="countryAC" [appWrapperACLimit]="false">
              <ng-template let-country pTemplate="item">
                {{country.name}}
              </ng-template>
            </p-autoComplete>
            <app-field-error [control]="form.get('countryId')"></app-field-error>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <div *ngIf="updateForm" fxFlex="850px" [formGroup]="parentForm">
      <ul class="form-flex">
        <li>
          <label>{{'ui.settingsCompany.form.mainAddress' | translate}}</label>
          <div fxFlex="280px">
            <ng-container *ngTemplateOutlet="formAddress; context: {parentForm: parentForm.get('mainAddress')}"></ng-container>
          </div>
        </li>

        <li>
          <label>{{'ui.settingsCompany.form.postalAddress' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group">
              <p-checkbox formControlName="postalAddressSameAsMain" binary="true" label="{{('ui.settingsCompany.form.postalAddressSameAsMain' | translate)}}"
                [ngStyle]="{ 'font-size': '18px' }"></p-checkbox>
            </div>

            <div *ngIf="!parentForm.get('postalAddressSameAsMain').value">
              <ng-container *ngTemplateOutlet="formAddress; context: {parentForm: parentForm.get('postalAddress')}"></ng-container>
            </div>
          </div>
        </li>

        <li>
          <label>{{'ui.settingsCompany.form.shippingAddress' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group">
              <p-checkbox formControlName="shippingAddressSameAsMain" binary="true" label="{{('ui.settingsCompany.form.shippingAddressSameAsMain' | translate)}}"
                [ngStyle]="{ 'font-size': '18px' }"></p-checkbox>
            </div>

            <div *ngIf="!parentForm.get('shippingAddressSameAsMain').value">
              <ng-container *ngTemplateOutlet="formAddress; context: {parentForm: parentForm.get('shippingAddress')}"></ng-container>
            </div>
          </div>
        </li>

        <li>
          <label>{{'ui.settingsCompany.form.legalAddress' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group">
              <p-checkbox formControlName="legalAddressSameAsMain" binary="true" label="{{('ui.settingsCompany.form.legalAddressSameAsMain' | translate)}}"
                [ngStyle]="{ 'font-size': '18px' }"></p-checkbox>
            </div>

            <div *ngIf="!parentForm.get('legalAddressSameAsMain').value">
              <ng-container *ngTemplateOutlet="formAddress; context: {parentForm: parentForm.get('legalAddress')}"></ng-container>
            </div>
          </div>
        </li>
      </ul>

      <div class="mt4" style="margin-left:242px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsCompany.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <label>{{'ui.settingsCompany.form.mainAddress' | translate}}</label>
          {{doc?.mainAddress?.street1 || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.postalAddress' | translate}}</label>
          {{
            doc?.postalAddressSameAsMain ?
            doc?.mainAddress?.street1 :
            doc?.postalAddress?.street1 ||
            '-'
          }}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.shippingAddress' | translate}}</label>
          {{
            doc?.shippingAddressSameAsMain ?
            doc?.mainAddress?.street1 :
            doc?.shippingAddress?.street1 ||
            '-'
          }}
        </li>
        <li>
          <label>{{'ui.settingsCompany.form.legalAddress' | translate}}</label>
          {{
            doc?.legalAddressSameAsMain ?
            doc?.mainAddress?.street1 :
            doc?.legalAddress?.street1 ||
            '-'
          }}
        </li>
      </ul>

      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
</div>
