<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <p class="mb3">
      {{ account.name || account.channelName }}
    </p>

    <app-product-form-channel-default #formDefault [channelId]="account?.channelId" [channelAccountType]="account?.channelAccountType"
      [productForm]="productForm" [productChannel]="productChannel" [priceLevelId]="account?.priceLevelId"></app-product-form-channel-default>

    <ng-container *ngIf="dynamicFieldsProduct && dynamicFieldsProduct.length">
      <app-product-form-channel-dynamic #formDynamicRequired [fields]="dynamicFieldsProduct" [values]="getProductChannelDynamicFieldsValue()"
        [productChannel]="productChannel" showType="required" [productForm]="productForm"></app-product-form-channel-dynamic>

      <app-product-form-channel-dynamic #formDynamicNonRequired [fields]="dynamicFieldsProduct" [values]="getProductChannelDynamicFieldsValue()"
        [productChannel]="productChannel" showType="non_required" [productForm]="productForm"></app-product-form-channel-dynamic>
    </ng-container>

    <app-product-form-channel-variants *ngIf="productForm.get('hasVariants').value && productForm.get('variantCount').value > 0"
      #formVariants [productForm]="productForm" [productChannel]="productChannel" [channelId]="account.channelId" [dynamicFieldsVariant]="dynamicFieldsVariant"
      [priceLevelId]="account?.priceLevelId" [formType]="formType"></app-product-form-channel-variants>

    <ng-container *ngIf="!(productForm.get('hasVariants').value && productForm.get('variantCount').value > 0) && dynamicFieldsVariant && dynamicFieldsVariant.length">
      <app-product-form-channel-dynamic #formDynamicRequiredVariant [fields]="dynamicFieldsVariant" [values]="getMasterVariantChannelDynamicFieldsValue()"
        [productChannel]="productChannel" showType="required" [productForm]="productForm" [variantForm]="productForm.get('variants.0')"></app-product-form-channel-dynamic>

      <app-product-form-channel-dynamic #formDynamicNonRequiredVariant [fields]="dynamicFieldsVariant" [values]="getMasterVariantChannelDynamicFieldsValue()"
        [productChannel]="productChannel" showType="non_required" [productForm]="productForm" [variantForm]="productForm.get('variants.0')"></app-product-form-channel-dynamic>
    </ng-container>

  </ng-template>
</app-base-page>
