<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.dashboard.title' | translate}}
  </span>
</div>

<div fxLayout="row" fxLayoutGap="21px">
  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <app-dashboard-ar></app-dashboard-ar>

    <app-dashboard-expenses></app-dashboard-expenses>

    <app-dashboard-pnls></app-dashboard-pnls>

    <app-dashboard-top-selling-products></app-dashboard-top-selling-products>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <app-dashboard-ap></app-dashboard-ap>

    <app-dashboard-bank-accounts></app-dashboard-bank-accounts>

    <app-dashboard-top-selling-categories></app-dashboard-top-selling-categories>

    <app-dashboard-top-customers></app-dashboard-top-customers>
  </div>
</div>
