.dash-block {
  min-height: 200px;
  padding: 21px 20px;
  border-radius: 5px;
  background-color: #fdfdfe;
  border: 0.7px solid #c1c1c1;
  table {
    th {
      border-top: none!important;
    }
    tr {
      td {
        padding: 4px 10px!important;
      }
    }
  }
  .dash-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
  }
  .dash-label1 {
    font-size: 26px;
    color: #676767;
  }
  .dash-label2 {
    font-size: 14px;
    color: #797979;
    margin-bottom: 35px;
  }
  .dash-chart {
    max-width: 100%;
    width: 100%;
    min-height: 300px;
  }
  .dash-card {
    line-height: 17px;
    background-color: #ffffff;
    padding: 18px 0;
    .dash-card-label1 {
      font-size: 26px;
      color: #676767;
      font-weight: 400;
      margin-bottom: 12px;
    }
    .dash-card-label2 {
      font-size: 14px;
      font-weight: 400;
      color: #797979;
    }
  }
  &.dash-bank {
    .dash-item-label {
      font-size: 14px;
      font-weight: 600;
      line-height: 0.79;
      color: #4a4a4a;
    }
    table {
      margin-bottom: 0;
      tr {
        td {
          padding-bottom: 0;
          padding-left: 0!important;
        }
      }
    }
  }
  &.dash-expense {
    .ngx-charts {
      transform: scale(1.5) translate(100px, 0);
    }
    .advanced-pie-legend-wrapper {
      margin-left: 115px;
      width: auto!important;
      .advanced-pie-legend {
        width: auto!important;
        .total-label,
        .total-value {
          display: none;
        }
        .legend-items {
          margin-left: 70px;
          .legend-item {
            display: block;
            margin-bottom: 15px;
            .item-color {
              height: 58px;
            }
            .item-value {
              width: 95px;
              font-size: 15px;
              font-weight: 600;
              color: #727272;
            }
            .item-label {
              margin-top: 0px;
            }
            .item-percent {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &.dash-advanced-pie {
    .ngx-charts {
      transform: scale(1.5) translate(100px, 0);
      left: 0;
      max-width: 20vw;
      position: absolute;
    }
    .advanced-pie-legend-wrapper {
      margin-left: 115px;
      width: auto !important;
      .advanced-pie-legend {
        overflow: auto;
        max-height: 305px;
        width: auto !important;
        .total-label,
        .total-value {
          display: none;
        }
        .legend-items {
          margin-left: 70px;
          .legend-item {
            display: block;
            margin-bottom: 15px;
            .item-color {
              height: 58px;
            }
            .item-value {
              width: 95px;
              font-size: 15px;
              font-weight: 600;
              color: #727272;
            }
            .item-label {
              margin-top: 0px;
            }
            .item-percent {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  &.dash-pnl {
    header.legend-title {
      display: none;
    }
    .legend-wrap {
      margin-top: 10px;
    }
  }
}
