<div [formGroup]="parentForm">
  <div fxLayout="row" fxLayoutGap="20px" fxFlex='50%'>
    <div class="form-group" [appFieldStates]="parentForm.get('obQty')" [formGroup]="parentForm" fxFlex>
      <label class="control-label" *ngIf="label">{{'ui.product.form.obQty' | translate}}</label>
      <input type="number" class="form-control" formControlName="obQty" />
      <app-field-error [control]="parentForm.get('obQty')"></app-field-error>
    </div>

    <div class="form-group" [appFieldStates]="parentForm.get('obDate')" [formGroup]="parentForm" fxFlex>
      <label class="control-label" *ngIf="label">{{'ui.product.form.obDate' | translate}}</label>
      <p-calendar formControlName="obDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
      <app-field-error [control]="parentForm.get('obDate')"></app-field-error>
    </div>
  </div>
</div>
