<div [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsProduct.form.inventory' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <div class="form-flex" [formGroup]="form">
        <div class="mb">
          <label>
            <p-checkbox formControlName="allowInventoryLevelBelowZero" binary="true" label="{{('ui.settingsProduct.form.allowInventoryLevelBelowZero' | translate)}}"></p-checkbox>
          </label>
          <app-field-error [control]="form.get('allowInventoryLevelBelowZero')"></app-field-error>
        </div>      
      </div>
      <div class="mt4" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm; form.patchValue(doc)">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsProduct.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" (click)="updateForm = !updateForm" class="setting-field-section" fxLayout="row" fxFlex>
      <div class="form-flex" fxFlex>
        <div class="form-flex" [formGroup]="form">
          <div class="mb">
            <label>
              <p-checkbox formControlName="allowInventoryLevelBelowZero" binary="true" [disabled]="true" label="{{('ui.settingsProduct.form.allowInventoryLevelBelowZero' | translate)}}"></p-checkbox>
            </label>
            <app-field-error [control]="form.get('allowInventoryLevelBelowZero')"></app-field-error>
          </div>       
        </div> 
      </div>
      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
