<div class="page-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div class="card-body">
    <div class="card-logo">
      <img class="img-responsive" src="/assets/img/logo2.png" />
    </div>
    <div class="card-title">
      <h4>{{'ui.account.forgotPasswordConfirmation.title' | translate}}</h4>
      <span class="text-muted">{{'ui.account.forgotPasswordConfirmation.description' | translate}}</span>
    </div>
    <strong>{{ routeParams.email }}</strong>

    <div class="text-muted mt-xl">{{'ui.account.forgotPasswordConfirmation.guidance' | translate}}</div>

    <div class="reset-link">
      <a>{{'ui.account.forgotPasswordConfirmation.resetLink' | translate}}</a>
    </div>
  </div>
</div>
