:host /deep/ {
  display: block;
  color: #4a4a4a;
  height: 100%;
  a:not(.text-muted) {
    color: #4782d8;
  }
  .page-container {
    height: auto!important;
    .card-body {
      width: 340px;
      text-align: center;
      .card-logo {
        margin-bottom: 22px;
        >img {
          max-width: 200px;
          margin: auto;
        }
      }
      .card-title {
        margin-top: 52px;
      }
      .reset-link {
        margin-top: 18px;
      }
    }
  }
}
