<div class="modal fade" bsModal #productShareModal="bs-modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" fxLayout="row">
        <div fxFlex>
          <h5 class="modal-title">
            {{'ui.product.share.label' | translate}}
          </h5>
          <p>
            {{'ui.product.share.description' | translate}}
          </p>
        </div>
        <button type="button" class="close text-md" (click)="productShareModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" fxLayout="column">
        <div class="list-item" fxLayout="row" fxLayoutAlign="start center" (click)="shareFacebook()">
          <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
            <img src="/assets/img/social/facebook.png" class="img-responsive" />
          </div>
          <div>
            <h6 class="m0 list-title">
              {{'ui.product.share.facebook' | translate}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
