<div class="form-group" [appFieldStates]="parentForm.get('mobile')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.mobile' | translate }}</label>
  <input type="tel" formControlName="mobile" class="form-control" />
  <app-field-error [control]="parentForm.get('mobile')"></app-field-error>
</div>
