<app-formgen #formgen [schema]="schema">
  <app-formgen-field [formgen]="formgen" name="category"></app-formgen-field>
  <app-formgen-field [formgen]="formgen" name="name"></app-formgen-field>
  <app-formgen-field [formgen]="formgen" name="sku" *ngIf="!productForm?.get('hasVariants').value"></app-formgen-field>
  <app-formgen-field [formgen]="formgen" name="price" *ngIf="!productForm?.get('hasVariants').value"></app-formgen-field>
  <app-formgen-field [formgen]="formgen" name="description"></app-formgen-field>
</app-formgen>
