<ng-container *ngIf="form.get('variants')['controls'].length">
  <hr />

  <div fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="8px">
      <div fxFlex="220px">
        <strong>Clodeo</strong>
      </div>
      <div fxFlex="100px">
        <strong>SKU</strong>
      </div>
      <div fxFlex="277px">
        <strong>Name in {{ channelId }}</strong>
      </div>
      <div fxFlex="220px" class="text-right">
        <strong>Price</strong>
      </div>
    </div>
    <div *ngFor="let variantFormGroup of form.get('variants')['controls']; let variantFormGroupIdx = index" class="mb2">
      <div [formGroup]="variantFormGroup" fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="220px">
          {{ variantFormGroup.value.variantName }}
        </div>
        <div fxFlex="100px">
          <input formControlName="sku" class="form-control" />
        </div>
        <div fxFlex="277px">
          <input formControlName="name" class="form-control" />
        </div>
        <div fxFlex="220px">
          <input type="number" class="text-right" formControlName="price" class="form-control" />
        </div>
      </div>

      <ng-container *ngIf="dynamicFieldsVariant && dynamicFieldsVariant.length">
        <app-product-form-channel-dynamic #formDynamicRequired [fields]="dynamicFieldsVariant" [values]="getChannelVariantDyanmicFieldsValue(variantFormGroupIdx)"
          [productChannel]="productChannel" showType="required" [productForm]="productForm" [variantForm]="productForm.get('variants.' + variantFormGroupIdx)"></app-product-form-channel-dynamic>
        <app-product-form-channel-dynamic #formDynamicNonRequired [fields]="dynamicFieldsVariant" [values]="getChannelVariantDyanmicFieldsValue(variantFormGroupIdx)"
          [productChannel]="productChannel" showType="non_required" [productForm]="productForm" [variantForm]="productForm.get('variants.' + variantFormGroupIdx)"></app-product-form-channel-dynamic>
      </ng-container>
    </div>
  </div>
</ng-container>
