<div #pageLoading="app-spinner" appSpinner [show]="!compReady" [stretchToMain]="false" [parent]="shippingPriceContainer"></div>

<form [formGroup]="form" #shippingPriceContainer>
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <div fxLayout="row">
    <div class="form-group" fxFlex="48">
      <label class="control-label">{{ 'ui.shippingPrice.form.origin' | translate }}</label>
      <p-autoComplete #originCityAC field="cityName" [suggestions]="originCities" minLength="3" formControlName="originCity" styleClass="wd-wide" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" (completeMethod)="searchCity($event, 'origin')"
          (onClear)="form.get('originCityId').reset(null)" (onSelect)="$event && form.patchValue({ originCityId: $event.cityId });">
          <ng-template let-city pTemplate="item">
           {{city.cityName}}
          </ng-template>
      </p-autoComplete>
      <app-field-error [control]="form.get('originCityId')"></app-field-error>
    </div>
    <div fxFlex="4" style="text-align:center;">
      <!-- <strong>-</strong> -->
    </div>
    <div class="form-group" fxFlex="48">
      <label class="control-label">{{ 'ui.shippingPrice.form.destination' | translate }}</label>
      <p-autoComplete #destinationCityAC field="cityName" [suggestions]="destinationCities" minLength="3" formControlName="destinationCity" styleClass="wd-wide" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" (completeMethod)="searchCity($event, 'destination')"
        (onClear)="form.get('destinationCityId').reset(null)" (onSelect)="$event && form.patchValue({ destinationCityId: $event.cityId });">
        <ng-template let-city pTemplate="item">
           {{city.cityName}}
        </ng-template>
      </p-autoComplete>
      <app-field-error [control]="form.get('destinationCityId')"></app-field-error>
    </div>
  </div>

  <div fxLayout="row">
    <div class="form-group">
      <label class="control-label">{{ 'ui.shippingPrice.form.weight' | translate }}</label>
      <div class="input-group-borderless">
        <input type="number" class="form-control" formControlName="weight" />
        <span>gram</span>
      </div>
      <app-field-error [control]="form.get('weight')"></app-field-error>
    </div>
  </div>

  <div fxLayout="row">
    <button type="button" class="btn btn-success" (click)="checkPrice()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>

  <ng-container *ngIf="providerServices">
    <hr class="divider">

    <div fxLayout="row" *ngFor="let service of providerServices" class="shipping-price-item">
      <div fxFlex="70" class="item-detail">
        <a (click)="afterSelected.emit(service)">
          {{courier.name}} {{service.serviceDescription}}
        </a>
          {{ 'ui.shippingPrice.estimatedDeliveryTime' | translate:{estimatedDeliveryTime: service.estimatedDeliveryTime || 'N/A'} }}
      </div>
      <div fxFlex="30" class="item-price">
        {{_accounting.ac.formatMoney(service.price, '')}}
      </div>
    </div>
  </ng-container>

</form>