app-shipping-price {
  .divider{
    border-top: solid 2px #7f7f7f;
  }
  .shipping-price-item{
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #e0e0e0;
    :first-child{
      margin-top: 0;      
    }
    :last-child{
      padding-bottom: 0;
      border: none; 
    }
    .item-detail{
      a{
        display: block;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .item-price{
      text-align: right;
    }
  }
  .input-group-borderless {
    position: relative;
    input {
      padding-right: 4em;
    }
    span {
      position: absolute;
      background-color: transparent;
      top: 0;
      right: 0;
      padding: 6px 14px 6px 14px !important;
      min-width: 3em !important;
      height: 100%;
      border: none;
    }
  }

}