<div #pageLoading="app-spinner" appSpinner [show]="!compReady.self || !compReady.form"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.businessPartner.update.title' | translate}}
  </span>

  <p-inputSwitch onLabel="{{ 'ui.form.mini' | translate }}" offLabel="{{ 'ui.form.full' | translate }}" [(ngModel)]="fullView"
    (ngModelChange)="onFullViewStateChange()"></p-inputSwitch>
</div>

<form [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <div [ngClass]="fullView ? 'row' : ''">
    <app-form-nav *ngIf="fullView" [navigations]="formNavigations" class="col-sm-3 col-sm-push-9"></app-form-nav>

    <div [ngClass]="fullView ? 'col-sm-9 col-sm-pull-3' : ''">
      <app-business-partner-form *ngIf="fullView" [doc]="doc" [form]="form" (compReady)="compReady.form = true"></app-business-partner-form>
      <app-business-partner-form-mini *ngIf="!fullView" [doc]="doc" [form]="form" (compReady)="compReady.form = true"></app-business-partner-form-mini>

      <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
        <button type="button" class="btn btn-default" routerLink="/contacts/all">
          {{'ui.button.cancel' | translate}}
        </button>
        <div dropdown>
          <button class="btn btn-success dropdown-toggle">
            <span (click)="onSubmit()">{{'ui.button.save' | translate}}</span>
            <span class="caret" dropdownToggle></span>
          </button>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a (click)="onSubmit({ saveAndView: true })">
                {{ 'ui.button.saveAndView' | translate }}
              </a>
            </li>
            <li>
              <a (click)="onSubmit({ saveAndNew: true })">
                {{ 'ui.button.saveAndNew' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
