<app-img-upload-display #imageDisplay='app-img-upload-display' [imageSrc]="pictures[0]?.thumbnailUrl"></app-img-upload-display>

<div fxLayout="row" fxLayoutGap="6px" fxLayoutWrap>
  <div class="upload-box-wrapper upload-box-wrapper-small" *ngFor="let picture of pictures" (click)="setMainImage(picture)">
    <div class="upload-box" fxLayout="row" fxLayoutAlign="center center">
      <img class="img-responsive" [src]="picture.thumbnailUrl" />
    </div>
  </div>
</div>
