@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Thin.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-ThinItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Regular.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Semibold.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-SemiboldItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('assets/fonts/Titillium/Titillium-Black.otf');
  font-weight: 800;
}
