<div class="checkbox-inline" [formGroup]="parentForm">
  <label>
    <input formControlName="sellable" type="checkbox">
    <span *ngIf="label">{{'ui.product.form.sellable' | translate }}</span>
  </label>
  <app-field-error [control]="parentForm.get('sellable')"></app-field-error>
</div>
