<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('fromWarehouseId')">
          <label class="control-label">
            {{'ui.warehouseTransfer.form.fromWarehouse' | translate}}
          </label>
          <p-autoComplete #fromWarehouseAC formControlName="fromWarehouse" (onSelect)="$event && form.patchValue({ fromWarehouseId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(fromWarehouseAC, relatedData.warehouses)"
            (completeMethod)="_autocomplete.onLocalACSearch(fromWarehouseAC, relatedData.warehouses, ['name'], $event.query)"
            [appWrapperAC]="fromWarehouseAC" [appWrapperACLimit]="false"></p-autoComplete>
          <app-field-error [control]="form.get('fromWarehouseId')"></app-field-error>
        </div>
        <div class="form-group" [appFieldStates]="form.get('toWarehouseId')">
          <label class="control-label">
            {{'ui.warehouseTransfer.form.toWarehouse' | translate}}
          </label>
          <p-autoComplete #toWarehouseAC formControlName="toWarehouse" (onSelect)="$event && form.patchValue({ toWarehouseId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(toWarehouseAC, relatedData.warehouses)"
            (completeMethod)="_autocomplete.onLocalACSearch(toWarehouseAC, relatedData.warehouses, ['name'], $event.query)"
            [appWrapperAC]="toWarehouseAC" [appWrapperACLimit]="false"></p-autoComplete>
          <app-field-error [control]="form.get('toWarehouseId')"></app-field-error>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('description')" fxFlex="517px">
          <label class="control-label">
            {{'ui.warehouseTransfer.form.description' | translate}}
          </label>
          <input formControlName="description" class="form-control" />
          <app-field-error [control]="form.get('description')"></app-field-error>
        </div>

        <div fxFlex></div>

        <div fxLayoutAlign="start end" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('transactionNumber')" fxFlex="150px">
            <label class="control-label">
              {{'ui.warehouseTransfer.form.transactionNumber' | translate}}
            </label>
            <input formControlName="transactionNumber" class="form-control" />
            <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
          </div>

          <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxFlex="150px">
            <label class="control-label">
              {{'ui.warehouseTransfer.form.transactionDate' | translate}}
            </label>
            <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
            <app-field-error [control]="form.get('transactionDate')"></app-field-error>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered mt mb">
          <thead>
            <tr>
              <th class="text-center" width="66px">
                {{'ui.warehouseTransfer.form.colNumber' | translate}}
              </th>
              <th width="718px">
                {{'ui.warehouseTransfer.form.colProduct' | translate}}
              </th>
              <th width="275px">
                {{'ui.warehouseTransfer.form.colQty' | translate}}
              </th>
              <th width="40px">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="align-top" #td>
                <p-autoComplete #productAC formControlName="product" (onSelect)="$event && lineFormGroup.patchValue({ productId: $event.id });"
                  styleClass="wd-wide block" (completeMethod)="ACProductVariantHandler.search(productAC, $event)" (onDropdownClick)="ACProductVariantHandler.dropdown(productAC, $event)"
                  [dropdown]="true" [suggestions]="productVariantsSuggestion" field="name" dataKey="id" (onSelect)="_warehouseTransfer.lineConditionalValidation(lineFormGroup); onProductSelected(i, $event, td).subscribe()"
                  appendTo="body" [appWrapperAC]="productAC">
                  <ng-template let-productVariant pTemplate="item">
                    [{{productVariant.sku || productVariant.code}}] {{productVariant.name}}
                  </ng-template>
                </p-autoComplete>
                <app-field-error [control]="lineFormGroup.get('productId')"></app-field-error>
              </td>
              <td class="align-top">
                <input formControlName="qty" class="form-control" (change)="_warehouseTransfer.lineConditionalValidation(lineFormGroup)"
                />
                <app-field-error [control]="lineFormGroup.get('qty')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLine(i)" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxFlex="80px">
            <div fxLayout="row" fxLayoutGap="8px">
              <button class="btn btn-default" (click)="addLines(1)">
                {{'ui.warehouseTransfer.form.button.addLine' | translate}}
              </button>
              <button class="btn btn-default" (click)="resetLines()">
                {{'ui.warehouseTransfer.form.button.clearAllLines' | translate}}
              </button>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="16px" class="mt">
            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex="250px">
              <label class="control-label">
                {{'ui.warehouseTransfer.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-base-page>
