<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ 'ui.reportsInventory.preview.title' | translate }}
  </span>
</div>

<div class="well well-lg">
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsInventory.preview.filter.from' | translate }}</label>
        <p-calendar formControlName="lowDate" styleClass="fw" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
          [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsInventory.preview.filter.to' | translate }}</label>
        <p-calendar formControlName="highDate" styleClass="fw" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
          [showIcon]="true"></p-calendar>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsInventory.preview.filter.sku' | translate }}</label>
        <input type="text" formControlName="sku" class="form-control"/>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsInventory.preview.filter.productName' | translate }}</label>
        <input type="text" formControlName="name" class="form-control"/>
      </div>
    </div>

    <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <button class="btn btn-success" (click)="loadData()">
        {{ 'ui.button.apply' | translate }}
      </button>
    </div>
  </form>
</div>

<div class="well well-lg white">
  <app-report-toolbar [viewer]="elReportViewer" (onRefresh)="loadData()"></app-report-toolbar>

  <hr>

  <app-report-viewer #reportViewer *ngIf="compReady" [config]="{ templateCode: 'RINV001' }" [params]="reportParams" [data]="data"
    initDisplay="html" [applyDataOnChange]="true" (rendered)="reportViewerReady = true"></app-report-viewer>
</div>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady && !reportViewerReady"></div>
