<div [formGroup]="parentForm" [class.form-update]="updateForm" class="pv-lg" fxLayout="row">
  <div fxFlex fxLayout="row">
    <div fxFlex="226px">
      <table class="no-border">
        <tbody>
          <tr>
            <td>
              <label class="control-label">{{'ui.settingsSales.form.general' | translate}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="updateForm" fxFlex="850px">
      <ul class="form-flex">
        <li>
          <p-checkbox formControlName="autoReserveInventoryOnSalesOrder" binary="true" label="{{('ui.settingsSales.form.autoReserveInventoryOnOrder' | translate)}}"></p-checkbox>
          <app-field-error [control]="parentForm.get('autoReserveInventoryOnSalesOrder')"></app-field-error>
        </li>
        <li>
          <label>{{'ui.settingsSales.form.defaultSalesTax' | translate}}</label>
          <p-autoComplete #taxAC formControlName="defaultSalesTax" (onSelect)="$event && parentForm.patchValue({ defaultSalesTaxId: $event.id });"
            styleClass="wd-wide block" [dropdown]="true" field="name" dataKey="code" (onDropdownClick)="_autocomplete.onLocalACDropdown(taxAC, taxes)"
            (onClear)="parentForm.get('defaultSalesTaxId').reset()" (completeMethod)="_autocomplete.onLocalACSearch(taxAC, taxes, ['name'], $event.query)"
            [appWrapperAC]="taxAC" [appWrapperACLimit]="false">
            <ng-template let-tax pTemplate="item">
              {{tax.name}}
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="parentForm.get('defaultSalesTaxId')"></app-field-error>
        </li>
        <li>
          <label>{{'ui.settingsSales.form.defaultCustomerMessage' | translate}}</label>
          <div fxFlex="280px">
            <div class="form-group" [appFieldStates]="parentForm.get('defaultCustomerMessage')">
              <textarea formControlName="defaultCustomerMessage" class="form-control" rows="4"></textarea>
              <app-field-error [control]="parentForm.get('defaultCustomerMessage')"></app-field-error>
            </div>
          </div>
        </li>
      </ul>

      <div class="mt4" style="margin-left:242px" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <button type="button" class="btn btn-default" (click)="updateForm = !updateForm; parentForm.patchValue(doc);">
          {{'ui.button.cancel' | translate}}
        </button>
        <button class="btn btn-success" (click)="onSubmit()">
          {{'ui.settingsSales.upsert.button.submit' | translate}}
        </button>
      </div>
    </div>

    <div *ngIf="!updateForm" fxLayout="row" (click)="updateForm = !updateForm" class="setting-field-section" fxFlex>
      <ul class="form-flex" fxFlex>
        <li>
          <p-checkbox formControlName="autoReserveInventoryOnSalesOrder" binary="true" [disabled]="true" label="{{('ui.settingsSales.form.autoReserveInventoryOnOrder' | translate)}}"></p-checkbox>            
        </li>
        <li>
          <label>{{'ui.settingsSales.form.defaultSalesTax' | translate}}</label> {{doc?.defaultSalesTax?.name || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsSales.form.defaultCustomerMessage' | translate}}</label> {{doc?.defaultCustomerMessage || '-'}}
        </li>
        <li>
          <label>{{'ui.settingsSales.form.siCepatMemberId' | translate}}</label> {{doc?.siCepatMemberId || '-'}}
        </li>
      </ul>

      <button title="{{ 'ui.button.edit' | translate }}" class="btn p0 btn-action-icon btn-data-edit" (click)="updateForm = !updateForm"></button>
    </div>
  </div>
</div>
