<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <p *ngIf="_.isEmpty(data)">
      {{'ui.settingsSalesChannel.list.noData.message' | translate}}
      <a (click)="newSalesChannelModal.show()">{{'ui.settingsSalesChannel.list.noData.addNew' | translate}}</a>
    </p>
    
    <ul class="list-unstyled">
      <li *ngFor="let account of data; let last=last" fxLayout="row" [style.border-bottom]="last ? '0px' : '1px solid #d8d8d8'">
        <div fxFlex="95" style="display:inline-block; padding-right:5px; cursor:pointer" [routerLink]="[account.channelId, account.channelAccountId, 'update']">
          <span style="position: relative; bottom: 2px">
            <img src="assets/marketplace/{{account.channelId}}.png" style="width:30px">
          </span>
          <span style="display:inline-block; padding-left:5px">
            <h5 style="margin-top:16px;margin-bottom:22p;font-weight:400">{{ account.name }}</h5>
          </span>
        </div>
        <div fxFlex="5" style="text-align:right;margin-top:16px">
          <a (click)="showDeleteDialog(account.channelAccountId, account.name)">
            <img src="assets/marketplace/delete-icon.png" alt="" width="17px">
          </a>
        </div>
      </li>
    </ul>

    <div class="modal fade" bsModal #newSalesChannelModal="bs-modal" [config]="{backdrop: 'static'}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header" fxLayout="row">
            <div fxFlex>
              <h5 class="modal-title">
                {{'ui.settingsSalesChannel.list.modal.header' | translate}}
              </h5>
            </div>
            <button type="button" class="close text-md" (click)="newSalesChannelModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" fxLayout="column">
            <!-- <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/settings/saleschannel/bukalapak/create">
              <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
                <img src="/assets/marketplace/bukalapak.png" class="img-responsive" />
              </div>
              <div>
                <h6 class="m0 list-title">
                  {{'ui.settingsSalesChannel.list.modal.new.bukalapak' | translate}}
                </h6>
              </div>
            </div> -->
            <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/settings/saleschannel/lazada/create">
              <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
                <img src="/assets/marketplace/lazada.png" class="img-responsive" />
              </div>
              <div>
                <h6 class="m0 list-title">
                  {{'ui.settingsSalesChannel.list.modal.new.lazada' | translate}}
                </h6>
              </div>
            </div>
            <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/settings/saleschannel/shopify/create">
              <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
                <img src="/assets/marketplace/shopify.png" class="img-responsive" />
              </div>
              <div>
                <h6 class="m0 list-title">
                  {{'ui.settingsSalesChannel.list.modal.new.shopify' | translate}}
                </h6>
              </div>
            </div>
            <div class="list-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/settings/saleschannel/woocommerce/create">
              <div fxLayout="row" class="list-image" fxLayoutAlign="center center">
                <img src="/assets/marketplace/woocommerce.png" class="img-responsive" />
              </div>
              <div>
                <h6 class="m0 list-title">
                  {{'ui.settingsSalesChannel.list.modal.new.woocommerce' | translate}}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-base-page>