<div class="form-group" [appFieldStates]="parentForm.get('firstName')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.firstName' | translate }}</label>
  <input formControlName="firstName" class="form-control" />
  <app-field-error [control]="parentForm.get('firstName')"></app-field-error>
</div>
