<form [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.sales.moreFilter.from' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="lowDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>

    <div class="form-group" fxFlex="141px">
      <label class="control-label">
        {{'ui.sales.moreFilter.to' | translate}}
      </label>
      <p-calendar (click)="$event.stopPropagation()" formControlName="highDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <div class="form-group" fxFlex="222px">
      <label class="control-label">
        {{'ui.sales.moreFilter.transactionType' | translate}}
      </label>
      <select class="form-control" formControlName="transactionType">
        <option value="">{{'ui.option.any' | translate}}</option>
        <option value="sales_order">{{'ui.transaction.type.sales_order' | translate}}</option>
        <option value="sales_invoice">{{'ui.transaction.type.sales_invoice' | translate}}</option>
        <option value="sales_receipt">{{'ui.transaction.type.sales_receipt' | translate}}</option>
        <option value="sales_return">{{'ui.transaction.type.sales_return' | translate}}</option>
        <option value="sales_down_payment">{{'ui.transaction.type.sales_down_payment' | translate}}</option>
        <option value="sales_payment">{{'ui.transaction.type.sales_payment' | translate}}</option>
      </select>
    </div>
    <div class="form-group" fxFlex="222px">
      <label class="control-label">
        {{'ui.sales.moreFilter.customerId' | translate}}
      </label>
      <p-autoComplete #customerAC formControlName="customer" field="displayName" styleClass="wd-wide" [suggestions]="customersSuggestion" (onSelect)="$event && form.get('customerId').setValue($event.id)" 
        (completeMethod)="ACCustomerHandler.search($event)" (onDropdownClick)="ACCustomerHandler.dropdown($event)" [dropdown]="true" field="displayName" [appWrapperAC]="customerAC"></p-autoComplete>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end start">
    <button class="btn btn-default" type="reset">
      {{'ui.button.reset' | translate}}
    </button>

    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.button.apply' | translate}}
    </button>
  </div>
</form>
