<div class="conversation-detail" #convDetailContainer [scrollTop]="convDetailContainer.scrollHeight">
  <ng-container *ngIf="conversationMessages">
      <ul class="cbt-conversations">
        <li *ngFor="let conversationMessage of _.values(conversationMessages)">
          <app-chatbot-conversation-item [conversation]="conversation" [conversationMessage]="conversationMessage"></app-chatbot-conversation-item>
        </li>
      </ul>
      <app-chatbot-conversation-control [conversationKey]="conversationKey" [conversation]="conversation" [channel]="channel"></app-chatbot-conversation-control>
    </ng-container>
</div>
