<div class="form-group" [appFieldStates]="config.control">
  <label class="control-label" *ngIf="config.label">{{ config.label | translate }}</label>
  <p-autoComplete #fAC [formControl]="config?.control" [field]="config?.templateConfig?.acField" styleClass="wd-wide" (onSelect)="onSelect($event)"
    [dataKey]="config?.templateConfig?.acKey" (onDropdownClick)="onDropdownClick($event)" (completeMethod)="onComplete($event)"
    [forceSelection]="config?.templateConfig?.manualInput === false" [multiple]="config?.templateConfig?.multiple" [dropdown]="config?.templateConfig?.dropdown"
    (onClear)="onClear($event)"></p-autoComplete>
  <app-field-error [control]="config.control"></app-field-error>
</div>
