<div class="form-group" [appFieldStates]="parentForm.get('street1')" [formGroup]="parentForm">
  <textarea rows="4" formControlName="street1" class="form-control" placeholder="{{'ui.businessPartner.form.placeholder.street1' | translate }}"></textarea>
  <app-field-error [control]="parentForm.get('street1')"></app-field-error>
</div>
