<div *ngIf="unmatchCategories.length" class="mb3">
  <div class="label-summary1 mb2" style="text-align: left;">
    {{ 'ui.product.import.match.unmatchCategories' | translate:{count: unmatchCategories.length} }}
  </div>
  <table class="table table-bordered wd-auto">
    <thead>
      <tr>
        <th>{{ 'ui.product.import.match.categoryName' | translate }}</th>
        <th>{{ 'ui.product.import.match.categoryTarget' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of unmatchCategories">
        <td>
          {{ category.label }}
        </td>
        <td>
          <app-product-form-field-category [categories]="relatedData.categories" [parentForm]="category.form" [label]="false"></app-product-form-field-category>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="unmatchUnits.length" class="mb3">
  <div class="label-summary1 mb2" style="text-align: left;">
    {{ 'ui.product.import.match.unmatchUnits' | translate:{count: unmatchUnits.length} }}
  </div>
  <table class="table table-bordered wd-auto">
    <thead>
      <tr>
        <th>{{ 'ui.product.import.match.unitName' | translate }}</th>
        <th>{{ 'ui.product.import.match.unitTarget' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of unmatchUnits">
        <td>
          {{ unit.label }}
        </td>
        <td>
          <app-product-form-field-uoms [parentForm]="unit.form" [doc]="record" [singleUOM]="true" [uoms]="relatedData.uoms" [label]="false"></app-product-form-field-uoms>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="unmatchBrands.length" class="mb3">
  <div class="label-summary1 mb2" style="text-align: left;">
    {{ 'ui.product.import.match.unmatchBrands' | translate:{count: unmatchBrands.length} }}
  </div>
  <table class="table table-bordered wd-auto">
    <thead>
      <tr>
        <th>{{ 'ui.product.import.match.brandName' | translate }}</th>
        <th>{{ 'ui.product.import.match.brandTarget' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of unmatchBrands">
        <td>
          {{ brand.label }}
        </td>
        <td>
          <app-product-form-field-brand [brands]="relatedData.productBrands" [parentForm]="brand.form" [label]="false"></app-product-form-field-brand>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="unmatchAttributes.length" class="mb3">
  <div class="label-summary1 mb2" style="text-align: left;">
    {{ 'ui.product.import.match.unmatchAttributes' | translate:{count: unmatchAttributes.length} }}
  </div>
  <table class="table table-bordered wd-auto">
    <thead>
      <tr>
        <th>{{ 'ui.product.import.match.attributeName' | translate }}</th>
        <th>{{ 'ui.product.import.match.attributeTarget' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribute of unmatchAttributes">
        <td>
          {{ attribute.label }}
        </td>
        <td>
          <app-product-form-field-attribute [attributes]="relatedData.attributes" [parentForm]="attribute.form" [label]="false" [index]="attribute.index"></app-product-form-field-attribute>
        </td>
      </tr>
    </tbody>
  </table>
</div>
