<div class="form-group" [appFieldStates]="parentForm.get('salesDescription')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.product.form.salesDescription' | translate}}</label>
  <textarea formControlName="salesDescription" rows="3" class="form-control"></textarea>
  <app-field-error [control]="parentForm.get('salesDescription')"></app-field-error>
</div>
