<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('code')">
        <label class="control-label">{{'ui.tax.form.code' | translate }}</label>
        <input formControlName="code" class="form-control" />
        <app-field-error [control]="form.get('code')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.tax.form.name' | translate }}</label>
        <input formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('rate')">
        <label class="control-label">{{'ui.tax.form.rate' | translate }}</label>
        <input type="number" formControlName="rate" class="form-control" />
        <app-field-error [control]="form.get('rate')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('salesTaxAccountId')">
        <label class="control-label">{{'ui.tax.form.salesTaxAccountId' | translate }}</label>
        <p-autoComplete #staAC formControlName="salesTaxAccount" field="name" styleClass="wd-wide" (onSelect)="$event && form.patchValue({ salesTaxAccountId: $event.id })"
          dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(staAC, relatedData.accounts)" (completeMethod)="_autocomplete.onLocalACSearch(staAC, relatedData.accounts, ['name'], $event.query)"
          [dropdown]="true" (onClear)="form.get('salesTaxAccountId').reset()" [appWrapperAC]="staAC"></p-autoComplete>
        <app-field-error [control]="form.get('salesTaxAccountId')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('purchaseTaxAccountId')">
        <label class="control-label">{{'ui.tax.form.purchaseTaxAccountId' | translate }}</label>
        <p-autoComplete #ptaAC formControlName="purchaseTaxAccount" field="name" styleClass="wd-wide" (onSelect)="$event && form.patchValue({ purchaseTaxAccountId: $event.id })"
          dataKey="id" (onDropdownClick)="_autocomplete.onLocalACDropdown(ptaAC, relatedData.accounts)" (completeMethod)="_autocomplete.onLocalACSearch(ptaAC, relatedData.accounts, ['name'], $event.query)"
          [dropdown]="true" (onClear)="form.get('purchaseTaxAccountId').reset()" [appWrapperAC]="ptaAC"></p-autoComplete>
        <app-field-error [control]="form.get('purchaseTaxAccountId')"></app-field-error>
      </div>
    </div>
  </ng-template>
</app-base-page>
