<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ 'ui.reportsExpense.preview.title' | translate }}
  </span>
</div>

<div class="well well-lg">
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsExpense.preview.filter.from' | translate }}</label>
        <p-calendar formControlName="lowDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2010:2018" [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsExpense.preview.filter.to' | translate }}</label>
        <p-calendar formControlName="highDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true"
          yearRange="2010:2018" [showIcon]="true"></p-calendar>
      </div>
    </div>
    
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsExpense.preview.filter.expenseNumber' | translate }}</label>
        <input formControlName="transactionNumber" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsExpense.preview.filter.payee' | translate }}</label>
        <p-autoComplete #payeeAC field="displayName" formControlName="payee" styleClass="wd-wide" (completeMethod)="ACPayeeHandler.search($event)"
          (onDropdownClick)="ACPayeeHandler.dropdown($event)" (onClear)="form.get('payeeId').reset(null)" (onSelect)="$event && form.patchValue({ payeeId: $event.id });"
          [dropdown]="true" [appWrapperAC]="payeeAC">
          <ng-template let-payee pTemplate="item">
            <span *ngIf="payee">
              {{payee.displayName}}
            </span>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsExpense.preview.filter.payFrom' | translate }}</label>
        <p-autoComplete #paymentAccountAC field="name" formControlName="paymentAccount" styleClass="wd-wide" (completeMethod)="ACPaymentAccountHandler.search($event)"
          (onDropdownClick)="ACPaymentAccountHandler.dropdown($event)" (onClear)="form.get('paymentAccountId').reset(null)" (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id });"
          [dropdown]="true" [appWrapperAC]="paymentAccountAC">
          <ng-template let-paymentAccount pTemplate="item">
            <span *ngIf="paymentAccount">
              {{paymentAccount.name}}
            </span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <button class="btn btn-success" (click)="loadData()">
        {{ 'ui.button.apply' | translate }}
      </button>
    </div>
  </form>
</div>

<div class="well well-lg white">
  <app-report-toolbar [viewer]="elReportViewer" (onRefresh)="loadData()"></app-report-toolbar>

  <hr>

  <app-report-viewer #reportViewer *ngIf="compReady" [config]="{ templateCode: 'EXS001' }" [params]="reportParams" [data]="data"
    initDisplay="html" [applyDataOnChange]="true" (rendered)="reportViewerReady = true"></app-report-viewer>
</div>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady && !reportViewerReady"></div>
