<ng-template [ngIf]="showType === 'non_required'" [ngIfElse]="tplDynamicFields">
  <p-accordion [styleClass]="fieldsFiltered.length === 0 ? 'displayNone' : 'display'">
    <p-accordionTab [header]="expanded ? 'Less Information' : 'More Information'" [(selected)]="expanded">
      <ng-container *ngTemplateOutlet="tplDynamicFields"></ng-container>
    </p-accordionTab>
  </p-accordion>
</ng-template>

<ng-template #tplDynamicFields>
  <app-formgen #formgen [schema]="schema">
    <hr />

    <div *ngFor="let fieldChunk of fieldsChunk" fxLayout="row" fxLayoutGap="8px">
      <div *ngFor="let fieldName of fieldChunk" fxLayout="column" fxLayoutGap="8px" fxFlex>
        <app-formgen-field [formgen]="formgen" [name]="fieldName"></app-formgen-field>
      </div>
    </div>
  </app-formgen>
</ng-template>
