<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <p class="mb3">
      {{ account.name || account.channelName }}
    </p>

    <app-product-form-channel-default #formDefault [channelId]="account?.channelId" [channelAccountType]="account?.channelAccountType"
      [productForm]="productForm" [productChannel]="productChannel" [categories]="categories" [priceLevelId]="account?.priceLevelId"></app-product-form-channel-default>

    <app-product-form-channel-variants #formVariants [productForm]="productForm" [productChannel]="productChannel" [channelId]="account.channelId"
      [dynamicFieldsVariant]="dynamicFieldsVariant" [priceLevelId]="account?.priceLevelId" [formType]="formType"></app-product-form-channel-variants>

  </ng-template>
</app-base-page>
