<div class="form-group" [appFieldStates]="parentForm.get('tags')" [formGroup]="parentForm">
  <label class="control-label">{{'ui.product.form.tags' | translate}}</label>
  <p-autoComplete #tagsAutoComplete formControlName="tags" (onSelect)="eliminateNullTags();" styleClass="wd-wide block" inputStyleClass="form-control" [multiple]="true"
    [suggestions]="tagsSuggestion" dataKey="id" (completeMethod)="tagSearch($event)">
    <ng-template let-tag pTemplate="selectedItem">
      <span>{{showSelectedTag(tag)}}</span>
    </ng-template>
    <ng-template let-tag pTemplate="item">
      {{tag.name}}
    </ng-template>
  </p-autoComplete>
  <app-field-error [control]="parentForm.get('tags')"></app-field-error>
</div>
