<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.settingsAccounting.upsert.title' | translate}}
  </span>
</div>

<app-settings-tabs></app-settings-tabs>

<app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

<app-settings-accounting-form [form]="form" [doc]="doc" (submit)="onSubmit()" (compReady)="compReady = true"></app-settings-accounting-form>

