<div class="row">
<a class="pull-right" (click)="copyFromMaster(false)">
  <img src="/assets/img/copy-icon.png" style="height:16px"> {{'ui.product.form.copyFromMasterVariant' | translate}}</a>
</div>

<table *ngIf="parentForm.get('variants') && parentForm.get('variants')['controls']['length']" class="table table-striped mt">
  <thead>
    <tr>
      <th>
        {{'ui.product.form.variant' | translate}}
      </th>
      <th>
        {{'ui.product.form.sku' | translate}}
      </th>
      <th>
        {{'ui.product.form.sellingPrice' | translate}}
      </th>
      <th>
        {{'ui.product.form.unitCost' | translate}}
      </th>
      <th>
        {{'ui.product.form.obQty' | translate}}
      </th>
      <th>
        {{'ui.product.form.obDate' | translate}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formProductVariant of parentForm['controls'].variants['controls']; let i=index;" [formGroup]="formProductVariant">
      <td>
        <span>{{formProductVariant.controls.attribute1Value.value}}</span>
        <span *ngIf="formProductVariant.controls.attribute2Value.value">
          / {{formProductVariant.controls.attribute2Value.value}}
        </span>
        <span *ngIf="formProductVariant.controls.attribute3Value.value">
          / {{formProductVariant.controls.attribute3Value.value}}
        </span>
      </td>
      <td>
        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="start center">
          <div fxFlex>
            <input type="text" formControlName="sku" class="form-control" />
          </div>
        </div>
      </td>
      <td>
        <app-product-form-field-prices [parentForm]="formProductVariant" [formGroupClass]="false" [priceLevels]="priceLevels" [selectedUOMS]="UOMS"></app-product-form-field-prices>
      </td>
      <td>
        <input type="number" class="form-control" formControlName="unitCost" />
        <app-field-error [control]="formProductVariant.controls.unitCost"></app-field-error>
      </td>
      <td>
        <input type="number" class="form-control" formControlName="obQty" />
        <app-field-error [control]="formProductVariant.controls.obQty"></app-field-error>
      </td>
      <td>
        <p-calendar formControlName="obDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
        <app-field-error [control]="formProductVariant.controls.obDate"></app-field-error>
      </td>
      <td>
        <a (click)="copyFromMaster(true, formProductVariant)">
          <img src="/assets/img/copy-icon.png" style="height:16px">
        </a>
      </td>
    </tr>
  </tbody>
</table>
