<!--<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>-->

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title" fxFlex>
        {{'ui.warehouseTransfer.detail.title' | translate}} {{doc?.transactionNumber}}
      </span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn btn-primary" routerLink="update">
        {{'ui.button.edit' | translate}}
      </button>
      <div dropdown>
        <button dropdownToggle type="button" class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
      </div>
    </div>
  </div>

  <table class="no-border">
    <tbody>
      <tr>
        <td>
          <label class="control-label">{{'ui.warehouseTransfer.detail.fromWarehouse' | translate}}</label>
        </td>
        <td>
          <span class="pl4 ml3">
            {{doc.fromWarehouse?.name || '-'}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">{{'ui.warehouseTransfer.detail.toWarehouse' | translate}}</label>
        </td>
        <td>
          <span class="pl4 ml3">
            {{doc.toWarehouse?.name || '-'}}
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <label class="control-label">{{'ui.warehouseTransfer.detail.transactionDate' | translate}}</label>
        </td>
        <td>
          <span class="pl4 ml3">
            {{doc.transactionDate | date:'dd/MM/y' || '-'}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-responsive">
    <table class="table table-bordered mt mb" style="min-width: 1208px">
      <thead>
        <tr>
          <th class="text-center" width="66px">
            {{'ui.warehouseTransfer.detail.colNumber' | translate}}
          </th>
          <th width="218px">
            {{'ui.warehouseTransfer.detail.colProduct' | translate}}
          </th>
          <th width="575px">
            {{'ui.warehouseTransfer.detail.colQty' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index;">
          <td class="middle-text text-center">
            {{i + 1}}
          </td>
          <td class="middle-text">
            {{line.product?.name || '-'}}
          </td>
          <td class="middle-text">
            {{line.qty || '-'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" class="mt pt">
    <div fxLayout="row" fxLayoutGap="30px">
      <div>
        <label class="control-label">
          {{'ui.warehouseTransfer.detail.note' | translate}}
        </label>
        <div>
          {{doc.note || '-'}}
        </div>
      </div>
    </div>
  </div>
</div>