<div fxLayoutAlign="center center">
  <div fxFlex="70%">

    <app-base-page #page [component]="this">
      <ng-template appTpl="pageContentTpl">
    
        <app-base-entry #entry [component]="this">
          <ng-template appTpl="entryContentTpl">
            <app-settings-chatbot-form-external *ngIf="page.routeData?.type === 'external'" [masterPage]="page" formType="create" [form]="form"></app-settings-chatbot-form-external>
            <app-settings-chatbot-form-internal *ngIf="page.routeData?.type === 'internal'" [masterPage]="page" formType="create" [form]="form"></app-settings-chatbot-form-internal>
          </ng-template>
        </app-base-entry>
        
      </ng-template>
    </app-base-page>

  </div>
</div>