<div dropdown>
  <button type="button" class="btn dropdown-toggle ripple btn-success" dropdownToggle>
    <span fxFlex class="text-left">{{'ui.button.create' | translate}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
    <li>
      <a routerLink="/purchases/orders/create">
        {{'ui.purchases.button.create.order' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/invoices/create">
        {{'ui.purchases.button.create.invoice' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/receipts/create">
        {{'ui.purchases.button.create.receipt' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/debit-notes/create">
        {{'ui.purchases.button.create.debitNote' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/down-payments/create">
        {{'ui.purchases.button.create.downPayment' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/payments/create">
        {{'ui.purchases.button.create.payment' | translate}}
      </a>
    </li>
    <li>
      <a routerLink="/purchases/refunds/create">
        {{'ui.purchases.button.create.refund' | translate}}
      </a>
    </li>
  </ul>
</div>