@import './assets/fonts/Titillium/Titillium.scss';
body {
  font-family: 'Titillium';
}

body {
  font-size: 14px;
  textarea {
    resize: none;
  }
  input,
  .ui-widget {
    &[disabled],
    &.disabled {
      background-color: #e1e1e1 !important;
    }
  }
  input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .control-label,
  .checkbox-inline>label {
    font-weight: 500;
    margin-bottom: 4px; //color: rgba(35, 35, 35, 0.91);
    color: #4a4a4a;
  }
  .form-group,
  .checkbox-inline {
    margin-bottom: 20px;
  }
  .form-control {
    padding: 0px 12px 2px 12px;
    font-size: 14px;
    border-color: #d8d8d8;
    &:not(textarea) {
      height: 34px;
    }
    &::-webkit-input-placeholder {
      color: #b4b4b4;
      font-weight: 300;
    }
    &::-moz-placeholder {
      color: #b4b4b4;
      font-weight: 300;
    }
    &:-ms-input-placeholder {
      color: #b4b4b4;
      font-weight: 300;
    }
    &:-moz-placeholder {
      color: #b4b4b4;
      font-weight: 300;
    }
  }
  .form-group {
    &.has-feedback {
      >.form-control-feedback {
        height: 34px;
        line-height: 34px;
      }
    }
  }
  textarea.form-control {
    padding: 6px 12px;
  }
  textarea.form-control[rows="1"] {
    min-height: 34px;
    padding: 0.7em 0.75em;
    line-height: 1.21;
  }
  .modal {
    .modal-content {
      border-radius: 10px;
      p {
        margin-bottom: 0;
      }
      .modal-header {
        padding: 15px 40px;
        background-color: #ebebeb;
        color: #4a4a4a;
        border-radius: 10px 10px 0 0;
      }
      .modal-body {
        padding: 0;
        .list-item {
          cursor: pointer;
          padding: 25px 40px;
          border-bottom: solid 0.5px #c1c1c1;
          &:last-child {
            border-bottom: none;
          }
          .list-title {
            font-weight: 500;
            color: #4a4a4a;
          }
          .list-image {
            min-width: 60px;
            margin-right: 27px;
          }
        }
        &.p {
          padding: 25px 40px !important;
        }
      }
    }
  }
}

body {
  main.main-container {
    background-color: white;
  }
  .col-operations {
    width: 1%;
    white-space: nowrap;
  }
  .tbl-pager-toolbar {
    margin-top: 10px;
    padding: 10px 0;
    select {
      border-radius: 15px;
      min-width: 70px;
      padding: 2px 10px 2px 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 14px;
      margin-left: 12px;
      background-color: white;
    }
    ul.pagination {
      margin: 0;
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        &.pagination-prev,
        &.pagination-next {
          a {
            background-color: white;
            border-radius: 15px;
            border: 1px solid #979797;
            font-size: 14px;
            padding: 2px 10px 2px 10px;
            &:hover {
              color: inherit;
            }
          }
        }
        &.pagination-prev {
          margin-right: 24px;
        }
        &.pagination-next {
          margin-left: 12px;
        }
        &.pagination-page {
          margin-right: 12px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #39393a;
            border-radius: 50%;
            padding: 4px 10px 4px 10px;
            min-width: 30px;
            font-size: 13px;
            background-color: transparent;
            border-color: transparent;
          }
          &.active {
            a {
              color: white;
              background-color: #5796e0;
              border-color: #5796e0;
            }
          }
        }
      }
    }
  }
  .ui-chips {
    &>ul.ui-inputtext {
      padding: 0.155em .25em;
    }
    .ui-chips-token {
      font-size: 1.1em;
    }
  }
}

body {
  a {
    color: #4782d8;
  }
  .caret {
    height: 6px;
    margin-left: 10px;
  }
  .topbar {
    margin-bottom: 30px;
    margin-top: 10px;
    .page-title {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
      color: #4a4a4a;
    }
    .btn-actions {
      .btn {
        margin-bottom: 0 !important;
      }
    }
  }
  .ui-datatable table,
  table.table {
    tr {
      td {
        @for $i from 0 through 5 {
          @if $i==0 {
            .list-tree-level-#{$i} {
              font-weight: 400;
            }
          }
          @else {
            .list-tree-level-#{$i} {
              padding-left: 20px * $i;
            }
          }
        }
      }
      th.ui-selection-column,
      td.ui-selection-column {
        width: 38px !important;
      }
    }
  }
  table.table {
    tr {
      td.middle-text {
        vertical-align: middle;
        padding: 10px 10px !important;
      }
    }
  }
  .table-tabs {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 20px;
    li {
      display: inline-block;
      a {
        color: #b4b4b4;
        font-size: 18px;
        font-weight: 400;
        padding-left: 22px;
        padding-right: 22px;
        letter-spacing: 0.07em;
        &:hover {
          text-decoration: none;
          color: #4a4a4a;
        }
        &.active {
          color: #4a4a4a;
          font-weight: 500;
        }
      }
      border-right: 1px solid #979797;
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        border-right: none;
        a {
          padding-right: 0;
        }
      }
    }
  }
  .table-other-tabs {
    padding-left: 0;
    padding-bottom: 10px;
    list-style-type: none;
    margin-bottom: 15px;
    border-bottom: 0.5px solid #d8d8d8;
    li {
      display: inline-block;
      padding: 0 1em;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: #b4b4b4;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0;
        letter-spacing: 0.07em;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #4a4a4a;
        }
        &.active {
          color: #4a4a4a;
          border-bottom: 4px solid #4a90e2;
          font-weight: 500;
        }
      }
    }
  }
  .col-operations {
    div[dropdown] {
      position: relative;
    }
  }
  .hdivider {
    content: '';
    display: block;
    width: 1px;
    min-height: 21px;
    border-right: 1px solid;
  }
  .table-filter {
    .form-group {
      max-width: 280px;
    }
  }
  .mouse-pointer {
    cursor: pointer;
  }
  .listbox-columns-toggle {
    border: none;
    .ui-widget-header {
      display: none;
    }
  }
  .btn-action-icon {
    border-radius: 0 !important;
    background: transparent;
    min-width: auto !important;
    background-repeat: no-repeat;
    opacity: 0.6;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }
  .btn-data-table-exporter {
    background-image: url('./assets/img/data-table-exporter.png');
    width: 23px;
    height: 28px;
    &:active {
      background-image: url('./assets/img/data-table-exporter.png');
    }
  }
  .btn-data-table-refresh {
    background-image: url('./assets/img/data-table-refresh.png');
    width: 25px;
    height: 27px;
    &:active {
      background-image: url('./assets/img/data-table-refresh.png');
    }
  }
  .btn-data-table-toggler {
    background-image: url('./assets/img/data-table-toggler.png');
    width: 25px;
    height: 27px;
    &:active {
      background-image: url('./assets/img/data-table-toggler.png');
    }
  }
  .btn-data-edit {
    background-image: url('./assets/img/data-edit.png');
    width: 24px;
    height: 24px;
    &:active {
      background-image: url('./assets/img/data-edit.png');
    }
  }
  .dropdown-muted-label {
    color: #9f9f9f;
  }
  .label-summary1 {
    font-size: 20px;
    text-align: right;
    color: #363845;
  }
  .label-summary2 {
    font-size: 18px;
    color: #4a4a4a;
  }
  .spinner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.8;
    z-index: 999;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-title {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: table;
    text-align: center;
  }
  .spinner-loader2 {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 7px solid #ffffff;
    border-radius: 50%;
    border-top: 7px solid #4990e2;
    width: 103px;
    height: 103px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  .spinner-loader3 {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top: 2px solid #4990e2;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  table.white-thead {
    thead {
      td,
      th {
        background-color: white;
      }
    }
  }
  table.white-thead-border {
    thead {
      td,
      th {
        background-color: white;
        border-top: 0.5px solid #4a4a4a !important;
        border-bottom: 0.5px solid #4a4a4a !important;
        vertical-align: middle !important;
      }
    }
  }
  .alert {
    .alert-content {
      margin-right: 22px;
    }
  }
  .growl-messages {
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 10000;
    app-system-message-display-block {
      .alert {
        margin-bottom: 10px;
        max-width: 420px;
        min-width: 280px;
      }
      &:last-child {
        .alert {
          margin-bottom: 0;
        }
      }
    }
  }
  .quick-create-option {
    margin: -0.375em -0.75em;
    display: inline-block;
    width: calc(100% + 1.5em);
    padding: 0.375em 0.75em;
  }
  .autocomplete-field-type {
    padding-left: 50px;
    float: right;
    font-size: 13px;
    font-style: italic;
    line-height: 1.31;
    color: #9b9b9b;
  }
  .ui-autocomplete-panel {
    min-width: 220px;
    .limit-description {
      font-style: italic;
      font-weight: 300;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      margin: 0;
      width: 100%;
      padding: 5px 0.75em 2px;
      background-color: white;
      border-top: 1px solid #c0c0c8;
      color: #9b9b9b;
    }
    &.panel-limited {
      .ui-autocomplete-items.ui-autocomplete-list::after {
        content: '';
        display: block;
        height: 30px;
      }
    }
  }
  .vertical-labels {
    .control-label {
      padding-top: 5px;
    }
  }
  .table-s2 {
    thead {
      tr {
        th {
          background-color: white;
          border-bottom-width: 2px;
          border-bottom-color: #676767;
          border-top: 2px solid #676767 !important;
          padding-top: 13px !important;
          padding-bottom: 11px !important;
        }
      }
    }
    tfoot {
      .label-summary1 {
        td {
          padding-top: 13px;
          padding-bottom: 11px;
        }
      }
    }
  }
  .field-required {
    label {
      &::after {
        content: '*';
        color: #ff5151;
        margin-left: 1px;
      }
    }
  }
}

.btn-icon {
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &.btn-icon-left {
    span:last-child {
      padding-top: 3px;
    }
  }
  &.btn-icon-right {
    span:first-child {
      padding-top: 3px;
    }
  }
}

.btn.dropdown-toggle {
  padding: 0 !important;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  span {
    display: inline-block;
    &:not(.mi):not(.fa):nth-child(1) {
      padding: 6px 0 6px 14px;
      min-width: 70px;
      text-align: left;
    }
    &.caret {
      margin: 6px 14px 6px 0;
    }
  }
}

.modal-body .btn-close-modal {
  font-size: 22px;
  padding: 15px 40px !important;
}
