<div (click)="onClick()">
  <div fxFlex #teaser fxLayout="row" fxLayoutAlign="start start">
    <div class="cbt-tsr-avatar">
      <img class="img-circle img-responsive" [src]="conversation?.SenderProfilePictureUrl || defaultAvatar" />
    </div>
    <div class="cbt-tsr-desc" fxFlex>
      <span class="cbt-tsr-sender">{{ conversation?.SenderName }}</span>
      <span class="cbt-tsr-msg">{{ _.truncate(conversation?.LastMessage, { length: 100, separator: ' ', omission: '' }) }}</span>
      <span class="cbt-tsr-time">{{ lastMessageTime }}</span>
    </div>
  </div>

  <p-contextMenu [target]="teaser" [model]="contextMenus" appendTo="body"></p-contextMenu>
</div>
