<div *ngIf="isShown" class="api-bootstrap-failed">
  <div class="api-bootstrap-failed-content">
    <div id="errorpanel" class="panel panel-danger">
      <div class="panel-footer"></div>
      <span class="glyphicon glyphicon-remove-circle"></span>
      <div class="panel-body">
        <h3> {{'ui.startingdata.error.title' | translate}} </h3>
        <p> {{'ui.startingdata.error.description' | translate}} </p>
      </div>
      <div class="panel-heading" #retryButton (click)="onRetry()">{{'ui.button.retry' | translate}}</div>
    </div>
  </div>
</div>
