.api-bootstrap-failed {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  .api-bootstrap-failed-content {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    >h3 {
      margin: 0;
      line-height: calc(300px - 34px);
    }
    h3 {
      color: #000000;
    }
    P {
      color: #9B9B9B;
    }
    #errorpanel {
      width: 500px;
      .panel-heading {
        cursor: pointer;
      }
      .panel-footer {
        background-color: transparent;
      }
      .glyphicon{
        padding: 15px;
        border-radius: 65px;
        background-color: white;
        top: -50px;
        left: 195px;
        z-index: 99;
        font-size: 80px;
        color: #CC5D59;
        position: absolute;
      }
    }
  }
}

