<div class="sidebar-container">
  <div *ngIf="settings.app.sidebar.showheader" class="sidebar-header">
    <div (click)="closeSidebar()" class="pull-right pt-lg text-muted visible-xs-visible-sm hidden">
      <em class="fa fa-times-circle"></em>
    </div>
    <a class="sidebar-header-logo" (click)="_authentication.redirectBasedOnRole()">
      <img src="/assets/img/logo-icon.png"/>
      <img class="sidebar-header-logo-text" src="/assets/img/logo-text.png"/>
    </a>
  </div>
  <div class="sidebar-content">
    <nav class="sidebar-nav">
      <!-- 1st level items-->
      <ul>
        <li *ngFor="let item of menu" [routerLinkActive]="!item.subItems?.length ? ['active'] : ['']" [ngClass]="item.separator ? 'with-separator' : ''">
          <!-- support for direct links-->
          <a [href]="item.href" *ngIf="item.href" class="ripple" (click)="toggleSubmenuHover($event, item.subItems?.length)" (mouseenter)="toggleSubmenuHover($event)">
            <span *ngIf="item.subItems?.length" class="pull-right nav-caret">
                <em class="mi mi-keyboard-arrow-down"></em>
            </span>
            <span class="pull-right nav-label">
                <span [innerHTML]="item.label?.count" [ngClass]="item.label?.classname"></span>
            </span>
            <span class="nav-icon" *ngIf="item.iconClass || item.imgpath">
                <em *ngIf="item.iconClass" [ngClass]="item.iconClass"></em>
                <img *ngIf="item.imgpath" svgreplace [src]="item.imgpath"/>
            </span>
            <span>{{item.name || (item.i18nName | translate)}}</span>
          </a>
          <!-- support for route states links-->
          <a [routerLink]="item.link" *ngIf="!item.href && !item.subItems?.length" class="ripple" (click)="toggleSubmenuHover($event, item.subItems?.length)" (mouseenter)="toggleSubmenuHover($event)">
            <span *ngIf="item.subItems?.length" class="pull-right nav-caret">
                <em class="mi mi-keyboard-arrow-down"></em>
            </span>
            <span class="pull-right nav-label">
                <span [innerHTML]="item.label?.count" [ngClass]="item.label?.classname"></span>
            </span>
            <span class="nav-icon" *ngIf="item.iconClass || item.imgpath">
                <em *ngIf="item.iconClass" [ngClass]="item.iconClass"></em>
                <img *ngIf="item.imgpath" svgreplace [src]="item.imgpath"/>
            </span>
            <span>{{item.name || (item.i18nName | translate)}}</span>
          </a>
          <!-- parent menu items have empty links-->
          <a *ngIf="!item.href && item.subItems?.length" class="ripple" (click)="toggleSubmenuHover($event, item.subItems?.length)" (mouseenter)="toggleSubmenuHover($event)">
            <span *ngIf="item.subItems?.length" class="pull-right nav-caret">
                <em class="mi mi-keyboard-arrow-down"></em>
            </span>
            <span class="pull-right nav-label">
                <span [innerHTML]="item.label?.count" [ngClass]="item.label?.classname"></span>
            </span>
            <span class="nav-icon" *ngIf="item.iconClass || item.imgpath">
                <em *ngIf="item.iconClass" [ngClass]="item.iconClass"></em>
                <img *ngIf="item.imgpath" svgreplace [src]="item.imgpath"/>
            </span>
            <span>{{item.name || (item.i18nName | translate)}}</span>
          </a>
          <!-- 2nd level items-->
          <ul *ngIf="item.subItems?.length" class="nav sidebar-subnav">
            <li *ngFor="let sitem of item.subItems" [routerLinkActive]="['active']">
              <a [routerLink]="sitem.link" class="ripple" (click)="toggleSubmenuHover($event, sitem.subItems?.length)" (mouseenter)="toggleSubmenuHover($event)">
                <span *ngIf="sitem.subItems?.length" class="pull-right nav-caret">
                    <em class="mi mi-keyboard-arrow-down"></em>
                </span>
                <span class="pull-right nav-label">
                    <span [innerHTML]="sitem.label?.count" *ngClass="sitem.label?.classname"></span>
                </span>
                <span class="nav-icon" *ngIf="sitem.iconClass || sitem.imgpath">
                    <em *ngIf="sitem.iconClass" [ngClass]="sitem.iconClass"></em>
                    <img *ngIf="sitem.imgpath" svgreplace [src]="sitem.imgpath"/>
                </span>
                <span>{{sitem.name || (sitem.i18nName | translate)}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
