<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">

    <div [formGroup]="form">
      <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" style="margin-bottom: 70px">
        <div class="form-group" [appFieldStates]="form.get('vendorId')" fxFlex="228px">
          <label class="control-label">
            {{'ui.purchasesPayment.form.vendorId' | translate}}
          </label>
          <p-autoComplete #vendorAC formControlName="vendor" field="displayName" styleClass="wd-wide"
            (completeMethod)="ACVendorHandler.search($event)" (onDropdownClick)="ACVendorHandler.dropdown($event)" (onSelect)="onVendorSelected($event)"
            [dropdown]="true" (onClear)="onVendorClear()" [appWrapperAC]="vendorAC"  [disabled]="formType === 'update'">
            <ng-template let-vendor pTemplate="item">
              <a *ngIf="!vendor" (click)="quickCreateAC = vendorAC; quickCreateTarget = 'businessPartner'; quickCreateModal.show()" class="quick-create-option">
                <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
              </a>
              <span *ngIf="vendor">
                {{vendor.displayName}}
              </span>
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('vendorId')"></app-field-error>
        </div>
    
        <div>
          <button class="btn btn-default" [popover]="findInvoiceByNumber" #popoverFindByInvoice="bs-popover" placement="bottom">
            {{'ui.purchasesPayment.form.button.findByInvoice' | translate}}
          </button>
          <ng-template #findInvoiceByNumber>
            <app-purchases-find-invoice-by-number (cancel)="popoverFindByInvoice.hide()" (success)="onInvoiceFound($event)"></app-purchases-find-invoice-by-number>
          </ng-template>
        </div>
    
        <div fxFlex></div>
    
        <div class="text-right">
          <label class="control-label">
            {{'ui.purchasesPayment.form.amount' | translate}}
          </label>
          <h2 class="m0 fs40">
            {{ _accounting.ac.formatMoney(form.get('paymentAmount').value || 0, '') }}
          </h2>
        </div>
      </div>
    
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxLayout="column" fxFlex="180px">
          <div class="form-group" [appFieldStates]="form.get('paymentMethodId')">
            <label class="control-label">
              {{'ui.purchasesPayment.form.paymentMethodId' | translate}}
            </label>
            <p-autoComplete #paymentMethodAC formControlName="paymentMethod" field="name" styleClass="wd-wide"
              [dropdown]="true" 
              (completeMethod)="_autocomplete.onLocalACSearch(paymentMethodAC, relatedData.paymentMethods, ['name'], $event.query, true)" 
              (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentMethodAC, relatedData.paymentMethods, true)" 
              (onSelect)="$event && form.get('paymentMethodId').setValue($event.id)"
              [appWrapperAC]="paymentMethodAC" [appWrapperACLimit]="false">
              <ng-template let-paymentMethod pTemplate="item">
                <a *ngIf="!paymentMethod" (click)="quickCreateAC = paymentMethodAC; quickCreateModal.show()" class="quick-create-option">
                  <i class="fa fa-plus" style="padding-right:8px" aria-hidden="true"></i>{{'ui.option.new' | translate}}
                </a>
                <span *ngIf="paymentMethod">
                  {{paymentMethod.name}}
                </span>
              </ng-template>
            </p-autoComplete>
            <a *ngIf="form.get('paymentMethod').value?.paymentMethodType === 'credit_card'" class="block pt2" (click)="paymentDetailsModal.show()">
              {{'ui.purchasesPayment.form.enterCCDetails' | translate}}
            </a>
          </div>
          <div class="form-group" [appFieldStates]="form.get('paymentAmount')">
            <label class="control-label">
              {{'ui.purchasesPayment.form.amount' | translate}}
            </label>
            <input formControlName="paymentAmount" type="number" class="form-control" readonly/>
            <app-field-error [control]="form.get('paymentAmount')"></app-field-error>
          </div>
        </div>
        <div class="form-group" [appFieldStates]="form.get('paymentAccountId')" fxFlex="230px">
          <label class="control-label">
            {{'ui.purchasesPayment.form.payFrom' | translate}}
          </label>
          <p-autoComplete #paymentAccountAC formControlName="paymentAccount" field="name" styleClass="wd-wide" [dropdown]="true"
            (completeMethod)="_autocomplete.onLocalACSearch(paymentAccountAC, relatedData.paymentAccounts, ['name'], $event.query)" 
            (onDropdownClick)="_autocomplete.onLocalACDropdown(paymentAccountAC, relatedData.paymentAccounts)"
            (onSelect)="$event && form.patchValue({ paymentAccountId: $event.id })" (onClear)="form.get('paymentAccountId').reset()" 
            appendTo="body" [appWrapperAC]="paymentAccountAC" [appWrapperACLimit]="false">
            <ng-template let-account pTemplate="item">
              [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
            </ng-template>
          </p-autoComplete>
          <app-field-error [control]="form.get('paymentAccountId')"></app-field-error>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayoutAlign="start end" fxLayoutGap="16px">
          <div class="form-group" [appFieldStates]="form.get('transactionNumber')" fxFlex="150px">
            <label class="control-label">
              {{'ui.purchasesPayment.form.transactionNumber' | translate}}
            </label>
            <input formControlName="transactionNumber" class="form-control" />
            <app-field-error [control]="form.get('transactionNumber')"></app-field-error>
          </div>
    
          <div class="form-group" [appFieldStates]="form.get('transactionDate')" fxFlex="150px">
            <label class="control-label">
              {{'ui.purchasesPayment.form.transactionDate' | translate}}
            </label>
            <p-calendar formControlName="transactionDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
            <app-field-error [control]="form.get('transactionDate')"></app-field-error>
          </div>
        </div>
      </div>
    
      <div class="table-responsive">
        <table class="table table-bordered mt mb" style="min-width: 1208px">
          <thead>
            <tr>
              <th class="text-center">
                {{'ui.purchasesPayment.form.colNumber' | translate}}
              </th>
              <th>
                {{'ui.purchasesPayment.form.colDescription' | translate}}
              </th>
              <th class="text-center">
                {{'ui.purchasesPayment.form.colDueDate' | translate}}
              </th>
              <th class="text-right">
                {{'ui.purchasesPayment.form.colOriginalAmount' | translate}}
              </th>
              <th class="text-right">
                {{'ui.purchasesPayment.form.colBalanceDue' | translate}}
              </th>
              <th class="text-right">
                {{'ui.purchasesPayment.form.colAmount' | translate}}
              </th>
              <th>&nbsp;</th>          
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineFormGroup of form.get('lines')['controls']; let i=index" [formGroup]="lineFormGroup">
              <td class="text-center middle-text">
                {{i + 1}}
              </td>
              <td class="middle-text">
                <span *ngIf="lineFormGroup.get('transaction').value">
                  {{'ui.purchases.types.' + lineFormGroup.get('transactionType').value | translate}} #{{ lineFormGroup.get('transaction').value?.transactionNumber }}
                </span>
              </td>
              <td class="text-center middle-text">
                {{ lineFormGroup.get('transaction').value?.dueDate || lineFormGroup.get('transaction').value?.transactionDueDate | date:'dd/MM/y' }}
              </td>
              <td class="text-right middle-text">
                {{ _accounting.ac.formatMoney(lineFormGroup.get('transaction').value?.total || 0, '') }}
              </td>
              <td class="text-right middle-text">
                {{ _accounting.ac.formatMoney(lineFormGroup.get('transaction').value?.balanceDue || 0, '') }}
              </td>
              <td class="align-top">
                <input type="number" formControlName="paymentAmount" (change)="syncAmountByLinePayment()" class="form-control text-right"
                />
                <app-field-error [control]="lineFormGroup.get('paymentAmount')"></app-field-error>
              </td>
              <td class="text-center middle-text">
                <span (click)="clearLineWithTotalOnly(i,'paymentAmount')" class="mi mi-delete mouse-pointer icon-lg"></span>
              </td>
            </tr>
            <tr *ngIf="!form.get('lines')['controls']['length']">
              <td colspan="100" class="middle-text">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="mt" fxLayout="row">
        <div fxFlex fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="16px" class="mt">
            <div class="form-group" [appFieldStates]="form.get('vendorNote')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesPayment.form.vendorNote' | translate}}
              </label>
              <textarea formControlName="vendorNote" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('vendorNote')"></app-field-error>
            </div>
    
            <div class="form-group" [appFieldStates]="form.get('note')" fxFlex>
              <label class="control-label">
                {{'ui.purchasesPayment.form.note' | translate}}
              </label>
              <textarea formControlName="note" class="form-control" rows="6"></textarea>
              <app-field-error [control]="form.get('note')"></app-field-error>
            </div>
          </div>
        </div>
    
        <div fxFlex></div>
    
        <div fxLayout="column" class="mt" fxLayoutAlign="start end" fxLayoutGap="5px">
          <div fxLayout="row" fxLayoutGap="46px">
            <div class="control-label">
              {{'ui.purchasesPayment.form.total' | translate}}
            </div>
            <div fxFlex="195px" class="text-right control-label">
              {{ _accounting.ac.formatMoney(form.get('paymentAmount').value || 0) }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <div class="modal fade" bsModal #quickCreateModal="bs-modal" [config]="{backdrop: 'static'}">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="pull-right btn btn-flat btn-close-modal p" style="z-index: 1; position: relative; min-width: auto;" (click)="quickCreateModal.hide()">
                <span class="fa fa-times"></span>
              </button>
              <app-payment-method-quick-create (afterSubmit)="assignQuickCreatedEntity($event, 'paymentMethods')" (close)="quickCreateModal.hide()"
                *ngIf="quickCreateTarget === 'paymentMethod'"></app-payment-method-quick-create>
              <app-business-partner-quick-create type="vendor" (afterSubmit)="onVendorCreated($event)" (close)="quickCreateModal.hide()"
                *ngIf="quickCreateTarget === 'businessPartner'"></app-business-partner-quick-create>
            </div>
          </div>
        </div>
      </div>
    
  <div class="modal fade" bsModal #paymentDetailsModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" fxLayout="row">
          <div fxFlex>
            <h5 class="modal-title">
              {{'ui.paymentMethod.creditInfoForm.label' | translate}}
            </h5>
          </div>
          <button type="button" class="close text-md" (click)="paymentDetailsModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 25px 40px;">
          <app-payment-method-credit-info-form [form]="form"></app-payment-method-credit-info-form>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
            <button type="button" class="btn btn-default" (click)="paymentDetailsModal.hide()">
              {{'ui.button.cancel' | translate}}
            </button>
            <button class="btn btn-success" (click)="paymentDetailsModal.hide()">
              {{'ui.button.ok' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-base-page>
