<div class="mb0" [formGroup]="parentForm">
  <label>
    <p-checkbox formControlName="salesTaxable" binary="true" label="{{ label ? ('ui.businessPartner.form.salesTaxable' | translate) : null }}"></p-checkbox>
  </label>
  <app-field-error [control]="parentForm.get('salesTaxable')"></app-field-error>
</div>
