<div #pageLoading="app-spinner" appSpinner [show]="!compReady"></div>

<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{'ui.profile.update.title' | translate}}
  </span>
</div>

<form [formGroup]="form">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-profile-form [doc]="doc" [form]="form" class="clearfix mb"></app-profile-form>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="onCancel()">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.profile.update.button.submit' | translate}}
    </button>
  </div>
</form>