<div #pageLoading="app-spinner" appSpinner [show]="showLoader" [stretchToMain]="false" [parent]="blocking"></div>
<div class="modal-header">
  <h4 class="modal-title">
    {{'ui.productAttribute.quickCreate.title' | translate}}
  </h4>
</div>

<form #blocking [formGroup]="form" style="padding: 24px 40px">
  <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

  <app-product-attribute-quick-form [form]="form" class="clearfix mb"></app-product-attribute-quick-form>

  <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
    <button type="button" class="btn btn-default" (click)="close.emit(true); form.reset()">
      {{'ui.button.cancel' | translate}}
    </button>
    <button class="btn btn-success" (click)="onSubmit()">
      {{'ui.productAttribute.quickCreate.button.submit' | translate}}
    </button>
  </div>
</form>
