<span class="label-summary1">
  {{'ui.transaction.type.' + transaction.transactionType | translate}}: {{transaction.transactionNumber}}
</span>

<div class="table-responsive mt-sm">
  <table class="table white-thead-border">
    <thead>
      <tr width="50px">
        <th class="bold">{{'ui.transaction.journal.account' | translate}}</th>
        <th class="text-right bold">{{'ui.transaction.journal.debit' | translate}}</th>
        <th class="text-right bold">{{'ui.transaction.journal.credit' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let journal of journals; let last=last" [style.border-bottom]="!last ? '1px solid #e0e0e0' : ''">
        <td class="middle-text"><a [routerLink]="['/accounts', journal.accountId, 'ledger']">{{journal.account?.name || '-'}}</a></td>
        <td class="middle-text text-right">{{ journal.debit && journal.debit > 0 ? _accounting.ac.formatMoney(journal.debit, '') : '' }}</td>
        <td class="middle-text text-right">{{ journal.credit && journal.credit > 0 ? _accounting.ac.formatMoney(journal.credit, '') : '' }}</td>
      </tr>
      <tr *ngIf="journals.length" style="border-top: 1px solid #4a4a4a;">
        <td class="label-summary1">{{'ui.transaction.journal.total' | translate}}</td>
        <td class="label-summary1 text-right bold">{{_accounting.ac.formatMoney(debitTotal)}}</td>
        <td class="label-summary1 text-right bold">{{_accounting.ac.formatMoney(creditTotal)}}</td>
      </tr>
    </tbody>
  </table>
</div>
