<div #pageLoading="app-spinner" appSpinner [show]="!summary" [stretchToMain]="false" [parent]="bankAccountsWidget"></div>

<div fxLayout="row" fxLayoutGap="21px">
  <div fxFlex fxLayout="column" fxLayoutGap="17px">
    <div #bankAccountsWidget class="dash-block dash-bank">
      <div class="dash-title">{{ 'ui.dashboard.dashBank.title' | translate }}</div>
      <div *ngIf="summary?.length">
        <div class="dash-label1">{{ _accounting.ac.formatMoney(widgets.bankAccount.total, '') }}</div>
        <div class="dash-label2">{{ 'ui.dashboard.dashBank.total' | translate }}</div>
        <div *ngFor="let bankAccount of summary">
          <table class="table">
            <tbody>
              <tr>
                <td width="161px">
                  <div class="dash-item-label">
                    {{ bankAccount.accountName }}
                  </div>
                </td>
                <td>
                  {{ _accounting.ac.formatMoney(bankAccount.balance, '') }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="!summary?.length">
        No Data
      </div>
    </div>
  </div>
</div>