<div #pageLoading="app-spinner" appSpinner [show]="(importProcessed$ | async) === false" [stretchToMain]="false" [parent]="_elementRef.nativeElement"></div>

<div>
  <input type="file" id="import-inventory-adjustment" />
  <button (click)="doImport()">Import</button>
</div>