<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div [formGroup]="form">
      <div class="form-group" [appFieldStates]="form.get('name')">
        <label class="control-label">{{'ui.settingsSalesChannel.form.bukalapak.name' | translate }}</label>
        <input type="text" formControlName="name" class="form-control" />
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('description')">
        <label class="control-label">{{'ui.settingsSalesChannel.form.bukalapak.description' | translate }}</label>
        <textarea formControlName="description" class="form-control"></textarea>
        <app-field-error [control]="form.get('description')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('sellerUserId')">
        <label class="control-label">{{'ui.settingsSalesChannel.form.bukalapak.userId' | translate }}</label>
        <input type="text" formControlName="sellerUserId" class="form-control" />
        <app-field-error [control]="form.get('sellerUserId')"></app-field-error>
      </div>

      <div class="form-group" [appFieldStates]="form.get('password')">
        <label class="control-label">{{'ui.settingsSalesChannel.form.bukalapak.password' | translate }}</label>
        <input type="password" formControlName="password" class="form-control" />
        <app-field-error [control]="form.get('password')"></app-field-error>
      </div>

      <hr style="margin: 50px 0">

      <div class="form-group">
        <label class="control-label">{{ 'ui.settingsSalesChannel.form.bukalapak.warehouse' | translate }}</label>
        <p-autoComplete #warehouseAC field="name" formControlName="warehouse" styleClass="wd-wide" (completeMethod)="ACWarehouseHandler.search($event)"
          (onDropdownClick)="ACWarehouseHandler.dropdown($event)" (onClear)="form.get('warehouseId').reset(null)" (onSelect)="$event && form.patchValue({ warehouseId: $event.id });"
          [dropdown]="true" [appWrapperAC]="warehouseAC">
        </p-autoComplete>
        <app-field-error [control]="form.get('warehouseId')"></app-field-error>
      </div>

      <div class="form-group">
        <label class="control-label">{{ 'ui.settingsSalesChannel.form.bukalapak.priceLevel' | translate }}</label>
        <p-autoComplete #priceLevelAC field="name" formControlName="priceLevel" styleClass="wd-wide" (completeMethod)="ACPriceLevelHandler.search($event)"
          (onDropdownClick)="ACPriceLevelHandler.dropdown($event)" (onClear)="form.get('priceLevelId').reset(null)" (onSelect)="$event && form.patchValue({ priceLevelId: $event.id });"
          [dropdown]="true" [appWrapperAC]="priceLevelAC">
        </p-autoComplete>
        <app-field-error [control]="form.get('priceLevelId')"></app-field-error>
      </div>
    </div>
  </ng-template>
</app-base-page>
