<div class="form-group" [appFieldStates]="parentForm.get('taxRegistrationNumber')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.taxRegistrationNumber' | translate }}</label>
  <input formControlName="taxRegistrationNumber" class="form-control" />
  <app-field-error [control]="parentForm.get('taxRegistrationNumber')"></app-field-error>
</div>
