<p-listbox [options]="listboxOptions" [(ngModel)]="selectedAccounts" [multiple]="multiple" [checkbox]="true" [metaKeySelection]="false"
  [style]="{'width':'100%'}" [styleClass]="!multiple ? 'listbox-single' : ''">
  <ng-template let-item pTemplate="item">
      <img src="assets/marketplace/{{item.value.account.channelId}}.png" style="display:inline-block" width="24">
      <span>{{item.label}}</span>
  </ng-template>
</p-listbox>

<div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center" class="mt3">
  <div fxFlex></div>

  <button type="button" class="btn btn-default" (click)="cancel.emit(true)">
    {{'ui.button.cancel' | translate}}
  </button>

  <button type="button" class="btn btn-success" (click)="doSubmit()">
    {{'ui.button.save' | translate}}
  </button>
</div>
