<app-retry-dialog #retryDialog></app-retry-dialog>

<div [formGroup]="form" fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="70%" fxLayout="column">
    <div class="form-group" [appFieldStates]="form.get('accountTypeId')">
      <label class="control-label">
        {{'ui.coa.form.type' | translate}}
      </label>
      <p-autoComplete #accountTypeAC formControlName="accountType" field="name" styleClass="wd-wide"
        (onSelect)="$event && form.patchValue({ accountTypeId: $event.id })" (completeMethod)="_autocomplete.onLocalACSearch(accountTypeAC, accountTypes, ['name'], $event.query)"
        [dropdown]="true" (onClear)="form.get('accountTypeId').reset()" (onDropdownClick)="_autocomplete.onLocalACDropdown(accountTypeAC, accountTypes)"
        [disabled]="state === 'update'" [appWrapperAC]="accountTypeAC" [appWrapperACLimit]="false">
        <ng-template let-account pTemplate="item">
          [{{account.code}}] {{account.name}} <span class="autocomplete-field-type">{{account.accountTypeName}}</span>
        </ng-template>
      </p-autoComplete>
      <app-field-error [control]="form.get('accountTypeId')"></app-field-error>
    </div>
    <div class="form-group" [appFieldStates]="form.get('code')">
      <label class="control-label">{{'ui.coa.form.code' | translate }}</label>
      <input formControlName="code" class="form-control" />
      <app-field-error [control]="form.get('code')"></app-field-error>
    </div>
    <div class="form-group" [appFieldStates]="form.get('name')">
      <label class="control-label">{{'ui.coa.form.name' | translate }}</label>
      <input formControlName="name" class="form-control" />
      <app-field-error [control]="form.get('name')"></app-field-error>
    </div>
    <div class="form-group" [appFieldStates]="form.get('description')">
      <label class="control-label">{{'ui.coa.form.description' | translate }}</label>
      <input formControlName="description" class="form-control" />
      <app-field-error [control]="form.get('description')"></app-field-error>
    </div>

    <div>
      <div class="inline-checkbox">
        <label>
          <input type="checkbox" formControlName="isChildAccount">
        </label>
        <label class="control-label">
          {{'ui.coa.form.isChildAccount' | translate }}
        </label>
      </div>
    </div>
    <div class="form-group" [appFieldStates]="form.get('parentAccountId')">
      <p-autoComplete #parentAccountAC formControlName="parentAccount" field="name" styleClass="wd-wide" [suggestions]="COASSuggestion"
        (onSelect)="$event && form.patchValue({ parentAccountId: $event.id })" (completeMethod)="ACCOAHandler.search($event)"
        (onDropdownClick)="ACCOAHandler.dropdown($event)" [dropdown]="true" (onClear)="form.get('parentAccountId').reset()"
        [disabled]="!form.get('isChildAccount').value" [appWrapperAC]="parentAccountAC"></p-autoComplete>
      <app-field-error [control]="form.get('parentAccountId')"></app-field-error>
    </div>

    <div fxFlex class="block" *ngIf="state === 'create'">
      <div fxLayout="row" fxLayoutGap="16px">
        <div class="form-group" [appFieldStates]="form.get('openingBalance')" fxFlex="80%">
          <label class="control-label">
            {{'ui.coa.form.openingBalance' | translate }}
          </label>
          <input formControlName="openingBalance" class="form-control" />
          <app-field-error [control]="form.get('openingBalance')"></app-field-error>
        </div>

        <div class="form-group" [appFieldStates]="form.get('openingBalanceDate')" fxFlex="20%">
          <label class="control-label">
            {{'ui.coa.form.openingBalanceDate' | translate }}
          </label>
          <p-calendar formControlName="openingBalanceDate" styleClass="wd-wide" [monthNavigator]="true" [showIcon]="true"></p-calendar>
          <app-field-error [control]="form.get('openingBalanceDate')"></app-field-error>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex class="well" [innerHTML]="'ui.coa.form.guidance' | translate"></div>
</div>
