<ul class="table-tabs">
  <li>
    <a routerLink="/purchases/all" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.all' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/purchases/orders" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.order.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/purchases/invoices" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.invoice.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/purchases/receipts" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.receipt.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/purchases/debit-notes" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.debitNote.list' | translate}}
    </a>
  </li>
  <li>
    <a routerLink="/purchases/payments" routerLinkActive="active">
      {{'ui.purchases.all.tabLink.payment.list' | translate}}
    </a>
  </li>
</ul>