<div #pageLoading="app-spinner" appSpinner [show]="!doc"></div>

<div *ngIf="doc">
  <div class="topbar" fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="column" fxFlex>
      <span class="page-title">
        {{'ui.stockOpname.detail.title' | translate}} {{doc.transactionNumber}}
      </span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutGap="8px">
      <button class="btn btn-primary" routerLink="update" [disabled]="doc.state === 'voided'">
        {{'ui.button.edit' | translate}}
      </button>
      <div dropdown>
        <button type="button" dropdownToggle class="btn dropdown-toggle ripple btn-default">
          <span fxFlex class="text-left">{{'ui.button.more' | translate}}</span>
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li>
            <a (click)="journalModal.show()">
              {{'ui.stockOpname.detail.action.transactionJournal' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="40px">
    <table class="no-border">
      <tbody>
        <tr>
          <td>
            <label class="control-label">{{'ui.stockOpname.detail.adjustmentAccountId' | translate}}</label>
          </td>
          <td class="pl4 ml3">
            {{ doc.adjustmentAccount?.name || '-' }}
          </td>
        </tr>
        <tr>
          <td>
            <label class="control-label">{{'ui.stockOpname.detail.transactionDate' | translate}}</label>
          </td>
          <td class="pl4 ml3">
            {{ doc.transactionDate | date:'dd/MM/y' }}
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <label class="control-label mr">
        {{'ui.purchasesDownPayment.detail.description' | translate}}
      </label>
      <span>{{doc.description || '-'}}</span>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            {{'ui.stockOpname.detail.colNumber' | translate}}
          </th>
          <th>
            {{'ui.stockOpname.detail.colProduct' | translate}}
          </th>
          <th class="text-right">
            {{'ui.stockOpname.detail.colSKU' | translate}}
          </th>
          <th class="text-right">
            {{'ui.stockOpname.detail.colQtyOnHand' | translate}}
          </th>
          <th class="text-right">
            {{'ui.stockOpname.detail.colQtyNew' | translate}}
          </th>
          <th class="text-right">
            {{'ui.stockOpname.detail.colQtyChange' | translate}}
          </th>
          <th class="text-right">
            {{'ui.stockOpname.detail.colUnitCost' | translate}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of doc.lines; let i=index">
          <td class="text-center">
            {{i + 1}}
          </td>
          <td>
            {{line.product.name}}
          </td>
          <td class="text-right">
            {{line.product.sku}}
          </td>
          <td class="text-right">
            {{line.originalQty}}
          </td>
          <td class="text-right">
            {{line.originalQty + line.changeQty}}
          </td>
          <td class="text-right">
            {{line.changeQty}}
          </td>
          <td class="text-right">
            {{_accounting.ac.formatMoney(line.unitCost)}}
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <label class="control-label">
        {{'ui.stockOpname.detail.note' | translate}}
      </label>
      <div>
        {{doc.note}}
      </div>
    </div>
  </div>

  <div class="modal fade" bsModal #journalModal="bs-modal" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header" fxLayout="row">
            <h4 class="modal-title" fxFlex>
              {{'ui.stockOpname.detail.transactionJournal' | translate}}
            </h4>
            <button type="button" class="close text-md" (click)="journalModal.hide()">
              <span>x</span>
            </button>
          </div>
          <div style="padding: 24px 40px">
            <app-transaction-journal *ngIf="journalModal.isShown" [transaction]="doc"></app-transaction-journal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
