<div class="form-group" [appFieldStates]="parentForm.get('displayName')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.displayName' | translate }}</label>
  <p-autoComplete formControlName="displayName" styleClass="wd-wide block" [suggestions]="displayNameSuggestions"
    [dropdown]="true" (completeMethod)="onDisplayNameTyped($event)" (onDropdownClick)="onACDropdown($event, 'displayNamesAvailable', 'displayNameSuggestions')"></p-autoComplete>
  <app-field-error [control]="parentForm.get('displayName')"></app-field-error>
</div>
