<div [formGroup]="form">
  <div class="form-group" [appFieldStates]="form.get('name')">
    <label class="control-label">{{'ui.productBrand.quickForm.name' | translate }}</label>
    <input formControlName="name" class="form-control" />
    <app-field-error [control]="form.get('name')"></app-field-error>
  </div>
</div>
