<div class="form-group" [appFieldStates]="parentForm.get('lastName')" [formGroup]="parentForm">
  <label class="control-label" *ngIf="label">{{'ui.businessPartner.form.lastName' | translate }}</label>
  <input formControlName="lastName" class="form-control" />
  <app-field-error [control]="parentForm.get('lastName')"></app-field-error>
</div>
