<div class="checkbox-inline mb0" [formGroup]="parentForm">
  <label>
    <p-checkbox formControlName="shippingAddressSameAsPostal" binary="true" label="{{ label ? ('ui.businessPartner.form.shippingAddressSameAsPostal' | translate) : null }}"></p-checkbox>
  </label>
  <app-field-error [control]="parentForm.get('shippingAddressSameAsPostal')"></app-field-error>
</div>
