<app-base-page #page [component]="this">
  <ng-template appTpl="pageContentTpl">
    <div *ngIf="doc" fxLayout="row" fxLayoutGap="16px">
      <table class="table table-striped detail-list">
        <tbody>
          <tr>
            <td class="detail-label">
              {{'ui.productBrand.detail.name' | translate}}
            </td>
            <td>
              {{doc.name || '-'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</app-base-page>