<div class="topbar" fxLayout="row" fxLayoutAlign="center start">
  <span class="page-title" fxFlex>
    {{ 'ui.reportsSalesCustomer.preview.title' | translate }}
  </span>
</div>

<div class="well well-lg">
  <form [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.from' | translate }}</label>
        <p-calendar formControlName="lowDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
          [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.to' | translate }}</label>
        <p-calendar formControlName="highDate" styleClass="fw" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2018"
          [showIcon]="true"></p-calendar>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.salesType' | translate }}</label>
        <select formControlName="transactionTypes" class="form-control">
          <option value="">{{ 'ui.transaction.type.sales_all' | translate }}</option>
          <option value="sales_invoice">{{ 'ui.transaction.type.sales_invoice' | translate }}</option>
          <option value="sales_receipt">{{ 'ui.transaction.type.sales_receipt' | translate }}</option>
          <option value="sales_credit_note">{{ 'ui.transaction.type.sales_return' | translate }}</option>
        </select>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.customer' | translate }}</label>
        <p-autoComplete #customerAC field="displayName" formControlName="customer" styleClass="wd-wide" (completeMethod)="ACCustomerHandler.search($event)"
          (onDropdownClick)="ACCustomerHandler.dropdown($event)" (onClear)="form.get('customerId').reset(null)" (onSelect)="$event && form.patchValue({ customerId: $event.id });"
          [dropdown]="true" [appWrapperAC]="customerAC">
          <ng-template let-customer pTemplate="item">
            <span *ngIf="customer">
              {{customer.displayName}}
            </span>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.salesNumber' | translate }}</label>
        <input formControlName="transactionNumber" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.status' | translate }}</label>
        <p-multiSelect [options]="_transaction.statusList" formControlName="statuses" styleClass="form-control wd-wide normalizeLabel"
          [filter]="false"></p-multiSelect>
      </div>
      <div class="form-group">
        <label class="control-label">{{ 'ui.reportsSalesCustomer.preview.filter.state' | translate }}</label>
        <p-multiSelect [options]="_transaction.stateList" formControlName="states" styleClass="form-control wd-wide normalizeLabel"
          [filter]="false"></p-multiSelect>
      </div>
    </div>

    <div class="mt" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
      <button class="btn btn-success" (click)="loadData()">
        {{ 'ui.button.apply' | translate }}
      </button>
    </div>
  </form>
</div>

<div class="well well-lg white">
  <app-report-toolbar [viewer]="elReportViewer" (onRefresh)="loadData()"></app-report-toolbar>

  <hr>

  <app-report-viewer #reportViewer *ngIf="compReady" [config]="{ templateCode: 'SCS001' }" [params]="reportParams" [data]="data"
    initDisplay="html" [applyDataOnChange]="true" (rendered)="reportViewerReady = true"></app-report-viewer>
</div>

<div #pageLoading="app-spinner" appSpinner [show]="!compReady && !reportViewerReady"></div>
