<app-retry-dialog #retryDialog></app-retry-dialog>

<div class="page-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <div class="registration-box">
    <div class="card auth-card b0">
      <div class="card-body p0" fxLayout="row">
        <div class="panel" fxFlex>
          <div class="card-logo">
            <img class="img-responsive" src="/assets/img/logo2.png" />
          </div>
          <h3 class="card-title">
            {{'ui.registrationCompany.title' | translate}}
          </h3>

          <app-system-message-display scope="component" [service]="_systemMessage"></app-system-message-display>

          <form [formGroup]="form" novalidate class="form-validate form-horizontal" no-margin>

            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
              <label class="control-label pt0">{{'ui.registrationCompany.companyName.label' | translate}}</label>
              <div fxFlex="266px">
                <input type="text" class="form-control" formControlName="companyName" placeholder="{{'ui.registrationCompany.companyName.placeholder' | translate}}"
                />
                <app-field-error [control]="form.get('companyName')"></app-field-error>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
              <label class="control-label pt0">{{'ui.registrationCompany.industry.label' | translate}}</label>
              <div fxFlex="266px">
                <input type="text" class="form-control" formControlName="industry" placeholder="{{'ui.registrationCompany.industry.placeholder' | translate}}"/>
                <app-field-error [control]="form.get('industry')"></app-field-error>
              </div>
            </div>


            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
              <label class="control-label pt0">{{'ui.registrationCompany.yearEnd.label' | translate}}</label>
              <div fxLayout="row" fxLayoutGap="14px" fxFlex="266px">
                <div fxFlex="88px">
                  <select class="form-control" formControlName="FiscalYearStartMonth">
                    <option value=1>Jan</option>
                    <option value=2>Feb</option>
                    <option value=3>Mar</option>
                    <option value=4>Apr</option>
                    <option value=5>May</option>
                    <option value=6>Jun</option>
                    <option value=7>Jul</option>
                    <option value=8>Aug</option>
                    <option value=9>Sep</option>
                    <option value=10>Oct</option>
                    <option value=11>Nov</option>
                    <option value=12>Dec</option>
                  </select>
                  <app-field-error [control]="form.get('FiscalYearStartMonth')"></app-field-error>
                </div>
              </div>
            </div>


            <div class="text-center">
              <button type="submit" class="btn btn-success registration-btn" (click)="onSubmit()">
                {{'ui.registrationCompany.button.submit' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
