:host /deep/ {
  display: block;
  background-color: #e1e1e1;
  height: 100%;
  color: #4a4a4a;
  a:not(.text-muted) {
    color: #4782d8;
  }
  .page-container {
    height: auto!important;
  }
  .registration-box {
    max-width: 720px;
    .auth-card {
      border-radius: 12px;
      box-shadow: 0 2px 15px 2px rgba(61, 61, 61, 0.5);
      margin-bottom: 0;
      .card-body {
        .panel {
          margin-bottom: 0;
          padding: 32px 60px;
          .form-horizontal .control-label {
            text-align: left;
            font-size: 14px;
            color: #4a4a4a;
          }
          .ui-calendar {
            padding-top: 22px;
          }
          .field-error-wrapper {
            padding-top: 3px;
          }
          .registration-btn {
            margin-top: 42px;
            background-color: #2ab27b;
            width: 30%;
            color: white;
            height: 40px;
            font-size: 16px;
            border-radius: 5px;
            margin-bottom: 6px;
          }
        }
        .card-logo {
          margin-top: 8px;
          margin-bottom: 34px;
          >img {
            max-width: 200px;
            margin: auto;
          }
        }
        .card-title {
          font-size: 28px;
          text-align: center;
          margin-bottom: 30px;
          margin-top: 0;
          color: #15416f;
        }
      }
    }
    .spinner {
      border-radius: 10px;
    }
  }
}
